<div class="popup-container">
  <div class="popup-close">
    <button
      class="btn-cross-close"
      type="button"
      (click)="modal.dismiss('Cross click')"
    >
      Close
      <svg
        width="22"
        height="23"
        viewBox="0 0 22 23"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M16.5 6L5.5 17"
          stroke="#7F7B92"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M5.5 6L16.5 17"
          stroke="#7F7B92"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>
  </div>
  <div class="popup-icon">
    <img [src]="imgpath" alt="image" />
  </div>
  <div class="popup-title">
    <h4 class="popup-title" id="modal-title">{{ title }}</h4>
  </div>
  <div class="popup-para">
      {{ content }}
  </div>
  <div class="popup-buttton">
    <button
      type="button"
      class="btn-no-boarder"
      (click)="modal.dismiss('Cross click')"
    >
      {{ btnname1 }}
    </button>
    <button
    type="button"
    class="btn-small-darkblue"
    (click)="modal.close('Ok click')"
  >
    {{ btnname2 }}
  </button>
  </div>
</div>
<!--<button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss('cancel click')"
  >
    Cancel
  </button>-->
