.popup-container{
background-color: var(--color-white);
display: grid;
  grid-template-areas:
  'close'
  'icon'
  'title'
  'para'
  'btntry';
width: 520px;
height: 280px;
}

.popup-close { grid-area: close;
   justify-self: end;
    margin-top: 1rem;
    margin-right: 1rem;
 }
 .popup-icon { grid-area: icon;
    justify-self: center;
    
 }
 .popup-title{
    grid-area: title;
    justify-self: center;
 }
 .popup-para{
    grid-area: para;
    align-self: left;
    margin-left: 1rem;
 }
 .popup-buttton{
    grid-area: btntry;
    justify-self: center;
 }
