<div class="popup-container">
  <div class="popup-close">
    <button type="button" (click)="modal.dismiss('Cross click')">
      Close<i class="fa-duotone fa-rectangle-xmark"> </i>
    </button>
  </div>
  <div class="popup-icon">
    <img src="../../../assets/images/login/interneticon.png" alt="image" />
  </div>
  <div class="popup-title">
    <h4 class="modal-title" id="modal-title">{{ title }}</h4>
  </div>
  <div class="popup-para">
    <ng-content></ng-content>
  </div>
  <div class="popup-button">
    <button
      type="button"
      class="btn-small-darkblue"
      (click)="modal.close('Ok click')"
    >
      {{ btnname }}
    </button>
  </div>
</div>
<!--<button
    type="button"
    class="btn btn-outline-secondary"
    (click)="modal.dismiss('cancel click')"
  >
    Cancel
  </button>-->
