<div class="personal-info-container">
  <div class="personal-info-form">
    <div class="header">
      <div class="col-left">
        <span class="circle">1</span>
        <label class="text">Personal information</label>
      </div>
      <img src="assets/icons/dashboard-icons/Vector2.png" alt="" />
      <div class="col-right">
        <div class="circle">2</div>
        <label class="text">Professional details</label>
      </div>
      <hr />
    </div>
    <div class="form-body">
      <form class="grid-container" [formGroup]="professionalForm">
        <div class="prefession">
          <div class="typePrefession">
            <label class="lbl lbl-firstName">Type of profession</label>
            <mat-select placeholder="Eg. MBBS" formControlName="typeOfProfession">
              <mat-option value="MBBS">MBBS</mat-option>
              <mat-option value="MBBS, MD">MBBS, MD</mat-option>
              <mat-option value="Dentist">Dentist</mat-option>
              <mat-option value="Other">Other</mat-option>
            </mat-select>
          </div>
          <div class="registration">
            <label class="lbl lbl-middleName">Registration number</label>
            <input class="registrationtxt" type="text" formControlName="registrationNumber" placeholder="Enter registration number" />
          </div>
        </div>
        <div class="section">
          <div class="specialization">
            <label class="lbl lbl-firstName">Specialization</label>
              <mat-select placeholder="Eg. General physician" formControlName="specialization">
                <mat-option *ngFor="let specialization of specializations" [value]="specialization">{{ specialization }}
                </mat-option>
              </mat-select>
          </div>
          <div class="Consultation-language">
            <label class="lbl lbl-middleName">Consultation language</label>
            <mat-select multiple placeholder="Consultation language" [(ngModel)]="selected" formControlName="consultationLanguage">
              <mat-option
                *ngFor="let topping of toppingList"
                [value]="topping">{{ topping }}</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="section">
          <div class="work-experience">
            <label class="lbl lbl-firstName">Work experience</label>
            <mat-select placeholder="Eg. General physician" formControlName="workExperience">
              <mat-option *ngFor="let specialization of specializations" [value]="specialization">{{ specialization }}
              </mat-option>
            </mat-select>
          </div>
          <div class="research-experience">
            <label class="lbl lbl-middleName">Research experience</label>
            <mat-select multiple placeholder="select" [(ngModel)]="selected1" formControlName="researchExperience">
              <mat-option
                *ngFor="let topping of toppingList"
                [value]="topping"
                >{{ topping }}</mat-option
              >
            </mat-select>
          </div>
        </div>
        <div class="section">
          <div class="experience">
            <label class="lbl lbl-firstName">Work experience</label>
            <textarea
              mdbInput
              class="form-control txt"
              id="textAreaExample"
              placeholder="Type here"
              formControlName="workExperienceDetails"
            ></textarea>
          </div>
        </div>
        <div class="savebtn">
          <button type="submit" (click)="save()" class="btn-darkblue save-btn">Save</button>
        </div>
        <div class="backbtn" (click)="toggleBack()">
          <button mat-stroked-button class="back-btn">Back</button>
        </div>
      </form>
    </div>
  </div>
</div>
