.mat-elevation-z8 {
    box-shadow: none;
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    font-family: DM Sans;
}

th.mat-header-cell {
    border: none;
    font-size: 14px !important;
    font-weight: 700;
    color: var(--color-gray);
    height: 21px;
}

th.mat-header-cell,
td.mat-cell,
td.mat-footer-cell {
    border: none;
    min-width: 60px;
    padding-right: 24px;
    white-space: nowrap;
}

td.mat-cell {
    font-size: 16px;
}

tr.mat-row,
tr.mat-footer-row {
    height: 75px;
    border-radius: 8px;
}

tr.mat-row:nth-child(odd) {
    background: #F7F7FA;
}

tr.mat-row.selected {
    background: #E6FFF3;
}

td:first-child,
th:first-child {
    border-radius: 8px 0 0 8px;
}

// Set border-radius on the top-right and bottom-right of the last table data on the table row
td:last-child,
th:last-child {
    border-radius: 0 8px 8px 0;
}

.intelehealth-card {
    background: var(--color-white);
    box-shadow: 0px 4px 24px rgba(31, 28, 58, 0.08);
    border-radius: 20px;
    font-family: DM Sans;

    .mat-card-title {
        padding-bottom: 16px;
        border-bottom: 1px solid var(--color-lightGray);
    }

    .intelehealth-card-title {
        display: flex;
        flex-direction: row;
        align-items: center;

        h6 {
            font-size: 18px;
            font-weight: bold;
            color: var(--color-black);
        }
    }
}

.card-header-actions {
    .btn {
        height: 50px;
        background: var(--color-darkBlue);
        border-radius: 8px;
        font-size: 18px;
        color: var(--color-white);
        position: relative;
        min-width: 100px;
        font-weight: bold;
    }
}

.btn-block {
    display: none;
    height: 50px;
    background: var(--color-darkBlue);
    border-radius: 8px;
    font-size: 18px;
    color: var(--color-white);
    position: relative;
    width: 100%;
    font-weight: bold;
}

@media (max-width: 768px) {
    .card-header-actions {
        .btn {
            display: none;
        }
    }

    .btn-block {
        display: block;
    }

    .priority-v {
        flex-direction: column !important;
        align-items: end !important;
    }
}

.tooltip-box {
    position: relative;

    .tooltip-con {
        position: absolute;
        z-index: 2;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .red-pill {
        margin-top: .5rem !important;
        font-size: small;
    }
}

.red-pill {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background: var(--color-lightPink);
    border-radius: 4px;
    height: 32px;
    color: var(--color-lightRed);
    padding: 4px 6px;
    width: fit-content;
}