<div class="select-lang-modal">
  <div class="modal-title-con">
    <h6 class="mb-0">{{'Select Language'|translate}}</h6>
    <div class="close-btn-con">
      <button class="modal-close-btn" (click)="close(false)" data-test-id="btnClose"><img src="assets/svgs/CloseX.svg" alt=""></button>
    </div>
  </div>
  <div class="modal-con">
    <div class="container-fluid">
      <div class="row">
        <form [formGroup]="languageForm" (ngSubmit)="select()" class="col-md-12 p-0">
          <div class="row">
            <div class="col-6 p-1">
              <div class="lang-item">
                <div class="pretty p-default p-round">
                  <input type="radio" value="en" formControlName="language" data-test-id="radioEnglish"/>
                  <div class="state p-success-o">
                    <label>English</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6 p-1">
              <div class="lang-item">
                <div class="pretty p-default p-round">
                  <input type="radio" value="ru" formControlName="language" data-test-id="radioRussian"/>
                  <div class="state p-success-o">
                    <label>Russian</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 text-center py-2">
              <button class="modal-btn blue-btn" type="submit" data-test-id="btnSubmit">{{'Select'|translate}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>
