.login-info-wrapper {
  width: 100%;
  min-height: 100vh;
  background: var(--color-darkBlue);
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans';
  font-style: normal;

  .info-banner {
    width: 100%;
    padding: 40px 40px 15px;
    display: flex;
    justify-content: space-between;
    gap: 40px;

    .grid-icon {
      position: relative;
      max-width: 220px;
      width: 100%;
      height: 100px;
      background-color: var(--color-white);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 5px;

      .logo-icon {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        height: 80px;
      }
    }

    .artist-icon {
      position: relative;
      max-width: 400px;
      width: 100%;
      height: 100px;
      background-color: var(--color-white);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 5px;

      .logo-icon {
        position: absolute;
        top: 30%;
        transform: translateY(-30%);
        height: auto;
        width: 100%;
      }
    }
  }

  ::ng-deep .carousel-indicators li {
    width: 10px;
    height: 5px;
    border: none;
    border-radius: 2.5px;
  }

  ::ng-deep .carousel-indicators li.active {
    width: 30px;
  }

  .carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .carousel-caption {
      position: relative;
      left: 0px;
      right: 0px;
      bottom: auto;
      padding: 20px 0px;

      h3 {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        color: var(--color-white);
        min-height: 34px;
        text-align: center;
        padding: 0px 30px;
      }
    }

    .picsum-img-wrapper {
      width: 100%;
      position: relative;
      text-align: center;
      min-height: 50vh;
      margin-top: 10px;
      margin-bottom: 10px;


      .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 70%;
        max-width: 70%;
        border-radius: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

      }

      .hb1 {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 25%;
        transform: rotateY(180deg);
      }

      .hb2 {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 25%;
      }
    }
  }

  .copy-right-footer {
    padding: 30px 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      width: 100%;
      text-align: center;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.center-logo {
  background: var(--color-white) !important;
}

.center-logo-icon {
  width: 80% !important;
}

.main-container {
  padding: 20px 60px;

  .ng-select.language-select-input  {
    width: fit-content;
    height: 48px;
    background: var(--color-offWhite);
    border: 0.770833px solid rgba(178, 175, 190, 0.2);
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    padding: 0px;
    font-family: DM Sans;
  }

  .ng-select.language-select-input:focus  {
    box-shadow: none;
  }

  ::ng-deep .ng-select.language-select-input .ng-select-container {
    border: none;
    background: transparent;
    border-radius: 8px;
    min-height: 48px !important;
    box-shadow: none;
  }

  ::ng-deep .ng-select.language-select-input .ng-select-container:hover {
    box-shadow: none;
  }

  ::ng-deep .ng-select.language-select-input .ng-select-container .ng-value-container .ng-input {
    top: 50%;
    transform: translateY(-50%);
 }
}

.mobile-logo{
  display: none;
}

@media (max-width: 768px) {
  .main-container-row {
    display: flex;
    flex-direction: column-reverse;
  }

  .main-container {
    padding: 20px 30px 80px;
  }

  .mobile-logo{
    display: block;
  }

}

@media screen and (max-width: 480px) {

  .info-banner {
    width: 100%;
    padding: 40px 5px 15px !important;
    display: flex;
    justify-content: space-between;
    gap: 5px !important;

    .grid-icon {
      position: relative;
      max-width: 220px;
      width: 100%;
      height: 100px;
      background-color: var(--color-white);

      .logo-icon {
        position: absolute;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        width: 180px !important;
        height: 80px !important;
      }
    }

   

    .artist-icon {
      position: relative;
      max-width: 400px;
      width: 100%;
      height: 100px;
      background-color: var(--color-white);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      border-radius: 5px;

      .logo-icon {
        position: absolute;
        top: 30%;
        transform: translateY(-30%);
        height: 100px !important;
        width: 100%;
      }
    }
  }


  
}
