.login-info-wrapper {
  width: 100%;
  min-height: 100vh;
  background: #2E1E91;
  display: flex;
  flex-direction: column;
  font-family: 'DM Sans';
  font-style: normal;

  .info-banner {
    width: 100%;
    padding: 40px 40px 10px;

    .grid-icon {
      position: relative;
      width: 100px;
      height: 100px;

      .logo-icon {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translateY(-50%);
        height: 64px;
      }
    }
  }

  ::ng-deep .carousel-indicators li {
    width: 10px;
    height: 5px;
    border: none;
    border-radius: 2.5px;
  }

  ::ng-deep .carousel-indicators li.active {
    width: 30px;
  }

  .carousel-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .carousel-caption {
      position: relative;
      left: 0px;
      right: 0px;
      bottom: auto;
      padding: 20px 0px;

      h3 {
        font-weight: 700;
        font-size: 28px;
        line-height: 132%;
        color: #FFFFFF;
        min-height: 74px;
        text-align: center;
        padding: 0px 30px;
      }
    }

    .picsum-img-wrapper {
      width: 100%;
      position: relative;
      text-align: center;
      min-height: 50vh;

      .main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        max-width: 80%;
      }

      .hb1 {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 25%;
        transform: rotateY(180deg);
      }

      .hb2 {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 25%;
      }
    }
  }

  .copy-right-footer {
    padding: 30px 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      width: 100%;
      text-align: center;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}

.main-container {
  padding: 20px 60px;

  .ng-select.language-select-input  {
    width: fit-content;
    height: 48px;
    background: #FAF9FF;
    border: 0.770833px solid rgba(178, 175, 190, 0.2);
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    padding: 0px;
    font-family: DM Sans;
  }

  .ng-select.language-select-input:focus  {
    box-shadow: none;
  }

  ::ng-deep .ng-select.language-select-input .ng-select-container {
    border: none;
    background: transparent;
    border-radius: 8px;
    min-height: 48px !important;
    box-shadow: none;
  }

  ::ng-deep .ng-select.language-select-input .ng-select-container:hover {
    box-shadow: none;
  }

  ::ng-deep .ng-select.language-select-input .ng-select-container .ng-value-container .ng-input {
    top: 50%;
    transform: translateY(-50%);
 }
}
