.languages-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px;
    gap: 20px;

    position: absolute;
    width: 501px;
    height: 500px;
    left: calc(50% - 501px/2 + 0.5px);
    top: calc(50% - 512px/2);
    background: #FFFFFF;
    border-radius: 12px;
}
.header-title{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    margin-right: 17.3rem;
}

.close-btn{
    position: absolute;
    right: 22px;
    top: 42px;
}

.select-language{
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 12px;
}

.side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}
.sel-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px;
    gap: 12px;

    width: 220.5px;
    height: 44px;

    background: #FFFFFF;

    border: 1px solid rgba(178, 175, 190, 0.2);
    border-radius: 8px;
}
.active{
    background: #E6FFF3;
}
  
.radio-box {
    width: 22px;
    height: 22px;

    background-color: #0fd197;

    border: 2px solid #0fd197;
    border-radius: 80px;

    &:after {
        display: inline-block;
        visibility: visible;

        position: relative;
        top: 0px;
        left: 4px;

        width: 14px;
        height: 14px;

        background-color: #ffffff;

        border-radius: 15px;
        content: "";
    }

    &:checked:after {
        display: inline-block;
        visibility: visible;

        position: relative;
        top: 0px;
        left: 4px;

        width: 14px;
        height: 14px;

        background-color: #0fd197;

        border-radius: 15px;

        content: "";
    }
}

.radio-label {
    width: 29px;
    height: 14px;
    color: #1b163a;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.btn {
    padding: 14px 24px;
    gap: 4px;

    width: 132px;
    height: 55px;

    color: #ffffff;

    background: #2e1e91;

    border-radius: 8px;
}
  