<div class="languages-container">
    <div class="header">
        <div class="header-title">Select language</div>
        <div>
            <span class="close-btn" (click)="close()">
                <img mat-button mat-dialog-close src="assets/svgs/CloseX.svg">
            </span>
        </div>        
    </div>

    <div class="select-language">
        <div class="side">
            <div class="sel-box active">
                <input class="radio-box mr-1 mt-1" type="radio" name="radio" id="" />
                <label class="radio-label">English</label>
            </div>
            <div class="sel-box">
                <input class="radio-box mr-1 mt-1" type="radio" name="radio" id="" />
                <label class="radio-label">हिंदी</label>
            </div>

            <div class="sel-box">
                <input class="radio-box mr-1 mt-1" type="radio" name="radio" id="" />
                <label class="radio-label">मराठी</label>
            </div>
    
            <div class="sel-box">
                <input class="radio-box mr-1 mt-1" type="radio" name="radio" id="" />
                <label class="radio-label">தமிழ்</label>
            </div>
            
            <div class="sel-box">
                <input class="radio-box mr-1 mt-1" type="radio" name="radio" id="" />
                <label class="radio-label">ગુજરાતી</label>
            </div>
        </div>
        
        <div class="side">
            <div class="sel-box">
                <input class="radio-box mr-1 mt-1" type="radio" name="radio" id="" />
                <label class="radio-label">ਪੰਜਾਬੀ</label>
            </div>
        
            <div class="sel-box">
                <input class="radio-box mr-1 mt-1" type="radio" name="radio" id="" />
                <label class="radio-label">Assamese</label>
            </div>
    
            <div class="sel-box">
                <input class="radio-box mr-1 mt-1" type="radio" name="radio" id="" />
                <label class="radio-label">ಕನ್ನಡ</label>
            </div>

            <div class="sel-box">
                <input class="radio-box mr-1 mt-1" type="radio" name="radio" id="" />
                <label class="radio-label">മലയാളം</label>
            </div>
    
            <div class="sel-box">
                <input class="radio-box mr-1 mt-1" type="radio" name="radio" id="" />
                <label class="radio-label">Кыргызча</label>
            </div>
        </div>
    </div>
    <button type="button" (click)="setLanguage()" class="btn mt-2 font-bold">Select</button>
</div>