<div class="add-plan-modal">
  <div class="modal-title" mat-dialog-title>
    <h6 class="mb-0 justify-self-center">Assessment, Plan & Medication</h6>
    <button class="modal-close-btn" (click)="close(false)"><img src="assets/svgs/Close.svg" alt=""></button>
  </div>
  <div class="modal-body" mat-dialog-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 p-0">
          <form [formGroup]="addForm" (ngSubmit)="add()">
            <div class="section-item">
              <div class="form-group mb-0">
                <label for="assessment">Assessment</label>
                <textarea class="form-control" rows="2" formControlName="assessment" placeholder="Enter assessment"></textarea>
              </div>
            </div>
            <div class="section-item">
              <div class="form-group mb-0">
                <label for="plan">Plan</label>
                <textarea class="form-control" rows="2" formControlName="plan" placeholder="Enter plan"></textarea>
              </div>
            </div>
            <div class="section-item">
              <div class="form-group row">
                <label for="gender" class="col-sm-2 col-form-label">Medication</label>
                <div class="py-2 col-sm-10">
                  <div class="pretty p-image p-plain p-toggle">
                    <input type="radio" value="Y" formControlName="medicine"/>
                    <div class="state p-on">
                      <img class="image" src="../../../assets/svgs/redtick.png">
                      <label>Yes</label>
                    </div>
                    <div class="state p-off">
                      <img class="image" src="../../../assets/svgs/untick.png">
                      <label>Yes</label>
                    </div>
                  </div>
                  <div class="pretty p-image p-plain p-toggle">
                    <input type="radio" value="N" formControlName="medicine"/>
                    <div class="state p-on">
                      <img class="image" src="../../../assets/svgs/redtick.png">
                      <label>No</label>
                    </div>
                    <div class="state p-off">
                      <img class="image" src="../../../assets/svgs/untick.png">
                      <label>No</label>
                    </div>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="addForm.value.medicine == 'Y'">
                <div class="form-row">
                  <div class="form-group col-md-5">
                    <label for="medicineName">Medicine *</label>
                    <input type="text" class="form-control" placeholder="Enter medicine name" formControlName="medicineName">
                    <!-- <div *ngIf="submitted && f.medicineName.errors">
                      <small class="error-msg" *ngIf="f.medicineName.errors.required">Enter medicine name</small>
                    </div> -->
                  </div>
                  <div class="form-group col-md-4">
                    <label for="strength">Strength *</label>
                    <input type="text" class="form-control" placeholder="Enter strength" formControlName="strength">
                    <!-- <div *ngIf="submitted && f.strength.errors">
                      <small class="error-msg" *ngIf="f.strength.errors.required">Enter strength</small>
                    </div> -->
                  </div>
                  <div class="form-group col-md-3">
                    <label for="dosage">Dosage *</label>
                    <input type="text" class="form-control" placeholder="Enter dosage" formControlName="dosage">
                    <!-- <div *ngIf="submitted && f.dosage.errors">
                      <small class="error-msg" *ngIf="f.dosage.errors.required">Enter dosage</small>
                    </div> -->
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-5">
                    <label for="duration">Duration *</label>
                    <input type="text" class="form-control" placeholder="Enter duration" formControlName="duration">
                    <!-- <div *ngIf="submitted && f.duration.errors">
                      <small class="error-msg" *ngIf="f.duration.errors.required">Enter duration</small>
                    </div> -->
                  </div>
                  <div class="form-group col-md-4">
                    <label for="typeOfMedicine">Type of Medicine *</label>
                    <input type="text" class="form-control" placeholder="Enter type" formControlName="typeOfMedicine">
                    <!-- <div *ngIf="submitted && f.typeOfMedicine.errors">
                      <small class="error-msg" *ngIf="f.typeOfMedicine.errors.required">Enter type</small>
                    </div> -->
                  </div>
                  <div class="form-group col-md-3">
                    <label for="routeOfMedicine">Route of Medicine *</label>
                    <input type="text" class="form-control" placeholder="Enter route" formControlName="routeOfMedicine">
                    <!-- <div *ngIf="submitted && f.routeOfMedicine.errors">
                      <small class="error-msg" *ngIf="f.routeOfMedicine.errors.required">Enter route</small>
                    </div> -->
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="d-flex justify-content-center py-2">
              <button class="cancel-btn mr-2" type="button" (click)="close(false)">Cancel</button>
              <button class="confirm-btn" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
