<div class="add-plan-modal">
  <div class="modal-title" mat-dialog-title>
    <h6 class="mb-0 justify-self-center">Assessment, Plan & Medication</h6>
    <button class="modal-close-btn" (click)="close(false)"><img src="assets/svgs/Close.svg" alt=""></button>
  </div>
  <div class="modal-body" mat-dialog-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 p-0">
          <form [formGroup]="addForm" (ngSubmit)="add()">
            <div class="section-item">
              <div class="form-group mb-0">
                <label for="assessment">Assessment</label>
                <textarea class="form-control" rows="4" formControlName="assessment" placeholder="Enter assessment"></textarea>
              </div>
            </div>
            <div class="section-item">
              <div class="form-group mb-0">
                <label for="plan">Plan</label>
                <textarea class="form-control" rows="4" formControlName="plan" placeholder="Enter plan"></textarea>
              </div>
            </div>
            <div class="section-item">
              <div class="form-group row">
                <label for="gender" class="col-sm-2 col-form-label">Medication</label>
                <div class="py-2 col-sm-10">
                  <div class="pretty p-image p-plain p-toggle">
                    <input type="radio" value="Y" formControlName="medicine"/>
                    <div class="state p-on">
                      <img class="image" src="assets/svgs/redtick.png">
                      <label>Yes</label>
                    </div>
                    <div class="state p-off">
                      <img class="image" src="assets/svgs/untick.png">
                      <label>Yes</label>
                    </div>
                  </div>
                  <div class="pretty p-image p-plain p-toggle">
                    <input type="radio" value="N" formControlName="medicine"/>
                    <div class="state p-on">
                      <img class="image" src="assets/svgs/redtick.png">
                      <label>No</label>
                    </div>
                    <div class="state p-off">
                      <img class="image" src="assets/svgs/untick.png">
                      <label>No</label>
                    </div>
                  </div>
                </div>
              </div>
              <ng-container *ngIf="addForm.value.medicine == 'Y'">
                <ng-container formArrayName="medicines">
                  <ng-container *ngFor="let fcm of fm.controls; let i = index; let last = last">
                    <ng-container [formGroupName]="i">
                      <ng-container *ngIf="!fcm.value.isDeleted">
                        <div class="form-row mt-2">
                          <div class="form-group col-md-4">
                            <label for="medicineObj">Medicine *</label>
                            <ng-select
                              class="visit-select"
                              formControlName="medicineObj"
                              [clearable]="false"
                              bindLabel="name"
                              [searchable]="true"
                              [addTag]="true"
                              placeholder="Enter medicine name">
                              <ng-option *ngFor="let m of medicines" [value]="m">
                                {{m.form}} {{m.name}} {{m.strength}}
                              </ng-option>
                              <ng-template ng-label-tmp let-item="item">
                                {{item.name ? item.name : item.label }}
                              </ng-template>
                            </ng-select>
                            <div *ngIf="submitted && fm.controls[i].controls.medicineObj.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.medicineObj.errors.required">Enter medicine name</small>
                            </div>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="typeOfMedicine">Form *</label>
                            <ng-select
                              class="visit-select"
                              formControlName="typeOfMedicine"
                              bindLabel="name"
                              bindValue="name"
                              [clearable]="false"
                              [searchable]="true"
                              placeholder="Select medicine form">
                              <ng-option *ngFor="let t of typeOfMedicineList" [value]="t.name">
                                {{t.name}}
                              </ng-option>
                            </ng-select>
                            <div *ngIf="submitted && fm.controls[i]?.controls?.typeOfMedicine?.errors">
                              <small class="error-msg" *ngIf="fm.controls[i]?.controls?.typeOfMedicine?.errors.required">Enter type</small>
                              <small class="error-msg" *ngIf="fm.controls[i]?.controls?.typeOfMedicine?.errors.maxlength">Type should be less than 15 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="strength">Strength *</label>
                            <ng-select
                              class="visit-select"
                              formControlName="strength"
                              bindLabel="name"
                              bindValue="name"
                              [clearable]="false"
                              [searchable]="true"
                              [addTag]="true"
                              placeholder="Enter strength">
                              <ng-option *ngFor="let s of strengthList" [value]="s.name">
                                {{s.name}}
                              </ng-option>
                            </ng-select>
                            <div *ngIf="submitted && fm.controls[i].controls.strength.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.strength.errors.required">Enter strength</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.strength.errors.maxlength">Strength should be less than 15 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="dosage">Dosage *</label>
                            <input type="number" class="form-control" placeholder="Enter dosage" formControlName="dosage">
                            <div *ngIf="submitted && fm.controls[i].controls.dosage.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.dosage.errors.required">Enter dosage</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.dosage.errors.maxlength">Dosage should be less than 10 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="dosage">Dosage Unit *</label>
                            <ng-select
                              class="visit-select"
                              formControlName="dosageUnit"
                              bindLabel="name"
                              bindValue="name"
                              [clearable]="false"
                              [searchable]="true"
                              placeholder="Enter dosage unit">
                              <ng-option *ngFor="let d of dosageUnitList" [value]="d.name">
                                {{d.name}}
                              </ng-option>
                            </ng-select>
                            <div *ngIf="submitted && fm.controls[i].controls.dosageUnit.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.dosageUnit.errors.required">Enter dosage unit</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.dosageUnit.errors.maxlength">Dosage unit should be less than 10 characters</small>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-3">
                            <label for="dosage">Frequency *</label>
                            <ng-select
                              class="visit-select"
                              formControlName="frequency"
                              bindLabel="name"
                              bindValue="name"
                              [clearable]="false"
                              [searchable]="true"
                              placeholder="Select frequency">
                              <ng-option *ngFor="let f of frequencyList" [value]="f.name">
                                {{f.name}}
                              </ng-option>
                            </ng-select>
                            <div *ngIf="submitted && fm.controls[i].controls.frequency.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.frequency.errors.required">Select frequency</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.frequency.errors.maxlength">Frequency should be less than 25 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="routeOfMedicine">Route of Medicine *</label>
                            <ng-select
                              class="visit-select"
                              formControlName="routeOfMedicine"
                              bindLabel="name"
                              bindValue="name"
                              [clearable]="false"
                              [searchable]="true"
                              placeholder="Select route">
                              <ng-option *ngFor="let r of routeList" [value]="r.name">
                                {{r.name}}
                              </ng-option>
                            </ng-select>
                            <div *ngIf="submitted && fm.controls[i].controls.routeOfMedicine.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.routeOfMedicine.errors.required">Select route</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.routeOfMedicine.errors.maxlength">Route should be less than 25 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="duration">Duration *</label>
                            <input type="number" class="form-control" placeholder="Enter duration" formControlName="duration">
                            <div *ngIf="submitted && fm.controls[i].controls.duration.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.duration.errors.required">Enter duration</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.duration.errors.maxlength">Duration should be less than 15 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="routeOfMedicine">Duration Unit *</label>
                            <ng-select
                              class="visit-select"
                              formControlName="durationUnit"
                              bindLabel="name"
                              bindValue="name"
                              [clearable]="false"
                              [searchable]="true"
                              placeholder="Select duration unit">
                              <ng-option *ngFor="let du of durationUnitList" [value]="du.name">
                                {{du.name}}
                              </ng-option>
                            </ng-select>
                            <div *ngIf="submitted && fm.controls[i].controls.durationUnit.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.durationUnit.errors.required">Select duration unit</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.durationUnit.errors.maxlength">Duration unit should be less than 15 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="duration">Remark</label>
                            <input type="text" class="form-control" placeholder="Enter remark" formControlName="remark">
                            <div *ngIf="submitted && fm.controls[i].controls.remark.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.remark.errors.maxlength">Remark should be less than 15 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-1">
                            <label for="deleteBtn">.</label>
                            <button mat-button type="button" class="delete-btn" (click)="removeMedicine(i)">
                              <img src="assets/svgs/delete-icon.svg" alt="">
                            </button>
                          </div>
                        </div>
                        <!-- <div class="form-row mt-2">
                          <div class="form-group col-md-5">
                            <label for="medicineName">Medicine *</label>
                            <input type="text" class="form-control" placeholder="Enter medicine name" formControlName="medicineName" [ngbTypeahead]="search3">
                            <div *ngIf="submitted && fm.controls[i].controls.medicineName.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.medicineName.errors.required">Enter medicine name</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.medicineName.errors.maxlength">Medicine name should be less than 100 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-3">
                            <label for="strength">Strength *</label>
                            <input type="text" class="form-control" placeholder="Enter strength" formControlName="strength" [ngbTypeahead]="search4">
                            <div *ngIf="submitted && fm.controls[i].controls.strength.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.strength.errors.required">Enter strength</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.strength.errors.maxlength">Strength should be less than 10 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="dosage">Dosage *</label>
                            <input type="number" class="form-control" placeholder="Enter dosage" formControlName="dosage" [ngbTypeahead]="search1">
                            <div *ngIf="submitted && fm.controls[i].controls.dosage.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.dosage.errors.required">Enter dosage</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.dosage.errors.maxlength">Dosage should be less than 10 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="dosage">Dosage Unit *</label>
                            <input type="text" class="form-control" placeholder="Enter dosage unit" formControlName="dosageUnit" [ngbTypeahead]="search1">
                            <div *ngIf="submitted && fm.controls[i].controls.dosageUnit.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.dosageUnit.errors.required">Enter dosage unit</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.dosageUnit.errors.maxlength">Dosage unit should be less than 10 characters</small>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-5">
                            <label for="duration">Duration *</label>
                            <input type="text" class="form-control" placeholder="Enter duration" formControlName="duration" [ngbTypeahead]="search2">
                            <div *ngIf="submitted && fm.controls[i].controls.duration.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.duration.errors.required">Enter duration</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.duration.errors.maxlength">Duration should be less than 15 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-3">
                            <label for="typeOfMedicine">Type of Medicine *</label>
                            <input type="text" class="form-control" placeholder="Enter type" formControlName="typeOfMedicine" [ngbTypeahead]="search6">
                            <div *ngIf="submitted && fm.controls[i].controls.typeOfMedicine.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.typeOfMedicine.errors.required">Enter type</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.typeOfMedicine.errors.maxlength">Strength should be less than 15 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-3">
                            <label for="routeOfMedicine">Route of Medicine *</label>
                            <input type="text" class="form-control" placeholder="Enter route" formControlName="routeOfMedicine" [ngbTypeahead]="search5">
                            <div *ngIf="submitted && fm.controls[i].controls.routeOfMedicine.errors">
                              <small class="error-msg" *ngIf="fm.controls[i].controls.routeOfMedicine.errors.required">Enter route</small>
                              <small class="error-msg" *ngIf="fm.controls[i].controls.routeOfMedicine.errors.maxlength">Route should be less than 15 characters</small>
                            </div>
                          </div>
                          <div class="form-group col-md-1">
                            <label for="deleteBtn">.</label>
                            <button mat-button type="button" class="delete-btn" (click)="removeMedicine(i)">
                              <img src="assets/svgs/delete-icon.svg" alt="">
                            </button>
                          </div>
                        </div> -->
                        <ng-container *ngIf="!last">
                          <mat-divider></mat-divider>
                          <mat-divider></mat-divider>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <div class="form-row">
                  <div class="col-md-12">
                    <button class="confirm-btn mt-2" type="button" (click)="addMedicine()">Add New Medicine</button>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="d-flex justify-content-center py-2">
              <button class="cancel-btn mr-2" type="button" (click)="close(false)">Cancel</button>
              <button class="confirm-btn" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
