@mixin size($width,$height) {
    position: absolute;
    display: flex;
    width: $width;
    height: $height;
}
@mixin font($weight,$size) {
    font-family:var(--font-family);
    font-style:var(--font-style); 
    font-weight:$weight;
    font-size:$size;
}
.alert{
    position: absolute;
    width: 630px;
    height: 100px;
    top: 30px;
    background: #E6FFF3;
    border-radius: 12px;
    img{
        @include size(122px, 78px);
        right: 52px;
        top: 20px;
    }
}
strong{
    @include font(500, 20px);
    line-height: 150%;
    color: #1B163A;
}
.setup-your-profile{
    @include size(630px, 184px);
    left: auto;
    top: 194px;
    padding: 22px;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(31, 28, 58, 0.12);
    border-radius: 12px;
}
.setup-your-calendar{
    @include size(630px, 184px);
    left: auto;
    top: 413px;
    padding: 22px;
    gap: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(31, 28, 58, 0.12);
    border-radius: 12px;
}
.header{
    @include font(700, 15px);
    line-height: 150%;
    color: #1B163A;
}
.para{
    @include font(400, 14px);
    line-height: 150%;
    color: #7F7B92;
}
.btn{
    padding: 10px 32px;
    gap: 4px;
    background: #2E1E91;
    border-radius: 8px;
    .text{
        @include font(700, 16px);
        line-height: 150%;
        text-align: center;
        color: #FFFFFF;
    }
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 10px;
    gap: 4px;
    width: 40px;
    height: 40px;
    background: #FFE8E8;
    border-radius: 200px;
}
.popup-message{
    @include size(320px, 80px);
    right: 30px;
    background: #FFFFFF;
    top: 124px;
    border-radius: 6px;
    filter: drop-shadow(0px 4px 16px rgba(14, 134, 98, 0.12));
    border-left:6px solid #0FD197;
}