<div [ngClass]="getLang() === 'ar' ? 'class1' : 'class2'">
  <h4><i class="fas fa-first-aid"></i> {{'Aid Order'| translate}}</h4>
  <hr>
  <div class="modal-body row">
    <div class="col-md-12 p-0">
      <form [formGroup]="aidOrderForm" (ngSubmit)="submit()">
        <div class="row" *ngIf="!aidOrderForm?.value.type1Uuid">
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>{{'Type 1. Medical Equipment loan (nebulizer, oxygen container, cane, wheel chair, hospital bed, others)'|translate}}</mat-label>
              <mat-select formControlName="type1" multiple #type1Select>
                <mat-option *ngFor="let me of medicalEquipmentsList" [value]="me.en">{{me.en|translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col" *ngIf="aidOrderForm.value.type1?.includes('Others')">
            <mat-form-field class="w-100">
              <mat-label>{{'Other medical equipment loan'|translate}}</mat-label>
              <input matInput type="text" placeholder="{{'Enter other medical equipment loan'|translate}}" formControlName="type1Other">
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="!aidOrderForm?.value.type2Uuid">
          <div class="col">
            <mat-form-field class="w-100">
              <mat-label>{{'Type 2. Free Medical equipment (Stents, baloons, others)'|translate}}</mat-label>
              <mat-select formControlName="type2" multiple #type2Select>
                <mat-option *ngFor="let fme of freeMedicalEquipmentsList" [value]="fme.en">{{fme.en|translate}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col" *ngIf="aidOrderForm.value.type2?.includes('Others')">
            <mat-form-field class="w-100">
              <mat-label>{{'Other free medical equipment'|translate}}</mat-label>
              <input matInput type="text" placeholder="{{'Enter other free medical equipment'|translate}}" formControlName="type2Other">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4" *ngIf="!aidOrderForm?.value.type3Uuid">
            <mat-form-field class="w-100">
              <mat-label>{{'Type 3. Cover medication expenses (amount)'|translate}}</mat-label>
              <input matInput type="number" placeholder="{{'Enter amount'|translate}}" formControlName="type3">
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="!aidOrderForm?.value.type4Uuid">
            <mat-form-field class="w-100">
              <mat-label>{{'Type 4. Cover surgical expenses (amount)'|translate}}</mat-label>
              <input matInput type="number" placeholder="{{'Enter amount'|translate}}" formControlName="type4">
            </mat-form-field>
          </div>
          <div class="col-md-4" *ngIf="!aidOrderForm?.value.type5Uuid">
            <mat-form-field class="w-100">
              <mat-label>{{'Type 5. Cash assistance (amount)'|translate}}</mat-label>
              <input matInput type="number" placeholder="{{'Enter amount'|translate}}" formControlName="type5">
            </mat-form-field>
          </div>
        </div>
        <div class="row" *ngIf="!aidOrderForm?.value.type1Uuid || !aidOrderForm?.value.type2Uuid || !aidOrderForm?.value.type3Uuid || !aidOrderForm?.value.type4Uuid || !aidOrderForm?.value.type5Uuid">
          <div class="col-md-12">
            <button mat-raised-button color="primary" type="submit" [disabled]="aidOrderForm.invalid || isManagerRole" *ngIf="!visitCompleted">
              {{'Save'|translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-12 px-0 pt-2">
      <div [@moveInLeft] class="alert alert-primary" *ngIf="aidOrderForm?.value.type1Uuid">
        <div class="doctor-value">
          {{'Type 1. Medical Equipment loan (nebulizer, oxygen container, cane, wheel chair, hospital bed, others)'|translate}} <br>
          <b>{{ getType1Values() }} {{ (aidOrderForm?.value.type1Other)? ' (' + aidOrderForm?.value.type1Other + ')' : ''  }}</b>
          <div class="mt-2 d-flex flex-column border-top border-primary pt-2">
            <span class="comment-blue">{{aidOrderForm?.value.type1Obs.creator.person.display|comment}}{{val?.type1Obs?.regNo}} | {{aidOrderForm?.value.type1Obs.obsDatetime|date:'dd-MM-y hh:mm a'}}</span>
            <span *ngIf="aidOrderForm?.value.type1Obs.comment" class="comment">{{aidOrderForm?.value.type1Obs.comment|comment}}</span>
          </div>
        </div>
        <i (click)="deleteObs(aidOrderForm?.value.type1Uuid, 'type1Uuid', aidOrderForm?.value.type1CreatorUuid)" class="material-icons float-right" [class.disabled]="isManagerRole"
          style="color:rgb(235, 30, 30);cursor: pointer;" *ngIf="!visitCompleted">delete</i>
      </div>
      <div [@moveInLeft] class="alert alert-primary" *ngIf="aidOrderForm?.value.type2Uuid">
        <div class="doctor-value">
          {{'Type 2. Free Medical equipment (Stents, baloons, others)'|translate}} <br>
          <b>{{ getType2Values() }} {{ (aidOrderForm?.value.type2Other)? ' (' + aidOrderForm?.value.type2Other + ')' : ''  }}</b>
          <div class="mt-2 d-flex flex-column border-top border-primary pt-2">
            <span class="comment-blue">{{aidOrderForm?.value.type2Obs.creator.person.display|comment}}{{val?.type2Obs?.regNo}} | {{aidOrderForm?.value.type2Obs.obsDatetime|date:'dd-MM-y hh:mm a'}}</span>
            <span *ngIf="aidOrderForm?.value.type2Obs.comment" class="comment">{{aidOrderForm?.value.type2Obs.comment|comment}}</span>
          </div>
        </div>
        <i (click)="deleteObs(aidOrderForm?.value.type2Uuid, 'type2Uuid', aidOrderForm?.value.type2CreatorUuid)" class="material-icons float-right" [class.disabled]="isManagerRole"
          style="color:rgb(235, 30, 30);cursor: pointer;" *ngIf="!visitCompleted">delete</i>
      </div>
      <div [@moveInLeft] class="alert alert-primary" *ngIf="aidOrderForm?.value.type3Uuid">
        <div class="doctor-value">
          {{'Type 3. Cover medication expenses (amount)'|translate}} <br>
          <b>{{ aidOrderForm?.value.type3 }}</b>
          <div class="mt-2 d-flex flex-column border-top border-primary pt-2">
            <span class="comment-blue">{{aidOrderForm?.value.type3Obs.creator.person.display|comment}}{{val?.type3Obs?.regNo}} | {{aidOrderForm?.value.type3Obs.obsDatetime|date:'dd-MM-y hh:mm a'}}</span>
            <span *ngIf="aidOrderForm?.value.type3Obs.comment" class="comment">{{aidOrderForm?.value.type3Obs.comment|comment}}</span>
          </div>
        </div>
        <i (click)="deleteObs(aidOrderForm?.value.type3Uuid, 'type3Uuid', aidOrderForm?.value.type3CreatorUuid)" class="material-icons float-right" [class.disabled]="isManagerRole"
          style="color:rgb(235, 30, 30);cursor: pointer;" *ngIf="!visitCompleted">delete</i>
      </div>
      <div [@moveInLeft] class="alert alert-primary" *ngIf="aidOrderForm?.value.type4Uuid">
        <div class="doctor-value">
          {{'Type 4. Cover surgical expenses (amount)'|translate}} <br>
          <b>{{ aidOrderForm?.value.type4 }}</b>
          <div class="mt-2 d-flex flex-column border-top border-primary pt-2">
            <span class="comment-blue">{{aidOrderForm?.value.type4Obs.creator.person.display|comment}}{{val?.type4Obs?.regNo}} | {{aidOrderForm?.value.type4Obs.obsDatetime|date:'dd-MM-y hh:mm a'}}</span>
            <span *ngIf="aidOrderForm?.value.type4Obs.comment" class="comment">{{aidOrderForm?.value.type4Obs.comment|comment}}</span>
          </div>
        </div>
        <i (click)="deleteObs(aidOrderForm?.value.type4Uuid, 'type4Uuid', aidOrderForm?.value.type4CreatorUuid)" class="material-icons float-right" [class.disabled]="isManagerRole"
          style="color:rgb(235, 30, 30);cursor: pointer;" *ngIf="!visitCompleted">delete</i>
      </div>
      <div [@moveInLeft] class="alert alert-primary" *ngIf="aidOrderForm?.value.type5Uuid">
        <div class="doctor-value">
          {{'Type 5. Cash assistance (amount)'|translate}} <br>
          <b>{{ aidOrderForm?.value.type5 }}</b>
          <div class="mt-2 d-flex flex-column border-top border-primary pt-2">
            <span class="comment-blue">{{aidOrderForm?.value.type5Obs.creator.person.display|comment}}{{val?.type5Obs?.regNo}} | {{aidOrderForm?.value.type5Obs.obsDatetime|date:'dd-MM-y hh:mm a'}}</span>
            <span *ngIf="aidOrderForm?.value.type5Obs.comment" class="comment">{{aidOrderForm?.value.type5Obs.comment|comment}}</span>
          </div>
        </div>
        <i (click)="deleteObs(aidOrderForm?.value.type5Uuid, 'type5Uuid', aidOrderForm?.value.type5CreatorUuid)" class="material-icons float-right" [class.disabled]="isManagerRole"
          style="color:rgb(235, 30, 30);cursor: pointer;" *ngIf="!visitCompleted">delete</i>
      </div>


      <ng-container *ngIf="type1.length > 0">
        <div  *ngFor="let t1 of type1; let i = index;" >
            <div [@moveInLeft] class="alert alert-danger">
                <div class="doctor-value d-flex flex-column">
                  <span>{{'Type 1. Medical Equipment loan (nebulizer, oxygen container, cane, wheel chair, hospital bed, others)'|translate}}</span>
                  <span class="strike">{{ getType1Values2(t1.type1Val) }} {{ (t1.type1OtherVal)? ' (' + t1.type1OtherVal + ')' : '' }}</span>
                  <div class="mt-2 d-flex flex-column border-top border-primary pt-2">
                    <span class="comment-blue">{{t1|comment:'addedBy-creator'}}{{t1.regNo || val?.type1Obs?.regNo}} | {{t1.obsDatetime|date:'dd-MM-y hh:mm a'}}</span>
                    <span *ngIf="t1.comment" class="comment">{{t1.comment|comment}}</span>
                  </div>
                </div>
            </div>
        </div>
      </ng-container>
      <ng-container *ngIf="type2.length > 0">
        <div  *ngFor="let t2 of type2; let i = index;" >
            <div [@moveInLeft] class="alert alert-danger">
                <div class="doctor-value d-flex flex-column">
                  <span>{{'Type 2. Free Medical equipment (Stents, baloons, others)'|translate}}</span>
                  <span class="strike">{{ getType2Values2(t2.type2Val) }} {{ (t2.type2OtherVal)? ' (' + t2.type2OtherVal + ')' : '' }}</span>
                  <div class="mt-2 d-flex flex-column border-top border-primary pt-2">
                    <span class="comment-blue">{{t2|comment:'addedBy-creator'}}{{t2.regNo || val?.type2Obs?.regNo}} | {{t2.obsDatetime|date:'dd-MM-y hh:mm a'}}</span>
                    <span *ngIf="t2.comment" class="comment">{{t2.comment|comment}}</span>
                  </div>
                </div>
            </div>
        </div>
      </ng-container>
      <ng-container *ngIf="type3.length > 0">
        <div  *ngFor="let t3 of type3; let i = index;" >
            <div [@moveInLeft] class="alert alert-danger">
                <div class="doctor-value d-flex flex-column">
                  <span>{{'Type 3. Cover medication expenses (amount)'|translate}}</span>
                  <span class="strike">{{ t3.type3Val }}</span>
                  <div class="mt-2 d-flex flex-column border-top border-primary pt-2">
                    <span class="comment-blue">{{t3|comment:'addedBy-creator'}}{{t3.regNo || val?.type3Obs?.regNo}} | {{t3.obsDatetime|date:'dd-MM-y hh:mm a'}}</span>
                    <span *ngIf="t3.comment" class="comment">{{t3.comment|comment}}</span>
                  </div>
                </div>
            </div>
        </div>
      </ng-container>
      <ng-container *ngIf="type4.length > 0">
        <div  *ngFor="let t4 of type4; let i = index;" >
            <div [@moveInLeft] class="alert alert-danger">
                <div class="doctor-value d-flex flex-column">
                  <span>{{'Type 4. Cover surgical expenses (amount)'|translate}}</span>
                  <span class="strike">{{ t4.type4Val }}</span>
                  <div class="mt-2 d-flex flex-column border-top border-primary pt-2">
                    <span class="comment-blue">{{t4|comment:'addedBy-creator'}}{{t4.regNo || val?.type4Obs?.regNo}} | {{t4.obsDatetime|date:'dd-MM-y hh:mm a'}}</span>
                    <span *ngIf="t4.comment" class="comment">{{t4.comment|comment}}</span>
                  </div>
                </div>
            </div>
        </div>
      </ng-container>
      <ng-container *ngIf="type5.length > 0">
        <div  *ngFor="let t5 of type5; let i = index;" >
            <div [@moveInLeft] class="alert alert-danger">
                <div class="doctor-value d-flex flex-column">
                  <span>{{'Type 5. Cash assistance (amount)'|translate}}</span>
                  <span class="strike">{{ t5.type5Val }}</span>
                  <div class="mt-2 d-flex flex-column border-top border-primary pt-2">
                    <span class="comment-blue">{{t5|comment:'addedBy-creator'}}{{t5.regNo || val?.type5Obs?.regNo}} | {{t5.obsDatetime|date:'dd-MM-y hh:mm a'}}</span>
                    <span *ngIf="t5.comment" class="comment">{{t5.comment|comment}}</span>
                  </div>
                </div>
            </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
