<div class="visit-readonly-main" *ngIf="true">
  <!-- header profile -->
  <div class="visit-header">
    <img src="assets/svgs/visit-bg.svg" alt="" class="w-100" />
  </div>

  <!-- patient-detail -->
  <div class="visit-patient-detail w-100 mt-2">
    <div class="person-header-container">
      <div class="person-content w-100" *ngFor="let info of patientInfo">
        <div class="person-content-item">
          <div class="person-title">
            <div class="">
              <img src="assets/svgs/v-profile.svg" />
            </div>

            <div class="person-name-details">
              <div class="person-name">{{info.display}}</div>
              <div class="person-INT">{{patientIdentifier}}</div>
            </div>
          </div>

          <div class="person-age-details">
            <div class="person-age-font person-label-color">Age</div>
            <div class="person-age-font person-age-color">{{info.age}} {{'Years'}}</div>
          </div>
        </div>

        <div class="occupation">
          <div class="occupation-label person-label-color">Occupation</div>
          <div class="occupation-label person-age-color"*ngIf="info.occupation">{{info.occupation}}</div>
          <div class="occupation-label person-age-color" *ngIf="!info.occupation">{{"Not Available"}}</div>
          <div class="mt-4">
            <div class="occupation-label person-label-color">Address</div>
            <div class="occupation-label person-age-color">
              {{info.preferredAddress.cityVillage}}
            </div>
          </div>
        </div>

        <div class="contact">
          <div class="occupation-label person-label-color">Contact No:</div>
          <div class="">
            <img src="assets/svgs/modal-phone-icon.svg" />
            {{info.telephone}}
          </div>

          <div class="mt-2">
            <img src="assets/svgs/whatsapp-modal-icon.svg" />
            {{info.telephone}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- visits-readonly -->
  <div class="visits-readonly ml-3 mt-2">
    <div class="consult-details">
      <!-- selector -->
      <app-consultation-details-v4
        [showToggle]="false"
        [iconImg]="'assets/svgs/consultation-blue-icon.svg'"
      ></app-consultation-details-v4>

      <app-vitals-v4 [pastVisit]="true"></app-vitals-v4>

      <app-check-up-reason-v4 [pastVisit]="true"></app-check-up-reason-v4>

      <app-physical-examination-v4
        [pastVisit]="true"
      ></app-physical-examination-v4>

      <app-medical-history-v4 [pastVisit]="true"></app-medical-history-v4>

      <app-additional-documents-v4
        [pastVisit]="true"
      ></app-additional-documents-v4>
    </div>
  </div>
</div>
