<div class="medical-history-main box-shadow mt-4">
  <div class="medical-history-header w-100">
    <div class="medical-history-header-content w-100">
      <img
        [src]="
          pastVisit
            ? 'assets/svgs/medical-history-blue.svg'
            : 'assets/svgs/medical-history.svg'
        "
      />
      <div class="medical-history-img-title">Medical History</div>
      <div
        *ngIf="!pastVisit"
        data-toggle="collapse"
        data-target="#medical-history"
        class="click"
        (click)="toggleCollapse()"
      >
        <img class="arrow" [src]="toggleImage"/>
      </div>
    </div>
    <hr *ngIf="!pastVisit" class="hr" />
  </div>

  <div id="medical-history" class="medical-history-details collapse multi-collapse show">
    

    <div class="abdomin-captoin mt-3 mb-3">
      <div class="abdomin-captoin-font">Patient history</div>
    </div>

    <div class="ml-4">
      <ul class="d-grid p-0">
        <li class="d-flex mb-3" *ngFor="let item of patientHistory">
          <div class="first-list-label" *ngIf="item?.label">{{ item?.label }}</div>
          <div class="second-list-label">{{ item?.value }}</div>
        </li>
      </ul>
    </div>

    <div class="patient-reports mt-2">
      <div class="associated-font mb-3">Family history</div>
    </div>

    <div class="ml-5">
      <ul class="d-grib p-0">
        <li
          *ngFor="let items of familyHistory"
          class="d-flex"
        >
          <div class="first-list-label">{{ items?.label }}</div>
          <div class="second-list-label">{{ items?.value }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
