<div class="intel-con-modal" data-test-id="reportGenerationModal">
  <button class="download-btn" data-test-id="btnDownload">
    <img src="assets/svgs/file-download.svg" alt="download icon" />
  </button>

  <div class="modal-con mt-4">
    <div>
      <h6 data-test-id="lblReportGenerationTitle">Generating Report..</h6>

      <div style="width: 100%;">
        <mat-progress-bar
          mode="determinate"
          [value]="value"
          data-test-id="progressReportGeneration"
        ></mat-progress-bar>
      </div>

      <h6 style="color: #7F7B92;" data-test-id="lblReportGenerationPercent">
        {{ value }}%
      </h6>
    </div>
  </div>
</div>
