.modal-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-darkestBlue)86;
  padding: 10px;
}

.title-con {
  padding: 24px 24px 16px;
  background: var(--color-lightGray);
  position: relative;

  .close-btn-con {
    position: absolute;
    right: 24px;
    top: 24px;

    .modal-close-btn {
      border: none;
      background: transparent;
      outline: none;
    }
  }

  h6 {
    font-size: 24px;
    line-height: 150%;
    color: var(--color-darkestBlue);
    text-align: center;
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.main-content {
  padding: 24px;
}

.patient-info-wrapper {
  font-family: DM Sans;

  .patient-info-section {
    border-right: 1px solid rgba(178, 175, 190, 0.2);

    .patient-img-item {
      display: flex;
      flex-direction: row;
      align-items: center;

      .patient-img {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        overflow: hidden;
      }

      h6 {
        margin-bottom: 0px;
        font-size: 18px;
        font-weight: bold;
        line-height: 150%;
        color: var(--color-darkestBlue);
      }

      p {
        margin-bottom: 0px;
        color: var(--color-gray);
        font-size: 16px;
        line-height: 150%;
        word-break: break-all;
      }
    }

    .patient-info-item {
      h6 {
        margin-bottom: 0px;
        font-size: 16px;
        line-height: 150%;
        color: var(--color-darkestBlue);
      }

      p {
        margin-bottom: 0px;
        color: var(--color-darkestBlue);
        font-size: 16px;
        line-height: 150%;
        word-break: break-all;
      }
    }

  }

  .patient-info-section:last-child {
    border: none;
  }
}

.data-section {
  .data-section-title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(178, 175, 190, 0.2);
    padding: 5px 0px;
     img {
      width: 48px;
      margin-right: 10px;
     }
     h6 {
      font-size: 20px;
      line-height: 150%;
      color: var(--color-darkestBlue);
      font-weight: bold;
      margin-bottom: 0px;
     }
  }
}

.items-list {
  font-family: DM Sans;
  font-size: 16px;
  padding: 24px 0px 0px 24px;
  margin-bottom: 0px;

  li {
    margin-bottom: 5px;
  }

  li .list-item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    label {
      width: 25%;
      margin-bottom: 0px;
      padding: 5px 0px;
    }

    .list-item-content {
      padding: 5px 0px;
    }
  }

  li .list-item-col {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.text-important-red {
  color: var(--color-red);
  font-weight: bold;
}

.text-important-green {
  color: var(--color-green);
  font-weight: bold;
}

.cheif-complaint-wrapper {
  padding: 24px 0px 0px;

  h6 {
    font-size: 18px;
    line-height: 150%;
    color: var(--color-darkestBlue);
    font-weight: bold;
  }

  .complaint-chips {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;

    .chip-item {
      padding: 4px 8px;
      background: var(--color-lightRed);
      border-radius: 4px;
      color: var(--color-white);
      margin: 5px 5px 5px 0px;
      font-size: 16px;
      line-height: 150%;
    }
  }
}

.eye-images-con {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  .eye-item {
    position: relative;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    margin: 5px;
    overflow: hidden;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }

    .cover {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-darkestBlue)34;
      overflow: hidden;

      img {
        width: 50%;
      }
    }
  }
}

.additional-doc-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 24px 0px 0px;


  .doc-item {
    position: relative;
    width: 120px;
    height: 120px;
    background: var(--color-lightGray);
    border: 1px solid var(--color-darkBlue);
    border-radius: 8px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;

    .other-doc {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        color: var(--color-darkestBlue);
      }

      img {
        width: 32px;
        height: 32px;
      }
    }

    img {
      width: 120px;
      height: 120px;
    }

    .cover {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--color-darkestBlue)34;
      overflow: hidden;

      img {
        width: 50%;
      }
    }
  }
}

.no-docs {
  padding: 24px 0px;
  font-size: 16px;
}

@media (max-width: 768px) {
  .patient-info-section {
    border-bottom: 1px solid rgba(178, 175, 190, 0.2);
    border-right: none !important;
  }

  .items-list {
    list-style-type: none;
    padding: 24px 0px 0px;

    li .list-item {
      flex-direction: column;
      align-items: flex-start;

      label {
        width: 100%;
        border-bottom: 1px solid rgba(178, 175, 190, 0.2);
        font-weight: bold;
      }
    }

    li .list-item-col {
      label {
        width: 100%;
        border-bottom: 1px solid rgba(178, 175, 190, 0.2);
        font-weight: bold;
      }
    }
  }

  .data-section {
    .data-section-title {
       img {
        width: 38px;
        margin-right: 10px;
       }
       h6 {
        font-size: 16px;
       }
    }
  }

  .cheif-complaint-wrapper {
    h6 {
      font-size: 16px;
    }
  }

  .btn_download_pdf span{
    display: none;
  }

  .desktop-close-btn{
    display: none !important;
  }
  .mobile-close-btn{
    display: block !important;
  }
}

.btn_download_pdf{
  position: absolute;
  color: var(--color-gray);
  border: unset;
  background: transparent;
  font-size: 18px;
}

.mobile-close-btn{
  display: none;
}
.dekstop-close-btn{
  display: block;
}
