<div class="select-lang-modal">
    <div class="modal-title-con">
      <h3 class="mb-0 font-weight-bold">{{data?.rank}}. {{data?.name}}</h3>
      <div class="close-btn-con">
        <button class="modal-close-btn" (click)="close(false)"><img src="assets/svgs/CloseX.svg" alt=""></button>
      </div>
    </div>
    <div class="modal-con">
      <div class="container-fluid mt-3">
        <div class="row">
          <div class="col-md-12 p-0">
            <p class="font-weight-bold">Reasoning for diagnosis:</p>
            {{data?.description}}
          </div>
        </div>
      </div>
    </div>
  
  </div>
  