:root 
{
    --color-darkBlue: #2E1E91;
    --color-gray:#7F7B92;
    --color-white:#FFFFFF;
    --color-offWhite:#FAF9FF;
    --color-darkestBlue:#1B163A;
    --color-red:#FF475D;

    --font-family:'DM Sans';
    --font-style:'normal';
}