.body {
  position: absolute;
  top: 12px;

  width: 1225px;
  height: 100vh;

  margin-left: 7rem;
}

.body-trimmed {
  position: absolute;
  top: 12px;

  width: 1050px;
  height: 100vh;

  margin-left: 18rem;
}
