<div class="main-container">
    <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
        <div class="logo-container">
            <button class="logo" (click)="toggleCollapse()" (click)="iconMove()">
                <img [src]="changeSide ? '../../../assets/icons/dashboard-icons/Vector2.png' : '../../../assets/icons/dashboard-icons/Vector.png'"/>
            </button>
            <div class="logo-img" *ngIf="collapsed">
                <img src="../../../assets/images/Intelehealth-logo-white.png"/>
            </div>
            <div class="logo-icon" *ngIf="!collapsed">
                <img src="../../../assets/images/Intelehealth-logo-white2.png"/>
            </div>
        </div>
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item">
                <a class="sidenav-nav-link" routerLink="/dashboard">
                    <img src="../../../assets/icons/dashboard-icons/home.png">
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        Dashboard
                    </span>
                </a>
            </li>
            <li class="sidenav-nav-item">
                <a class="sidenav-nav-link" routerLink="/dashboard">
                    <img src="../../../assets/icons/dashboard-icons/message-circle.png">
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        Messages
                    </span>
                </a>
            </li>
            <li class="sidenav-nav-item">
                <a class="sidenav-nav-link" routerLink="/dashboard">
                    <img src="../../../assets/icons/dashboard-icons/video.png">
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        Appointment
                    </span>
                </a>
            </li>
            <li class="sidenav-nav-item">
                <a class="sidenav-nav-link" routerLink="/dashboard">
                    <img src="../../../assets/icons/dashboard-icons/icons8-calendar 2.png">
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        Calendar
                    </span>
                </a>
            </li>
            <li class="sidenav-nav-item">
                <a class="sidenav-nav-link" routerLink="/dashboard">
                    <img src="../../../assets/icons/dashboard-icons/icons8-treatment 1.png">
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        Prescription
                    </span>
                </a>
            </li>
            <li class="sidenav-nav-item">
                <a class="sidenav-nav-link" routerLink="/dashboard">
                    <img src="../../../assets/icons/dashboard-icons/info.png">
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        Help & Support
                    </span>
                </a>
            </li>
            <li class="sidenav-nav-item" style="margin-top: 18rem;">
                <hr>
                <a class="sidenav-nav-link" routerLink="/dashboard">
                    <img src="../../../assets/icons/dashboard-icons/power.png">
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        Log-out
                    </span>
                </a>
            </li>
        </ul>
    </div>  
    <div class="side-body"[ngClass]="getBodyClass()">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Good Morning Dr. Sakshi! 👋</strong> 
            <p>Complete the following actions to start treating the patients</p> 
            <img src="../../../assets/icons/dashboard-icons/Group 2608817.png">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="profile">
            <div class="notification">
                <img src="../../../assets/icons/dashboard-icons/icons8-notification 1.png">
            </div>
            <div class="profile-pic">
                <img src="../../../assets/icons/dashboard-icons/Frame 2608562.png">
                <span class="text">Hello Dr. Sakshi 👋</span>
                <button mat-icon-button aria-label="Example icon-button with a menu" style="top: -2px;">
                    <mat-icon>more_vert</mat-icon>
                </button>
            </div>
        </div>
        <div class="setup-your-profile">
            <div class="icon">
                <img src="../../../assets/icons/dashboard-icons/icons8-user 2.png">
            </div>
            <div class="text">
                <h5 class="header">Set up your profile</h5>
                <p class="para">
                    You need to set-up your profile by adding few details of yours & start receiving the patient prescription requests.
                </p>
                <button class="btn">
                    <span class="text">setup profile</span>
                </button>
            </div>
        </div>
        <div class="setup-your-calendar">
            <div class="icon">
                <img src="../../../assets/icons/dashboard-icons/icons8-calendar 1.png">                
            </div>
            <div class="text">
                <h5 class="header">Set up your calendar</h5>
                <p class="para">
                    You need to set-up your calendar so you can start taking appointments of the patients.
                </p>
                <button class="btn">
                    <span class="text">setup calendar</span>
                </button>
            </div>
        </div>
        <div class="help">
            <button type="button" class="btn-help">Help</button>
        </div>
    </div>  
</div>
