<h4>Diagnosis</h4>
<div>
<form [formGroup]='diagnosisForm' (submit)='onSubmit()'>
  <input type="text" formControlName='text'>
  <div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Primary">
    <label class="form-check-label" for="inlineRadio1">Primary</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Secondary">
    <label class="form-check-label" for="inlineRadio2">Secondary</label>
  </div>
</div>
<div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio1" value="Provisional">
    <label class="form-check-label" for="inlineRadio1">Provisional</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="inlineRadioOptions1" id="inlineRadio2" value="Confirmed">
    <label class="form-check-label" for="inlineRadio2">Confirmed</label>
  </div>
</div>
  <button type="submit" [disabled]='!diagnosisForm.valid'>Submit</button>
</form>
</div>
<div *ngFor='let diagnosis of diagnosis, index as i'>
  <div class="alert alert-primary" style="margin: 10px 7px;">{{diagnosis.value}} <i (click)="delete(i)" class="material-icons">delete</i></div>
</div>
