<h4><i class="fas fa-diagnoses"></i> Diagnosis</h4>
<hr>
<div>
<form [formGroup]='diagnosisForm' (submit)='onSubmit()'>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Diagnosis" formControlName="text">
    </mat-form-field>
    <div>
    <mat-radio-group aria-label="Select an option" formControlName="type">
        <mat-radio-button value="Primary">Primary </mat-radio-button>
        <mat-radio-button value="Secondary">Secondary</mat-radio-button>
      </mat-radio-group>
    </div>
    <div>
    <mat-radio-group aria-label="Select an option" formControlName="confirm">
        <mat-radio-button value="Provisional">Provisional </mat-radio-button>
        <mat-radio-button value="Confirmed">Confirmed</mat-radio-button>
      </mat-radio-group>
    </div>
   <br>
  <button type="submit" mat-raised-button color="primary" [disabled]='!diagnosisForm.valid'>Add Diagnosis</button>
</form>
</div>
<ng-container *ngIf="diagnosis.length >= 0">
  <br>
<div>
    <ul class="list-unstyled">
    <mat-list [@moveInLeft] *ngFor='let diagnosis of diagnosis, index as i' class="alert alert-primary">
    {{diagnosis.value}} 
    <i (click)="delete(i)" class="material-icons float-right" style="color:rgb(235, 30, 30)">delete</i>
    </mat-list>
  </ul>
</div>
</ng-container>
