# Default client used in local dev. One of: ezazi | nepal
CLIENT=ezazi

EZAZI_BASE_URL=https://testezazi.intelehealth.org
NEPAL_BASE_URL=https://nezazi.intelehealth.org


EZAZI_CAPTCHA_SITE_KEY=
NEPAL_CAPTCHA_SITE_KEY=

EXTERNAL_PRESCRIPTION_CRED=

VAPID_PUBLIC_KEY=

RECORDS_PER_PAGE=50
