<div class="logo">
    <div class="logo-icon">
        <img src="assets/icons/help/Frame2608960(2).png">
    </div>
    <span class="text">Help and support</span>
</div>
<div class="head-nav">
    <div class="search-box">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input type="text" class="txt" placeholder="Search for help"/>
    </div>
    <div class="down-body">
        <mat-tab-group mat-align-tabs="start">
            <div class="menu-btn">
                <mat-tab label="Health">
                    <div class="health-container">
                        <div class="right-container">
                            <div class="head">
                                <div class="icon">
                                    <img src="assets/icons/help/Frame2608960.png">
                                </div>
                                <span class="text">FAQs</span>
                            </div>
                            <p>Frequently asked questions about everything you need to know regading the webiste.</p>
                        </div>
                        <div class="left-container">
                            <mat-accordion>
                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            How Intelehealth works?
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p>Telemedicine app makes specialits doctor consultations available to the rural populations coming to primary healthcare. It helps in saving patients from travelling miles for healthcare. Telemedicine app allows Health Officers to collect detailed patient complaints and symtoms and generates a comprehensive clinical case history. The app also allows them to capture details of previous medications, diagnostics, prescriptions and treatment.</p>
                                </mat-expansion-panel>
                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Why Intelehealth exists?
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p>Telemedicine app makes specialits doctor consultations available to the rural populations coming to primary healthcare. It helps in saving patients from travelling miles for healthcare. Telemedicine app allows Health Officers to collect detailed patient complaints and symtoms and generates a comprehensive clinical case history. The app also allows them to capture details of previous medications, diagnostics, prescriptions and treatment.</p>
                                </mat-expansion-panel>
                                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            How Intelehealth help patients?
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p>Telemedicine app makes specialits doctor consultations available to the rural populations coming to primary healthcare. It helps in saving patients from travelling miles for healthcare. Telemedicine app allows Health Officers to collect detailed patient complaints and symtoms and generates a comprehensive clinical case history. The app also allows them to capture details of previous medications, diagnostics, prescriptions and treatment.</p>
                                </mat-expansion-panel>
                                <!-- <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Why is hygene necessary
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit cras sollicitudin sit quis sed lacinia enim.</p>
                                </mat-expansion-panel> -->
                            </mat-accordion>
                        </div>
                    </div>
                    <div class="learn-container">
                        <div class="icon">
                            <img src="assets/icons/help/Frame2608960(1).png">
                        </div>
                        <span class="text">Learn more</span>
                        <div class="videos-container">
                            <div class="video-col-1">
                                <div class="video-size">
                                    <iframe class="video" width="335.33px" height="180px" src="https://www.youtube.com/embed/TqNiRWOBNTs"></iframe>
                                    <span class="txt">Treat mild fever at home</span>
                                </div>
                                <div class="video-size">
                                    <iframe class="video" width="335.33px" height="180px" src="https://www.youtube.com/embed/qbDHSwMOYg4"></iframe>
                                    <span class="txt">What is Anemia?</span>
                                </div>
                            </div>
                            <div class="video-col-2">
                                <div class="video-size">
                                    <iframe class="video" width="335.33px" height="180px" src="https://www.youtube.com/embed/LCG6eJ0j-Cg"></iframe>
                                    <span class="txt">Treat cough at home</span>
                                </div>
                                <div class="video-size">
                                    <iframe class="video" width="335.33px" height="180px" src="https://www.youtube.com/embed/E0UAHVoqcm0"></iframe>
                                    <span class="txt">Benefits of walking</span>
                                </div>
                            </div>
                            <div class="video-col-3">
                                <div class="video-size">
                                    <iframe class="video" width="335.33px" height="180px" src="https://www.youtube.com/embed/ZU4sSOmf8To"></iframe>
                                    <span class="txt">Benefits of walking</span>
                                </div>
                                <div class="video-size">
                                    <iframe class="video" width="335.33px" height="180px" src="https://www.youtube.com/embed/MwDpD7LIfcg"></iframe>
                                    <span class="txt">Benefits of walking</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Training">
                </mat-tab>
                <mat-tab label="About website">
                </mat-tab>
            </div>
        </mat-tab-group>
    </div>
</div>
