.patient-modal {
    position: absolute;;
    z-index: 9999999;
    background: white;
    top: 50%;
    left: 40%;
}

.modal-overlay {
    height: 100%;
    width: 100%;
    opacity: 0.5 !important;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}