<mat-spinner *ngIf="setSpiner" [diameter]="70"></mat-spinner>
<div class="container">
  <div class="modal-body row">
  <div class="col-sm-4" style="padding: 3px">
    <div class="card text-white" style="background: #f6b825">
      <div class="card-body">
        <div class="text-left">
          AWAITING CONSULATATION<span class="text-right badge badge-light">{{awaiting?.length}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4" style="padding: 3px">
    <div class="card text-white" style="background: #4fca8b">
      <div class="card-body">
        <div class="text-left">
          COMPLETED CONSULATATION<span class="text-right badge badge-light">{{completed?.length}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-4" style="padding: 3px">
    <div class="card text-white" style="background: #17a2b8">
      <div class="card-body">
        <div class="text-left">
          TAT OF ONESELF<span class="text-right badge badge-light">{{tat}} mins</span>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<ng-container *ngIf="!setSpiner">
  <div class="container">
    <div class="wrap-login100">
      <div class="login100-form-title">
        <img
          class="login100-form-avatar"
          src="assets/dummy profile image.jpg"
          width="25%"
          alt=""
        />
        <span *ngIf="providerDetails.person.display">{{
          providerDetails.person.display
        }}</span>
        <span *ngIf="providerDetails.address">{{
          providerDetails.address.value
        }}</span>
      </div>
      <mat-card class="overlap">
        <div>
          <i
            class="material-icons"
            style="float: right; cursor: pointer"
            (click)="onEdit()"
            >create</i
          >

          <table>
            <tr>
              <th>Gender :</th>
              <td *ngIf="providerDetails.person">
                {{ providerDetails.person.gender }}
              </td>
            </tr>
            <tr>
              <th>State :</th>
              <td *ngIf="providerDetails.person">
                {{ visitState }}
              </td>
            </tr>
            <tr>
              <th>Phone No. :</th>
              <td *ngIf="providerDetails.phoneNumber">
                {{ providerDetails.phoneNumber.value }}
              </td>
            </tr>
            <tr>
              <th>WhatsApp No. :</th>
              <td *ngIf="providerDetails.whatsapp">
                {{ providerDetails.whatsapp.value }}
              </td>
            </tr>
            <tr>
              <th>Email Id :</th>
              <td *ngIf="providerDetails.emailId">
                {{ providerDetails.emailId.value }}
              </td>
            </tr>
            <tr>
              <th>Qualification :</th>
              <td *ngIf="providerDetails.qualification">
                {{ providerDetails.qualification.value }}
              </td>
            </tr>
            <tr *ngIf="userDetails.roles[0].name != 'Organizational: Nurse'">
              <th>Specialization :</th>
              <td *ngIf="providerDetails.specialization">
                {{ providerDetails.specialization.value }}
              </td>
            </tr>
            <tr>
              <th>Registration No. :</th>
              <td *ngIf="providerDetails.registrationNumber">
                {{ providerDetails.registrationNumber.value }}
              </td>
            </tr>
            <tr *ngIf="userDetails.roles[0].name != 'Organizational: Nurse'">
              <th>Signature :</th>
              <td
                *ngIf="providerDetails.textOfSign"
                [class]="providerDetails?.fontOfSign?.value"
                [style.font-family]="providerDetails?.fontOfSign?.value"
                style="font-size: 50px"
              >
                {{ providerDetails?.textOfSign?.value }}
              </td>
              <td
                *ngIf="
                  (providerDetails && !providerDetails.textOfSign) ||
                  action === 'add'
                "
              >
                <button
                  mat-raised-button
                  color="primary"
                  (click)="signature('add')"
                >
                  Signature
                </button>
              </td>
            </tr>
          </table>
        </div>
      </mat-card>
    </div>
  </div>
</ng-container>
