<!-- <div class="container">
    <ng-container *ngIf="providerDetails">
    <mat-card >
        <h4>{{providerDetails.person.display}}</h4>
        <div>{{providerDetails.person.gender}}</div>
        <div>{{providerDetails.phone}}</div>
        <div>{{providerDetails.qualification}}</div>
        <div>{{providerDetails.specialization}}</div>
        <div>{{providerDetails.registration}}</div>
        <div>{{providerDetails.address}}</div>
        <div>{{providerDetails.addressPersonal}}</div>
    </mat-card>
    <br>
</ng-container>
    <mat-card>
        <h4>Setup your Signature</h4>
    <form [formGroup]="addSignatureForm" (ngSubmit)="onSubmit()">
    <div class="input-group">
    <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Text" [(ngModel)]="name" formControlName="text">
    </mat-form-field>
    </div>
    <input type="radio" value='1' formControlName="signature"><span style="font-family: arty; font-size: 100px"> {{name}}</span>
    <br>
    <input type="radio" value='2' formControlName="signature"><span style="font-family: asem; font-size: 50px"> {{name}}</span>
    <br>
    <input type="radio" value='3' formControlName="signature"><span style="font-family: youthness; font-size: 50px"> {{name}}</span>
    <br>
    <button class="btn btn-primary">Select</button>
    </form>
</mat-card>
</div> -->

    <div class="container">
        <mat-card>
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-form-title" style="background-image: url('../../../assets/images/city2.jpg');">
                        <span class="login100-form-avatar">
                            <img src='../../../assets/dummy profile image.jpg' style="width: 100%">   
                        </span>
                    </div>
                   <div style="text-align: center; padding-top: 20px; padding-bottom: 10px" >
                    <ng-container *ngIf="providerDetails">
                    <h4>{{providerDetails.person.display}}</h4>
                    <div>Gender: <span>{{providerDetails.person.gender}}</span></div>
                    <div>Phone No: <span>{{providerDetails.phoneNumber}}</span></div>
                    <div>Email Id: <span>{{providerDetails.emailId}}</span></div>
                    <div>Qualification: <span>{{providerDetails.qualification}}</span></div>
                    <div>Specialization: <span>{{providerDetails.specialization}}</span></div>
                    <div>Registration No: <span>{{providerDetails.registrationNumber}}</span></div>
                    <div>Address: <span>{{providerDetails.address}}</span></div>
                    <div><button mat-raised-button color="primary" (click)="signature()">Signature</button></div>
                    </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
    </div>
