<mat-spinner *ngIf="setSpiner" [diameter]="70"></mat-spinner>
<div class="container" >
  <img class="banner" src="assets/banner.png" alt="" />
  <div class="row">
    <div class="login100-form-title ml-3 col-2 ">
      <img
        class="login100-form-avatar"
        src="assets/dummy profile image.jpg"
        width="25%"
        alt=""
      />
    </div>
    <div class="col-6 info" style="margin-top: 231px">
      <span *ngIf="providerDetails.person.display"
        ><b style="font-size: 22px;">{{ providerDetails.person.display }}</b></span
      ><br />
      <span *ngIf="providerDetails.specialization.value">
        {{ providerDetails.specialization.value | uppercase }}
      </span><br>
      <span *ngIf="providerDetails.qualification.value">
        {{ providerDetails.qualification.value | uppercase}}
      </span>
      <!-- <span *ngIf="providerDetails.address">{{
        providerDetails.address.value
      }}</span> -->
    </div>
  </div>
</div>
<div class="container">
  <div class="modal-body row">
    <div class="col-sm-4" style="padding: 3px">
      <div class="card text-white" style="background: #f6b825">
        <div class="card-body">
          <div class="text-left">
            AWAITING CONSULATATION<span class="text-right badge badge-light">{{
              awaiting?.length
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="padding: 3px">
      <div class="card text-white" style="background: #4fca8b">
        <div class="card-body">
          <div class="text-left">
            COMPLETED CONSULATATION<span class="text-right badge badge-light">{{
              completed?.length
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4" style="padding: 3px">
      <div class="card text-white" style="background: #17a2b8">
        <div class="card-body">
          <div class="text-left">
            TAT OF ONESELF<span class="text-right badge badge-light"
              >{{ tat }} mins</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-container *ngIf="!setSpiner">
  <div class="container">
    <!-- <div class="wrap-login100"> -->
      <!-- <div class="login100-form-title">
        <img
          class="login100-form-avatar"
          src="assets/dummy profile image.jpg"
          width="25%"
          alt=""
        />
        <span *ngIf="providerDetails.person.display">{{
          providerDetails.person.display
        }}</span>
        <span *ngIf="providerDetails.address">{{
          providerDetails.address.value
        }}</span>
      </div> -->
      <h5><b>PERSONAL INFORMATION</b></h5>
      <mat-card class="shadow">
        <div>
          <i
            class="material-icons"
            style="float: right; cursor: pointer"
            (click)="onEdit()"
            >create</i
          >
          <table class="ml-1">
            <tr>    
              <th><img src="assets/Gender.png" alt="" class="profileIcon">Gender </th>
              <td *ngIf="providerDetails.person">
                {{ providerDetails.person.gender }}
              </td>
            </tr>
            <hr>
            <tr>
              <th><img src="assets/State.png" alt="" class="profileIcon">State </th>
              <td *ngIf="providerDetails.person">
                {{ visitState }}
              </td>
            </tr>
            <hr>
            <tr>
              <th><img src="assets/Phone-No.png" alt="" class="profileIcon"> Phone No. </th>
              <td *ngIf="providerDetails.phoneNumber">
                {{ providerDetails.phoneNumber.value }}
              </td>
            </tr>
            <hr>
            <tr>
              <th><img src="assets/WhatsApp-No.png" alt="" class="profileIcon"> WhatsApp No. </th>
              <td *ngIf="providerDetails.whatsapp">
                {{ providerDetails.whatsapp.value }}
              </td>
            </tr>
            <hr>
            <tr>
              <th><img src="assets/Email-Id.png" alt="" class="profileIcon"> Email Id </th>
              <td *ngIf="providerDetails.emailId">
                {{ providerDetails.emailId.value }}
              </td>
            </tr>
            <hr>
            <!-- <tr>
              <th><i class="fa fa-graduation-cap"></i> Qualification :</th>
              <td *ngIf="providerDetails.qualification">
                {{ providerDetails.qualification.value }}
              </td>
            </tr>
            <tr *ngIf="userDetails.roles[0].name != 'Organizational: Nurse'">
              <th><i class="fa fa-asterisk"></i> Specialization :</th>
              <td *ngIf="providerDetails.specialization">
                {{ providerDetails.specialization.value }}
              </td>
            </tr> -->
            <tr>
              <th><img src="assets/Registration-No.png" alt="" class="profileIcon"> Registration No. </th>
              <td *ngIf="providerDetails.registrationNumber">
                {{ providerDetails.registrationNumber.value }}
              </td>
            </tr>
            <hr>
            <tr *ngIf="userDetails.roles[0].name != 'Organizational: Nurse'">
              <th><img src="assets/Signature.png" alt="" class="profileIcon"> Signature </th>
              <td
                *ngIf="providerDetails.textOfSign"
                [class]="providerDetails?.fontOfSign?.value"
                [style.font-family]="providerDetails?.fontOfSign?.value"
                style="font-size: 50px"
              >
                {{ providerDetails?.textOfSign?.value }}
              </td>
              <td
                *ngIf="
                  (providerDetails && !providerDetails.textOfSign) ||
                  action === 'add'
                "
              >
                <button
                  mat-raised-button
                  color="primary"
                  (click)="signature('add')"
                >
                  Signature
                </button>
              </td>
            </tr>
          </table>
        </div>
      </mat-card>
    </div>
  <!-- </div> -->
</ng-container>
