.raise-ticket-modal {
  font-family: DM Sans;

  .modal-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    width: 100%;
    height: 70px;
    background: #EFE8FF;

    h6 {
      font-weight: bold;
      font-size: 20px;
      color: #1B163A;
    }

    .modal-close-btn {
      border: none;
      background: transparent;
    }
  }

  .modal-body {
    padding: 24px;
  }
}

.cancel-btn {
  padding: 8px 24px;
  min-width: 119px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #EFE8FF;
  border-radius: 8px;
  font-size: 18px;
  line-height: 150%;
  color: #2E1E91;
  font-weight: bold;
  margin: 5px;
}

.red-btn {
  padding: 8px 24px;
  min-width: 139px;
  height: 48px;
  background: #FFE8E8;
  border: 1px solid #FFE8E8;
  border-radius: 8px;
  font-size: 18px;
  line-height: 150%;
  color: #FF475D;
  font-weight: bold;
  margin: 5px;
}

.blue-btn {
  padding: 8px 24px;
  min-width: 139px;
  height: 48px;
  background: #EFE8FF;
  border: 1px solid #EFE8FF;
  border-radius: 8px;
  font-size: 18px;
  line-height: 150%;
  color: #2E1E91;
  font-weight: bold;
  margin: 5px;
}

.confirm-btn {
  padding: 8px 24px;
  min-width: 119px;
  height: 48px;
  background: #2E1E91;
  border: 1px solid #2E1E91;
  border-radius: 8px;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  font-weight: bold;
  margin: 5px;
}

@media (max-width: 768px) {
  .raise-ticket-modal {

    .modal-title {
      padding: 24px 16px;
    }

    .modal-body {
      padding: 16px;
    }
  }
}

.form-group {
  label {
    font-size: 14px;
    color: #1B163A;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .error-msg {
    color: red;
  }
}

.form-control {
  padding: 14px 16px;
  background: #FAF9FF;
  border: 1px solid rgba(178, 175, 190, 0.2);
  border-radius: 8px;
  height: 48px;
  font-size: 16px;
  color: #1B163A;
}

textarea.form-control {
  height: fit-content;
}

.form-control:focus {
  box-shadow: none;
}

.pretty .state label {
  font-size: 16px !important;
}
