<h4>{{ 'Setup your Signature'| translate }} <a style="float: right;cursor: pointer;" (click)="onClose()" class="material-icons">clear</a></h4>
<br>
<form [formGroup]="addSignatureForm">
  <div class="input-group">
    <mat-form-field class="example-full-width">
      <input
        matInput
        placeholder=" {{ 'Enter Text' | translate }}"
        [(ngModel)]="name"
        formControlName="text"
      />
    </mat-form-field>
  </div>
  <div class="sign">
    <input type="radio" value="1" formControlName="signature" /><span
      class="sign1" [style.font-family]="getFontfamily(1)"
    >
      {{ name }}</span
    >
  </div>
  <br />
  <div class="sign">
    <input type="radio" value="2" formControlName="signature" /><span
    class="sign1" [style.font-family]="getFontfamily(2)"
    >
      {{ name }}</span
    >
  </div>
  <br />
  <div class="sign">
    <input type="radio" value="3" formControlName="signature" /><span
    class="sign1" [style.font-family]="getFontfamily(3)"
    >
      {{ name }}</span
    >
  </div>
  <br />
  <div class="sign">
    <input type="radio" value="4" formControlName="signature" /><span
    class="sign1" [style.font-family]="getFontfamily(4)"
    >
      {{ name }}</span
    >
  </div>
  <br />
  <button mat-raised-button color="primary" (click)="onSubmit()">{{ 'Select' |translate }}</button>
</form>
