<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="admin-sidenav" [mode]="_mode" [opened]="_opened">
    <div class="menu-items-wrapper" [ngClass]="{ 'collapsed' : collapsed }">
      <div class="sidenav-logo">
        <div class="sidenav-toggle">
          <button type="button" (click)="collapsed = !collapsed">
            <img [src]="getUrl()" alt="">
          </button>
        </div>
        <img src="assets/images/Intelehealth-logo-white.png" alt="" width="100%" *ngIf="!collapsed">
        <img src="assets/images/Intelehealth-logo-white2.png" alt="" width="100%" *ngIf="collapsed">
      </div>
      <ul class="admin-nav">
        <li class="nav-item" *ngxPermissionsExcept="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" routerLink="/dashboard" routerLinkActive="active">
            <img src="assets/svgs/menu-home.svg" alt="">
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item" *ngxPermissionsExcept="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" routerLink="/messages" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/svgs/menu-message.svg" alt="">
            <span>Messages</span>
          </a>
        </li>
        <li class="nav-item" *ngxPermissionsExcept="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" routerLink="/appointments" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/svgs/menu-video.svg" alt="">
            <span>Appointment</span>
          </a>
        </li>
        <li class="nav-item" *ngxPermissionsExcept="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" routerLink="/calendar" routerLinkActive="active">
            <img src="assets/svgs/menu-calendar.svg" alt="">
            <span>Calendar</span>
          </a>
        </li>
        <li class="nav-item" *ngxPermissionsExcept="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" routerLink="/prescription" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/svgs/menu-treatment.svg" alt="">
            <span>Prescription</span>
          </a>
        </li>
        <li class="nav-item" *ngxPermissionsExcept="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" routerLink="/help" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/svgs/menu-info.svg" alt="">
            <span>Help & Support</span>
          </a>
        </li>
        <li class="nav-item" *ngxPermissionsOnly="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/svgs/warning.svg" alt="">
            <span>Ayu</span>
          </a>
        </li>
        <li class="nav-item" *ngxPermissionsOnly="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" routerLink="/admin/support" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/svgs/menu-info.svg" alt="">
            <span>Support <div class="dot" *ngIf="adminUnread">{{adminUnread}}</div> </span>
          </a>
        </li>
        <li class="nav-item" *ngxPermissionsOnly="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" href="{{ baseURLLegacy }}/admin/index.htm" target="_blank">
            <img src="assets/svgs/user-settings.svg" alt="">
            <span>System Admin</span>
          </a>
        </li>
        <li class="nav-item" *ngxPermissionsOnly="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" href="{{ baseURLLegacy }}/admin/users/users.list" target="_blank">
            <img src="assets/svgs/add-user.svg" alt="">
            <span>User Creation</span>
          </a>
        </li>
        <li class="nav-item" *ngxPermissionsOnly="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link"  href="{{ baseURLLegacy }}/reportingui/reportsapp/home.page" target="_blank">
            <img src="assets/svgs/report.svg" alt="">
            <span>Report</span>
          </a>
        </li>
        <li class="nav-item" (click)="toggleSidebar()">
          <mat-divider class="mb-2"></mat-divider>
          <a class="nav-item-link" href="javascript:void(0)" (click)="logout()">
            <img src="assets/svgs/power.svg" alt="">
            <span>Log-out</span>
          </a>
        </li>
      </ul>
    </div>
  </mat-drawer>

  <div class="admin-sidenav-content">
    <div class="header-main">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="javascript:void(0)">
          <button class="mr-2" mat-icon-button (click)="drawer.toggle()" *ngIf="isMobile">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="header-title d-flex justify-content-between align-items-center" *ngIf="header?.title">
            <ng-container *ngIf="header.title != 'Dashboard'">
              <img src="{{header?.imgUrl}}" alt="" width="44px">
              <h6 class="mb-0 ml-2">{{header?.title}}</h6>
              <mat-icon *ngIf="header?.info" aria-hidden="false" aria-label="help icon">help_outline</mat-icon>
            </ng-container>
            <ng-container *ngIf="header.title == 'Dashboard'">
              <form [formGroup]="searchForm">
                <div class="input-group">
                    <input type="text" class="form-control" formControlName="keyword" placeholder="Search patient" aria-label="Username" aria-describedby="basic-addon1" (keyup.enter)="search()">
                    <div class="input-group-append">
                      <span class="input-group-text click" id="basic-addon1" (click)="search()">
                        <img src="assets/svgs/search-icon.svg" alt="" width="20px" height="20px">
                      </span>
                    </div>
                </div>
              </form>
            </ng-container>
          </div>
          <nav aria-label="breadcrumb" *ngIf="!header?.title">
            <ol class="breadcrumb">
              <ng-container *ngFor="let breadcrumb of breadcrumbs; let last=last;">
                <li class="breadcrumb-item" *ngIf="!last">
                  <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
                </li>
                <li class="breadcrumb-item" aria-current="page" *ngIf="last">
                  {{ breadcrumb.label }}
                </li>
              </ng-container>
            </ol>
          </nav>
        </a>
        <button class="navbar-toggler" type="button" mat-icon-button data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <div class="d-flex align-items-center justify-content-end">
                <button mat-button class="notification-button mr-1" (click)="openHelpMenu()" *ngxPermissionsExcept="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']">
                  <mat-icon>help_outline</mat-icon>
                </button>
                <button mat-button class="notification-button mr-3">
                  <mat-icon>notifications_none</mat-icon>
                </button>
                <div class="user-info-wrap mr-3" routerLink="/dashboard/profile">
                  <img class="user-img mr-3" src="{{ baseUrl + '/personimage/' + provider?.person.uuid }}" (error) ="onImgError($event)" alt="">
                  <h6 class="user-title mb-0">Hello, {{(user)? user?.person?.display : 'User'}} <img src="assets/images/Waving-Hand-Emoji.png" height="100%"></h6>
                </div>
                <button mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="before" class="profile-dropdown">
                  <button mat-menu-item (click)="changePassword()">Change Password</button>
                  <button mat-menu-item (click)="selectLanguage()">Change Language</button>
                  <button mat-menu-item routerLink="/dashboard/profile">Profile</button>
                </mat-menu>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="main-container">
      <router-outlet></router-outlet>
      <div class="help-menu-container" *ngIf="routeUrl.includes('/help') && !dialogRef">
        <button class="help-btn" type="button" (click)="openHelpMenu()">Help</button>
      </div>
    </div>
  </div>
</mat-drawer-container>
