.sidenav-container {
  width: 100%;
  height: 100vh;
  background: white;
  overflow: visible;
}

.admin-sidenav-content {
  height: 100%;
  padding: 0px;
  font-family: DM Sans;
  overflow-y: auto;

  .header-main {
    position: sticky;
    top: 0px;
    background: #FFFFFF;
    padding: 0px;
    z-index: 999;

    .navbar {
      padding: 10px 20px;

      .navbar-brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: default;
      }
    }

    .header-title {
      .mat-icon {
        height: 20px;
        width: 20px;
        font-size: 20px;
        color: #2E1E91;
        margin-left: 8px;
      }

      h6 {
        font-size: 24px;
        font-weight: bold;
      }

      .input-group {
        background: #FAF9FF;
        border: 2px solid rgba(178, 175, 190, 0.2);
        border-radius: 8px;
        height: 52px;
        align-items: center;
        max-width: 60vw;

        .input-group-text {
          background: none;
          border: none;
        }

        .form-control {
          border: none;
          outline: none;
          background: transparent;
          font-size: 16px;
          line-height: 150%;
          padding-left: 16px;
        }

        .form-control:focus {
          box-shadow: none;
        }
      }
    }

    .notification-button {
      width: 44px;
      min-width: 44px;
      height: 44px;
      background: #EFE8FF;
      border-radius: 12px;
      padding: 0px;

      .mat-icon {
        height: 20px;
        width: 20px;
        font-size: 20px;
        color: #2E1E91;
      }
    }

    .user-info-wrap {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-end;
      flex-wrap: nowrap;
      cursor: pointer;

      .user-img {
        border-radius: 50%;
        width: 44px;
        height: 44px;
      }

      .user-title {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }

  .main-container {
    padding: 20px 20px 100px;
  }
}

::ng-deep .profile-dropdown {
  background: #FFFFFF;
  box-shadow: 0px 7px 30px rgba(37, 46, 75, 0.06);
  border-radius: 8px !important;

  .mat-menu-item {
    font-family: DM Sans;
    font-size: 16px;
    border-bottom: 1px solid rgba(178, 175, 190, 0.2);
  }

  .mat-menu-item:hover {
    background: transparent;
  }

  .mat-menu-item:last-child {
    border-bottom: none;
  }
}

.admin-sidenav {
  padding: 10px;
  border: none;
  overflow: visible;
}

.menu-items-wrapper.collapsed {
  width: 78px;
}

.menu-items-wrapper.collapsed .sidenav-logo {
  padding: 30px 25px !important;
}

.menu-items-wrapper.collapsed .admin-nav .nav-item .nav-item-link {
  padding: 10px !important;
  justify-content: center;

  span {
    display: none;
  }
}

.menu-items-wrapper {
  background: #2E1E91;
  border-radius: 12px;
  width: 278px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: visible;

  .sidenav-logo {
    width: 100%;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: visible;
    min-height: 121px;

    .sidenav-toggle {
      position: absolute;
      top: 50%;
      right: -17px;
      width: 34px;
      height: 34px;
      background: #FFFFFF;
      border: none;
      box-shadow: 0px 0px 16px rgba(46, 30, 145, 0.32);
      border-radius: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        width: 100%;
        height: 100%;
        border: none;
        background: none;
        outline: none;
      }
    }
  }

  .admin-nav {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0px 15px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;

    .nav-item:last-child {
      margin-top: auto;
    }

    .nav-item {
      width: 100%;
      height: 52px;
      border-radius: 8px;
      margin-bottom: 5px;

      .mat-divider {
        border-top-width: 2px;
        border-top-color: #EFE8FF;
        opacity: 0.48;
      }

      .nav-item-link:hover {
        background: #4B39B7;
      }

      .nav-item-link.active {
        background: #4B39B7;
      }

      .nav-item-link {
        text-decoration: none;
        border-radius: 8px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 0px 20px;

        span {
          font-family: 'DM Sans';
          font-style: normal;
          font-size: 16px;
          font-weight: 500;
          color: #FFFFFF;
          width: 100%;
          padding: 0px 20px;
        }
      }

    }
  }
}

@media (max-width: 768px) {
  .header-title {
    h6 {
      font-size: 18px !important;
    }

    img {
      height: 36px;
    }
  }
}

.breadcrumb {
  background: none;
  padding: 0px;
  color: #1B163A;
  font-family: DM Sans;
  font-size: 16px;
  line-height: 150%;
  color: #1B163A;
  margin-bottom: 0px;

  a {
    text-decoration: none;
    color: #7F7B92;
  }
}
