<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="admin-sidenav" [mode]="_mode" [opened]="_opened">
    <div class="menu-items-wrapper" [ngClass]="{ 'collapsed' : collapsed }">
      <div class="sidenav-logo">
        <div class="sidenav-toggle">
          <button type="button" (click)="collapsed = !collapsed">
            <img [src]="getUrl()" alt="">
          </button>
        </div>
        <div class="ezazi-logo d-flex flex-row justify-content-center align-items-center" *ngIf="!collapsed">
          <img src="assets/ezazi/ezazi-logo-new.png" alt="" height="60px">
          <!-- <h1 class="mb-0 ml-2">eZazi</h1> -->
        </div>
        <img src="assets/ezazi/ezazi-sm-logo.svg" alt="" width="80%" *ngIf="collapsed">
      </div>
      <ul class="admin-nav">
        <li class="nav-item" (click)="toggleSidebar()">
          <a class="nav-item-link" routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img class="i1" src="assets/svgs/home-blue.svg" alt="">
            <img class="i2" src="assets/svgs/home-white.svg" alt="">
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item" (click)="toggleSidebar()">
          <a class="nav-item-link" routerLink="/dashboard/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img class="i1" src="assets/svgs/user-blue.svg" alt="">
            <img class="i2" src="assets/svgs/user-white.svg" alt="">
            <span>My Profile</span>
          </a>
        </li>
        <li class="nav-item" (click)="toggleSidebar()">
          <a class="nav-item-link" routerLink="/dashboard/change-password" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img class="i1" src="assets/svgs/lock-blue.svg" alt="">
            <img class="i2" src="assets/svgs/lock-white.svg" alt="">
            <span>Change Password</span>
          </a>
        </li>
        <li class="nav-item" (click)="toggleSidebar()" *ngIf="routeUrl == '/dashboard'">
          <a class="nav-item-link" (click)="startTour()">
            <img class="i1" src="assets/svgs/info-blue.svg" alt="">
            <img class="i2" src="assets/svgs/info-white.svg" alt="">
            <span>Help</span>
          </a>
        </li>
        <!-- <li class="nav-item" *ngxPermissionsOnly="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img src="assets/svgs/warning.svg" alt="">
            <span>Ayu</span>
          </a>
        </li> -->
        <li class="nav-item" *ngxPermissionsOnly="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" routerLink="/admin/support" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <img class="i1" src="assets/svgs/info-blue.svg" alt="">
            <img class="i2" src="assets/svgs/info-white.svg" alt="">
            <span>Support <div class="dot" *ngIf="adminUnread">{{adminUnread}}</div></span>
          </a>
        </li>
        <li class="nav-item" *ngxPermissionsOnly="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" href="{{ baseURLLegacy }}/admin/index.htm" target="_blank">
            <img class="i1" src="assets/svgs/user-settings-2.svg" alt="">
            <img class="i2" src="assets/svgs/user-settings.svg" alt="">
            <span>System Admin</span>
          </a>
        </li>
        <li class="nav-item" *ngxPermissionsOnly="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link" href="{{ baseURLLegacy }}/admin/users/users.list" target="_blank">
            <img class="i1" src="assets/svgs/add-user-2.svg" alt="">
            <img class="i2" src="assets/svgs/add-user.svg" alt="">
            <span>User Creation</span>
          </a>
        </li>
        <li class="nav-item" *ngxPermissionsOnly="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']" (click)="toggleSidebar()">
          <a class="nav-item-link"  href="{{ baseURLLegacy }}/reportingui/reportsapp/home.page" target="_blank">
            <img class="i1" src="assets/svgs/report-2.svg" alt="">
            <img class="i2" src="assets/svgs/report.svg" alt="">
            <span>Report</span>
          </a>
        </li>
        <li class="nav-item" (click)="toggleSidebar()">
          <mat-divider class="mb-2"></mat-divider>
          <a class="nav-item-link" href="javascript:void(0)" (click)="logout()">
            <img class="i1" src="assets/svgs/power-blue.svg" alt="">
            <img class="i2" src="assets/svgs/power-white.svg" alt="">
            <span>Log-out</span>
          </a>
        </li>
      </ul>
    </div>
  </mat-drawer>

  <div class="admin-sidenav-content">
    <div class="header-main">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="javascript:void(0)">
          <button class="mr-2" mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <div class="header-title d-flex justify-content-between align-items-center" *ngIf="header?.title">
            <ng-container *ngIf="header.title != 'Dashboard'">
              <img src="{{header?.imgUrl}}" alt="" width="44px">
              <h6 class="mb-0 ml-2">{{header?.title}}</h6>
              <mat-icon *ngIf="header?.info" aria-hidden="false" aria-label="help icon">help_outline</mat-icon>
            </ng-container>
            <ng-container *ngIf="header.title == 'Dashboard'">
              <form [formGroup]="searchForm">
                <div class="input-group search-bar">
                    <input type="text" class="form-control" formControlName="keyword" placeholder="Search by patient name or ID" aria-label="Username" aria-describedby="basic-addon1" (keyup.enter)="search()">
                    <div class="input-group-append">
                      <span class="input-group-text click" id="basic-addon1" (click)="search()">
                        <img src="assets/svgs/search-icon.svg" alt="" width="20px" height="20px">
                      </span>
                    </div>
                </div>
              </form>
            </ng-container>
          </div>
          <nav aria-label="breadcrumb" *ngIf="!header?.title">
            <ol class="breadcrumb">
              <ng-container *ngFor="let breadcrumb of breadcrumbs; let last=last;">
                <li class="breadcrumb-item" *ngIf="!last">
                  <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
                </li>
                <li class="breadcrumb-item" aria-current="page" *ngIf="last">
                  {{ breadcrumb.label }}
                </li>
              </ng-container>
            </ol>
          </nav>
        </a>
        <button class="navbar-toggler" type="button" mat-icon-button data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <div class="d-flex align-items-center justify-content-end">
                <!-- <button mat-button class="notification-button mr-1" (click)="openHelpMenu()" *ngxPermissionsExcept="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']">
                  <mat-icon>help_outline</mat-icon>
                </button> -->
                <button mat-button [matMenuTriggerFor]="notificationmenu" class="notification-button mr-3">
                  <!-- <mat-icon *ngIf="!snoozeTimeout">notifications_none</mat-icon>
                  <mat-icon *ngIf="snoozeTimeout">notifications_off</mat-icon> -->
                  <mat-icon *ngIf="notificationEnabled">notifications_none</mat-icon>
                  <mat-icon *ngIf="!notificationEnabled">notifications_off</mat-icon>
                </button>
                <mat-menu #notificationmenu="matMenu" class="notification-menu">
                  <button mat-menu-item (click)="setNotification('30m')">Do Not Disturb</button>
                  <button mat-menu-item (click)="setNotification('30m')">30 Minutes</button>
                  <button mat-menu-item (click)="setNotification('1h')">1 Hour</button>
                  <button mat-menu-item (click)="setNotification('2h')">2 Hours</button>
                  <button mat-menu-item (click)="setNotification('custom')">Custom</button>
                  <button mat-menu-item (click)="setNotification('off')" *ngIf="snoozeTimeout">Turn Off</button>
                  <button mat-menu-item class="subscribe" (click)="subscribeNotification(false)" *ngIf="!subscribed">Subscribe</button>
                </mat-menu>
                <div class="user-info-wrap mr-3" routerLink="/dashboard/profile">
                  <img class="user-img mr-3" src="{{ baseUrl + '/personimage/' + provider?.person.uuid }}" (error) ="onImgError($event)" alt="">
                  <h6 class="user-title mb-0">Hello, {{(user)? user?.person?.display : 'User'}} <img src="assets/images/Waving-Hand-Emoji.png" height="100%"></h6>
                </div>
                <!-- <button mat-icon-button [matMenuTriggerFor]="beforeMenu" aria-label="Example icon button with a vertical three dot icon">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #beforeMenu="matMenu" xPosition="before" class="profile-dropdown">
                  <button mat-menu-item (click)="changePassword()">Change Password</button>
                  <button mat-menu-item (click)="selectLanguage()">Change Language</button>
                  <button mat-menu-item routerLink="/dashboard/profile">Profile</button>
                </mat-menu> -->
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="main-container">
      <router-outlet></router-outlet>
      <div class="help-menu-container" *ngxPermissionsExcept="['ORGANIZATIONAL: SYSTEM ADMINISTRATOR']">
        <button class="help-btn" type="button" (click)="openHelpMenu()" *ngIf="!(routeUrl.includes('/visit-summary/')) && !dialogRef">Help <div class="dot" *ngIf="adminUnread">{{adminUnread}}</div></button>
      </div>
    </div>
  </div>
</mat-drawer-container>
