<ng-template #modalContent let-close="close" data-target="static">
  <div class="modal-main-container">
    <div class="p-3">
      <div (click)="close()" class="cross position-absolute click">
        <img src="assets/svgs/cross.svg" />
      </div>
      <div class="circle w-100 d-flex justify-content-center">
        <img
          class="main-img-bg position-absolute"
          [src]="modal.circleIconPath"
        />
      </div>

      <div class="main-title w-100">
        <div class="main-txt d-flex justify-content-center text-center">
          {{ modal?.mainText }}
        </div>
        <div class="sub-text d-flex justify-content-center text-center">
          {{ modal?.subText }}
        </div>
      </div>

      <div
        *ngIf="modal?.timings"
        class="d-flex justify-content-center re-appointment my-1"
      >
        <div class="d-grid gap-2">
          <div class="font-bold">{{ modal?.timings?.fromDate | date: 'dd MMMM'}}</div>
          <div class="font-bold">{{ modal?.timings?.fromTime }}</div>
        </div>
        <div class="grey-color font-bold">to</div>
        <div class="d-grid gap-2">
          <div class="font-bold">{{ modal?.timings?.toDate | date: 'dd MMMM'}}</div>
          <div class="font-bold">{{ modal?.timings?.toTime  | lowercase}}</div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <div class="btns left-btn click" (click)="modal.leftBtnOnClick();close()">
          {{ modal?.leftBtnText }}
        </div>
        <div class="btns right-btn click" (click)="modal.rightBtnOnClick();close()">
          {{ modal?.rightBtnText }}
        </div>
      </div>
    </div>
  </div>
</ng-template>
