<div class="personal-info-container" *ngIf="!moveTo">
  <div class="personal-info-form">
    <div class="header">
      <div class="col-left">
        <span class="circle">1</span>
        <label class="text">Personal information</label>
      </div>
      <img src="../../../assets/icons/dashboard-icons/Vector2.png" alt="" />
      <div class="col-right">
        <div class="circle">2</div>
        <label class="text">Professional details</label>
      </div>
      <hr />
    </div>
    <div class="form-body">
      <form class="grid-container">
        <div class="user-name">
          <div class="first-name">
            <label class="lbl lbl-firstName">First name *</label>
            <input
              type="text"
              class="txt"
              id="firstName"
              name="firstName"
              placeholder="Enter first name"
            />
          </div>
          <div class="middle-name">
            <label class="lbl lbl-middleName">Middle name *</label>
            <input
              type="text"
              class="txt"
              id="middleName"
              name="middleName"
              placeholder="Enter middle name"
            />
          </div>
          <div class="last-name">
            <label class="lbl lbl-lastName">Last name *</label>
            <input
              type="text"
              class="txt"
              id="lastName"
              name="lastName"
              placeholder="Enter last name"
            />
          </div>
        </div>
        <div class="user-gender">
          <div class="gender">
            <label class="lbl lbl-gender">Gender *</label>
            <div class="options">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio1"
                  value="option1"
                />
                <label class="form-check-label" for="inlineRadio1">Male</label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio2"
                  value="option2"
                />
                <label class="form-check-label" for="inlineRadio2"
                  >Female</label
                >
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="inlineRadioOptions"
                  id="inlineRadio3"
                  value="option3"
                />
                <label class="form-check-label" for="inlineRadio3">Other</label>
              </div>
            </div>
          </div>
          <div class="user-age">
            <div class="userDOB">
              <label class="lbl-age lbl-userDOB">Date of birth</label>
              <input
                type="text"
                class="txt"
                id="user-dob"
                placeholder="Date of birth"
              />
            </div>
            <div class="age">
              <label for="age" class="lbl-age lbl-userAge">Age</label>
              <input
                type="text"
                class="total-age"
                id="user-age"
                placeholder="Age"
              />
            </div>
          </div>
        </div>
        <div class="user-contact">
          <div class="phoneNo">
            <label class="lbl lbl-phoneNo">Phone Number</label>
            <select name="mobilecode" id="mobilecode" class="code-dropdown">
              <option value="" selected="selected">+ 91</option>
              <option value="">+ 61</option>
            </select>
            <input type="number" class="number-box" id="phoneNo" />
          </div>
          <div class="whatsappNo">
            <label class="lbl lbl-whatsappNo">Phone Number</label>
            <select name="mobilecode" id="mobilecode" class="code-dropdown">
              <option value="" selected="selected">+ 91</option>
              <option value="">+ 61</option>
            </select>
            <input type="number" class="number-box" id="whatsappNo" />
          </div>
        </div>
        <div class="user-emailID">
          <div class="emailID">
            <label class="lbl lbl-email">Email ID *</label>
            <input type="text" class="email-box" id="email-ID" />
          </div>
        </div>
        <div class="signature-header">
          <h2>Add signature</h2>
        </div>
        <div class="add-signature">
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Draw">
              <div class="draw-signature">
                <label class="lbl lbl-email">Draw signature *</label>
                <button (click)="clearPad()">clear sign</button>
                <canvas #canvas (touchstart)="startDrawing($event)"></canvas>
              </div>
            </mat-tab>
            <mat-tab label="Generate">
              <div class="generate">
                <div class="sign-text">
                  <label class="lbl-sign lbl-userAge">Signature letters*</label>
                  <input class="signText" matInput placeholder="Enter Text" />
                </div>
                <div class="signature-option">
                  <label class="lbl lbl-signature">Select signature</label>
                  <select
                    name="signature"
                    id="signature-dropdown"
                    class="signature-dropdown"
                  >
                    <option value="" selected="selected">
                      <input type="radio" value="1" />
                      <span
                        style="font-family: arty; font-size: 50px; top: -20px"
                      >
                        intelehealth
                      </span>
                    </option>
                    <option value="">
                      <input type="radio" value="2" />
                      <span
                        style="font-family: asem; font-size: 50px; top: -25px"
                      >
                        intelehealth
                      </span>
                    </option>
                    <option value="">
                      <input type="radio" value="3" />
                      <span
                        style="
                          font-family: youthness;
                          font-size: 50px;
                          top: -20px;
                        "
                      >
                        intelehealth
                      </span>
                    </option>
                    <option value="">
                      <input type="radio" value="4" />
                      <span
                        style="
                          font-family: almondita;
                          font-size: 30px;
                          top: -10px;
                        "
                      >
                        intelehealth
                      </span>
                    </option>
                    <option value="">intelehealth</option>
                    <option value="">intelehealth</option>
                    <option value="">intelehealth</option>
                  </select>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Upload">
              <div class="uploadFiles">
                <button class="file" (click)="inputField.click()">
                  <img src="../../../../assets/icons/dashboard-icons/Frame 100175.png" alt="">
                </button>
                <div class="text-content">
                  <p class="text">Upload a scanned image of your signature. Image size(5kb to 50kb)</p>
                </div>
                <input #inputField hidden type="file"/>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="para">
          <p class="para-text">
            By signing this document with an electronic signature, I agree that such signature will be as valid as handwritten signatures to the extent allowed by local law.
          </p>
        </div>
        <div class="nextbtn" (click)="toggleCollapse()">
          <button type="submit" class="btn-darkblue next-btn">Next</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div>
  <!-- professional form -->
  <app-professional-details *ngIf="moveTo" (onToggleBack)="onToggleBack($event)"></app-professional-details>
</div>