<h4><i class="material-icons">phone</i> Past Calls</h4>
<hr>
<div>
    <div class="calls-flex">
        <h5>Date</h5>
        <h5>Status</h5>
        <h5>Notes</h5>
    </div>
    <div *ngFor="let status of allStatus">
        <div class="calls-flex">
            <div>
                {{status.date | date: 'dd-MMM-yyyy'}}
            </div>
            <div>
                {{status.value}}
            </div>
            <div>
                {{status.note}}
            </div>
        </div>
    </div>
</div>