<button type="button" class="modal-close-btn" mat-dialog-close data-test-id="btnClose">
  <img src="assets/svgs/modal-close-icon.svg" alt="" width="100%">
</button>
<div mat-dialog-title>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <h6 class="mb-0 font-weight-bold">{{'Help' | translate}}</h6>
  </div>
</div>
<mat-dialog-content>
  <ul class="chat-item-list">
    <ng-container *ngFor="let m of messages; let first = first">
      <li class="chat-item read-status" [class.text-left]="m?.from === 'System Administrator'">
        <span class="mr-1">{{m.createdAt | amDateFormat : "LT"}}</span>
        <ng-container *ngIf="first && m?.from === user?.uuid">
          <ng-container *ngIf="m.isRead">
            <img src="assets/svgs/read-status.svg" alt="" width="12px"> {{'Read' | translate}}
          </ng-container>
          <ng-container *ngIf="!m.isRead">
            <img src="assets/svgs/sent-status.svg" alt="" width="12px"> {{'Sent' | translate}}
          </ng-container>
        </ng-container>
      </li>
      <li class="chat-item" [class.left]="m.from == user.uuid">{{m.message}}</li>
    </ng-container>

  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <input type="text" placeholder="{{'Type here'|translate}}" class="mr-2" [(ngModel)]="message" (keyup.enter)="sendMessage()" data-test-id="etChatMessage">
  <button class="send-btn" (click)="sendMessage()" data-test-id="btnSendMessage">
    <mat-icon aria-hidden="false" aria-label="send icon">{{'send'|translate}}</mat-icon>
  </button>
</mat-dialog-actions>
