<button type="button" class="modal-close-btn" mat-dialog-close>
  <img src="assets/svgs/modal-close-icon.svg" alt="" width="100%">
</button>
<div mat-dialog-title>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <h6 class="mb-0 font-weight-bold">Help</h6>
    <div class="d-flex">
      <img src="assets/svgs/whatsapp-help-icon.svg" class="mr-2" alt="" width="24px">
      <img src="assets/svgs/phone-help-icon.svg" alt="" width="24px">
    </div>
  </div>
</div>
<mat-dialog-content>
  <ul class="chat-item-list">
    <!-- <li class="chat-item timestamp-item">Mon at 5:30 PM</li>
    <li class="chat-item left">Hi! How to change language?</li>
    <li class="chat-item">Go to My profile where there is a Change language option. From that list select the preferred language.</li>
    <li class="chat-item timestamp-item">Mon at 5:41 PM</li>
    <li class="chat-item left">Hey! I am unable send prescriptions</li> -->
    <li class="chat-item read-status" *ngIf="messages.length"><img src="assets/svgs/read-status.svg" alt="" width="12px"> Read</li>
    <li class="chat-item left" *ngFor="let m of messages;">{{m}}</li>
  </ul>
</mat-dialog-content>
<mat-dialog-actions>
  <input type="text" placeholder="Type Here" class="mr-2" [(ngModel)]="message" (keyup.enter)="addMessage()">
  <button class="send-btn" (click)="addMessage()">
    <mat-icon aria-hidden="false" aria-label="send icon">send</mat-icon>
  </button>
</mat-dialog-actions>
