<div class="main-container">
  <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
      <button class="logo" (click)="toggleCollapse()" (click)="iconMove()">
        <img
          [src]="
            changeSide
              ? '../../../assets/icons/dashboard-icons/Vector2.png'
              : '../../../assets/icons/dashboard-icons/Vector.png'
          "
        />
      </button>
      <div class="logo-img" *ngIf="collapsed">
        <img src="../../../assets/images/Intelehealth-logo-white.png" />
      </div>
      <div class="logo-icon" *ngIf="!collapsed">
        <img src="../../../assets/images/Intelehealth-logo-white2.png" />
      </div>
    </div>
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          routerLink="/dashboard"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="../../../assets/icons/dashboard-icons/home.png" />
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
            Dashboard
          </span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="../../../assets/icons/dashboard-icons/message-circle.png" />
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
            Messages
          </span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="../../../assets/icons/dashboard-icons/video.png" />
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
            Appointment
          </span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          routerLink="/dashboard/calendar"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img
            src="../../../assets/icons/dashboard-icons/icons8-calendar 2.png"
          />
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
            Calendar
          </span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img
            src="../../../assets/icons/dashboard-icons/icons8-treatment 1.png"
          />
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
            Prescription
          </span>
        </a>
      </li>
      <li class="sidenav-nav-item">
        <a
          class="sidenav-nav-link"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="../../../assets/icons/dashboard-icons/info.png" />
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
            Help & Support
          </span>
        </a>
      </li>
      <li class="sidenav-nav-item" style="margin-top: 18rem">
        <hr />
        <a
          class="sidenav-nav-link"
          routerLink=""
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <img src="../../../assets/icons/dashboard-icons/power.png" />
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
            Log-out
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
