.sidenav {
  position: absolute;
  width: 5rem;
  height: 876px;
  left: 12px;
  top: 12px;
  border-radius: 12px;
  background: #2e1e91;
  transition: all 0.5s ease;
  top: 10;

  .logo {
    position: absolute;
    box-sizing: border-box;

    top: 8%;
    right: -13px;
    height: 33px;
    width: 33px;

    background: #ffffff;
    box-shadow: 0px 0px 16px rgba(46, 30, 145, 0.32);
    border-radius: 50%;
    border: none;
  }

  .logo img {
    position: absolute;
    top: 9px;
    left: 12px;
  }

  .logo-container {
    display: flex;
    align-items: center;
    padding: 0.938rem 0.938rem 0 0.938rem;
    width: 100%;

    .logo-img img {
      margin-left: 2rem;
      width: 167.5px;
      margin-top: 30px;
    }

    .logo-icon img {
      width: 24px;
      height: 40px;
      margin-left: 0.8rem;
      margin-top: 30px;
    }
  }
}
.sidenav-collapsed {
  width: 16.5625rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  .sidenav-nav-item {
    width: 100%;
    margin-bottom: 0.625rem;

    .sidenav-nav-link {
      display: flex;
      align-items: center;
      height: 3rem;
      color: #f3f3f3;
      text-decoration: none;
      border-radius: 0.625rem;
      transition: all 0.3s ease;

      img {
        margin: 1rem;
      }
    }
  }
  .sidenav-nav-item:hover {
    .sidenav-nav-link {
      background-color: #4b39b7;
    }
  }
}

.active {
  background-color: #4b39b7;
}

hr {
  opacity: 0.48;
  border: 1px solid #efe8ff;
}
