<div class="admin-form">
  <div class="header top">
    <div class="license-key">
      <div class="title">Select license key</div>
      <div class="select">
        <ng-select
          [(ngModel)]="selectedLicense"
          (change)="licenceKeySelecter()"
          [clearable]="false"
        >
          <ng-option *ngFor="let mindmap of mindmaps" [value]="mindmap.keyName">
            {{ mindmap.keyName }}
          </ng-option>
        </ng-select>
      </div>
    </div>
    <div class="expiry-date">
      <div class="title">Expiry date</div>
      <div class="date">
        {{ expiryDate | date: "dd MMM, yyyy" }}
        <button class="edit" (click)="editExpiryDate()">
          <img width="16px" src="assets/svgs/edit.svg"/>
          Edit
        </button>
      </div>
    </div>
    <div class="add-new-key">
      <button type="submit" class="add-btn" (click)="addKey()">
        <img width="20px" src="assets/svgs/plus.svg"/>
        Add new key
      </button>
    </div>
  </div>

  <div class="main ml-3">
    <div class="header d-flex">
      <div class="mindmaps-label">Associated mindmaps(9 Modules)</div>
      <button class="add-btn mt-2" type="submit" class="add-btn" (click)="addMindmap()">
        <img src="assets/svgs/plus.svg"/> Add Mindmaps
      </button>
    </div>
    <div class="table">
      <table class="table table-borderless w-100">
        <tr class="table-color-th">
          <th
            [class]="header?.headerClass"
            *ngFor="let header of table?.headers"
          >
            {{ header?.name }}
          </th>
        </tr>
        <tr class="table-height" *ngFor="let value of mindmapDatas">
          <td class="vr vr-select">
              <img src="/assets/svgs/frame.svg"/>
          </td>
          <td class="vr vr-number">
            <div>{{ value.id }}</div>
          </td>
          <td class="vr patientName">
            <div>{{ value.name }}</div>
          </td>
          <td class="vr vr-date">
            <div>{{ value.updatedAt | date: "dd MMM, yyyy" }}</div>
          </td>
          <td class="vr activeStatus">
            <img src="/assets/svgs/toggle.svg"/>
          </td>
          <td class="vr download">
            <img src="/assets/svgs/downloading.svg"/>
          </td>
          <td class="vr">
            <img src="assets/svgs/info.svg"/>
          </td>
        </tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[5, 10, 25, 100]"
        [pageSize]="5"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </div>
</div>
