<div class="title-con position-relative" mat-dialog-title>
  <div *ngIf="!isDownloadPrescription">
    <button class="btn_download_pdf" (click)="downloadPrescription()" data-test-id="btnDownload"><mat-icon class="align-middle">download</mat-icon><span>{{ 'Download' | translate}}</span></button>
  </div>
  <h6>
    {{ isDownloadPrescription ? ('Intelehealth e-'|translate) : "" }} {{'Prescription'|translate}}

    <img
      *ngIf="isDownloadPrescription"
      class="logo position-absolute"
      src="assets/images/Intelehealth-logo-white.png"
      width="100%"
      alt=""
    />
  </h6>
  <div class="close-btn-con" *ngIf="!isDownloadPrescription">
    <button class="modal-close-btn desktop-close-btn" (click)="close(false)" data-test-id="btnClose"><img src="assets/svgs/CloseX.svg" alt=""></button>
    <button class="modal-close-btn mobile-close-btn" (click)="close(false)" data-test-id="btnClose"><img src="assets/svgs/Close-icon.svg" alt=""></button>
  </div>
</div>
<mat-dialog-content>
  <div class="main-content">
    <div class="container-fluid">
      <div class="row patient-info-wrapper">
        <div class="col-md-3 patient-info-section p-3" *ngIf="patient">
          <div class="patient-img-item mb-2">
            <div class="patient-img">
              <img
                src="{{ baseUrl + '/personimage/' + patient?.person.uuid }}"
                (error)="onImgError($event)"
                alt=""
                width="100%"
                height="100%"
              />
            </div>
            <div class="ml-3">
              <h6>
                {{ patient?.person.display }} ({{ (patient?.person.gender)| translate }})
              </h6>
              <p>{{ getPatientIdentifier("OpenMRS ID") }}</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 patient-info-section p-3">
          <div class="patient-info-item mb-3">
            <h6>{{'Age'|translate}}</h6>
            <p>
              {{
                patient?.person.birthdate
                ? getAge(patient?.person.birthdate)
                : patient?.person.age
              }}
            </p>
          </div>
          <div class="patient-info-item">
            <h6>{{"Address"|translate}}</h6>
            <p>{{ patient?.person.preferredAddress.cityVillage }}</p>
          </div>
        </div>
        <div class="col-md-3 patient-info-section p-3">
          <div class="patient-info-item mb-3">
            <h6>{{'Occupation'|translate}}</h6>
            <p>{{ getPersonAttributeValue("occupation") }}</p>
          </div>
          <div class="patient-info-item">
            <h6>{{'National ID'|translate}}</h6>
            <p>{{ getPersonAttributeValue("NationalID") }}</p>
          </div>
        </div>
        <div class="col-md-3 patient-info-section p-3">
          <div class="patient-info-item">
            <h6>{{'Contact no.'|translate}}</h6>
            <p>
              <img src="assets/svgs/phone-var(--color-black).svg" alt="" />
              {{ getPersonAttributeValue("Telephone Number") }}
            </p>
            <p>
              <img src="assets/svgs/whatsapp-var(--color-black).svg" alt="" />
              {{ getPersonAttributeValue("Telephone Number") }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/consultation-details-blue.svg" alt="" />
              <h6>{{'Consultation details'|translate}}</h6>
            </div>
            <div class="data-section-content consultation-details">
              <ul *ngIf="isDownloadPrescription" class="items-list">
                <li>
                  <div class="list-item">
                    <label>{{'Patient Id'|translate}}</label>
                    <div class="list-item-content">
                      {{patient?.identifiers?.[0]?.identifier}}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Prescription Issued'|translate}}</label>
                    <div class="list-item-content">
                      {{
                        completedEncounter?.encounterDatetime
                          | date : "dd MMM, yyyy"
                      }}
                    </div>
                  </div>
                </li>
              </ul>

              <ul *ngIf="!isDownloadPrescription" class="items-list">
                <li>
                  <div class="list-item">
                    <label class="border-0">{{'Visit ID'|translate}}</label>
                    <div class="list-item-content">
                      {{
                        visit?.uuid
                          ? (replaceWithStar(visit?.uuid) | uppercase)
                          : ""
                      }}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Visit Created'|translate}}</label>
                    <div class="list-item-content">
                      {{ visit?.startDatetime | date : "dd MMM, yyyy" }}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Appointment on'|translate}}</label>
                    <div class="list-item-content">
                      <span class="text-muted">{{'No appointment'|translate}}</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Status'|translate}}</label>
                    <div class="list-item-content">
                      <span
                        [ngClass]="{
                          'text-important-red': visitStatus == 'Priority Visit',
                          'text-important-green':
                            [
                              'Awaiting Visit',
                              'In-progress Visit',
                              'Completed Visit',
                              'Ended Visit'
                            ].indexOf(visitStatus) != -1
                        }"
                        >{{ (visitStatus)|translate }}</span
                      >
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Location'|translate}}</label>
                    <div class="list-item-content">
                      {{ clinicName | titlecase }}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Provided by'|translate}}</label>
                    <div class="list-item-content">
                      <div class="visit-provider-con">
                        <span>{{ providerName }}</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="!isDownloadPrescription" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/patient-interaction.svg" alt="" />
              <h6>{{'Consulted doctor details'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li>
                  <div class="list-item">
                    <label class="border-0">{{'Name'|translate}}</label>
                    <div class="list-item-content">
                      {{ consultedDoctor ? consultedDoctor.name : ('NA'|translate) }}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Qualification'|translate}}</label>
                    <div class="list-item-content">
                      {{
                        consultedDoctor ? consultedDoctor.typeOfProfession : ('NA'|translate)
                      }}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Speciality'|translate}}</label>
                    <div class="list-item-content">
                      {{
                        consultedDoctor ? consultedDoctor.specialization : ('NA'|translate)
                      }}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Spoken with patient'|translate}}</label>
                    <div class="list-item-content">
                      {{ spokenWithPatient }}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/diagnosis.svg" alt="" />
              <h6>{{'Diagnosis'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li *ngIf="!isDownloadPrescription">
                  <div class="list-item">
                    <label class="border-0">{{'Has enough information for diagnosis?'|translate}}</label>
                    <div class="list-item-content">
                      {{ existingDiagnosis.length ? ('Yes'|translate) : ('No'|translate) }}
                    </div>
                  </div>
                </li>
              </ul>
              <div class="table-responsive" *ngIf="existingDiagnosis.length">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">{{'Diagnosis'|translate}}</th>
                      <th scope="col">{{'Type'|translate}}</th>
                      <th scope="col">{{'Status'|translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let d of existingDiagnosis; let i = index">
                      <td>{{ d.diagnosisName }}</td>
                      <td>{{ d.diagnosisType }}</td>
                      <td>{{ d.diagnosisStatus }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/medication.svg" alt="" />
              <h6>{{'Medication'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">{{'Drug name'|translate}}</th>
                      <th scope="col">{{'Strength'|translate}}</th>
                      <th scope="col">{{'No. of days'|translate}}</th>
                      <th scope="col">{{'Timing'|translate}}</th>
                      <th scope="col">{{'Remarks'|translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="medicines.length; else noMedicines">
                      <tr *ngFor="let m of medicines; let i = index">
                        <td>{{ m.drug }}</td>
                        <td>{{ m.strength }}</td>
                        <td>{{ m.days }}</td>
                        <td>{{ m.timing }}</td>
                        <td>{{ m.remark }}</td>
                      </tr>
                    </ng-container>
                    <ng-template #noMedicines>
                      <tr>
                        <td colspan="5" class="text-center">
                         {{'No medicines added' | translate}}
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
              <ul class="items-list">
                <li *ngFor="let ai of additionalInstructions">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span>{{ ai.value }}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="notes?.length" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/note.svg" alt="" />
              <h6>{{'Note'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li *ngFor="let n of notes">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span>{{ n.value }}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="advices?.length" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/advice.svg" alt="" />
              <h6>{{'Advice'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li *ngFor="let a of advices">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span>{{ a.value }}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="tests?.length" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/test.svg" alt="" />
              <h6>{{'Test'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li *ngFor="let t of tests">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span>{{ t.value }}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="referrals?.length" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/referral.svg" alt="" />
              <h6>{{'Referral-Out'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <div class="table-responsive">

                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">{{'Referral to'|translate}}</th>
                      <th scope="col">{{'Referral facility'|translate}}</th>
                      <th scope="col">{{'Priority of Referral'|translate}}</th>
                      <th scope="col">{{'Referral for (Reason)'|translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="referrals.length; else noReferrals">
                      <tr *ngFor="let r of referrals; let i = index">
                        <td>{{ r.speciality }}</td>
                        <td>{{ r.facility }}</td>
                        <td>{{ r.priority }}</td>
                        <td>{{ r.reason }}</td>
                      </tr>
                    </ng-container>
                    <ng-template #noReferrals>
                      <tr>
                        <td colspan="3" class="text-center">
                          {{'No referrals added'|translate}}
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="followUp" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/follow-up.svg" alt="" />
              <h6>{{'Follow-up'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li>
                  <div class="list-item">
                    <label class="border-0">{{'Follow-up suggested'|translate}}</label>
                    <div class="list-item-content">
                      {{ followUp ? followUp.wantFollowUp : ('No'|translate) }}
                    </div>
                  </div>
                </li>
                <ng-container *ngIf="followUp">
                  <li>
                    <div class="list-item">
                      <label>{{'Follow-up Date'|translate}}</label>
                      <div class="list-item-content">
                        {{ followUp.followUpDate | date : "mediumDate" }}
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="list-item">
                      <label>{{'Follow-up Time'|translate}}</label>
                      <div class="list-item-content">
                        {{ followUp.followUpTime }}
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="list-item">
                      <label>{{'Reason for follow-up'|translate}}</label>
                      <div class="list-item-content">
                        {{ followUp.followUpReason }}
                      </div>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isDownloadPrescription" class="signature w-100">
        <div class="float-right my-4">
          <img class="signature" alt="" [src]="signature?.value" />
          <div class="title-name">{{ consultedDoctor?.name }}</div>
          <div class="title">{{ consultedDoctor?.typeOfProfession }}</div>
          <div class="sub-title">
            {{'Registration No'|translate}}:{{ consultedDoctor?.registrationNumber }}
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

