<div class="title-con position-relative" mat-dialog-title>
  <h6>
    <img
      *ngIf="isDownloadPrescription"
      class="logo position-absolute"
      src="assets/images/Intelehealth-logo-white.png"
      width="100%"
    />
    {{ isDownloadPrescription ? 'Telemed KG ' + ('e-'|translate) : "" }}{{'prescription'|translate}}

    <img
      *ngIf="isDownloadPrescription"
      class="logo-telemedkg position-absolute"
      src="assets/images/telemedkg-logo2.png"
      width="100%"
    />
  </h6>
  <div class="close-btn-con" *ngIf="!isDownloadPrescription">
    <button class="modal-close-btn" (click)="close(false)">{{'Close'|translate}}<img src="assets/svgs/xx.svg" alt="" style="margin-bottom: 2px;"></button>
  </div>
</div>
<mat-dialog-content>
  <div class="main-content">
    <div class="container-fluid">
      <div class="row patient-info-wrapper">
        <div class="col-md-4 patient-info-section p-3" *ngIf="patient">
          <div class="patient-img-item mb-2">
            <div class="patient-img">
              <img
                src="{{ baseUrl + '/personimage/' + patient?.person.uuid }}"
                (error)="onImgError($event)"
                alt=""
                width="100%"
                height="100%"
              />
            </div>
            <div class="ml-3">
              <h6>
                {{ patient?.person.display }} ({{ (patient?.person.gender|translate) }})
              </h6>
              <p>{{ getPatientIdentifier("OpenMRS ID") }}</p>
            </div>
          </div>
          <div class="patient-info-item">
            <h6>{{'Age'|translate}}</h6>
            <p>
              {{
                patient?.person.birthdate
                  ? getAge(patient?.person.birthdate)
                  : patient?.person.age
              }}
            </p>
          </div>
        </div>
        <div class="col-md-4 patient-info-section p-3">
          <div class="patient-info-item mb-3">
            <h6>{{'Occupation'|translate}}</h6>
            <p>{{ getPersonAttributeValue("occupation")|translate }}</p>
          </div>
          <div class="patient-info-item">
            <h6>{{'Address'|translate}}</h6>
            <p>{{ patient?.person.preferredAddress.cityVillage }}</p>
          </div>
        </div>
        <div class="col-md-4 patient-info-section p-3">
          <div class="patient-info-item">
            <h6>{{'Contact no.'|translate}}</h6>
            <p>
              <img src="assets/svgs/phone-black.svg" alt="" />
              {{ getPersonAttributeValue("Telephone Number")|translate }}
            </p>
            <p>
              <img src="assets/svgs/whatsapp-black.svg" alt="" />
              {{ getPersonAttributeValue("Telephone Number")|translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/consultation-details-blue.svg" alt="" />
              <h6>{{'Consultation details'|translate}}</h6>
            </div>
            <div class="data-section-content consultation-details">
              <ul *ngIf="isDownloadPrescription" class="items-list">
                <li>
                  <div class="list-item">
                    <label>{{'Patient Id'|translate}}</label>
                    <div class="list-item-content">
                      {{patient?.identifiers?.[0]?.identifier}}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Prescription Issued'|translate}}</label>
                    <div class="list-item-content">
                      {{
                        completedEncounter?.encounterDatetime
                          |date : "dd MMM, yyyy":'':locale
                      }}
                    </div>
                  </div>
                </li>
              </ul>

              <ul *ngIf="!isDownloadPrescription" class="items-list">
                <li>
                  <div class="list-item">
                    <label>{{'Visit ID'|translate}}</label>
                    <div class="list-item-content">
                      {{
                        visit?.uuid
                          ? (replaceWithStar(visit?.uuid) | uppercase)
                          : ""
                      }}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Visit created'|translate}}</label>
                    <div class="list-item-content">
                      {{ visit?.startDatetime|date : "dd MMM, yyyy":'':locale }}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Appointment on'|translate}}</label>
                    <div class="list-item-content">
                      <span class="text-muted">{{'No appointment'|translate}}</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Status'|translate}}</label>
                    <div class="list-item-content">
                      <span
                        [ngClass]="{
                          'text-important-red': visitStatus == 'Priority Visit',
                          'text-important-green':
                            [
                              'Awaiting Visit',
                              'In-progress Visit',
                              'Completed Visit',
                              'Ended Visit'
                            ].indexOf(visitStatus) != -1
                        }"
                        >{{ visitStatus|translate }}</span
                      >
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Location'|translate}}</label>
                    <div class="list-item-content">
                      {{ clinicName | titlecase }}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Provided by'|translate}}</label>
                    <div class="list-item-content">
                      <div class="visit-provider-con">
                        <span>{{ providerName }}</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        
        <div class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/check-up-reason.svg" alt="" />
              <h6>{{'Cheif Complaint'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li *ngFor="let c of cheifComplaints;">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span>{{ c }}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/vitals.svg" alt="">
              <h6>{{'Vitals'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li *ngIf="getObsValue('Height (cm)')">
                  <div class="list-item">
                    <label>{{'Height (cm)'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('Height (cm)')">
                      {{(getObsValue('Height (cm)'))?getObsValue('Height (cm)'):'No information'|translate}}
                    </div>
                  </div>
                </li>
                <li *ngIf="getObsValue('Weight (kg)')">
                  <div class="list-item">
                    <label>{{'Weight (kg)'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('Weight (kg)')">
                      {{(getObsValue('Weight (kg)'))?getObsValue('Weight (kg)'):'No information'|translate}}
                    </div>
                  </div>
                </li>
                <li *ngIf="getObsValue('Height (cm)')">
                  <div class="list-item">
                    <label>{{'BMI'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('Height (cm)') || !getObsValue('Weight (kg)')">
                      {{(getObsValue('Height (cm)') && getObsValue('Weight (kg)'))? ((getObsValue('Weight (kg)')/((getObsValue('Height (cm)')/100)*(getObsValue('Height (cm)')/100)))|number:'1.2-2') :'No information'|translate}}
                    </div>
                  </div>
                </li>
                <li *ngIf="getObsValue('SYSTOLIC BLOOD PRESSURE')">
                  <div class="list-item">
                    <label>{{'BP'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('SYSTOLIC BLOOD PRESSURE')">
                      {{getObsValue('SYSTOLIC BLOOD PRESSURE') ? getObsValue('SYSTOLIC BLOOD PRESSURE') + ' / ' + getObsValue('DIASTOLIC BLOOD PRESSURE') : 'No information'|translate}}
                    </div>
                  </div>
                </li>
                <li *ngIf="getObsValue('Pulse')">
                  <div class="list-item">
                    <label>{{'Pulse'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('Pulse')">
                      {{(getObsValue('Pulse'))?getObsValue('Pulse'):'No information'|translate}}
                    </div>
                  </div>
                </li>
                <li *ngIf="getObsValue('TEMPERATURE (C)')">
                  <div class="list-item">
                    <label>{{'Temprature (C)'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('TEMPERATURE (C)')">
                      <!-- {{(getObsValue('TEMPERATURE (C)'))?(((getObsValue('TEMPERATURE (C)')* 9/5)+32)|number:'0.2-2'):'No information'|translate}} -->
                      {{(getObsValue('TEMPERATURE (C)'))?(getObsValue('TEMPERATURE (C)')):'No information'|translate}}
                    </div>
                  </div>
                </li>
                <li *ngIf="getObsValue('BLOOD OXYGEN SATURATION')">
                  <div class="list-item">
                    <label>{{'SpO2 (%)'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('BLOOD OXYGEN SATURATION')">
                      {{(getObsValue('BLOOD OXYGEN SATURATION'))?getObsValue('BLOOD OXYGEN SATURATION'):'No information'|translate}}
                    </div>
                  </div>
                </li>
                <li *ngIf="getObsValue('Respiratory rate')">
                  <div class="list-item">
                    <label>{{'Respiratory Rate'|translate}}</label>
                    <div class="list-item-content" [class.text-muted]="!getObsValue('Respiratory rate')">
                      {{(getObsValue('Respiratory rate'))?getObsValue('Respiratory rate'):'No information'|translate}}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="!isDownloadPrescription" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/patient-interaction.svg" alt="" />
              <h6>{{'Consulted doctor details'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li>
                  <div class="list-item">
                    <label>{{'Name'|translate}}</label>
                    <div class="list-item-content">
                      {{ consultedDoctor ? consultedDoctor.name : ("NA"|translate) }}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Qualification'|translate}}</label>
                    <div class="list-item-content">
                      {{
                        consultedDoctor ? consultedDoctor.qualification : ("NA"|translate)
                      }}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Speciality'|translate}}</label>
                    <div class="list-item-content">
                      {{
                        consultedDoctor ? (consultedDoctor.specialization|translate) : ("NA"|translate)
                      }}
                    </div>
                  </div>
                </li>
                <li>
                  <div class="list-item">
                    <label>{{'Spoken with patient'|translate}}</label>
                    <div class="list-item-content">
                      {{ spokenWithPatient|translate }}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/diagnosis.svg" alt="" />
              <h6>{{'Diagnosis'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li *ngIf="!isDownloadPrescription">
                  <div class="list-item">
                    <label>{{'Has enough information for diagnosis?'|translate}}</label>
                    <div class="list-item-content">
                      {{ existingDiagnosis.length ? ("Yes"|translate) : ("No"|translate) }}
                    </div>
                  </div>
                </li>
              </ul>
              <div class="table-responsive" *ngIf="existingDiagnosis.length">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">{{'Diagnosis'|translate}}</th>
                      <th scope="col">{{'Type'|translate}}</th>
                      <th scope="col">{{'Status'|translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let d of existingDiagnosis; let i = index">
                      <td>{{ d.diagnosisName|translate }}</td>
                      <td>{{ d.diagnosisType|translate  }}</td>
                      <td>{{ d.diagnosisStatus|translate }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- <ul class="items-list">
                <li *ngIf="!isDownloadPrescription">
                  <div class="list-item">
                    <label>Has enough information for diagnosis?</label>
                    <div class="list-item-content">
                      {{ diagnosis ? diagnosis.diagnosisIdentified : "No" }}
                    </div>
                  </div>
                </li>
                <ng-container *ngIf="diagnosis">
                  <li>
                    <div class="list-item">
                      <label>Diagnosed for</label>
                      <div class="list-item-content">
                        {{ diagnosis.diagnosisName }}
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="list-item">
                      <label>Diagnosis type</label>
                      <div class="list-item-content">
                        {{ diagnosis.diagnosisType }}
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="list-item">
                      <label>Diagnosis status</label>
                      <div class="list-item-content">
                        {{ diagnosis.diagnosisStatus }}
                      </div>
                    </div>
                  </li>
                </ng-container>
              </ul> -->
            </div>
          </div>
        </div>

        <div class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/medication.svg" alt="" />
              <h6>{{'Medication'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">{{'Drug name'|translate}}</th>
                      <th scope="col">{{'Strength'|translate}}</th>
                      <th scope="col">{{'No. of days'|translate}}</th>
                      <th scope="col">{{'Timing'|translate}}</th>
                      <th scope="col">{{'Remarks'|translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="medicines.length; else noMedicines">
                      <tr *ngFor="let m of medicines; let i = index">
                        <td>{{ m.drug|translate }}</td>
                        <td>{{ m.strength|translate }}</td>
                        <td>{{ m.days }}</td>
                        <td>{{ m.timing }}</td>
                        <td>{{ m.remark }}</td>
                      </tr>
                    </ng-container>
                    <ng-template #noMedicines>
                      <tr>
                        <td colspan="5" class="text-center">
                          {{'No medicines added'|translate}}
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
              <ul class="items-list">
                <li *ngFor="let ai of additionalInstructions">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span>{{ ai.value }}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- <div *ngIf="notes?.length" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/note.svg" alt="" />
              <h6>{{'Note'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li *ngFor="let n of notes">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span>{{ n.value }}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div> -->

        <div *ngIf="advices?.length" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/advice.svg" alt="" />
              <h6>{{'Advice'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li *ngFor="let a of advices">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span>{{ a.value|translate }}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div *ngIf="tests?.length" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/test.svg" alt="" />
              <h6>{{'Test'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li *ngFor="let t of tests">
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <span>{{ t.value|translate }}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <!-- <div *ngIf="referrals?.length" class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/referral.svg" alt="" />
              <h6>Referral</h6>
            </div>
            <div class="data-section-content">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Referral facility</th>
                      <th scope="col">Remarks</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngIf="referrals.length; else noReferrals">
                      <tr *ngFor="let r of referrals; let i = index">
                        <td>{{ r.speciality }}</td>
                        <td>{{ r.remark }}</td>
                      </tr>
                    </ng-container>
                    <ng-template #noReferrals>
                      <tr>
                        <td colspan="3" class="text-center">
                          No referrals added
                        </td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div> -->

        <div class="col-md-12 px-3 mb-3">
          <div class="data-section">
            <div class="data-section-title">
              <img src="assets/svgs/follow-up.svg" alt="" />
              <h6>{{'Follow-up'|translate}}</h6>
            </div>
            <div class="data-section-content">
              <ul class="items-list">
                <li>
                  <div class="list-item">
                    <label>{{'Follow-up suggested'|translate}}</label>
                    <div class="list-item-content">
                      {{ followUp ? (followUp.wantFollowUp|translate) : ("No"|translate) }}
                    </div>
                  </div>
                </li>
                <ng-container *ngIf="followUp">
                  <li>
                    <div class="list-item">
                      <label>{{'Follow-up Date'|translate}}</label>
                      <div class="list-item-content">
                        {{ followUp.followUpDate|date : "mediumDate":'':locale }}
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="list-item">
                      <label>{{'Follow-up Time'|translate}}</label>
                      <div class="list-item-content">
                        {{ followUp.followUpTime }}
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="list-item">
                      <label>{{'Reason for follow-up'|translate}}</label>
                      <div class="list-item-content">
                        {{ followUp.followUpReason }}
                      </div>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="isDownloadPrescription" class="signature w-100">
        <div class="float-right my-4">
          <img class="signature" [src]="signature?.value" />
          <div class="title-name text-right">{{ consultedDoctor?.name }}</div>
          <div class="title-qual text-right">{{ consultedDoctor?.qualification }}, {{consultedDoctor?.specialization|translate}}</div>
          <div class="title-name text-right">{{'Email'|translate}}:{{ consultedDoctor?.emailId }}</div>
          <div class="sub-title text-right">
            {{'Registration No:'|translate}}{{ consultedDoctor?.registrationNumber }}
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<!-- <mat-dialog-actions align="center">
  <button type="button" class="intel-blue-btn" (click)="close(true)">Close</button>
</mat-dialog-actions> -->
