<div class="physicalExaminaton-main">
  <div class="physicalExaminaton-header w-100">
    <div class="physicalExaminaton-header-content w-100">
      <img
        [src]="
          pastVisit
            ? 'assets/svgs/physical-examination-blue.svg'
            : 'assets/svgs/physical-examination.svg'
        "
      />
      <div class="physicalExaminaton-img-title">Physical examination</div>
      <div
        *ngIf="!pastVisit"
        data-toggle="collapse"
        data-target="#physicalExaminaton"
        class="click"
      >
        <img class="arrow" src="assets/svgs/filter-table-up-arrow.svg" />
      </div>
    </div>
    <hr *ngIf="!pastVisit" class="hr" />
  </div>

  <div id="physicalExaminaton" class="physicalExaminaton-details collapse show">
    <div class="abdomin-captoin mt-3 mb-3">
      <div class="abdomin-captoin-font">General exams</div>
    </div>

    <div class="d-flex">
      <div class="ml-4">
        <ul class="d-grid p-0">
          <li class="d-flex mb-3" *ngFor="let item of physicalExaminaton?.data">
            <div class="first-list-label">{{ item?.label }}</div>
            <div *ngIf="item?.value" class="second-list-label">
              {{ item?.value }}
            </div>
            <img
              *ngFor="let imgSrc of item?.images || []"
              class="mr-2"
              [src]="imgSrc"
            />
          </li>
        </ul>
      </div>
    </div>

    <div class="patient-reports mt-4">
      <div class="associated-font mb-3">Abdomen</div>
      <ul>
        <li
          *ngFor="let data of physicalExaminaton?.physicalExaminatonData"
          class="font-size-md mb-1"
        >
          <label>
            {{ data?.label }}
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
