<div class="physical-examinaton-main">
  <div class="physical-examinaton-header w-100">
    <div class="physical-examinaton-header-content w-100">
      <img
        [src]="
          pastVisit
            ? 'assets/svgs/physical-examination-blue.svg'
            : 'assets/svgs/physical-examination.svg'
        "
      />
      <div class="physical-examinaton-img-title">Physical examination</div>
      <div
        *ngIf="!pastVisit"
        data-toggle="collapse"
        data-target="#physical-examinaton"
        class="click"
        (click)="toggleCollapse()"
      >
        <img class="arrow" [src]="toggleImage"/>
      </div>
    </div>
    <hr *ngIf="!pastVisit" class="hr" />
  </div>

  <div id="physical-examinaton" class="physical-examinaton-details collapse show">
    <div class="abdomin-captoin mt-3 mb-3">
      <div class="abdomin-captoin-font">{{header}}</div>
    </div>

    <div class="d-flex">
      <div class="ml-4">
        <ul class="d-grid p-0">
          <li class="d-flex mb-3" *ngFor="let item of generalExamsData">
            <div class="first-list-label" [innerHTML]='item?.label'></div>
            <div *ngIf="item?.value" class="second-list-label">
              {{ item?.value }}
            </div>
          </li>
          <div  class="d-flex mb-3">
            <div class="first-list-label">Images</div>
          <div *ngFor="let image of images">
            <a href={{image.image}}><img class="image" src= {{image.image}} alt=""></a>
          </div>
        </div>
        </ul>
      </div>
    </div>

    <div class="patient-reports mt-4">
      <div class="associated-font mb-3">{{abdomenHeader}}</div>
      <ul>
        <li
          *ngFor="let data of abdomenData"
          class="font-size-md mb-1"
        >
          <label  [innerHTML]='data'>
          </label>
        </li>
      </ul>
    </div>
  </div>
</div>
