::ng-deep {
  .time-off-modal-height {
    .modal-dialog {
      min-width: 489px;
    }
  }
}

.time-off-modal-main {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #ffffff;
  border-radius: 5px;

  .time-off-modal-header {
    height: 70px;

    background: #efe8ff;

    border-radius: 5px;

    .cross {
      right: 15px;
      top: 26px;
    }

    .time-off-title {
      height: 30px;

      font-weight: 700;
      font-size: 20px;
    }
  }

  .appointment-label {
    display: list-item;

    height: 24px;
    width: 216.5px;

    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }

  .appointment-time {
    height: 48px;
    width: 180.5px;
  }

  .btns {
    margin-top: 10px;

    padding: 10px 14px 0px 14px;

    height: 48px;

    border: 0.770833px solid #efe8ff;
    border-radius: 8px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;

    &.left-btn {
      margin-right: 25px;

      background: #ffe8e8;

      color: #ff475d;
    }

    &.right-btn {
      background: #2e1e91;

      color: #faf9ff;
    }
  }

  .gap {
    gap: 10px;
  }
}
