@import '../../../../assets/scss/main.scss';

.strengthBar {
  grid-area: strengthBar;
  grid-template-areas: 
  'lbl link'
  'txt txt';
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  list-style: none;
  margin-top: -2rem;
  margin-left: -2.5rem;
  .point {
    background: #DDD;
    border-radius: 2px;
    height: 5px;
    margin-right: 4px;
    width: 126px;
  }
}

.point:last-of-type {
  margin: 0 !important;
}

p{
  grid-area: p;
  @include font(500,14px);
  color: var(--color-gray);
  margin-top: 1rem;
}