<mat-spinner *ngIf="setSpiner" [diameter]="70"></mat-spinner>
<div class="dashboard-summary" [ngClass]="setSpiner ? 'spin' : ''">
  <div class="d-flex top">
    <div class="visit-section appointments">
      <img class="img" src="assets/svgs/video-frame.svg" />
      <div class="label">
        <div class="font-weight">{{appointmentTable.dataCount}}</div>

        <label class="font-label-color">Appointments </label>
      </div>
    </div>

    <div class="visit-section priority">
      <img class="img" src="assets/svgs/red-profile.svg" />
      <div class="label">
        <div class="font-weight">{{priorityVisits.dataCount}}</div>

        <label class="font-label-color">Priority visits </label>
      </div>
    </div>

    <div class="visit-section awaiting">
      <img class="img" src="assets/svgs/green-profile.svg" />
      <div class="label">
        <div class="font-weight">{{awaitingVisits.dataCount}}</div>

        <label class="font-label-color">Awaiting visits </label>
      </div>
    </div>

    <div class="visit-section awaiting">
      <img class="img" src="assets/svgs/pen-board.svg" />
      <div class="label">
        <div class="font-weight">{{inProgressVisits.dataCount}}</div>

        <label class="font-label-color">In-progress visits</label>
      </div>
    </div>
  </div>

  <!-- tables -->
  <ng-container *ngIf="appointmentTable.data.length > 0">
    <app-dashboard-table
      [tableConfig]="appointmentTable"
      [data]="appointmentTable.data"
    ></app-dashboard-table>
  </ng-container>
  <br>
  <ng-container *ngIf="priorityVisits.data.length > 0">
    <app-dashboard-table
    [tableConfig]="priorityVisits"
    [data]="priorityVisits.data"
    ></app-dashboard-table>
  </ng-container>
  <br>
  <ng-container  *ngIf="awaitingVisits.data.length > 0">
    <app-dashboard-table
      [tableConfig]="awaitingVisits"
      [data]="awaitingVisits.data"
   ></app-dashboard-table>
  </ng-container>
  <br>
  <ng-container *ngIf="inProgressVisits.data.length > 0">
    <app-dashboard-table
      [tableConfig]="inProgressVisits"
      [data]="inProgressVisits.data"
    ></app-dashboard-table>
  </ng-container>
</div>
