<div class="dashboard-summary">
  <div class="header"></div>

  <div class="d-flex top">
    <div class="visit-section appointments">
      <img class="img" src="assets/svgs/video-frame.svg" />
      <div class="label">
        <div class="font-weight">12</div>

        <label class="font-label-color">Appointments </label>
      </div>
    </div>

    <div class="visit-section priority">
      <img class="img" src="assets/svgs/red-profile.svg" />
      <div class="label">
        <div class="font-weight">8</div>

        <label class="font-label-color">Priority visits </label>
      </div>
    </div>

    <div class="visit-section awaiting">
      <img class="img" src="assets/svgs/green-profile.svg" />
      <div class="label">
        <div class="font-weight">12</div>

        <label class="font-label-color">Awaiting visits </label>
      </div>
    </div>

    <div class="visit-section progress">
      <img class="img" src="assets/svgs/pen-board.svg" />
      <div class="label">
        <div class="font-weight">15</div>

        <label class="font-label-color">In-progress visits </label>
      </div>
    </div>
  </div>

  <app-dashboard-table></app-dashboard-table>
</div>
