<div class="dashboard-summary">
  <div class="d-flex top">
    <div class="visit-section appointments">
      <img class="img" src="assets/svgs/video-frame.svg" />
      <div class="label">
        <div class="font-weight">{{appointmentTable.dataCount}}</div>

        <label class="font-label-color">Appointments </label>
      </div>
    </div>

    <div class="visit-section priority">
      <img class="img" src="assets/svgs/red-profile.svg" />
      <div class="label">
        <div class="font-weight">{{priorityVisits.dataCount}}</div>

        <label class="font-label-color">Priority visits </label>
      </div>
    </div>

    <div class="visit-section awaiting">
      <img class="img" src="assets/svgs/green-profile.svg" />
      <div class="label">
        <div class="font-weight">{{awaitingVisits.dataCount}}</div>

        <label class="font-label-color">Awaiting visits </label>
      </div>
    </div>

    <div class="visit-section awaiting">
      <img class="img" src="assets/svgs/pen-board.svg" />
      <div class="label">
        <div class="font-weight">{{inProgressVisits.dataCount}}</div>

        <label class="font-label-color">In-progress visits</label>
      </div>
    </div>
  </div>

  <app-dashboard-table
      [tableConfig]="appointmentTable"
  ></app-dashboard-table>
  <br>
  <app-dashboard-table
    [tableConfig]="priorityVisits"
  ></app-dashboard-table>
  <br>
  <app-dashboard-table
    [tableConfig]="awaitingVisits"
  ></app-dashboard-table>
  <br>
  <app-dashboard-table
    [tableConfig]="inProgressVisits"
  ></app-dashboard-table>
</div>
