.top {
  padding: 30px;
  gap: 30px;
}

.visit-section {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  width: 305px;
  height: 86px;

  padding: 16px;

  border-radius: 12px;
}

.appointments {
  background: #efe8ff;
}

.priority {
  background: #ffe8e8;
}

.awaiting {
  background: #e6fff3;
}

.img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;

  width: 44px;
  height: 44px;
}

.label {
  margin-left: 12%;
}

.font-weight {
  font-weight: 600;
}

.font-label-color {
  color: #7f7b92;
}

.arrow {
  display: none;
}

.nav-collapsed {
  width: 1200px;
}

.nav-opened {
  width: 1370px;
}

.arrow {
  display: block;
  margin-top: 22px;
  margin-left: 170px;
}

.pill-btn {
  display: inline-block;
  vertical-align: middle;

  padding: 0.375rem 0.75rem;

  line-height: 1.5;

  font-weight: 400;

  border: 1px solid transparent;
}
mat-spinner {
  position: absolute;
  z-index: 9999;
  left: 46%;
  top: 42%;
}

.spin {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}