<div class="main ml-3">
  <div class="header d-flex">
    <div class="mindmaps-label">
        Associated mindmaps(9 Modules)
    </div>
    <button class="add-btn mt-2">
      <img src="assets/svgs/plus.svg" /> Add Mindmaps
    </button>
  </div>

  <div class="table">
    <table class="table table-borderless w-100">
      <tr class="table-color-th">
        <th [class]="header?.headerClass" *ngFor="let header of table?.headers">
          {{ header?.name }}
        </th>
      </tr>
      <tr
        *ngFor="let data of table?.data"
        [ngClass]="{ active: data?.isActive }"
        class="table-height"
      >
        <td
          *ngFor="let header of table?.headers"
          class="vr {{ header?.headerClass }}"
        >
          <ng-container [ngSwitch]="true">
            <div *ngSwitchCase="header?.type === 'fill'">
                <img class="mr-1" [src]="data[header?.imageKey]" />
                {{ btn?.label }}
            </div>

            <div *ngSwitchDefault>{{ data[header?.key] }}</div>

            
            <div *ngSwitchCase="header?.type === 'boolean'">
                <img class="mr-1" [src]="data[header?.imageKey]" />
                {{ btn?.label }}
            </div>
            <div *ngSwitchCase="header?.type === 'file'">
                <img class="mr-1" [src]="data[header?.imageKey]" />
                {{ btn?.label }}
            </div>
            <div *ngSwitchCase="header?.type === 'data'">
              <img class="mr-1" [src]="data[header?.imageKey]" />
              {{ btn?.label }}
          </div>
          </ng-container>
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
  </div>
</div>
