.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;  
    padding: 24px;
    box-shadow: 0px 4px 24px rgba(31, 28, 58, 0.08);
    border-radius: 20px;
} 

.mindmaps-label {
  padding: 26px;
  font-weight: 600;
  margin-left: -1rem;
}
.add-btn {
  width: 200px;
  height: 48px;
  color: #2E1E91;
  background: #FFFFFF;
  border: 1.33px solid #efe8ff;
  border-radius: 8px;
  font-weight: 700;
  font-size: 18px;
  position: absolute;
  right: 2%;
}
.table-color-th {
  color: #7f7b92;
}
tr:nth-child(even) {
  background: #f7f7fa;
}
.table-height {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  height: 88px;
  border-radius: 8px;
}
.active {
  background: #e6fff3 !important;
}
.g-color {
  background: #f7f7fa;
}
.vr {
  vertical-align: middle;
}
.patientName{
  text-align:left;
}
.download{
  text-align:center;
}
.lastUpdate{
  text-align:right;
}
.activeStatus{
  text-align:right;
}
.col-1{
  text-align:center;
}