<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 p-0">
      <mat-accordion class="intel-accordion-con" multi data-test-id="matAccAppointment">
        <mat-expansion-panel [expanded]="true" data-test-id="matExpAppointment">
          <mat-expansion-panel-header data-test-id="matExpHeaderAppointment">
            <mat-panel-title>
              <div class="intel-accordion-title">
                <img src="assets/svgs/cam-icon.svg" alt="" width="44px">
                <h6 class="mb-0 ml-2">{{'Appointments' | translate}} ({{appointments.length ? appointments.length : 0}})</h6>
                <mat-icon aria-hidden="false" aria-label="help icon" matTooltip="{{'Scheduled appointments' | translate}}" matTooltipPosition="right" data-test-id="matIcoHelpAppointment">help_outline</mat-icon>
                <div class="input-group search-bar ml-auto" (click)="$event.stopPropagation();">
                  <input type="text" #searchInput class="form-control" placeholder="Search appointments" aria-label="search1" aria-describedby="basic-addon1" (keyup)="applyFilter1($event)" (keydown.Space)="$event.stopPropagation()" (keydown.Enter)="$event.stopPropagation()" data-test-id="etSearchAppointment">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1" *ngIf="!dataSource.filter">
                      <img src="assets/svgs/search-icon.svg" alt="" width="20px" height="20px">
                    </span>
                    <button data-test-id="btnResetApSerach" mat-icon-button aria-label="Reset appointment search" *ngIf="dataSource.filter" (click)="clearFilter()">
                      <mat-icon class="ml-0" style="line-height: normal;">close</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> {{'Patient' | translate}} </th>
                <td mat-cell *matCellDef="let element;let j=index;" [attr.data-test-id]="'apPatient'+j" [routerLink]="['/dashboard/visit-summary', element?.visitUuid]">
                  <div class="d-flex align-items-center">
                    <img src="{{ baseUrl + '/personimage/' + element.patientId }}" (error) ="onImgError($event)" alt="" width="32px" height="32px" style="border-radius: 50%;">
                    <span class="font-bold ml-2">{{element.patientName}} ({{(element.patientGender)| translate}})</span>
                  </div>
                </td>
              </ng-container>

              <!-- Age Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> {{'Age' | translate}} </th>
                <td mat-cell *matCellDef="let element;let j=index;" [attr.data-test-id]="'apAge'+j" [routerLink]="['/dashboard/visit-summary', element?.visitUuid]"> {{element.patientAge}}{{'y'| translate}} </td>
              </ng-container>

              <!-- Starts In Column -->
              <ng-container matColumnDef="starts_in">
                <th mat-header-cell *matHeaderCellDef> {{'Starts in' | translate}} </th>
                <td mat-cell *matCellDef="let element;let j=index;" [attr.data-test-id]="'apStart'+j" [routerLink]="['/dashboard/visit-summary', element?.visitUuid]"> <span [ngClass]="{ 'alert-danger': element.starts_in.includes('Due'), 'alert-success': element.starts_in.includes('hours')||element.starts_in.includes('minutes') }">{{element.starts_in}}</span></td>
              </ng-container>

              <!-- Location Column -->
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> {{'Location' | translate}} </th>
                <td mat-cell *matCellDef="let element;let j=index;" [attr.data-test-id]="'apLocation'+j" [routerLink]="['/dashboard/visit-summary', element?.visitUuid]"> {{element?.visit?.location.name}} </td>
              </ng-container>

              <!-- Cheif Complaint Column -->
              <ng-container matColumnDef="cheif_complaint">
                <th mat-header-cell *matHeaderCellDef> {{'Chief Complaint' | translate}} </th>
                <td mat-cell *matCellDef="let element;let j=index;" [attr.data-test-id]="'apComplaint'+j" [routerLink]="['/dashboard/visit-summary', element?.visitUuid]"> {{element?.cheif_complaint}} </td>
              </ng-container>

              <!-- Prescription Sent Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> {{'Actions'| translate}} </th>
                <td mat-cell *matCellDef="let element;let j=index;" [attr.data-test-id]="'apAction'+j">
                  <div class="actions-btn-wrap d-flex align-items-center">
                    <button class="action-btn blue-btn mr-2" [attr.data-test-id]="'btnReschedule'+j" type="button" (click)="reschedule(element)" data-test-id="btnRescheduleAppointment">{{'Reschedule' | translate}}</button>
                    <button class="action-btn pink-btn " [attr.data-test-id]="'btnCancel'+j" type="button" (click)="cancel(element)" data-test-id="btnCancelAppointment">{{'Cancel' |translate}}</button>
                  </div>
                </td>
              </ng-container>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
                  {{'No any appointments scheduled.' | translate}}
                </td>
              </tr>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; let x=index; columns: displayedColumns;" [attr.data-test-id]="'ap'+x" [class.upcoming]="row.starts_in.includes('hours')||row.starts_in.includes('minutes')"></tr>
            </table>

            <mat-paginator #appointmentPaginator hidePageSize [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements" data-test-id="matPaginatorAppointment">
            </mat-paginator>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
