.header-main-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0px;
}

.search-img {
  height: 42px;

  background: #faf9ff;

  border: 2px solid rgba(178, 175, 190, 0.2);
  border-right: none !important;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.search-input {
  height: 42px;
  width: 355px;

  background: #faf9ff;

  border: 2px solid rgba(178, 175, 190, 0.2);
  border-left: none !important;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.notification-bell {
  position: relative;

  height: 48px;
  width: 48px;

  background: #efe8ff;

  border-radius: 12px;
}

.notification-dilog-box {
  z-index: 100;

  position: absolute;
  top: 72px;
  left: -108px;

  width: 410px;

  filter: drop-shadow(0px 4px 24px rgba(46, 30, 145, 0.16));
}

.alert-box-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;

  padding: 20px 24px 16px;
}

.alert-font {
  height: 56px;

  padding: 17px;

  color: #ffffff;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.alert-box {
  background: #ffffff;

  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-box-header {
  background: #2e1e91;

  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.alert-para {
  align-items: center;

  height: 70px;
}

.alert-cross-arrow {
  position: absolute;
  top: 15px;
  right: 22px;

  color: #ffffff;
}

.acitve {
  background: #efe8ff;
}

.in-active {
  background: #ffffff;
}

.btn-view-more {
  font-weight: 500;

  background: #efe8ff;
  border-color: #efe8ff;

  color: #1b163a;
}

.polygon {
  position: absolute;
  top: -19px;
  left: 115px;
}

.w {
  width: 45%;
}

.img-size {
  width: 48px;
  height: 45px;
}

.font {
  color: #1b163a;
}
