.chat-main-con {
  display: flex;
  flex-direction: column;
}

.chat-main-con .chat-con-title {
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 66px;
}

.chat-main-con .chat-con-title .chat-item-info {
  display: flex;
  align-items: center;
}

.chat-main-con .chat-con-title .chat-item-info title {
  flex-shrink: 0;
}

.chat-main-con .chat-con-title .chat-item-info img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-main-con .chat-con-title .chat-item-info h6 {
  font-size: 16px;
  line-height: 150%;
  color: #1B163A;
  font-weight: bold;
}

.chat-main-con .chat-con-title .chat-item-info span {
  font-size: 12px;
  line-height: 163%;
  color: #7F7B92;
}

.chat-main-con .chat-con-body {
  background: #FAF9FF;
  padding: 10px 10px 0px;
  border-radius: 0px 0px 10px 10px;
}

.chat-main-con .chat-con-body .chat-messages-list::-webkit-scrollbar {
  display: none;
}

.chat-main-con .chat-con-body .chat-messages-list {
  margin-bottom: 0px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  flex-direction: column-reverse;
  min-height: 340px;
  height: 67vh;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat-main-con .chat-con-body .chat-messages-list .chat-message {
  border: 1px solid rgba(178, 175, 190, 0.2);
  border-radius: 1px 8px 8px 8px;
  padding: 8px 12px;
  max-width: 80%;
  width: fit-content;
  background: #FFFFFF;
  font-size: 16px;
  line-height: 150%;
  color: #1B163A;
  margin: 4px 0px;
  word-wrap: break-word;
  flex-shrink: 0;
}

.chat-main-con .chat-con-body .chat-messages-list .chat-message.right {
  border: none;
  background: #EFE8FF;
  border-radius: 8px 8px 0px 8px;
  margin-left: auto;
}

.chat-main-con .chat-con-body .chat-messages-list .chat-message.left {
  border: none;
  background: #EFE8FF;
  border-radius: 8px 8px 8px 0px;
  margin-right: auto;
}

.chat-main-con .chat-con-body .chat-messages-list .chat-status {
  font-size: 12px;
  line-height: 18px;
  color: #7F7B92;
  display: flex;
  align-items: center;
  margin: 4px 0px;
}

.chat-main-con .chat-con-body .chat-messages-list .chat-status.right {
  margin-left: auto;
}

.chat-main-con .chat-con-body .chat-messages-list .chat-status.left {
  margin-right: auto;
}

.chat-main-con .chat-con-body .chat-input-con {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 5px 0px;
}

.chat-main-con .chat-con-body .chat-input-con .input-group {
  background: #EFE8FF;
  border: 1px solid rgba(178, 175, 190, 0.2);
  border-radius: 8px;
  height: 44px;
  align-items: center;
}

.chat-main-con .chat-con-body .chat-input-con .input-group .input-group-append button {
  border: none;
  outline: none;
  background: none;
  padding: 0px 15px;
}

.chat-main-con .chat-con-body .chat-input-con .input-group .form-control {
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  line-height: 150%;
}

.chat-main-con .chat-con-body .chat-input-con .input-group .form-control:focus {
  box-shadow: none;
}

.chat-main-con .chat-con-body .chat-input-con .send-btn {
  border: none;
  outline: none;
  width: 44px;
  height: 44px;
  background: #2E1E91;
  border-radius: 8px;
}

.attachment {
  height: 60px;
  width: 60px;
  object-fit: contain;
  background-color: white;
  cursor: pointer;
}

.char-count {
  z-index: 1;
  bottom: -6px;
  font-size: 10px;
  right: 5px;
  color: grey;

  &.red {
    color: red;
  }
}

.bg-grey {
  background: grey !important;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.rtl .chat-con-title .chat-item-info img {
  margin-right: 0px !important;
  margin-left: 10px !important;
}

.rtl .chat-con-title .chat-item-info h6 {
  margin-top: 6px !important;
  margin-bottom: -4px !important;
}

.rtl .chat-con-body .chat-input-con .input-group {
  margin-right: 0px !important;
  margin-left: .5rem !important;
}

.ltr .chat-con-body .chat-input-con .char-count {
  left: 5px !important;
}
