.chat-main-con {
  display: flex;
  flex-direction: column;

  .chat-con-title {
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 66px;

    .chat-item-info {
      display: flex;
      align-items: center;

      title {
        flex-shrink: 0;
      }

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 10px;
      }

      h6 {
        font-size: 16px;
        line-height: 150%;
        color: #1B163A;
        font-weight: bold;
      }

      span {
        font-size: 12px;
        line-height: 163%;
        color: #7F7B92;
      }
    }
  }

  .chat-con-body {
    margin: 0px 5px 5px;
    background: #FAF9FF;
    padding: 10px 10px 0px;
    // height: calc(70vh - 86px);
    border-radius: 0px 0px 10px 10px;

    .chat-messages-list::-webkit-scrollbar {
      display: none;
    }

    .chat-messages-list {
      margin-bottom: 0px;
      list-style-type: none;
      padding: 0px;
      display: flex;
      flex-direction: column-reverse;
      min-height: 340px;
      max-height: 340px;
      overflow: auto;
      -ms-overflow-style: none;
      /* for Internet Explorer, Edge */
      scrollbar-width: none;

      .chat-message {
        border: 1px solid rgba(178, 175, 190, 0.2);
        border-radius: 1px 8px 8px 8px;
        padding: 8px 12px;
        max-width: 80%;
        width: fit-content;
        background: #FFFFFF;
        font-size: 16px;
        line-height: 150%;
        color: #1B163A;
        margin: 4px 0px;
        word-wrap: break-word;
        flex-shrink: 0;
      }

      .chat-message.right {
        border: none;
        background: #EFE8FF;
        border-radius: 8px 8px 0px 8px;
        margin-left: auto;
      }

      .chat-status {
        font-size: 12px;
        line-height: 18px;
        color: #7F7B92;
        display: flex;
        align-items: center;
        margin: 4px 0px;
      }

      .chat-status.right {
        margin-left: auto;
      }
    }

    .chat-input-con {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 60px;
      padding: 5px 0px;

      .input-group {
        background: #EFE8FF;
        ;
        border: 1px solid rgba(178, 175, 190, 0.2);
        border-radius: 8px;
        height: 44px;
        align-items: center;

        .input-group-append button {
          border: none;
          outline: none;
          background: none;
          padding: 0px 15px;
        }

        .form-control {
          border: none;
          outline: none;
          background: transparent;
          font-size: 16px;
          line-height: 150%;
        }

        .form-control:focus {
          box-shadow: none;
        }
      }

      .send-btn {
        border: none;
        outline: none;
        width: 44px;
        height: 44px;
        background: #2E1E91;
        border-radius: 8px;
      }
    }
  }
}

.attachment {
  height: 60px;
  width: 60px;

  object-fit: contain;
  background-color: white;
  cursor: pointer;
}
