<cdk-accordion class="example-accordion">
  <cdk-accordion-item #accordionItem="cdkAccordionItem"
    class="example-accordion-item" role="button" tabindex="0" [attr.id]="'accordion-header-1'"
    [attr.aria-expanded]="accordionItem.expanded" [attr.aria-controls]="'accordion-body-1'"
    [expanded]="true" [disabled]="true">
    <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
      <div class="header-title">
        <img src="assets/svgs/completed.svg" alt="" width="44px">
        <h6 class="mb-0 ml-2">Completed Visits ( {{completedVisits.length ? completedVisits.length : 0}} )</h6>
        <mat-icon aria-hidden="false" aria-label="help icon" matTooltip="Ended visits after prescription" matTooltipPosition="right">help_outline</mat-icon>
      </div>
      <span class="example-accordion-item-description">
        <button mat-button color="primary">
          <img src="assets/svgs/filter.svg" alt="filter" width="14px">
          Filter
        </button>
        <!-- Click to {{ accordionItem.expanded ? "close" : "open" }} -->
      </span>
    </div>
    <div class="example-accordion-item-body" role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-1'" [attr.aria-labelledby]="'accordion-header-1'">
      <mat-divider></mat-divider>
      <div class="mat-elevation-z8">
        <div class="loader-wrapper" *ngIf="isLoading">
          <mat-spinner [diameter]="32"></mat-spinner>
        </div>

        <table mat-table [dataSource]="dataSource">

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Patient </th>
            <td mat-cell *matCellDef="let element">

              <div class="d-flex align-items-center">
                <img src="{{ baseUrl + '/personimage/' + element.patient.uuid }}" (error) ="onImgError($event)" alt="" width="32px" height="32px" style="border-radius: 50%;">
                <span class="font-bold ml-2">{{element.patient.person.display}} ({{element.patient.person.gender}})</span>
              </div>
            </td>
          </ng-container>

          <!-- Age Column -->
          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef> Age </th>
            <td mat-cell *matCellDef="let element"> {{element.patient.person.age}}y </td>
          </ng-container>

          <!-- Visit Created Column -->
          <ng-container matColumnDef="visit_created">
            <th mat-header-cell *matHeaderCellDef> Visit Created </th>
            <td mat-cell *matCellDef="let element"> {{element.startDatetime|date:'d MMM, y'}} </td>
          </ng-container>

          <!-- Location Column -->
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element"> {{element.location.display}} </td>
          </ng-container>

          <!-- Cheif Complaint Column -->
          <ng-container matColumnDef="cheif_complaint">
            <th mat-header-cell *matHeaderCellDef> Cheif Complaint </th>
            <td mat-cell *matCellDef="let element"> {{element.cheif_complaint}} </td>
          </ng-container>

          <!-- Prescription Sent Column -->
          <ng-container matColumnDef="prescription_sent">
            <th mat-header-cell *matHeaderCellDef> Prescription Sent </th>
            <td mat-cell *matCellDef="let element">
              <div class="green-pill">
                <img src="assets/svgs/green-pad.svg" alt="">
                <span class="ml-2">{{element.prescription_sent}}</span>
              </div>
            </td>
          </ng-container>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
              No data to display.
            </td>
          </tr>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator hidePageSize [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </cdk-accordion-item>
</cdk-accordion>
