.close-btn-wrapper {
  position: absolute;
  right: 24px;
  top: 24px;

  .modal-close-btn {
    border: none;
    background: transparent;
    outline: none;
  }
}

.popup-modal {
  padding: 24px;
  position: relative;
  font-family: DM Sans;
}

.body-content {
  h6 {
    font-size: 24px;
    font-weight: bold;
  }

  p {
    font-size: 18px;
    color: #7F7B92;
  }
}

.cancel-btn {
  padding: 8px 24px;
  min-width: 119px;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #EFE8FF;
  border-radius: 8px;
  font-size: 18px;
  line-height: 150%;
  color: #2E1E91;
  font-weight: bold;
}

.confirm-btn {
  padding: 8px 24px;
  min-width: 119px;
  height: 48px;
  background: #2E1E91;
  border: 1px solid #2E1E91;
  border-radius: 8px;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  font-weight: bold;
}
