.section-title {
  font-family: DM Sans;
  h6 {
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    color: var(--color-darkBlue);
  }

  p {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-gray);
    line-height: 150%;
  }
}

.user-profile-con {
  .user-img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  .user-info-con {
    span {
      font-size: 14px;
      color: var(--color-gray);
    }

    h6 {
      font-size: 16px;
    }
  }
}

.password-strength-wrapper {
  p {
    font-size: 14px;
    color: var(--color-gray);
    span {
      color: var(--color-darkBlue);
      font-weight: bold;
    }
  }

  .password-strength-con {
    .strength-item:first-child, .strength-item:last-child {
      margin-left: 0px;
    }
    .strength-item {
      height: 4px;
      background: #B0ADBE;
      border-radius: 10px;
      margin: 0px 5px 10px;
      opacity: 0.7;
    }
    .strength-item.filled {
      background: var(--color-darkBlue);
      opacity: 1;
    }
  }
}

.form-group {
  label {
    font-size: 14px;
    color: var(--color-darkestBlue);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .link {
      a {
        text-decoration: underline;
        font-size: 14px;
        color: var(--color-gray);
        font-weight: normal;
      }
    }
  }

  .next-btn {
    height: 56px;
    background: var(--color-darkBlue);
    border-radius: 8px;
    font-size: 18px;
    color: var(--color-white);
    position: relative;

    .btn-icon {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
    }
  }

  .next-btn:focus {
    box-shadow: none;
  }

  .error-msg {
    color: var(--color-red);
    padding: 10px 0px;
  }

  .password-field, .email-id-field, .phone-field {
    position: relative;

    .btn {
      position: absolute;
      right: 2px;
      bottom: 6px;
      background-color: var(--color-offWhite);
    }

    .btn:focus {
      box-shadow: none;
    }
  }
}

.form-control {
  padding: 14px 16px;
  background: var(--color-offWhite);
  border: 1px solid rgba(178, 175, 190, 0.2);
  border-radius: 8px;
  height: 48px;
  font-size: 16px;
  color: var(--color-darkestBlue);
}

.form-control:focus {
  box-shadow: none;
}
