<div class="card">
    <div class="card-body">
      <h5 class="card-title">Change Password</h5>
        <form [formGroup]="changePasswordForm" (submit)="onSubmit()">
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Current Password :</span>
                    </div>
                    <input type="text" class="form-control" formControlName="currentPassword">
            </div>   
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">New Password :</span>
                    </div>
                    <input type="password" class="form-control" formControlName="newPassword">
            </div> 
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="basic-addon1">Repeat Password :</span>
                    </div>
                    <input type="password" class="form-control" formControlName="repeatPassword">
            </div>    
    <div>
      <button type="reset" class="btn btn-secondary card-link">Reset</button>
      <button type="submit" [disabled]="!changePasswordForm.valid" class="btn btn-primary card-link">Submit</button>
    </div>
    <br>
    <div *ngIf="message != null" [ngClass]="message === 'Success'? 'alert alert-success': 'alert alert-danger'">
      <h5>{{message}}</h5>
    </div>
    </form>
    </div>
  </div>