<div class="card">
    <div class="card-body">
      <h4 class="card-title">Change Password <a style="float: right; cursor: pointer;" (click)="onClose()" class="material-icons">clear</a></h4>
        <form [formGroup]="changePasswordForm">
            <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Current Password" formControlName="currentPassword">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="New Password (Min 8 alphabet)" formControlName="newPassword">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput type="password" placeholder="Repeat Password (Min 8 alphabet)" formControlName="repeatPassword">
            </mat-form-field>
          <br>
        <mat-dialog-actions align="end">
          <button mat-raised-button color="primary" (click)="onSubmit()" type="reset" [disabled]="!changePasswordForm.valid">Submit</button>           
        </mat-dialog-actions>
      </form>
    </div>
</div>