<div class="diagnosis-main mt-4 section-odd">
  <div class="diagnosis-header w-100">
    <div class="diagnosis-header-content w-100">
      <img src="assets/svgs/diagnosis.svg" />
      <div class="diagnosis-img-title">Diagnosis</div>
      <div
        data-toggle="collapse"
        data-target="#diagnosis"
        class="click"
        (click)="isCollapsed = !isCollapsed"
      >
        <img
          class="arrow"
          [src]="
            isCollapsed
              ? 'assets/svgs/plus-icon.svg'
              : 'assets/svgs/minus-icon.svg'
          "
        />
      </div>
    </div>
  </div>

  <div
    id="diagnosis"
    aria-expanded="true"
    aria-controls="collapse"
    class="diagnosis-details collapse show w-100"
  >
    <hr class="hr" />

    <div class="d-flex ml-4 gap">
      <div class="first-list">
        <ul class="padding">
          <li *ngFor="let item of diagnosisData" class="margin">
            {{ item?.label }}
          </li>
        </ul>
      </div>

      <div class="w">
        <div class="">
          <input class="radio-box mr-1 mt-1" type="radio" name="radio" id="" />
          <label class="mr-3 radio-label">Yes</label>

          <input class="radio-box mr-1 mt-1" type="radio" name="radio" id="" />
          <label class="radio-label">No</label>
        </div>

        <div class="select">
          <ng-select
            class=""
            [items]="list"
            bindLabel="name"
            [clearable]="false"
            [(ngModel)]="selected"
          >
          </ng-select>
        </div>

        <div>
          <input class="radio-box mr-1 mt-1" type="radio" name="radio1" id="" />
          <label class="mr-3 radio-label radio-width">Primary</label>

          <input class="radio-box mr-1 mt-1" type="radio" name="radio1" id="" />
          <label class="radio-label">Secondary</label>
        </div>

        <div class="mt-3">
          <input class="radio-box mr-1 mt-1" type="radio" name="radio2" id="" />
          <label class="mr-3 radio-label radio-width">Provisional</label>

          <input class="radio-box mr-1 mt-1" type="radio" name="radio2" id="" />
          <label class="radio-label">Confirmed</label>
        </div>
      </div>
    </div>
  </div>
</div>
