<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 p-0">
      <mat-accordion class="intel-accordion-con" multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="intel-accordion-title">
                <img src="assets/svgs/pad-2.svg" alt="" width="44px">
                <h6 class="mb-0 ml-2">{{'Prescription Sent'|translate}} ({{prescriptionsSent.length ? prescriptionsSent.length : 0}})</h6>
                <mat-icon aria-hidden="false" aria-label="help icon" matTooltip="{{'Visits that shared prescription with patients'|translate}}" matTooltipPosition="right">help_outline</mat-icon>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="mat-elevation-z8">

            <table mat-table [dataSource]="dataSource">

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> {{'Patient'|translate}} </th>
                <td mat-cell *matCellDef="let element">

                  <div class="d-flex align-items-center">
                    <img src="{{ baseUrl + '/personimage/' + element.patient.uuid }}" (error) ="onImgError($event)" alt="" width="32px" height="32px" style="border-radius: 50%;">
                    <span class="font-bold ml-2">{{element.patient.person.display}} ({{(element.patient.person.gender)|translate}})</span>
                  </div>
                </td>
              </ng-container>

              <!-- Age Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> {{'Age'|translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.patient.person.age}}{{'y'|translate}} </td>
              </ng-container>

              <!-- Visit Created Column -->
              <ng-container matColumnDef="visit_created">
                <th mat-header-cell *matHeaderCellDef> {{'Visit Created'|translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.startDatetime|date:'d MMM, y'}} </td>
              </ng-container>

              <!-- Location Column -->
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> {{'Location'|translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.location.display}} </td>
              </ng-container>

              <!-- Cheif Complaint Column -->
              <ng-container matColumnDef="cheif_complaint">
                <th mat-header-cell *matHeaderCellDef> {{'Cheif Complaint'|translate}} </th>
                <td mat-cell *matCellDef="let element"> {{element.cheif_complaint}} </td>
              </ng-container>

              <!-- Prescription Sent Column -->
              <ng-container matColumnDef="prescription_sent">
                <th mat-header-cell *matHeaderCellDef> {{'Prescription Sent'|translate}} </th>
                <td mat-cell *matCellDef="let element">
                  <div class="green-pill">
                    <img src="assets/svgs/green-pad.svg" alt="">
                    <span class="ml-2">{{element.prescription_sent}}</span>
                  </div>
                </td>
              </ng-container>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
                  {{'No data to display.'|translate}}
                </td>
              </tr>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"   [routerLink]="['/dashboard/visit-summary', row?.uuid]" ></tr>
            </table>

            <mat-paginator hidePageSize [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
