<h4><i class="fas fa-heartbeat"></i> Vitals</h4>
<hr>
<div *ngIf='!vitalsPresent'>No Data</div>
<div *ngIf='vitalsPresent'>
  <table class="table table-responsive">
    <tr *ngFor='let item of v'>
      <th>Temp:</th>
      <td><span *ngIf="item.temp"> {{(item.temp * 9/5) + 32 | number : '1.2-2'}} F</span></td>
      <th>Height:</th>
      <td><span *ngIf="item.height">{{item.height}} cm</span></td>
      <th>Weight:</th>
      <td><span *ngIf="item.weight">{{item.weight}} kg</span></td>
      <th>BMI:</th>
      <td><span *ngIf="item.weight && item.height">{{item.weight/((item.height/100)*(item.height/100))| number : '1.2-2'}}</span></td>
      <th>SP02:</th>
      <td><span *ngIf="item.sp02">{{item.sp02}} %</span></td>
      <th>BP:</th>
      <td><span *ngIf="item.sbp && item.dbp">{{item.sbp}}/{{item.dbp}}</span></td>
      <th>HR:</th>
      <td>{{item.pulse}}</td>
      <td>{{item.respiratoryRate}}</td>
      <th>Hemoglobin:</th>
      <td><span *ngIf="item.hgb">{{item.hgb}}</span></td>
      <th>Blood Group:</th>
      <td><span *ngIf="item.group">{{item.group}}</span></td>
      <th>Sugar Level:</th>
      <td><span *ngIf="item.sugarLevel">{{item.sugarLevel}}</span></td>
    </tr>
  </table>
</div>
