<h4><i class="fas fa-heartbeat"></i> Vitals</h4>
<hr />
<div *ngIf="!vitalsPresent">No Data</div>
<div *ngIf="vitalsPresent">
  <div class="vital-items-wrapper">
    <div class="vital-item-row" *ngFor="let item of v">
      <div class="vital-item">
        <b>Temp:</b>&nbsp;
        <span *ngIf="item.temp; else tempElse">
          {{ (item.temp * 9) / 5 + 32 | number : "1.1-1" }} F</span
        >
        <ng-template #tempElse>
          NA
        </ng-template>
      </div>
      <div class="vital-item">
        <b>Height:</b>&nbsp; <span>{{ item.height || 'NA' }}</span>
      </div>
      <div class="vital-item">
        <b>Weight:</b>&nbsp;
        <span *ngIf="item.weight; else weightElse">{{ item.weight }} kg</span>
        <ng-template #weightElse>NA</ng-template>
      </div>
      <div class="vital-item">
        <b>BMI:</b>&nbsp;
        <span
          [style.color]="item.bmiColorCode"
          *ngIf="item.weight && item.heightCm; else bmiElse"
        >
          {{ item?.bmi || "NA" | number : "1.2-2" }}
        </span>
        <ng-template #bmiElse> NA </ng-template>
      </div>
      <div class="vital-item">
        <b>SP02:</b>&nbsp; <span *ngIf="item.sp02; else spo2Else">{{ item.sp02 }} %</span>
        <ng-template #spo2Else>NA</ng-template>
      </div>
    </div>
    <div class="vital-item-row">
      <div class="vital-item">
        <b>BP:</b>&nbsp;
        <span *ngIf="v[0]?.sbp && v[0]?.dbp; else bpElse">
          <span [style.color]="getSystolicColor(v[0]?.sbp)">
            {{ v[0]?.sbp || "NA" }}
          </span>
          /
          <span [style.color]="getDSystolicColor(v[0]?.dbp)">
            {{ v[0]?.dbp || "NA" }}
          </span>
        </span>
        <ng-template #bpElse>NA</ng-template>
      </div>
      <div class="vital-item"><b>HR:</b>&nbsp; {{ v[0]?.pulse || "NA" }}</div>
      <div class="vital-item">
        <b>RR:</b>&nbsp; {{ v[0]?.respiratoryRate || "NA" }}
      </div>
      <div class="vital-item">
        <b>Hemoglobin:</b>&nbsp; {{ v[0]?.hgb || "NA" }}
      </div>
      <div class="vital-item">
        <b>Blood Group:</b> {{ v[0]?.group || "NA" }}
      </div>
    </div>
    <div class="vital-item-row">
      <div class="vital-item">
        <b>Sugar Level(Fasting):</b>&nbsp;
        <span>
          <span>{{ v?.[0]?.sugarLevelFasting || "NA" }}</span>
        </span>
      </div>
      <div class="vital-item">
        <b>Sugar Level - Random:</b>&nbsp; {{ v[0]?.sugarLevelRandom || "NA" }}
      </div>
    </div>
  </div>
</div>
