<div class="past-visit-main w-100">
  <div class="table">
    <table class="table table-borderless w-100">
      <tr class="grey-color">
        <th
          [class]="header?.headerClass"
          *ngFor="let header of pastVisitHistory?.headers"
          class="font-weight"
        >
          {{ header?.name }}
        </th>
      </tr>

      <tr *ngFor="let data of pastVisitHistory?.data; index as i">
        <td
          *ngFor="let header of pastVisitHistory?.headers"
          class="vr pb-5 {{ header?.headerClass }}"
        >
          <ng-container [ngSwitch]="true">
            <div
              class="position-relative"
              *ngSwitchCase="header?.type === 'stepper'"
            >
              <img class="mr-1" [src]="data[header?.imageKey]" />
              <div
                *ngIf="i !== pastVisitHistory?.data?.length - 1"
                class="stepper-line position-absolute"
              ></div>
            </div>

            <div *ngSwitchCase="header?.type === 'stringwithimage'">
              <img class="mr-1" [src]="data[header?.imageKey]" />
              {{ data[header?.key] }}
            </div>

            <div *ngSwitchCase="header?.type === 'pill'">
              <div *ngFor="let btn of header?.pill" class="{{ btn?.btnClass }}">
                <img class="mr-1" [src]="data[header?.imageKey]" />
                {{ btn?.label }}
              </div>
            </div>

            <div *ngSwitchCase="header?.type === 'button'">
              <ng-container
                *ngIf="
                  data.isReassigned && header.name === 'Prescription';
                  else elseBlock
                "
              >
                <div class="reassigned-font">
                  <span class="font-label-color">
                    Reassigned

                    <img
                      (mouseenter)="itemHover = i"
                      (mouseleave)="itemHover = null"
                      class="click ml-1"
                      src="assets/svgs/info.svg"
                    />
                  </span>
                  <!-- hint icon -->

                  <div
                    *ngIf="itemHover === i"
                    class="popup-message alert-hint hint"
                    role="alert"
                  >
                    <div>
                      <div class="para mt-2 hint-para">
                        Visit reassigned to
                        <span class="font-bold">
                          {{ data?.reassignedHintText?.speciality }}
                        </span>
                        on
                        <span class="font-bold">
                          {{ data?.reassignedHintText?.date }}
                        </span>
                      </div>
                      <button
                        type="button"
                        class="close"
                        data-dismiss="alert"
                        aria-label="Close"
                      ></button>
                    </div>
                    <img
                      class="polygon-white"
                      src="assets/svgs/Polygon-white.svg"
                      alt=""
                    />
                  </div>
                </div>
              </ng-container>

              <ng-template #elseBlock>
                <button
                  *ngFor="let btn of header?.buttons"
                  class="btn btn-light {{ btn?.btnClass }}"
                  (click)="btn?.onClick()"
                >
                  <img class="mr-1" [src]="data[header?.imageKey]" />
                  {{ btn?.label }}
                </button>
              </ng-template>
            </div>

            <div *ngSwitchDefault>{{ data[header?.key] }}</div>
          </ng-container>
        </td>
      </tr>
    </table>
  </div>
</div>

<!-- <app-set-up-profile></app-set-up-profile> -->
