<div class="calendar-container">
  <div class="icon">
    <img src="../../../assets/icons/calendar/Frame 2608960.png" />
  </div>
  <div class="settext"><p class="text-setup">Setup your calendar</p></div>
  <div class="setpara">
    <p class="login-para">
      Please set up your scedule for the month according to your availability
    </p>
  </div>
  <div class="btn">
    <button type="submit" class="btn-view">View calendar</button>
  </div>
  <div class="setview">
    <app-set-up-calendar></app-set-up-calendar>
  </div>
</div>
