.calendar-container {
  display: grid;
  grid-template-areas:
    "icon settext btn"
    "icon setpara btn"
    "setview setview setview";
  grid-template-columns: repeat(3, 1fr);
  //background-color: var(--color-white);
}
.setview {
  grid-area: setview;
}
.icon {
  grid-area: icon;
  align-self: left;
  width: 4rem;
}

.settext {
  grid-area: settext;
  align-self: left;
  justify-self: flex-start;
  height: 1.5rem;
}

.setpara {
  grid-area: setpara;
  align-self: left;
  width: 45rem;
}

.btn {
  grid-area: btn;
  align-self: left;
  width: 60rem;
}
