<b style="margin: 12px 12px 12px 0px;">{{'ECG'|translate}}:</b>
<div *ngIf="ecgPresent">
    <hr>
    <div class="row">
        <div *ngFor="let image of ecgImages" class="col">
            <a href={{image.image}}><img src={{image.image}} class="image" alt=""></a>
        </div>
    </div>
    <div class="vital-items-wrapper">
      <div class="vital-item-row">
        <div class="vital-item">
          <b>{{'R-R interval'|translate}}:</b>&nbsp;<span> {{ ecgData.rInterval }} ms</span>
        </div>
        <div class="vital-item">
          <b>{{'HRV'|translate}}:</b>&nbsp;<span>{{ecgData.hrv}} ms</span>
        </div>
        <div class="vital-item">
          <b>{{'Heart rate'|translate}}:</b>&nbsp;<span>{{ecgData.heartRate}} BPM</span>
        </div>
      </div>
    </div>
    <!-- <table class="table table-responsive">
        <tr>
            <th>{{'R-R interval'|translate}}:</th>
            <td><span> {{ ecgData.rInterval }} ms</span></td>
            <th>{{'HRV'|translate}}:</th>
            <td><span>{{ecgData.hrv}} ms</span></td>
            <th>{{'Mood'|translate}}:</th>
            <td><span>{{ecgData.mood}}</span></td>
            <th>{{'Heart beat'|translate}}:</th>
            <td>{{ecgData.heartBeat}}</td>
            <th>{{'Stress level'|translate}}:</th>
            <td><span>{{ecgData.stressLevel}} </span></td>
        </tr>
        <tr>
            <th>{{'Heart rate'|translate}}:</th>
            <td><span>{{ecgData.heartRate}} BPM</span></td>
            <th>{{'Repository rate'|translate}}:</th>
            <td>{{ecgData.repositoryRate}}</td>
            <th>{{'Heart age'|translate}}:</th>
            <td>{{ecgData.heartAge}}</td>
            <th>{{'Robust heart rate'|translate}}:</th>
            <td>{{ecgData.robustHeartRate}}</td>
        </tr>
    </table> -->
</div>
