<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-md-12 p-0">
            <div class="card intel-card">
                <div class="card-header">
                    <img class="mr-2" src="assets/svgs/vital-grey.svg" alt="" height="44px">
                    <div>
                        <h6 class="mb-0">{{'Patient Vitals' | translate}}</h6>
                        <div class="msg">
                            <span class="mr-3">{{'Enable/Disable Patient Vitals' | translate}}</span>
                            <div class="pretty p-switch p-fill">
                                <input type="checkbox" [(ngModel)]="sectionEnabled" (change)="updateFeatureStatus(sectionData?.id, $event.target.checked)"/>
                                <div class="state">
                                    <label></label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header-actions">
                        <button type="button" class="btn" (click)="onPublish()" data-test-id="btnAddMindmap">{{'Publish'
                            | translate}}</button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mat-elevation-z8">
                        <table mat-table [dataSource]="dataSource" matTableResponsive>
                            <!-- Position Column -->
                            <ng-container matColumnDef="id">
                                <th mat-header-cell *matHeaderCellDef> {{'Sr. No.' | translate}} </th>
                                <td mat-cell *matCellDef="let element; let i = index">
                                    {{this.paginator?.pageIndex == 0 ? i + 1 : 1 + i + this.paginator?.pageIndex *
                                    this.paginator?.pageSize}}
                                </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> {{'Vital' | translate}} </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <!-- Last Updated Column -->
                            <ng-container matColumnDef="updatedAt">
                                <th mat-header-cell *matHeaderCellDef> {{'Last Updated' | translate}} </th>
                                <td mat-cell *matCellDef="let element">{{element.updatedAt|date:'dd MMM, yyyy'}}</td>
                            </ng-container>

                            <!-- Mandatory Column -->
                            <ng-container matColumnDef="is_mandatory">
                                <th mat-header-cell *matHeaderCellDef> {{'Mandatory Field' | translate}} </th>
                                <td mat-cell *matCellDef="let element">
                                    <div *ngIf="['BMI','Waist to Hip Ratio (WHR)','Height (cm)','Weight (kg)','Waist Circumference (cm)','Hip Circumference (cm)'].indexOf(element.name) === -1">
                                        <mat-checkbox [disabled]="!sectionEnabled" [checked]="element.is_mandatory" (change)="updateMandatoryStatus(element.id, $event.checked)"></mat-checkbox>
                                    </div>

                                    <span *ngIf="element.name === 'BMI'||element.name === 'Waist to Hip Ratio (WHR)'">NA</span>
                                    
                                    <div *ngIf="(element.name === 'Height (cm)'||element.name === 'Weight (kg)') && !bmiEnabled">
                                        <mat-checkbox [disabled]="!sectionEnabled" [checked]="element.is_mandatory" (change)="updateMandatoryStatus(element.id, $event.checked)"></mat-checkbox>
                                    </div>
                                    <span *ngIf="(element.name === 'Height (cm)'||element.name === 'Weight (kg)') && bmiEnabled"><img src="assets/svgs/blue-tick.svg" alt="" width="18px"></span>
                                    
                                    <div *ngIf="(element.name === 'Waist Circumference (cm)'||element.name === 'Hip Circumference (cm)') && !whrEnabled">
                                        <mat-checkbox [disabled]="!sectionEnabled" [checked]="element.is_mandatory" (change)="updateMandatoryStatus(element.id, $event.checked)"></mat-checkbox>
                                    </div>
                                    <span *ngIf="(element.name === 'Waist Circumference (cm)'||element.name === 'Hip Circumference (cm)') && whrEnabled"><img src="assets/svgs/blue-tick.svg" alt="" width="18px"></span>
                                </td>
                            </ng-container>

                            <!-- Active Column -->
                            <ng-container matColumnDef="is_enabled">
                                <th mat-header-cell *matHeaderCellDef> {{'Active' | translate}} </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="tooltip-box">
                                        <div class="pretty p-switch p-fill">
                                            <input type="checkbox" [checked]="element.is_enabled"
                                            (change)="updateStatus(element.id, $event.target.checked)"
                                            [disabled]="!sectionEnabled || ((element.name == 'Height (cm)'|| element.name =='Weight (kg)') && bmiEnabled) || ((element.name == 'Waist Circumference (cm)'|| element.name =='Hip Circumference (cm)') && whrEnabled)"
                                            data-test-id="checkboxMindmapToggleStatus" />
                                            <div class="state">
                                                <label></label>
                                            </div>
                                        </div>
                                        <div *ngIf="((element.name == 'Height (cm)'|| element.name =='Weight (kg)') && bmiEnabled)" class="tooltip-con" matTooltipClass="custom-tooltip" [matTooltip]="'Height and Weight are mandatory for calculating BMI.'" matTooltipPosition="above"></div>
                                        <div *ngIf="((element.name == 'Waist Circumference (cm)'|| element.name =='Hip Circumference (cm)') && whrEnabled)" class="tooltip-con" matTooltipClass="custom-tooltip" [matTooltip]="'Waist and Hip circumference are mandatory for calculating WHR.'" matTooltipPosition="above"></div>
                                    </div>
                                </td>
                            </ng-container>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
                                    {{'No data to display.' | translate}}
                                </td>
                            </tr>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row [ngClass]="!sectionEnabled ? 'text-greyout' : ''" *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                    <mat-paginator hidePageSize [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                        aria-label="Select page of periodic elements"></mat-paginator>
                    <button type="button" class="btn-block mt-3" (click)="onPublish()"
                        data-test-id="btnAddMindmap">{{'Publish' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>