.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  > div {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 5px;

    button {
      margin-bottom: 17px;
    }
  }
}

.fab-toggler {
  float: right;
  z-index: 100;
}

#fab-dismiss {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

// Message Screen
.message-container {
  position: fixed;
  bottom: 12%;
  right: 5%;

  margin-right: 10px;

  width: 33%;
  height: 85%;

  background: #faf9ff;
  border: 8px solid #ffffff;
  box-shadow: 0px 4px 24px rgba(31, 28, 58, 0.08);
  border-radius: 12px;

  z-index: 9990;
}
.picture {
  margin: 10px;
  img {
    width: 32px;
    height: 32px;
  }
}
.profile-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 68px;
  background: #ffffff;
  .name {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  }
}
.body {
  overflow-y: auto;
  padding: 18px 16px;

  height: 75%;

  scroll-behavior: smooth;
}
.message {
  flex-grow: 1;
  display: flex;
  flex-direction: column-reverse;

  margin-top: 13rem;
}
.conversation {
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  margin-top: 10px;
  .messageContent {
    background: #ffffff;
    border: 1px solid rgba(178, 175, 190, 0.2);
    border-radius: 1px 8px 8px 8px;
    padding: 10px;
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  }

  &.me {
    align-items: flex-end;
    .messageContent {
      background: #efe8ff;
      border-radius: 8px 8px 0px 8px;
      font-family: "DM Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      color: #1b163a;
    }
  }
}

.chat-time {
  position: absolute;
  left: 38%;
  top: 13%;
  font-size: 12px;
  letter-spacing: -0.139286px;
  color: #7f7b92;
}
.footer {
  display: flex;
  .attach-img {
    position: absolute;
    right: 8%;
    bottom: 22%;
    cursor: pointer;
  }
}
.sent-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2e1e91;
  border-radius: 8px;
  margin-right: 8px;
  width: 44px;
  cursor: pointer;
}
.textarea {
  width: 100%;
  input {
    padding: 12px 16px;
    width: 94%;
    height: 44px;
    background: #efe8ff;
    border: 1px solid rgba(178, 175, 190, 0.2);
    border-radius: 8px;
    margin-left: 10px;
  }
}

.read-unread-messages {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 4px;

  width: 56px;
  height: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.read-unread-img {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 2px;

  width: 20px;
  height: 20px;

  /* Accent/Light blue */

  background: #efe8ff;
  border-radius: 24px 24px 4px 24px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.read-unread-label {
  display: flex;
  align-items: center;

  width: 32px;
  height: 18px;

  color: #7f7b92;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  text-align: center;
  letter-spacing: -0.139286px;
}
