.example-full-width {
    width: 100%;
}

.doctor-value .strike  {
  text-decoration: line-through;
}

.comment  {
  font-size: 10px;
  color: red;
  font-weight: bold;
  white-space: nowrap;
}

.comment-blue  {
  font-size: 10px;
  color: darkblue;
  font-weight: bold;
  white-space: nowrap;
}

.red-star {
  color: red;
}

/* @media only screen and (max-width: 768px) {
    .example-full-width {
      width: 60%;
    }
   } */
