<div [ngClass]="getLang() === 'ar' ? 'class1' : 'class2'">
    <h4><i class="fas fa-notes-medical"></i> {{ 'Notes' | translate }}</h4>
    <hr>
    <form [formGroup]='commentForm'>
        <div id="doctor-notes">
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="{{ 'Notes' | translate }}"
                    formControlName='comment'></textarea>
            </mat-form-field>
            <button type="reset" (click)="Submit()" mat-raised-button color="primary" [disabled]='!commentForm.valid || isManagerRole' *ngIf="!visitCompleted">{{
                'Add Note' | translate}}</button>
        </div>
    </form>
    <br>
    <ng-container *ngIf="comment.length > 0">
        <div  *ngFor="let c of comment, index as i" >
            <div [@moveInLeft] class="alert" [ngClass]="{ 'alert-primary': !c.comment, 'alert-danger': c.comment }">
              <div class="doctor-value d-flex flex-column">
                <span [class.strike]="c.comment">{{c.value}}</span>
                <div class="mt-2 d-flex flex-column border-top border-primary pt-2">
                  <span class="comment-blue">{{c|comment:'addedBy-creator'}} {{c.creatorRegNo}} | {{c.obsDatetime|date:'dd-MM-y , hh:mm a'}}</span>
                  <span *ngIf="c.comment" class="comment">{{c.comment|comment}}</span>
                </div>
              </div>
              <i (click)="delete(i)" class="material-icons float-right" [class.disabled]="isManagerRole" *ngIf="!c.comment && !visitCompleted"
                  style="color:rgb(235, 30, 30);cursor: pointer;">delete</i>
            </div>
        </div>
    </ng-container>
</div>
