<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col p-0">
        <div
          *ngIf="initiator === 'hw'"
          [class.d-none]="!connecting"
          class="main-container connecting"
        >
          <div class="text-center text">Call is connecting...</div>
        </div>
        <div
          [class.d-none]="
            (!callConnected && initiator === 'dr') ||
            (!callConnected && initiator === 'hw' && connecting)
          "
          class="main-container"
        >
          <div class="remote-con" [class.minimized]="_minimized">
            <div #remoteVideo class="remote-container"></div>
            <div
              [ngClass]="{ 'd-none': !_remoteVideoOff }"
              class="video-off-container"
            >
              <img
                src="{{ baseUrl + '/personimage/' + data.patientPersonUuid }}"

                alt=""
              />
            </div>
            <div class="audio-status">
              <img class="audio-img" [src]="remoteAudioIcon" />
            </div>
            <div class="call-duration-container">
              <div class="call-duration" [class.d-none]="_minimized">
                <span *ngIf="callDuration" class="pill">{{
                  callDuration
                }}</span>
              </div>
            </div>
            <div class="video-controls" [class.d-none]="_minimized">
              <button
                type="button"
                class="video-ctrl-btn red"
                (click)="endCallInRoom()"
                data-test-id="btnEnd"
              >
                <img src="assets/svgs/call-end.svg" alt="" />
              </button>
              <button
                type="button"
                class="video-ctrl-btn"
                (click)="toggleAudio()"
                data-test-id="btnToggleAudio"
                [class.gray]="_localAudioMute"
              >
                <img
                  src="{{
                    _localAudioMute
                      ? 'assets/svgs/microphone-mute.svg'
                      : 'assets/svgs/microphone-blue.svg'
                  }}"
                  alt=""
                />
              </button>
              <button
                type="button"
                class="video-ctrl-btn"
                (click)="toggleVideo()"
                data-test-id="btnToggleVideo"
                [class.gray]="_localVideoOff"
              >
                <img
                  src="{{
                    _localVideoOff
                      ? 'assets/svgs/video-mute.svg'
                      : 'assets/svgs/video-blue.svg'
                  }}"
                  alt=""
                />
              </button>
            </div>
            <div class="window-controls" [class.minimized]="_minimized">
              <button
                type="button"
                class="video-ctrl-btn"
                (click)="toggleWindow()"
                data-test-id="btnToggleWindow"
              >
                <img
                  src="{{
                    _minimized
                      ? 'assets/svgs/maximize-blue.svg'
                      : 'assets/svgs/minimize-blue.svg'
                  }}"
                  alt=""
                />
              </button>
            </div>
          </div>
          <div class="local-con" [class.d-none]="_minimized">
            <div #localVideo class="local-container"></div>
            <div class="video-off-container" *ngIf="_localVideoOff">
              <img
                src="{{ baseUrl + '/personimage/' + data.drPersonUuid }}"
                (error)="$event.target.src = 'assets/svgs/dr-user.svg'"
                alt=""
              />
            </div>
            <div class="audio-status">
              <img class="audio-img" [src]="localAudioIcon" />
            </div>
          </div>
        </div>
        <div
          *ngIf="initiator !== 'hw'"
          [class.d-none]="callConnected"
          class="call-container"
        >
          <div class="content">
            <div class="profile-img">
              <img src="{{ baseUrl + '/personimage/' + data?.patientId }}"
              (error)="onImgError($event)"
              >
            </div>
            <div class="user-name">{{ this.data.patientName | titlecase }}</div>
            <div class="user-desc">{{ this.data.patientGender | titlecase }}, {{ this.data.patientAge }}</div>
            <button
            type="button"
            class="video-ctrl-btn red"
            (click)="endCallInRoom()"
          >
            <img src="assets/svgs/call-end.svg" alt="" />
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
