<!-- <div class="call-detail" mat-dialog-title [class.d-none]="_minimized">
  <div class="chw-item">
    <img src="assets/svgs/chw.svg" alt="" />
    <div class="d-flex flex-column justify-content-center">
      <h6 class="mb-0">{{ this.hwName | titlecase }}</h6>
      <span>{{ "CHW" | translate }}</span>
    </div>
  </div>
  <div class="chw-item">
    <img src="assets/svgs/patient.svg" alt="" />
    <div class="d-flex flex-column justify-content-center">
      <h6 class="mb-0">{{ this.data.patientName | titlecase }}</h6>
      <span>{{ "Patient" | translate }}</span>
    </div>
  </div>
</div> -->
<mat-dialog-content>
  <div class="container-fluid">
    <div class="row">
      <div class="col p-0">
        <div
          *ngIf="initiator === 'hw'"
          [class.d-none]="!connecting"
          class="main-container connecting"
        >
          <div class="text-center text">Call is connecting...</div>
        </div>
        <div
          [class.d-none]="
            (!callConnected && initiator === 'dr') ||
            (!callConnected && initiator === 'hw' && connecting)
          "
          class="main-container"
        >
          <div class="remote-con" [class.minimized]="_minimized">
            <div #remoteVideo class="remote-container"></div>
            <div
              [ngClass]="{ 'd-none': !_remoteVideoOff }"
              class="video-off-container"
            >
              <img
                src="{{ baseUrl + '/personimage/' + data.patientPersonUuid }}"
                (error)="onImgError($event)"
                alt=""
              />
            </div>
            <div class="audio-status">
              <img class="audio-img" [src]="remoteAudioIcon" />
            </div>
            <div class="call-duration-container">
              <div class="call-duration" [class.d-none]="_minimized">
                <span *ngIf="callDuration" class="pill">{{
                  callDuration
                }}</span>
              </div>
            </div>
            <div class="video-controls" [class.d-none]="_minimized">
              <button
                type="button"
                class="video-ctrl-btn red"
                (click)="endCallInRoom()"
                data-test-id="btnEnd"
              >
                <img src="assets/svgs/call-end.svg" alt="" />
              </button>
              <button
                type="button"
                class="video-ctrl-btn"
                (click)="toggleAudio()"
                data-test-id="btnToggleAudio"
                [class.gray]="_localAudioMute"
              >
                <img
                  src="{{
                    _localAudioMute
                      ? 'assets/svgs/microphone-mute.svg'
                      : 'assets/svgs/microphone-blue.svg'
                  }}"
                  alt=""
                />
              </button>
              <button
                type="button"
                class="video-ctrl-btn"
                (click)="toggleVideo()"
                data-test-id="btnToggleVideo"
                [class.gray]="_localVideoOff"
              >
                <img
                  src="{{
                    _localVideoOff
                      ? 'assets/svgs/video-mute.svg'
                      : 'assets/svgs/video-blue.svg'
                  }}"
                  alt=""
                />
              </button>
            </div>
            <div class="window-controls" [class.minimized]="_minimized">
              <button
                type="button"
                class="video-ctrl-btn"
                (click)="toggleWindow()"
                data-test-id="btnToggleWindow"
              >
                <img
                  src="{{
                    _minimized
                      ? 'assets/svgs/maximize-blue.svg'
                      : 'assets/svgs/minimize-blue.svg'
                  }}"
                  alt=""
                />
              </button>
            </div>
          </div>
          <div class="local-con" [class.d-none]="_minimized">
            <div #localVideo class="local-container"></div>
            <div class="video-off-container" *ngIf="_localVideoOff">
              <img
                src="{{ baseUrl + '/personimage/' + data.drPersonUuid }}"
                (error)="$event.target.src = 'assets/svgs/dr-user.svg'"
                alt=""
              />
            </div>
            <div class="audio-status">
              <img class="audio-img" [src]="localAudioIcon" />
            </div>
          </div>
        </div>
        <div
          *ngIf="initiator !== 'hw'"
          [class.d-none]="callConnected"
          class="call-container"
        >
          <div class="content">
            <div class="profile-img">
              <img src="{{ baseUrl + '/personimage/' + data?.patientId }}"
              (error)="onImgError($event)">
            </div>
            <div class="user-name">{{ this.data.patientName | titlecase }}</div>
            <div class="user-desc">{{ this.data.patientGender | titlecase }}, {{ this.data.patientAge }}</div>
            <button
            type="button"
            class="video-ctrl-btn red"
            (click)="endCallInRoom()"
          >
            <img src="assets/svgs/call-end.svg" alt="" />
          </button>
          </div>
        </div>
      </div>
      <div class="col-md-4 p-0" *ngIf="_chatOpened && !_minimized">
        <div class="chat-main-con">
          <div class="chat-con-title">
            <div class="chat-item-info">
              <img
                src="{{ baseUrl + '/personimage/' + data.patientPersonUuid }}"
                (error)="onImgError($event)"
                alt=""
              />
              <div class="title">
                <h6 class="mb-0">{{ this.data.patientName }}</h6>
                <span>{{ data.patientOpenMrsId }}</span>
              </div>
            </div>
          </div>
          <div class="chat-con-body">
            <ul class="chat-messages-list">
              <ng-container
                *ngFor="let item of messageList; index as i; let first = first"
              >
                <li
                  class="chat-status"
                  [class.right]="item?.fromUser === chatSvc?.user?.uuid"
                >
                  <span class="mr-1">{{
                    item.createdAt | amDateFormat : "LT"
                  }}</span>
                  <ng-container
                    *ngIf="first && item?.fromUser === chatSvc?.user?.uuid"
                  >
                    <ng-container *ngIf="item.isRead">
                      <img src="assets/svgs/read-status.svg" alt="" />
                      <span class="ml-1">{{ "Read" | translate }}</span>
                    </ng-container>
                    <ng-container *ngIf="!item.isRead">
                      <img src="assets/svgs/sent-status.svg" alt="" />
                      <span class="ml-1">{{ "Sent" | translate }}</span>
                    </ng-container>
                  </ng-container>
                </li>
                <li
                  class="chat-message"
                  [class.right]="item?.fromUser === chatSvc?.user?.uuid"
                >
                  <ng-container
                    *ngIf="item.type === 'attachment'; else message"
                  >
                    <img
                      class="attachment"
                      alt=""
                      [src]="
                        isPdf(item.message) ? pdfDefaultImage : defaultImage
                      "
                      (click)="setImage(item.message)"
                    />
                  </ng-container>
                  <ng-template #message>
                    {{ item.message }}
                  </ng-template>
                </li>
              </ng-container>
            </ul>
            <div class="chat-input-con">
              <div class="input-group mr-2">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Type here"
                  [(ngModel)]="message"
                  (keyup.enter)="sendMessage()"
                  data-test-id="etChatMessage"
                />
                <div class="input-group-append">
                  <button type="button" (click)="fileInput.click()">
                    <img src="assets/svgs/attachment-icon.svg" alt="" />
                    <input
                      #fileInput
                      type="file"
                      (change)="uploadFile($event.target.files)"
                      style="display: none"
                    />
                  </button>
                </div>
              </div>
              <button
                type="button"
                class="send-btn"
                (click)="sendMessage()"
                data-test-id="btnSendMessage"
              >
                <img src="assets/svgs/send-icon-white.svg" alt="" />
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
