<div class="call-detail" mat-dialog-title>
    <div class="chw-item">
      <img src="assets/svgs/chw.svg" alt="">
      <div class="d-flex flex-column justify-content-center">
        <h6 class="mb-0">Kiran Devi</h6>
        <span>CHW</span>
      </div>
    </div>
    <div class="chw-item">
      <img src="assets/svgs/patient.svg" alt="">
      <div class="d-flex flex-column justify-content-center">
        <h6 class="mb-0">Muskan Kala</h6>
        <span>Patient</span>
      </div>
    </div>
</div>
<mat-dialog-content>
  <div class="main-container">
    <div class="remote-con">
      <video src=""></video>
      <div class="audio-status">
        <img class="audio-img" src="assets/svgs/audio-wave.svg" alt="">
        <img class="audio-img" src="assets/svgs/audio-wave-2.svg" alt="">
        <img class="audio-img" src="assets/svgs/audio-wave-mute.svg" alt="">
      </div>
      <div class="call-duration">
        <span>Call ends in</span>
        <span class="pill">12:32</span>
      </div>
      <div class="video-controls">
        <button type="button" class="video-ctrl-btn red">
          <img src="assets/svgs/call-end.svg" alt="">
        </button>
        <button type="button" class="video-ctrl-btn">
          <img src="assets/svgs/microphone-blue.svg" alt="">
        </button>
        <button type="button" class="video-ctrl-btn">
          <img src="assets/svgs/video-blue.svg" alt="">
        </button>
        <button type="button" class="video-ctrl-btn">
          <img src="assets/svgs/message-blue.svg" alt="">
        </button>
        <button type="button" class="video-ctrl-btn gray">
          <img src="assets/svgs/microphone-mute.svg" alt="">
        </button>
        <button type="button" class="video-ctrl-btn gray">
          <img src="assets/svgs/video-mute.svg" alt="">
        </button>
        <button type="button" class="video-ctrl-btn blue">
          <img src="assets/svgs/message-white.svg" alt="">
        </button>
      </div>
      <div class="window-controls">
        <button type="button" class="video-ctrl-btn">
          <img src="assets/svgs/minimize-blue.svg" alt="">
        </button>
      </div>
    </div>
    <div class="local-con">
      <video src=""></video>
      <div class="audio-status">
        <img class="audio-img" src="assets/svgs/audio-wave.svg" alt="">
        <img class="audio-img" src="assets/svgs/audio-wave-2.svg" alt="">
        <img class="audio-img" src="assets/svgs/audio-wave-mute.svg" alt="">
      </div>
    </div>
  </div>
</mat-dialog-content>
