<div class="container">
    <div class="wrap-login100">
      <div class="container wrap-login100">
        <div class="row">
          <div class="col-md-4">
            <div class="btn-group" [ngClass]="getLang() === 'ar' ? 'right1' : 'left1'">
              <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay('Previous')">
                {{ 'Previous'| translate }}
              </div>
              <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay('Today')">
                {{'Today' |translate }}
              </div>
              <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
                (viewDateChange)="closeOpenMonthViewDay('Next')">
                {{'Next' | translate}}
              </div>
            </div>
          </div>
          <div class="col-md-4" style="text-align: center;">
            <h3>{{viewDateLabel}}</h3>
          </div>
          <div class="col-md-4">
            <button [ngClass]="getLang() === 'ar' ? 'left1' : 'right1'" class="btn btn-primary" (click)="addSchedule()">
              {{'Add Schedule for Month' | translate}}
            </button>
          </div>
        </div>
        <br />
        <div class="calendar-view" [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
            [refresh]="refresh" [locale]="locale" [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-month-view>
          <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [dayStartHour]="9" [viewDate]="viewDate"
            [events]="events" [refresh]="refresh" [locale]="locale"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-week-view>
          <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [dayStartHour]="9" [viewDate]="viewDate"
            [events]="events" [refresh]="refresh" [locale]="locale"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #modalContent let-close="close" data-target="static">
    <div class="content-container">
      <div class="modal-title"><br>
        <h5 style="text-align: center;">{{'Appointment Schedule'|translate}}
          <span style="float: right;cursor: pointer; font-size: 31px;
          margin-top: -16px;margin-right: 10px;" (click)="close(); errorMsg=null">&times;</span>
        </h5>
      </div>
      <hr>
      <div class="modal-body">
        <table>
          <tr [formGroup]="scheduleForm">
            <td>
              <mat-label>
                <h5>{{ "Start Time" | translate }}</h5>
              </mat-label>
              <select formControlName="startTime">
                <option [value]="hour" *ngFor="let hour of slotHours">{{hour}}</option>
              </select>
            </td>
            <td>
              <mat-label>
                <h5>{{ "End Time" | translate }}</h5>
              </mat-label>
              <select formControlName="endTime">
                <option [value]="hour" *ngFor="let hour of slotHours">{{hour}}</option>
              </select>
            </td>
          </tr>
        </table>
        <br>
        <table class="table">
          <tr *ngFor="let t1 of types">
            <td>
              <input id="check1" type="checkbox" [(ngModel)]="t1.checked" (change)="set(t1)">
            </td>
            <td>{{(t1.day) | translate}}</td>
          </tr>
        </table>
        <table class="table">
          <tr *ngFor="let w1 of weekDays">
            <td>
              <input id="check2" type="checkbox" [(ngModel)]="w1.checked" (change)="set(w1)">
            </td>
            <td>{{(w1.day) | translate}}</td>
          </tr>
        </table>
        <table class="table">
          <tr *ngFor="let w2 of weekends">
            <td>
              <input id="check3" type="checkbox" [(ngModel)]="w2.checked" (change)="set(w2)">
            </td>
            <td>{{(w2.day) | translate}}</td>
          </tr>
        </table>
      </div>
      <p class="msg" *ngIf="errorMsg!== null">{{errorMsg}}</p>
      <div class="modal-footer center">
        <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="submit()">
          {{'Save' | translate}}
        </button>
        <button mat-raised-button color="primary" style="margin-left: 10px;" (click)="clear()">
          {{'Clear' | translate}}
        </button>
      </div>
    </div>
  </ng-template>
  
  <ng-template #schedule let-close="close" data-target="static">
    <div class="modal-content">
      <div class="modal-title">
        <br />
        <h5 style="text-align: center">
          {{ "Schedule" | translate }}  <br />
          {{ modalData.date | calendarDate: "day" + "ViewTitle":locale }}
          <span style="float: right;cursor: pointer; font-size: 31px;
           margin-top: -47px;margin-right: 14px;" (click)="close();clear1()">&times;</span>
        </h5>
        <hr />
      </div>
      <div class="modal-body">
        <div *ngFor="let e1 of modalData?.events; index as i">
          <div class="row">
            <div class="col-5">
              <mat-label>
                <h5>{{ "Start Time" | translate }}</h5>
              </mat-label>
              <select [disabled]="e1?.isTimeOver" [(ngModel)]="e1.startTime">
                <option [value]="hour" *ngFor="let hour of slotHours">{{hour}}</option>
              </select>
            </div>
            <div class="col-5">
              <mat-label>
                <h5>{{ "End Time" | translate }}</h5>
              </mat-label>
              <select [disabled]="e1?.isTimeOver" [(ngModel)]="e1.endTime">
                <option [value]="hour" *ngFor="let hour of slotHours">{{hour}}</option>
              </select>
            </div>
            <div class="col-2">
              <span style="
                float: right;
                cursor: pointer;
                font-size: 31px;
                margin-top: -16px;
                margin-right: 10px;
              " [class.disabled]="e1?.isTimeOver" (click)="deleteSlot(modalData?.events[i])">&times;</span>
            </div>
          </div>
          <hr />
          <div *ngIf="e1?.isTimeOver" class="alert alert-warning mt-4">
            {{'You can not modify past schedule.' | translate}}
          </div>
        </div> 
          <div class="center">
            <button *ngIf="!modalData?.events[0]?.isTimeOver" class="btn btn-primary" 
              (click)="saveSlots(modalData?.events)">
              {{'Save' | translate}}
            </button>
            <button *ngIf="!modalData?.events[0]?.isTimeOver" class="btn btn-primary" style="margin-right: 15px;margin-left: 15px;"
              (click)="addSlots(modalData?.events[0])">
              {{'Add New Schedule' | translate}}
            </button>
          </div>
      </div>
    </div>
  </ng-template>