<!-- <div>
      <h2 style="text-align:center;">Visit Summary</h2>
</div> -->
<mat-spinner *ngIf="setSpiner" [diameter]="70"></mat-spinner>
<div [ngClass]="(setSpiner)?'spin':''">
  <div class="container w-100 p-2 back-btn">
    <button id="back" (click)="back();" type="button" class="btn btn-outline-dark ml-auto float-right">Back</button>
  </div>
      <app-epartogram></app-epartogram>
</div>
<app-chat></app-chat>
<div id="vcButton" class="vc-button" (click)="openVcModal()">
  <span id="vc-button">
    <img [src]="videoIcon" />
  </span>
</div>
