<div>
  <h2 style="text-align:center;">Visit Summary</h2>
</div>  
<mat-spinner *ngIf="setSpiner" [diameter]="70"></mat-spinner>

<div class="container" [ngClass]="(setSpiner)?'spin':''">
      <mat-card>
            <app-patientinfo></app-patientinfo>
      </mat-card>
      <br>
      <mat-tab-group>
            <mat-tab *ngIf="!visitNotePresent">
                  <ng-template mat-tab-label>
                        <i class="name-spacing fa fa-sync-alt"></i> Refer to Specialist
                  </ng-template>
                  <mat-card >
                        <app-reassign-speciality [isManagerRole]="managerRoleAccess"></app-reassign-speciality>
                  </mat-card>
            </mat-tab>
            <mat-tab>
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-comment"></i> Presenting Complaints
                  </ng-template>
                  <mat-card>
                        <app-presenting-complaints></app-presenting-complaints>
                  </mat-card>
            </mat-tab>
            <mat-tab>
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-stethoscope"></i>On Examination
                  </ng-template>
                  <mat-card>
                        <app-on-examination></app-on-examination>
                  </mat-card>
            </mat-tab>
            <mat-tab>
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-history"></i>Past History
                  </ng-template>
                  <mat-card>
                        <app-past-history></app-past-history>
                  </mat-card>
            </mat-tab>
            <mat-tab *ngIf="isVitalPresent">
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-heartbeat"></i> Vitals
                  </ng-template>
                  <mat-card>
                        <app-vital (isDataPresent)="getIsVitalDataPresent($event)"></app-vital>
                  </mat-card>
            </mat-tab>
            <mat-tab>
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-hospital"></i> Past Visits
                  </ng-template>
                  <mat-card>
                        <app-past-visits></app-past-visits>
                  </mat-card>
            </mat-tab>
            <mat-tab>
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-clinic-medical"></i>Current Visit
                  </ng-template>
                  <mat-card>
                        <app-current-visit></app-current-visit>
                  </mat-card>
            </mat-tab>   
            <mat-tab *ngIf="isFamilyHistoryPresent">
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-users"></i> Family History
                  </ng-template>
                  <mat-card>
                        <app-family-history (isDataPresent)="getIsFamilyDataPresent($event)"></app-family-history>
                  </mat-card>
            </mat-tab>
            <mat-tab *ngIf="isPastMedicalPresent">
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-book-medical"></i>Past Medical History
                  </ng-template>
                  <mat-card>
                        <app-past-medical-history (isDataPresent)="getIsMedicalDataPresent($event)"></app-past-medical-history>
                  </mat-card>
            </mat-tab>
            <mat-tab *ngIf="isPhyscExamPresent">
                  <ng-template mat-tab-label>
                        Physical Examination
                  </ng-template>
                  <mat-card>
                        <app-physical-examination (isDataPresent)="getIsExamDataPresent($event)"></app-physical-examination>
                  </mat-card>
            </mat-tab>
            <mat-tab *ngIf="isAdditionalDocPresent">
                  <ng-template mat-tab-label>
                        Additional Documents
                  </ng-template>
                  <mat-card>
                        <app-additional-documents (isDataPresent)="getIsAdditionalDataPresent($event)"></app-additional-documents>
                  </mat-card>
            </mat-tab>
      </mat-tab-group>            
      <br>
      <mat-card *ngIf="!visitNotePresent">      
            <small style="color: red">
               <i>
                  <b>Note:</b> 
                  This history note and physical exam note was generated by a community health worker with the support
                  of the Intelehealth mobile application. It collects only preliminary findings and may not gather all of the patient's
                  clinical information, especially sensitive information or complex physical exam information which is hard for the
                  health worker to collect. Please verify crucial clinical information and collect any additional information you
                  require by speaking with the patient directly. 
               </i>
            </small>
      </mat-card>
      <br>

  
  <div class="text-center" *ngIf="!show">
    <button (click)="onStartVisit()" id="start-visit" mat-raised-button color="primary" [disabled]="managerRoleAccess || isVisitEnded">Start Visit Note</button>
  </div>
  <div *ngIf="show"> 
      <h2 style="text-align:center;">Prescription</h2>
      <mat-tab-group [(selectedIndex)]="demo1TabIndex">
            <mat-tab>
                  <ng-template mat-tab-label>
                        <i class="name-spacing material-icons">contact_phone</i>Patient Interaction<span style="color: red;">*</span>
                  </ng-template>
                  <mat-card> 
                        <app-patient-interaction
                              (isDataPresent)="getIsDataPresent($event)"
                              (nextTab)="nextTabClick()"
                              [isVisitCompleted]="visitCompletePresent">
                        </app-patient-interaction>
                   </mat-card>     
             </mat-tab>
            <mat-tab>
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-diagnoses"></i>Diagnosis
                  </ng-template>
                  <mat-card>
                        <app-diagnosis
                              (nextTab)="nextTabClick()"
                              [isVisitCompleted]="visitCompletePresent">
                        </app-diagnosis>
                  </mat-card>
             </mat-tab>
            <mat-tab> 
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-pills"></i>Prescribed Medication
                  </ng-template>
                  <mat-card>
                        <app-prescribed-medication
                              (nextTab)="nextTabClick()"
                              [isVisitCompleted]="visitCompletePresent">
                        </app-prescribed-medication>
                  </mat-card>
            </mat-tab>
            <mat-tab> 
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-vials"></i>Prescribed Test
                  </ng-template>
                  <mat-card>
                        <app-prescribed-test
                              (nextTab)="nextTabClick()"
                              [isVisitCompleted]="visitCompletePresent">
                        </app-prescribed-test>
                  </mat-card>
            </mat-tab>
            <mat-tab> 
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-comment-medical"></i>Advice
                  </ng-template>
                  <mat-card>
                        <app-advice
                              (nextTab)="nextTabClick()"
                              [isVisitCompleted]="visitCompletePresent">
                        </app-advice>
                  </mat-card>
            </mat-tab>
            <mat-tab> 
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-notes-medical"></i>Notes
                  </ng-template>
                  <mat-card>
                        <app-additional-comment
                              (nextTab)="nextTabClick()"
                              [isVisitCompleted]="visitCompletePresent">
                        </app-additional-comment>
                  </mat-card>
            </mat-tab>
            <mat-tab> 
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-book"></i>Follow Up
                  </ng-template>
                  <mat-card>
                        <app-follow-up
                              [isVisitCompleted]="visitCompletePresent"
                              [isFollowupPresent]="isFollowupPresent"
                              [isFollowupCompleted]="isFollowupCompleted"
                              [isVisitSummaryChanged]="isVisitSummaryChanged"
                              (signAndSubmit)="sign()">      
                        </app-follow-up>
                  </mat-card>
            </mat-tab>
      </mat-tab-group>
      <br>
      <ng-container *ngIf="visitCompletePresent && text">
            <div class="d-flex justify-content-center">
                  <mat-card>
                             <div [style.font-family]="font" style="font-size: 50px">{{text}}</div>
                  </mat-card>    
            </div>
            <br>
      </ng-container>
<!-- 
      <div class="text-center" [hidden]="visitCompletePresent && isFollowupPresent">
            <button (click)="sign()" id="sign-button" mat-raised-button color="primary" [disabled]="visitCompletePresent || isVisitEnded 
            || managerRoleAccess || isVisitSummaryChanged">Sign and Submit</button>
      </div>
      <div class="text-center" *ngIf="visitCompletePresent && isFollowupPresent">
            <button (click)="followUp()" id="sign-button" mat-raised-button color="primary" [disabled]="isFollowupCompleted">Followed Up</button>
      </div> -->
</div>
</div>

<!-- <app-chat></app-chat> -->
<!-- <div class="vc-button" (click)="openVcModal()">
  <span>
    <img [src]="videoIcon" />
  </span>
</div> -->