<div>
      <h2 style="text-align:center;">{{ 'Visit Summary'| translate }}</h2>
</div>
<mat-spinner *ngIf="setSpiner" [diameter]="70"></mat-spinner>
<div class="container" [ngClass]="(setSpiner)?'spin':''">
      <mat-card>
            <app-patientinfo></app-patientinfo>
      </mat-card>
      <br>
      <mat-tab-group>
            <mat-tab *ngIf="!visitNotePresent">
                  <ng-template mat-tab-label>
                        <i class="name-spacing fa fa-sync-alt"></i> {{'Refer to Specialist'| translate}}
                  </ng-template>
                  <mat-card >
                        <app-reassign-speciality [isManagerRole]="isManagerRole"></app-reassign-speciality>
                  </mat-card>
            </mat-tab>
            <mat-tab>
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-comment"></i> {{'Presenting Complaints'|translate}}
                  </ng-template>
                  <mat-card>
                        <app-presenting-complaints></app-presenting-complaints>
                  </mat-card>
            </mat-tab>
            <mat-tab>
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-stethoscope"></i>{{ 'On Examination'| translate}}
                  </ng-template>
                  <mat-card>
                        <app-on-examination></app-on-examination>
                  </mat-card>
            </mat-tab>
            <mat-tab *ngIf="isVitalPresent">
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-heartbeat"></i> {{'Vitals'|translate}}
                  </ng-template>
                  <mat-card>
                        <app-vital (isDataPresent)="getIsVitalDataPresent($event)"></app-vital>
                  </mat-card>
            </mat-tab>
            <mat-tab>
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-hospital"></i> {{'Past Visits'| translate}}
                  </ng-template>
                  <mat-card>
                        <app-past-visits></app-past-visits>
                  </mat-card>
            </mat-tab>
            <mat-tab>
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-clinic-medical"></i> {{ 'Current Visit'|translate}}
                  </ng-template>
                  <mat-card>
                        <app-current-visit></app-current-visit>
                  </mat-card>
            </mat-tab>   
            <mat-tab *ngIf="isFamilyHistoryPresent">
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-users"></i> {{'Family History' | translate }}
                  </ng-template>
                  <mat-card>
                        <app-family-history (isDataPresent)="getIsFamilyDataPresent($event)"></app-family-history>
                  </mat-card>
            </mat-tab>
            <mat-tab *ngIf="isPastMedicalPresent">
                  <ng-template mat-tab-label>
                        <i class="name-spacing fas fa-book-medical"></i> {{'Past Medical History'|translate}}
                  </ng-template>
                  <mat-card>
                        <app-past-medical-history (isDataPresent)="getIsMedicalDataPresent($event)"></app-past-medical-history>
                  </mat-card>
            </mat-tab>
            <mat-tab *ngIf="isPhyscExamPresent">
                  <ng-template mat-tab-label>
                        {{'Physical Examination'|translate}}
                  </ng-template>
                  <mat-card>
                        <app-physical-examination (isDataPresent)="getIsExamDataPresent($event)"></app-physical-examination>
                  </mat-card>
            </mat-tab>
            <mat-tab *ngIf="isAdditionalDocPresent">
                  <ng-template mat-tab-label>
                        {{'Additional Documents'| translate}}
                  </ng-template>
                  <mat-card>
                        <app-additional-documents (isDataPresent)="getIsAdditionalDataPresent($event)"></app-additional-documents>
                  </mat-card>
            </mat-tab>
      </mat-tab-group>            
      <br>
      <mat-card *ngIf="!visitNotePresent">
            <small style="color: red">
                  <i>
                        <b>{{ 'Note' | translate }}:</b>
                        {{ 'This history note and physical exam note was generated by a community health worker with the'| translate }}
                        {{ 'support of the Intelehealth mobile application and Ayu, a digital assistant. It collects only'| translate }}
                        {{ 'preliminary findings and may not gather all of the patient clinical information, especially' | translate }}
                        {{ 'sensitive information or complex physical exam information which is hard for the health worker' | translate }}
                        {{ 'to collect. Please verify crucial clinical information and collect any additional information' | translate }}
                        {{ 'you require by speaking with the patient directly.' | translate }}
                  </i>
            </small>
      </mat-card>
      <br>


      <div class="text-center" *ngIf="!show">
            <button (click)="onStartVisit()" id="start-visit" mat-raised-button color="primary" 
            [disabled]="visitSpeciality != userSpeciality || isVisitEnded || isManagerRole">{{'Start Visit Note' | translate}}</button>
            <button *ngIf="showReleaseIcon && !(visitSpeciality != userSpeciality || isVisitEnded || isManagerRole)" (click)="release()" mat-raised-button color="primary" class="ml-3"
            >{{'Release Case' | translate}}</button>
      </div>
      <div *ngIf="show">
                  <h2 style="text-align:center;">{{ 'Remote Prescription'| translate }}</h2>
            <mat-tab-group>
                  <mat-tab>
                        <ng-template mat-tab-label>
                              <i class="name-spacing material-icons">contact_phone</i>{{'Patient Interaction'| translate}}
                        </ng-template>
                        <mat-card> 
                              <app-patient-interaction [isManagerRole]="isManagerRole"></app-patient-interaction>
                         </mat-card>     
                   </mat-tab>
                  <mat-tab>
                        <ng-template mat-tab-label>
                              <i class="name-spacing fas fa-diagnoses"></i>{{ 'Diagnosis' | translate }}
                        </ng-template>
                        <mat-card>
                              <app-diagnosis [isManagerRole]="isManagerRole"></app-diagnosis>
                        </mat-card>
                   </mat-tab>
                  <mat-tab> 
                        <ng-template mat-tab-label>
                              <i class="name-spacing fas fa-pills"></i>{{'Recommended Medication'|translate}}
                        </ng-template>
                        <mat-card>
                              <app-prescribed-medication [isManagerRole]="isManagerRole"></app-prescribed-medication>
                        </mat-card>
                  </mat-tab>
                  <mat-tab> 
                        <ng-template mat-tab-label>
                              <i class="name-spacing fas fa-vials"></i>{{'Recommended Tests'|translate}}
                        </ng-template>
                        <mat-card>
                              <app-prescribed-test [isManagerRole]="isManagerRole"></app-prescribed-test>
                        </mat-card>
                  </mat-tab>
                  <mat-tab> 
                        <ng-template mat-tab-label>
                              <i class="name-spacing fas fa-comment-medical"></i>{{'Advice or Refer Patient' | translate }}
                        </ng-template>
                        <mat-card>
                              <app-advice [isManagerRole]="isManagerRole"></app-advice>
                        </mat-card>
                  </mat-tab>
                  <mat-tab> 
                        <ng-template mat-tab-label>
                              <i class="name-spacing fas fa-notes-medical"></i>{{'Notes'|translate}}
                        </ng-template>
                        <mat-card>
                              <app-additional-comment [isManagerRole]="isManagerRole"></app-additional-comment>
                        </mat-card>
                  </mat-tab>
                  <mat-tab> 
                        <ng-template mat-tab-label>
                              <i class="name-spacing fas fa-book"></i>{{'Follow Up'|translate}}
                        </ng-template>
                        <mat-card>
                              <app-follow-up [isManagerRole]="isManagerRole"></app-follow-up>
                        </mat-card>
                  </mat-tab>
            </mat-tab-group>
            <br>
            <ng-container *ngIf="remotePrescriptionPresent && text">
                  <div class="d-flex justify-content-center">
                        <mat-card>
                              <div [style.font-family]="font" style="font-size: 30px">{{text}}</div>
                        </mat-card>
                  </div>
                  <br>
            </ng-container>

            <div class="text-center">
                  <button (click)="sign()" id="sign-button" mat-raised-button color="primary"
                        [disabled]="visitSpeciality != userSpeciality || isVisitEnded || remotePrescriptionPresent || isManagerRole">
                        {{ 'Remote Prescription' | translate }}</button>
            </div>
      </div>
</div>
      <!-- <div class="align-right bottom1">
            <i class="fas fa-hospital fa-lg" matTooltip=" {{'Past Visits'| translate}}" aria-hidden="true"></i>
      </div>
      <div class="align-right bottom2">
            <i class="fas fa-clinic-medical fa-lg" matTooltip=" {{'Current Visit'| translate}}" aria-hidden="true"></i> 
      </div>
      <div class="align-right bottom3">
            <i class="fas fa-users fa-lg" matTooltip=" {{'Family History'| translate}}" aria-hidden="true"></i>
      </div>
      <div class="align-right bottom4">
            <i class="fas fa-book-medical fa-lg" matTooltip=" {{'Past Medical History'| translate}}" aria-hidden="true"></i>
      </div>
      <div class="align-right bottom5">
            <i class="fas fa-heartbeat fa-lg"  matTooltip=" {{'Vitals'| translate}}" aria-hidden="true"></i>
      </div>
      <div class="align-right bottom6">
            <i class="fa fa-image fa-lg"  matTooltip=" {{'Additional Documents'| translate}}" aria-hidden="true"></i>
      </div>
      <div class="align-right bottom7">
            <i class="fas fa-images fa-lg"  matTooltip=" {{'Physical Examination'| translate}}" aria-hidden="true"></i>
      </div>
      <div class="align-right bottom8">
            <i class="fas fa-info-circle fa-lg"  matTooltip=" {{'Note'| translate}}" aria-hidden="true"></i>
      </div> -->
      <app-chat></app-chat>
      <div class="vc-button" (click)="openVcModal()">
        <span>
          <img [src]="videoIcon" />
        </span>
      </div>
