mat-spinner {
    position: absolute;
    z-index: 9999;
    left:46%;
    top:42%;
  }

  .spin {
    filter: blur(8px);
    -webkit-filter: blur(8px);
  }

  .vc-button {
    position: fixed;
    bottom: 90px;
    right: 30px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: rgb(40 167 69);
    box-shadow: 3px 3px 3px rgba(218, 215, 215, 0.925);
    padding: 10px;
    cursor: pointer;
  }
  .vc-button img {
    color: white;
    height: 30px;
    width: 30px;
  }

  

.chat-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgb(38, 94, 199);
  box-shadow: 3px 3px 3px rgba(218, 215, 215, 0.925);
  padding: 10px;
  cursor: pointer;
}

.chat-button i {
  color: white;
  font-size: 30px;
}

  