<div class="tabs-main-container mt-3 mb-0">
  <mat-tab-group [(selectedIndex)]="selectedIndex" mat-align-tabs="start">
    <!-- Current visit summary -->
    <mat-tab label="Current visit summary">
      <div class="card-shadow">
        <app-consultation-details-v4></app-consultation-details-v4>

        <app-vitals-v4></app-vitals-v4>

        <app-check-up-reason-v4></app-check-up-reason-v4>

        <app-physical-examination-v4></app-physical-examination-v4>

        <app-medical-history-v4></app-medical-history-v4>

        <app-additional-documents-v4></app-additional-documents-v4>

        <div *ngIf="!visitNotePresent">
          <app-refer-to-specialist-v4></app-refer-to-specialist-v4>
        </div>
      </div>

      <div class="card-shadow">
        <app-interaction-note-v4></app-interaction-note-v4>
      </div>

      <div *ngIf="!show" class="d-flex justify-content-center">
        <button (click)="onStartVisitNote()" class="btn btn-lg share-btn my-5">Start visit note</button>
      </div>

      <div *ngIf="show" class="card-shadow">
        <app-visit-notes-v4></app-visit-notes-v4>
        <div class="d-flex justify-content-center">
          <button class="btn btn-lg share-btn my-5">Share prescription</button>
        </div>
      </div>
    </mat-tab>

    <!--Past visit history  -->
    <mat-tab label="Past visit summary">
      <!--past visit main cantainer  -->
      <div>
        <app-past-visit-history-v4></app-past-visit-history-v4>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
