<div class="tabs-main-container mt-3">
  <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Current visit summary ">
      <div class="box-shadow">
        <app-consultation-details-v4></app-consultation-details-v4>

        <app-vitals-v4></app-vitals-v4>

        <app-check-up-reason-v4></app-check-up-reason-v4>

        <app-physical-examination-v4></app-physical-examination-v4>

        <app-medical-history-v4></app-medical-history-v4>

        <app-additional-documents-v4></app-additional-documents-v4>

        <app-refer-to-specialist-v4></app-refer-to-specialist-v4>
      </div>
      <app-interaction-note-v4></app-interaction-note-v4>

      <app-visit-notes-v4></app-visit-notes-v4>
    </mat-tab>

    <mat-tab label="Past visit summary">Content 2</mat-tab>
  </mat-tab-group>
</div>
