<div>
  <h2 style=text-align:center;>Patient Summary</h2>
</div>  
<div class="card-group">
 
      <div class="card">
        <app-vital></app-vital>
      </div>
   

      <div class="card">
        <app-family-history></app-family-history>
      </div>
  
  
      <div class="card">
        <app-past-medical-history></app-past-medical-history>    
      </div>


      <div class="card">
        <app-presenting-complaints></app-presenting-complaints>
      </div>
</div>
<div class="card-group">
      <div class="card">
        <app-on-examination></app-on-examination>
      </div>

  

      <div class="card">
        <app-physical-examination></app-physical-examination>
      </div>


      <div class="card">
        <app-additional-documents></app-additional-documents>
      </div>
 
</div>


<div class="card-group">
        <div class="card">
          <app-patient-interaction></app-patient-interaction>
        </div>
 
        <div class="card">
          <app-diagnosis></app-diagnosis>
        </div>

        <div class="card">
          <app-additional-comment></app-additional-comment>
        </div>

        <div class="card">
          <app-prescribed-medication></app-prescribed-medication>
        </div>
</div>

<div class="card-group">
        <div class="card">
          <app-prescribed-test></app-prescribed-test>
        </div>

        <div class="card">
          <app-advice></app-advice>
        </div>

        <div class="card">
          <app-follow-up></app-follow-up>
        </div>
</div>
  



