<div [ngClass]="getLang() === 'ar' ? 'class1' : 'class2'">
  <h4><i class="fas fa-comment-medical"></i> {{'Advice or Refer Patient' | translate }}</h4>
  <hr>
  <div id="advice-form">
    <form [formGroup]='adviceForm'>
      <mat-form-field class="w-100">
        <input matInput placeholder="{{'Advice or Refer Patient'| translate}}" [ngbTypeahead]="search"
          formControlName='advice'>
      </mat-form-field>
      <button mat-raised-button color="primary" type="reset" (click)="submit()" [disabled]='!adviceForm.valid || isManagerRole'>{{'Add
        Advice'|translate}}</button>
    </form>
    <br>
  </div>
  <ng-container *ngIf="advice.length > 0">
    <div *ngFor='let advice of advice, index as i'>
        <div [@moveInLeft] class="alert alert-primary">
          <div class="doctor-value" [innerHtml]="advice?.value"></div>
          <i (click)="delete(i)" class="material-icons float-right" [class.disabled]="isManagerRole" 
            style="color:rgb(235, 30, 30);cursor: pointer;">delete</i>
        </div>
    </div>
  </ng-container>
</div>