<div class="container-fluid" data-test-id="welcome-container">
  <div class="row">
    <div class="col-md-8 p-0">
      <div class="welcome-banner-con" data-test-id="welcome-banner">
        <span data-test-id="btnCloseWelcome">x</span>
        <h6 data-test-id="greeting-msg">
          {{greetingMsg | translate}}, {{doctorName|titlecase}}! 
          <img src="assets/images/Waving-Hand-Emoji.png" alt="" height="100%" data-test-id="imgWaveHand">
        </h6>
        <p data-test-id="welcome-desc">
          {{'Complete the following actions to start treating the patients' | translate}}
        </p>
      </div>
    </div>

    <!-- Profile card -->
    <div class="col-md-8 p-0">
      <div *ngIf="pc" class="card intel-horz-card my-3" data-test-id="profile-card">
        <div class="d-flex flex-row">
          <div class="pr-3">
            <img src="assets/svgs/user-pink-circle.svg" alt="..." width="44px" data-test-id="imgProfileIcon">
          </div>
          <div>
            <div class="card-body p-0" data-test-id="profile-card-body">
              <h6 class="card-title" data-test-id="profile-title">{{'Set up your profile'|translate}}</h6>
              <p class="card-text" data-test-id="profile-desc">
                {{'You need to set-up your profile by adding few details of yours & start receiving the patient prescription requests.' |translate}}
              </p>
              <button type="button" class="intel-blue-btn" 
                      (click)="setupProfile()" 
                      [disabled]="!pc"
                      data-test-id="btnSetupProfile">
                {{'Setup profile'| translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Calendar card -->
    <div class="col-md-8 p-0" *ngxPermissionsExcept="['ORGANIZATIONAL:MCC']">
      <div class="card intel-horz-card my-3"  
           data-test-id="calendar-card" 
           [class.disabled]="!sc">
        <div class="d-flex flex-row">
          <div class="pr-3">
            <img src="assets/svgs/calendar-pink-circle.svg" alt="..." width="44px" data-test-id="imgCalendarIcon">
          </div>
          <div>
            <div class="card-body p-0" data-test-id="calendar-card-body">
              <h6 class="card-title" data-test-id="calendar-title">{{'Set up your calendar' | translate}}</h6>
              <p class="card-text" data-test-id="calendar-desc">
                {{'You need to set-up your calendar so you can start taking appointments of the patients.' | translate}}
              </p>
              <button type="button" class="intel-blue-btn" 
                      (click)="setupCalendar()" 
                      [disabled]="!sc" 
                      data-test-id="btnSetupCalendar">
                {{'Setup calendar' | translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
