.container{
display: grid;
grid-template-columns: 1fr 4fr 1fr;
grid-template-areas:
  'heartbeat1 image heartbeat2'
  'footer footer footer'; 
}
.heartbeat1 { grid-area: heartbeat1;
   justify-self: flex-start;
   align-self: flex-end;
   }

 .heartbeat2{
    grid-area: heartbeat2;
    justify-self: flex-end;
}

 .image{
    grid-area: image;
    img{max-width: 280px;
      align-self: center;
   }
    
    //overflow: hidden;
 }
 .footer{
    grid-area: footer;
    color:var(--color-white);
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
 }
