.container{
display: grid;
grid-template-columns: 1fr 4fr 1fr;
grid-template-areas:
  'heartbeat1 image heartbeat2'
  'footer footer footer'; 
}
.heartbeat1 { grid-area: heartbeat1;
   justify-self: flex-start;
   align-self: flex-end;
   }

 .heartbeat2{
    grid-area: heartbeat2;
    justify-self: flex-end;
}

 .image{
    grid-area: image;
    img{max-width: 50rem;
      align-self: center;
      max-height: 50rem;
   }
 }

 @media screen and (max-width: 2000px) {
   .image{
      grid-area: image;
      img{max-width: 17.5rem;
        align-self: center;
        max-height: 17rem;
     }
   }
 }
 


 .footer{
    grid-area: footer;
    color:var(--color-white);
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
 }
