.same-section {
    display: flex;
    align-content: center;
    align-items: center;
}

label {
    margin-right: 20px;
}
  
.fab {
    font-size: 30px;
    padding: 10px;
    color: green;
    cursor: pointer;
    text-decoration: none;
}
  
.fab:hover {
    font-size: 35px;
    padding: 10px;
    color: green;
    cursor: pointer;
    text-decoration: none;
}
  
.fas {
    font-size: 30px;
    padding: 10px;
    color: #0080FF;
    cursor: pointer;
    text-decoration: none;
}
  
.fas:hover {
    font-size: 35px;
    padding: 10px;
    color: #0080FF;
    cursor: pointer;
    text-decoration: none;
}
  
.material-icons{
    vertical-align: text-bottom;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.radio-button {
    margin: 5px;
}

.referral-flex {
    display: flex;
    justify-content: space-around;
}