<h4><i class="material-icons">contact_phone</i> Referral</h4>
<hr>
<div>
    <div *ngIf="!coordinator">
        <div>
            <h5>Does this patient need a referral?</h5>
            <!-- <mat-checkbox class="example-margin" [(ngModel)]="referral" [disabled]="referral" (change)="onChangeHandler('referral', $event.checked)">Yes</mat-checkbox> -->
            <mat-radio-group aria-label="Select an option" class="radio-group" [value]="referralObs?.value" [disabled]="referralObs?.value" (change)="onChangeHandler('referral', $event.value)">
                <mat-radio-button class="radio-button" value="No">No</mat-radio-button>
                <mat-radio-button class="radio-button" value="Yes to Base Hospital">Yes to Base Hospital</mat-radio-button>
                <mat-radio-button class="radio-button" value="Yes to Vision Center">Yes to Vision Center</mat-radio-button>
                <mat-radio-button class="radio-button" value="Yes to Eye Camp">Yes to Eye Camp</mat-radio-button>
            </mat-radio-group>
            <br/>
        </div>
        <!-- <div *ngIf="referral">
            <h5>Referral Reason</h5>
            <mat-radio-group aria-label="Select an option" class="radio-group" [value]="referralReasonObs?.value" [disabled]="referralReasonObs?.value" (change)="onChangeHandler('referralReason', $event.value)">
                <mat-radio-button class="radio-button" value="Cataract">Cataract</mat-radio-button>
                <mat-radio-button class="radio-button" value="Specialty Care">Specialty Care</mat-radio-button>
            </mat-radio-group>
        </div> -->
        <div *ngIf="referralObs?.value !== 'No'">
            <h5>What timeframe is required for the referral? </h5>
            <mat-radio-group aria-label="Select an option" class="radio-group" [value]="referralTimeObs?.value" [disabled]="referralTimeObs?.value" (change)="onChangeHandler('referralTime', $event.value)">
                <mat-radio-button class="radio-button" value="Refer within 7 days">Refer within 7 days</mat-radio-button>
                <mat-radio-button class="radio-button" value="Refer in 7-14 days">Refer in 7-14 days</mat-radio-button>
                <mat-radio-button class="radio-button" value="Refer in 15+ days">Refer in 15+ days</mat-radio-button>
            </mat-radio-group>
        </div>
        <!-- <div class="same-section">
            <label>Is referral urgent?</label>
            <mat-checkbox class="example-margin" [(ngModel)]="urgent" [disabled]="urgent" (change)="onChangeHandler('urgent', $event.checked)">Yes</mat-checkbox>
        </div> -->
    
        <!-- <ng-container *ngIf="referral">
            <ul class="list-unstyled">
                <mat-list [@moveInLeft] class="alert alert-primary">
                    <div class="doctor-value">Referral</div>
                    <i (click)="delete('referral', referralObs.uuid)" class="material-icons float-right" style="color:rgb(235, 30, 30);cursor: pointer;">delete</i>
                </mat-list>
            </ul>
        </ng-container>
        <ng-container *ngIf="urgent">
            <ul class="list-unstyled">
                <mat-list [@moveInLeft] class="alert alert-primary">
                    <div class="doctor-value">Urgent</div>
                    <i (click)="delete('urgent', urgentObs.uuid)" class="material-icons float-right" style="color:rgb(235, 30, 30);cursor: pointer;">delete</i>
                </mat-list>
            </ul>
        </ng-container> -->
        <!-- <ng-container *ngIf="referralReasonObs?.value">
            <ul class="list-unstyled">
                <mat-list [@moveInLeft] class="alert alert-primary">
                    <div class="doctor-value">{{referralReasonObs?.value}}</div>
                    <i (click)="delete('referralReason', referralReasonObs.uuid)" class="material-icons float-right" style="color:rgb(235, 30, 30);cursor: pointer;">delete</i>
                </mat-list>
            </ul>
        </ng-container> -->
        <!-- <ng-container *ngIf="referralLocationObs?.value">
            <ul class="list-unstyled">
                <mat-list [@moveInLeft] class="alert alert-primary">
                    <div class="doctor-value">{{referralLocationObs?.value}}</div>
                    <i (click)="delete('referralLocation', referralLocationObs.uuid)" class="material-icons float-right" style="color:rgb(235, 30, 30);cursor: pointer;">delete</i>
                </mat-list>
            </ul>
        </ng-container> -->
    </div>
    <div *ngIf="referral && coordinator">
        <ul>
            <li>Referral - {{referralObs?.value}} in {{referralTimeObs?.value}}</li>
        </ul>
    </div>
</div>
