<h4>Referral</h4>
<hr>
<div>
  Does this patient need a referral?
</div>
<form [formGroup]='referral' (ngSubmit)='submit()'>
<div id="referral">
    <input type="checkbox" id="refer" name="refer" value="Yes">
    <label for="refer"> Yes</label><br>
</form>
<div>
<br>
  Is the referral urgent (<5 days)?
</div>
<form [formGroup]='urgent' (ngSubmit)='submit()'>
<div id="referral">
    <input type="checkbox" id="refer" name="refer" value="Yes">
    <label for="refer"> Yes</label><br>
</form>
</body>
</html>
