<h4><i class="fas fa-vials"></i> Prescribed Test</h4>
<hr>
<div>
    <form [formGroup]='testForm' (ngSubmit)='submit()'>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Test" [ngbTypeahead]="search" formControlName='test'>
        </mat-form-field>
        &nbsp;&nbsp;
        <!-- <input type="text" [ngbTypeahead]="search" formControlName='test'/> -->
        <button type="submit" mat-raised-button color="primary" [disabled]='!testForm.valid'>Add Test</button>
        {{errorText}}
      </form>
</div>
<ng-container *ngIf="tests.length >= 0">
<div *ngFor='let test of tests, index as i'>
  <div class="alert alert-primary" style="margin: 10px 7px;">{{test.value}}<i (click)="delete(i)" class="material-icons float-right">delete</i></div>
</div>
</ng-container>