<div class="daily-view-containr d-flex">
  <div class="timings-container">
    <div class="timing-list">
      <div class="time position-relative" *ngFor="let time of timings">
        {{ time }}
        <span class="position-absolute scale-time"></span>
      </div>
    </div>
  </div>
  <div class="daily-appointments w-100 h-100">
    <div class="appointments w-100" *ngFor="let time of timings">
      <div [class.hours-off]="time === offSlot(time)" *ngFor="let slot of availableSlots" [ngClass]="time === slot.startTime ? 'available-slots' : ''" class=" h-100">
        <div class="row h-100">
          <ng-container *ngIf="time === slot.startTime && slot.type === 'followUp'">
            <div class="col h-100 visit-info mt click" (click)="handleClick(slot)">
              <div class="d-flex">
                <img src="assets/svgs/consultaion-light-bg.svg" />
                <div class="d-grid">
                  <div class="label">Follow-up Visit</div>
                  <div class="sub-text">{{slot.startTime}}</div>
                </div>
              </div>
            </div>

            <div class="col h-100 patient-info mt">
              <div class="d-flex">
                <img src="{{ baseUrl + '/personimage/' + slot.patientId}}" class="profileImg" (error) ="onImgError($event)" />
                <div class="d-grid">
                  <div class="label">{{slot.patientName}}..({{slot.gender}},{{slot.age}})</div>
                  <div class="sub-text">Patient</div>
                </div>
              </div>
            </div>

            <div class="col h-100 hw-info mt">
              <div class="d-flex">
                <img src="assets/svgs/hw.svg" />
                <div class="d-grid">
                  <div class="label">{{slot.healthWorker}}..({{slot.hwGender}},{{slot.hwAge}})</div>
                  <div class="sub-text">Health Worker</div>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="time === slot.startTime && slot.type === 'appointment'">
            <div class="col h-100 visit-info mt click" (click)="handleClick(slot)">
              <div class="d-flex">
                <img src="assets/svgs/appointment.svg" />
                <div class="d-grid">
                  <div class="label">Appointment</div>
                  <div class="sub-text">{{ slot.startTime }} - {{ slot.endTime }}</div>
                </div>
              </div>
            </div>

            <div class="col h-100 patient-info mt click" (click)="handleClick(slot)">
              <div class="d-flex">
                <img src="{{ baseUrl + '/personimage/' + slot.patientId}}"  class="profileImg" (error) ="onImgError($event)" />
                <div class="d-grid">
                  <div class="label">{{slot.patientName}}..({{slot.gender}},{{slot.age}})</div>
                  <div class="sub-text">Patient</div>
                </div>
              </div>
            </div>

            <div class="col h-100 hw-info mt click" (click)="handleClick(slot)">
              <div class="d-flex">
                <img src="assets/svgs/hw.svg" />
                <div class="d-grid">
                  <div class="label">{{slot.healthWorker}}..({{slot.hwGender}},{{slot.hwAge}})</div>
                  <div class="sub-text">Health Worker</div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- <div
        *ngIf="offSlot(time)"
      
        class="hours-off h-100 w-100"
      >
        <div
          *ngIf="hoursOffSlots?.[0] === offSlot(time)"
          class="hours-off-label m-auto"
        > Hours off
        </div>
      </div> -->
    </div>
  </div>
</div>
