.form-row {
    h6 {
      color: var(--color-darkBlue);
      font-weight: bold;
      font-size: 18px;
      line-height: 150%;
    }
  
    p {
      font-size: 14px;
      line-height: 150%;
      color: var(--color-gray);
    }
  }
  
  .form-group {
    label {
      font-size: 14px;
      color: var(--color-darkestBlue);
      font-weight: bold;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      .link {
        a {
          font-size: 14px;
          color: var(--color-gray);
          font-weight: normal;
        }
      }
    }
  
    .next-btn {
      height: 56px;
      background: var(--color-darkBlue);
      border-radius: 8px;
      font-size: 18px;
      color: var(--color-white);
      position: relative;
      min-width: 206px;
  
      .btn-icon {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
      }
    }
  
    .back-btn {
      height: 56px;
      background: var(--color-white);
      border-radius: 8px;
      font-size: 18px;
      color: var(--color-darkBlue);
      position: relative;
      min-width: 206px;
      font-weight: bold;
      border: 1px solid var(--color-lightGray);
  
      .btn-icon {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
      }
    }
  
    .next-btn:focus, .back-btn:focus {
      box-shadow: none;
    }
  
    .error-msg {
      color: var(--color-red);
    }
  }
  
  .form-control {
    padding: 14px 16px;
    background: var(--color-offWhite);
    border: 1px solid rgba(178, 175, 190, 0.2);
    border-radius: 8px;
    height: 48px;
    font-size: 16px;
    color: var(--color-darkestBlue);
  }
  
  .form-control:focus {
    box-shadow: none;
  }
