<div class="intel-con-modal">
    <div class="close-btn-con">
      <button class="modal-close-btn" (click)="close(false)"><img src="assets/svgs/CloseX.svg" alt="" data-test-id="btnClose"></button>
    </div>
    <div class="modal-con mt-5">
        <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="newPassword">{{'New Password' | translate}} *</label>
                <input type="password" maxlength="20" minlength="8" class="form-control" formControlName="newPassword" placeholder="{{'Enter New Password' | translate}}" data-test-id="etGivenName" >
                <div *ngIf="submitted && f1.newPassword.errors" class="d-flex flex-column">
                  <small class="error-msg" *ngIf="f1.newPassword.errors.required">{{'Enter New Password' | translate}}</small>
                  <small class="error-msg" *ngIf="f1.newPassword.errors.minlength">{{'Minimum 8 charactors required' | translate}}</small>
                  <small class="error-msg" *ngIf="f1.newPassword.errors.maxlength">{{'Maximum 20 charactors allowed' | translate}}</small>
                  <small class="error-msg" *ngIf="f1.newPassword.errors.pattern">{{'Invalid Password'| translate}}</small>
                </div>
              </div>
              <div class="form-group col-md-12">
                <label for="confirmNewPassword">{{'Confirm Password' | translate}} *</label>
                <input type="password" class="form-control" formControlName="confirmNewPassword" placeholder="{{'Enter Confirm Password' | translate}}">
                <div *ngIf="submitted  && f1.confirmNewPassword.errors">
                  <small class="error-msg" *ngIf="f1.confirmNewPassword.errors.required">{{'Enter Confirm Password' | translate}}</small>
                </div>
                <div *ngIf="submitted && !f1.confirmNewPassword.errors">
                  <small class="error-msg" *ngIf="passwordResetForm.get('newPassword').value !== passwordResetForm.get('confirmNewPassword').value">{{'Password and Confirm Password must match' | translate}}</small>
                </div>
              </div>
            </div>
            <div class="form-row mt-3">
              <div class="form-group col-md-12 text-center">
                <button type="submit" class="btn next-btn" data-test-id="btnNext">
                  {{'Reset Password'| translate}}
                </button>
              </div>
            </div>
        </form>
    </div>
  </div>