<div class="container-fluid"  data-test-id="containerFluid">
  <div class="row" data-test-id="row">
    <div class="col-md-3 p-1" data-test-id="colProfile">
      <div class="user-profile-con" data-test-id="userProfileCon">
        <div class="profile-pic-con" data-test-id="profilePicCon">
          <div class="profile-pic" data-test-id="profilePic">
            <img [src]="profilePicUrl" alt="" width="80px" height="80px" data-test-id="imgProfilePic">
            <div class="file-input-con" data-test-id="fileInputCon">
              <label for="profile-pic" data-test-id="lblProfilePic">
                <img src="assets/svgs/camera.svg" alt="" data-test-id="imgCamera">
              </label>
              <input id="profile-pic" type="file" accept="image/jpg" (change)="preview($event)" data-test-id="fileInput" #fileUploader>
            </div>
          </div>
        </div>
        <div class="profile-content" data-test-id="profileContent">
          <h6 data-test-id="doctorName">{{doctorName|titlecase}}</h6>
          <p data-test-id="username">{{'Username' | translate }}: {{user?.display}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-9 p-1" data-test-id="colStepper">
      <div class="intel-card" data-test-id="intelCard">
        <mat-stepper linear #stepper [disableRipple]="true" (selectionChange)="stepChanged($event)" data-test-id="matstepChanged">
          <mat-step data-test-id="matPersonal">
            <ng-template matStepLabel>
              <div class="custom-step-label" data-test-id="stepLabelPersonal">
                <span class="label-index" data-test-id="labelIndexPersonal">1</span>
                {{'Personal Information' | translate}}
              </div>
            </ng-template>
            <form [formGroup]="personalInfoForm" (ngSubmit)="goToNextStep()" data-test-id="formPersonalInfo">
              <div class="form-row" data-test-id="formRowPersonal1">
                <div class="form-group col-md-4" data-test-id="formGroupGivenName">
                  <label for="givenName" data-test-id="lblGivenName">{{'First name' | translate}} *</label>
                  <input type="text" maxlength="20" class="form-control" formControlName="givenName" placeholder="{{'Enter first name' | translate}}" data-test-id="etGivenName">
                  <div *ngIf="submitted && f1.givenName.errors" data-test-id="errorGivenName">
                    <small class="error-msg" *ngIf="f1.givenName.errors.required" data-test-id="errorGivenNameRequired">{{'Enter first name' | translate}}</small>
                    <small class="error-msg" *ngIf="f1.givenName.errors.pattern" data-test-id="errorGivenNamePattern">{{'Enter alphabates only' | translate}}</small>
                  </div>
                </div>
                <div class="form-group col-md-4" data-test-id="formGroupMiddleName">
                  <label for="middleName" data-test-id="lblMiddleName">{{'Middle name' | translate}}</label>
                  <input type="text" maxlength="20" class="form-control" formControlName="middleName" placeholder="{{'Enter middle name' | translate}}" data-test-id="etMiddleName">
                  <div *ngIf="submitted && f1.middleName.errors" data-test-id="errorMiddleName">
                    <small class="error-msg" *ngIf="f1.middleName.errors.pattern" data-test-id="errorMiddleNamePattern">{{'Enter alphabates only' | translate}}</small>
                  </div>
                </div>
                <div class="form-group col-md-4" data-test-id="formGroupFamilyName">
                  <label for="familyName" data-test-id="lblFamilyName">{{'Last name' | translate}} *</label>
                  <input type="text" maxlength="20" class="form-control" formControlName="familyName" placeholder="{{'Enter last name'| translate}}" data-test-id="etFamilyName">
                  <div *ngIf="submitted && f1.familyName.errors" data-test-id="errorFamilyName">
                    <small class="error-msg" *ngIf="f1.familyName.errors.required" data-test-id="errorFamilyNameRequired">{{'Enter last name'| translate}}</small>
                    <small class="error-msg" *ngIf="f1.familyName.errors.pattern" data-test-id="errorFamilyNamePattern">{{'Enter alphabates only'| translate}}</small>
                  </div>
                </div>
              </div>
              <div class="form-row" data-test-id="formRowPersonal2">
                <div class="form-group col-md-6" data-test-id="formGroupGender">
                  <label for="gender" data-test-id="lblGender">{{'Gender'| translate}} *</label>
                  <div class="py-2" data-test-id="genderOptions">
                    <div class="pretty p-default p-round" data-test-id="genderMale">
                      <input type="radio" value="M" formControlName="gender" data-test-id="rdGenderMale">
                      <div class="state p-success">
                        <label data-test-id="lblGenderMale">{{'Male'| translate}}</label>
                      </div>
                    </div>
                    <div class="pretty p-default p-round" data-test-id="genderFemale">
                      <input type="radio" value="F" formControlName="gender" data-test-id="rdGenderFemale">
                      <div class="state p-success">
                        <label data-test-id="lblGenderFemale">{{'Female'| translate}}</label>
                      </div>
                    </div>
                    <div class="pretty p-default p-round" data-test-id="genderOther">
                      <input type="radio" value="U" formControlName="gender" data-test-id="rdGenderOther">
                      <div class="state p-success">
                        <label data-test-id="lblGenderOther">{{'Other'| translate}}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group col-md-4" data-test-id="formGroupBirthdate">
                  <label for="birthdate" data-test-id="lblBirthdate">{{'Date of birth'| translate}} *</label>
                  <div class="input-group" data-test-id="inputGroupBirthdate">
                    <input type="text" class="form-control" formControlName="birthdate" [max]="today" [matDatepicker]="dobdp" placeholder="{{'Enter DOB'| translate}}" aria-label="Birthdate"
                      aria-describedby="basic-addon1" readonly data-test-id="etBirthdate">
                    <mat-datepicker #dobdp data-test-id="matDatepickerBirthdate"></mat-datepicker>
                    <div class="input-group-append" data-test-id="inputGroupAppendBirthdate">
                      <span class="input-group-text" id="basic-addon1" data-test-id="inputGroupTextBirthdate">
                        <mat-datepicker-toggle matSuffix [for]="dobdp" data-test-id="dpBirthdate">
                          <img matDatepickerToggleIcon src="assets/svgs/calendar-date.svg" alt="" data-test-id="imgCalendar">
                        </mat-datepicker-toggle>
                      </span>
                    </div>
                  </div>
                  <div *ngIf="submitted && f1.birthdate.errors" data-test-id="errorBirthdate">
                    <small class="error-msg" *ngIf="f1.birthdate.errors.required" data-test-id="errorBirthdateRequired">{{'Enter DOB'| translate}}</small>
                  </div>
                </div>
                <div class="form-group col-md-2" data-test-id="formGroupAge">
                  <label for="age" data-test-id="lblAge">{{'Age'| translate}} *</label>
                  <input type="number" class="form-control" formControlName="age" placeholder="{{'Enter age'| translate}}" readonly data-test-id="etAge">
                  <div *ngIf="submitted && f1.age.errors" data-test-id="errorAge">
                    <small class="error-msg" *ngIf="f1.age.errors.required" data-test-id="errorAgeRequired">{{'Enter age'| translate }}</small>
                    <small class="error-msg" *ngIf="f1.age.errors.pattern" data-test-id="errorAgePattern">{{'Enter numeric value only' | translate}}</small>
                    <small class="error-msg" *ngIf="f1.age.errors.min" data-test-id="errorAgeMin">{{'Age should be greater than or equal to 18' | translate}}</small>
                  </div>
                </div>
              </div>
              <div class="form-row" data-test-id="formRowPersonal3">
                <div class="form-group col-md-6 email-field" data-test-id="formGroupPhoneNumber">
                  <label for="phoneNumber" data-test-id="lblPhoneNumber">{{'Phone Number'| translate}} *</label>
                  <input type="text"
                    ng2TelInput
                    data-test-id="etPhoneNumber"
                    [ng2TelInputOptions]="{initialCountry: 'in', separateDialCode: true, autoHideDialCode: false}"
                    (hasError)="hasError($event, 'phoneNumber')"
                    (ng2TelOutput)="getNumber($event, 'phoneNumber')"
                    (intlTelInputObject)="telInputObject($event, 'phoneNumber')"
                    (countryChange)="onCountryChange($event, 'phoneNumber')"
                    placeholder="Enter Mobile Number"
                    class="form-control"
                    formControlName="phoneNumber"
                    onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"/>
                  <div class="check" data-test-id="checkPhoneNumber">
                    <mat-spinner diameter="20" *ngIf="checkingPhoneValidity" data-test-id="spinnerPhoneNumber"></mat-spinner>
                    <mat-icon class="success" *ngIf="!f1?.phoneNumber?.errors && phoneNumberValid && phoneValid && !checkingPhoneValidity" data-test-id="iconPhoneNumberSuccess">done_all</mat-icon>
                    <mat-icon class="error" *ngIf="!f1?.phoneNumber?.errors && phoneNumberValid && !phoneValid && !checkingPhoneValidity" data-test-id="iconPhoneNumberError">error_outline</mat-icon>
                  </div>
                  <div *ngIf="submitted && f1.phoneNumber.errors" data-test-id="errorPhoneNumber">
                    <small class="error-msg" *ngIf="f1.phoneNumber.errors.required" data-test-id="errorPhoneNumberRequired">{{'Enter phone number'| translate}}</small>
                  </div>
                  <div *ngIf="submitted && !f1?.phoneNumber?.errors && !phoneNumberValid" data-test-id="errorPhoneNumberInvalid">
                    <small class="error-msg">{{'Enter valid phone number'| translate}}</small>
                  </div>
                  <div *ngIf="!f1?.phoneNumber?.errors && phoneNumberValid && !phoneValid" data-test-id="errorPhoneNumberExists">
                    <small class="error-msg">{{'Phone number already exists. Please enter another phone number.'| translate}}</small>
                  </div>
                </div>
                <div class="form-group col-md-6" data-test-id="formGroupWhatsAppNumber">
                  <label for="whatsapp" data-test-id="lblWhatsAppNumber">{{'WhatsApp Number'| translate}} *</label>
                  <input type="text"
                    ng2TelInput
                    data-test-id="etWhatsAppNumber"
                    [ng2TelInputOptions]="{initialCountry: 'in', separateDialCode: true, autoHideDialCode: false}"
                    (hasError)="hasError($event, 'whatsAppNumber')"
                    (ng2TelOutput)="getNumber($event, 'whatsAppNumber')"
                    (intlTelInputObject)="telInputObject($event, 'whatsAppNumber')"
                    (countryChange)="onCountryChange($event, 'whatsAppNumber')"
                    placeholder="Enter Mobile Number"
                    class="form-control"
                    formControlName="whatsapp"
                    onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))"/>
                  <div *ngIf="submitted && f1.whatsapp.errors" data-test-id="errorWhatsAppNumber">
                    <small class="error-msg" *ngIf="f1.whatsapp.errors.required" data-test-id="errorWhatsAppNumberRequired">{{'Enter whatsApp number'| translate}}</small>
                  </div>
                  <div *ngIf="submitted && !f1.whatsapp?.errors && !whatsAppNumberValid" data-test-id="errorWhatsAppNumberInvalid">
                    <small class="error-msg">{{'Enter valid whatsApp number'| translate}}</small>
                  </div>
                </div>
              </div>
              <div class="form-row" data-test-id="formRowPersonal4">
                <div class="form-group col-md-6 email-field" data-test-id="formGroupEmailId">
                  <label for="emailId" data-test-id="lblEmailId">{{'Email ID'| translate}} *</label>
                  <input type="email" class="form-control" formControlName="emailId" placeholder="{{'Enter email'| translate}}" data-test-id="etEmail">
                  <div class="check" data-test-id="checkEmailId">
                    <mat-spinner diameter="20" *ngIf="f1.emailId?.pending" data-test-id="spinnerEmailId"></mat-spinner>
                    <mat-icon class="success" *ngIf="!f1?.emailId?.errors && !f1.emailId?.pending" data-test-id="iconEmailIdSuccess">done_all</mat-icon>
                    <mat-icon class="error" *ngIf="f1?.emailId?.errors?.alreadyExists && !f1.emailId?.pending" data-test-id="iconEmailIdError">error_outline</mat-icon>
                  </div>
                  <div *ngIf="submitted && f1.emailId.errors" data-test-id="errorEmailId">
                    <small class="error-msg" *ngIf="f1.emailId.errors.required" data-test-id="errorEmailIdRequired">{{'Enter email'| translate}}</small>
                    <small class="error-msg" *ngIf="f1.emailId.errors.pattern" data-test-id="errorEmailIdPattern">{{'Enter valid email'| translate}}</small>
                  </div>
                  <div *ngIf="f1.emailId.errors" data-test-id="errorEmailIdExists">
                    <small class="error-msg" *ngIf="f1.emailId.errors?.alreadyExists">{{'Email already exists. Please enter another email.'| translate}}</small>
                  </div>
                </div>
              </div>
              <div class="form-row" data-test-id="formRowSignature">
                <div class="col-md-12" data-test-id="colSignature">
                  <h6 data-test-id="lblAddSignature">{{'Add signature' | translate}}</h6>
                  <mat-tab-group class="signature-tab-group" mat-align-tabs="start" [selectedIndex]="selectedSignatureTabIndex" (selectedTabChange)="signatureTabChanged($event)" data-test-id="mtgSignature">
                    <mat-tab label="{{'Draw'| translate}}" data-test-id="mtDraw">
                      <div class="container" data-test-id="containerDrawSignature">
                        <div class="form-row" data-test-id="formRowDrawSignature">
                          <div class="form-group col-md-12" data-test-id="formGroupDrawSignature">
                            <label for="drawSignature" data-test-id="lblDrawSignature">{{'Draw signature'| translate}} * <span class="link"><a class="btn p-0" (click)="clearSignature()" data-test-id="btnClearSignature">{{'clear sign'| translate}}</a></span></label>
                          </div>
                          <div class="col-md-12" id="signature-container" data-test-id="signatureContainer">
                            <signature-pad data-test-id="signaturePad" [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                    <mat-tab label="{{'Generate' | translate}}" data-test-id="mtGenerate">
                      <div class="container" data-test-id="containerGenerateSignature">
                        <div class="form-row" data-test-id="formRowGenerateSignature">
                          <div class="form-group col-md-6" data-test-id="formGroupTextOfSign">
                            <label for="textOfSign" data-test-id="lblTextOfSign">{{'Signature letters' | translate}} *</label>
                            <input type="text" class="form-control" placeholder="{{'Enter signature letters'|translate}}" formControlName="textOfSign" data-test-id="etSignature">
                            <div *ngIf="submitted && f1.textOfSign.errors" data-test-id="errorTextOfSign">
                              <small class="error-msg" *ngIf="f1.textOfSign.errors.required" data-test-id="errorTextOfSignRequired">{{'Enter signature letters'|translate}}</small>
                              <small class="error-msg" *ngIf="f1.textOfSign.errors.maxlength" data-test-id="errorTextOfSignMaxlength">{{'Maximum limit 20 characters'|translate}}</small>
                            </div>
                          </div>
                          <div class="form-group col-md-6" data-test-id="formGroupFontOfSign">
                            <label for="fontOfSign" data-test-id="lblFontOfSign">{{'Select Signature'| translate}} *</label>
                            <ng-select appendTo=".form-group" class="profile-select" [items]="fonts" bindLabel="name" bindValue="name" [clearable]="false" [searchable]="false" placeholder="{{'Select Signature'|translate}}" formControlName="fontOfSign" data-test-id="etSignatureFont">
                              <ng-template ng-label-tmp let-item="item">
                                <p class="mb-0" [style.fontFamily]="item.name" style="font-size: 30px;" data-test-id="fontLabel">{{item.text}}</p>
                              </ng-template>
                              <ng-template ng-option-tmp let-item="item" let-index="index">
                                <p class="mb-0" [style.fontFamily]="item.name" style="font-size: 50px;" data-test-id="fontOption">{{item.text}}</p>
                              </ng-template>
                            </ng-select>
                            <div *ngIf="submitted && f1.fontOfSign.errors" data-test-id="errorFontOfSign">
                              <small class="error-msg" *ngIf="f1.fontOfSign.errors.required" data-test-id="errorFontOfSignRequired">{{'Select Signature' | translate}}</small>
                            </div>
                          </div>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                  <p data-test-id="signatureAgreement">
                    {{'By signing this document with an electronic signature, I agree that such signature will be as valid as handwritten signatures to the extent allowed by local law.' | translate}}
                  </p>
                </div>
              </div>
              <div class="form-row" data-test-id="formRowPersonalSubmit">
                <div class="form-group col-md-12 text-right" data-test-id="formGroupNext">
                  <button type="submit" class="btn next-btn" data-test-id="btnNext">
                    {{'Next'| translate}}
                    <img class="btn-icon" src="assets/svgs/right-arrow.svg" alt="" data-test-id="imgNextArrow">
                  </button>
                </div>
              </div>
            </form>
          </mat-step>
          <mat-step data-test-id="matStep">
            <ng-template matStepLabel>
              <div class="custom-step-label" data-test-id="stepLabelProfessional">
                <span class="label-index" data-test-id="labelIndexProfessional">2</span>
                {{'Professional Information' | translate}}
              </div>
            </ng-template>
            <form [formGroup]="professionalInfoForm" (ngSubmit)="updateProfile()" data-test-id="formProfessionalInfo">
              <div class="form-row" data-test-id="formRowProfessional1">
                <div class="form-group col-md-6" data-test-id="formGroupTypeOfProfession">
                  <label for="typeOfProfession" data-test-id="lblTypeOfProfession">{{'Type of profession' | translate}} *</label>
                  <ng-select class="profile-select" bindLabel="name" bindValue="name" [clearable]="false" [searchable]="false" formControlName="typeOfProfession" placeholder="{{'Select type of profession'|translate}}" data-test-id="selTypeOf">
                    <ng-option *ngFor="let profession of professions" [value]="profession.name" data-test-id="optionTypeOfProfession">
                      {{ (profession.name) |translate }}
                    </ng-option>
                  </ng-select>
                  <div *ngIf="submitted && f2.typeOfProfession.errors" data-test-id="errorTypeOfProfession">
                    <small class="error-msg" *ngIf="f2.typeOfProfession.errors.required" data-test-id="errorTypeOfProfessionRequired">{{'Select type of profession'|translate}}</small>
                  </div>
                </div>
                <div class="form-group col-md-6" data-test-id="formGroupRegistrationNumber">
                  <label for="registrationNumber" data-test-id="lblRegistrationNumber">{{'Registration Number'|translate}} *</label>
                  <input type="text" maxlength="20" class="form-control" formControlName="registrationNumber" placeholder="{{'Enter registration number'|translate}}" data-test-id="etRegistedNum">
                  <div *ngIf="submitted && f2.registrationNumber.errors" data-test-id="errorRegistrationNumber">
                    <small class="error-msg" *ngIf="f2.registrationNumber.errors.required" data-test-id="errorRegistrationNumberRequired">{{'Enter registration number'|translate}}</small>
                    <small class="error-msg" *ngIf="f2.registrationNumber.errors.pattern" data-test-id="errorRegistrationNumberPattern">{{'Enter valid registration number'|translate}}</small>
                  </div>
                </div>
              </div>
              <div class="form-row" data-test-id="formRowProfessional2">
                <div class="form-group col-md-6" data-test-id="formGroupSpecialization">
                  <label for="specialization" data-test-id="lblSpecialization">{{'Specialization'|translate}} *</label>
                  <ng-select class="profile-select" bindLabel="name" bindValue="name" [clearable]="false" [searchable]="false" formControlName="specialization" placeholder="{{'Select specialization'|translate}}" data-test-id="selSpecialization">
                    <ng-option *ngFor="let specialization of specializations" [value]="specialization.name" data-test-id="optionSpecialization">
                      {{ (specialization.name) |translate }}
                    </ng-option>
                  </ng-select>
                  <div *ngIf="submitted && f2.specialization.errors" data-test-id="errorSpecialization">
                    <small class="error-msg" *ngIf="f2.specialization.errors.required" data-test-id="errorSpecializationRequired">{{'Select specialization'|translate}}</small>
                  </div>
                </div>
                <div class="form-group col-md-6" data-test-id="formGroupConsultationLanguage">
                  <label for="consultationLanguage" data-test-id="lblConsultationLanguage">{{'Consultation Language'|translate}} *</label>
                  <ng-select class="profile-select" [items]="languages" [closeOnSelect]="false" [clearable]="false" [multiple]="true" [searchable]="false" bindLabel="name" bindValue="name" formControlName="consultationLanguage" placeholder="{{'Select consultation language'|translate}}" data-test-id="selLanguage">
                    <ng-template ng-label-tmp let-item="item">
                      {{item.name}},
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                      <div class="pretty p-image p-plain" data-test-id="optionConsultationLanguage">
                        <input type="checkbox" [checked]="item$.selected"/>
                        <div class="state">
                          <img class="image" alt="" src="assets/svgs/checkbox-tick.png">
                          <label>{{item.name}}</label>
                        </div>
                      </div>
                    </ng-template>
                  </ng-select>
                  <div *ngIf="submitted && f2.consultationLanguage.errors" data-test-id="errorConsultationLanguage">
                    <small class="error-msg" *ngIf="f2.consultationLanguage.errors.required" data-test-id="errorConsultationLanguageRequired">{{'Select consultation language'|translate}}</small>
                  </div>
                </div>
              </div>
              <div class="form-row" data-test-id="formRowProfessional3">
                <div class="form-group col-md-6" data-test-id="formGroupWorkExperience">
                  <label for="workExperience" data-test-id="lblWorkExperience">{{'Work Experience'|translate}}*</label>
                  <input type="text" class="form-control" formControlName="workExperience" placeholder="{{'Enter work experience'| translate}}" data-test-id="selWorkExperience" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                  <div *ngIf="submitted && f2.workExperience.errors" data-test-id="errorWorkExperience">
                    <small class="error-msg" *ngIf="f2.workExperience.errors.required" data-test-id="errorWorkExperienceRequired">{{'Enter work experience'| translate }}</small>
                    <small class="error-msg" *ngIf="f2.workExperience.errors.pattern" data-test-id="errorWorkExperiencePattern">{{'Enter numeric value only' | translate}}</small>
                  </div>
                </div>
                <div class="form-group col-md-6" data-test-id="formGroupResearchExperience">
                  <label for="researchExperience" data-test-id="lblResearchExperience">{{'Research Experience'|translate}} *</label>
                  <input type="text" class="form-control" formControlName="researchExperience" placeholder="{{'Enter research experience'|translate}}" data-test-id="etExperience" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">
                  <div *ngIf="submitted && f2.researchExperience.errors" data-test-id="errorResearchExperience">
                    <small class="error-msg" *ngIf="f2.researchExperience.errors.required" data-test-id="errorResearchExperienceRequired">{{'Enter research experience'|translate}}</small>
                    <small class="error-msg" *ngIf="f2.researchExperience.errors.pattern" data-test-id="errorResearchExperiencePattern">{{'Enter numeric value only' | translate}}</small>
                  </div>
                </div>
              </div>
              <div class="form-row" data-test-id="formRowProfessional4">
                <div class="form-group col-md-12" data-test-id="formGroupWorkExperienceDetails">
                  <label for="workExperienceDetails" data-test-id="lblWorkExperienceDetails">{{'Work Experience Details'|translate}}*</label>
                  <textarea class="form-control" rows="3" formControlName="workExperienceDetails" placeholder="{{'Type here'|translate}}" data-test-id="etWorkExperience"></textarea>
                  <div *ngIf="submitted && f2.workExperienceDetails.errors" data-test-id="errorWorkExperienceDetails">
                    <small class="error-msg" *ngIf="f2.workExperienceDetails.errors.required" data-test-id="errorWorkExperienceDetailsRequired">{{'Enter experience'|translate}}</small>
                  </div>
                </div>
              </div>
              <div class="form-row" data-test-id="formRowProfessionalSubmit">
                <div class="form-group col-md-6" data-test-id="formGroupBack">
                  <button type="button" class="btn back-btn" matStepperPrevious data-test-id="btnPreviousStep">
                    {{'Back'|translate}}
                    <img class="btn-icon" src="assets/svgs/left-arrow-blue.svg" alt="" data-test-id="imgBackArrow">
                  </button>
                </div>
                <div class="form-group col-md-6 text-right" data-test-id="formGroupSave">
                  <button type="submit" class="btn next-btn" data-test-id="btnSubmit">
                    {{'Save'|translate}}
                  </button>
                </div>
              </div>
            </form>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
</div>
