table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}


.mat-column-id {
  width: 10%
}

.mat-column-name {
  width: 14%
}

.mat-column-dob {
  width: 10%
}

.mat-column-gender {
  width: 10%
}

.mat-column-location {
  width: 14%
}

.mat-column-status {
  width: 10%
}

.mat-column-lastSeen {
  width: 14%
}


.mat-cell,
.mat-header-cell {
  /* word-wrap: initial; */
  /* display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: 100%; */
  white-space: nowrap;
  /* overflow: hidden; */
  /* vertical-align: middle; */
}
