<mat-spinner *ngIf="setSpiner" [diameter]="70"></mat-spinner>
<div class="container" [ngClass]="(setSpiner)?'spin':''">
    <mat-tab-group  class="visit" mat-align-tabs="center"  mat-stretch-tabs>
        <mat-tab id="flagged-table">
            <ng-template mat-tab-label>    
                <p style="color: #dc3545;"class="name">{{'PRIORITY VISITS'| translate }} <br> <b class="name">({{flagPatientNo}})</b></p>
            </ng-template><br>
            <ng-container *ngIf="flagVisit.length > 0;else no_data">
                <app-tables [data]="flagVisit"></app-tables>
            </ng-container>
        </mat-tab>
        <mat-tab id="queued-table">
            <ng-template mat-tab-label>
                <p style="color: #F6B825;"class="name">{{'AWAITING CONSULTATION'|translate}} <br> <b class="name">({{activePatient}})</b></p>
            </ng-template><br>  
            <ng-container *ngIf="waitingVisit.length > 0;else no_data">
                <app-tables [data]="waitingVisit"></app-tables>
            </ng-container>
        </mat-tab>
        <mat-tab id="visit-in-progress">
            <ng-template mat-tab-label>
                <p style="color: #17a2b8;"class="name">{{'VISITS IN PROGRESS'| translate}} <br> <b class="name">({{visitNoteNo}})</b></p>
            </ng-template><br>  
            <ng-container *ngIf="progressVisit.length > 0;else no_data">
                <app-tables [data]="progressVisit"></app-tables>
            </ng-container>
        </mat-tab>
        <mat-tab id="remoteVisits">
            <ng-template mat-tab-label>
                <p style="color: #007bff;"class="name">{{'PRESCRIPTION GIVEN'| translate }} <br> <b class="name">({{remotePatientNo}})</b></p>
            </ng-template><br>
            <ng-container *ngIf="remoteVisits.length > 0;else no_data">
                <app-tables [data]="remoteVisits"></app-tables>
            </ng-container>
        </mat-tab>
        <mat-tab id="visit-complete">
            <ng-template mat-tab-label>
                <p style="color: #28a745;"class="name">{{'COMPLETED VISITS'| translate }} <br> <b class="name">({{completeVisitNo}})</b></p>
            </ng-template><br>
            <ng-container *ngIf="completedVisit.length > 0;else no_data">
                <app-tables [data]="completedVisit"></app-tables>
            </ng-container>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #no_data>
    <img class="center" src="assets/images/no-data.png" alt="" />
</ng-template>