<mat-spinner *ngIf="setSpiner" [diameter]="70"></mat-spinner>
<div class="container" [ngClass]="setSpiner ? 'spin' : ''">
    <div class="modal-body row">
        <div class="col-sm-3" style="padding: 3px">
            <div class="card text-white" style="background: #dd3c62">
                <div class="card-body">
                    <div class="text-left">
                        PRIORITY VISITS<span class="text-right badge badge-light">{{ flagPatientNo }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 3px">
            <div class="card text-white" style="background: #f6b825">
                <div class="card-body">
                    <div class="text-left">
                        AWAITING CONSULT<span class="text-right badge badge-light">{{
                            activePatient
                            }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 3px">
            <div class="card text-white" style="background: #17a2b8">
                <div class="card-body">
                    <div class="text-left">
                        VISITS IN PROGRESS<span class="text-right badge badge-light">{{
                            visitNoteNo
                            }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 3px">
            <div class="card text-white" style="background: #4fca8b">
                <div class="card-body">
                    <div class="text-left">
                        COMPLETED VISITS<span class="text-right badge badge-light">{{
                            completeVisitNo
                            }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="padding: 3px">
            <div class="card text-white" style="background: #410685">
                <div class="card-body">
                    <div class="text-left">
                        FOLLOW UP VISITS<span class="text-right badge badge-light">{{
                            followUpVisitNo
                            }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PRIORITY Visit -->
    <mat-accordion class="example-headers-align" [multi]="true">
        <mat-expansion-panel [expanded]="flagVisit.length > 0" id="flagged-table">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h5>PRIORITY VISITS <b>({{flagPatientNo}})</b></h5>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="flagVisit.length > 0">
                <app-tables [data]="flagVisit"></app-tables>
            </ng-container>
        </mat-expansion-panel>

        <!-- Queue Visit table -->
        <mat-expansion-panel [expanded]="waitingVisit.length > 0" id="queued-table">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h5>AWAITING CONSULT <b>({{activePatient}})</b></h5>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="waitingVisit.length > 0">
                <app-tables [data]="waitingVisit"></app-tables>
            </ng-container>
        </mat-expansion-panel>

        <!-- In Progress Visit -->
        <mat-expansion-panel [expanded]="progressVisit.length > 0" id="visit-in-progress">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h5>VISITS IN PROGRESS <b>({{visitNoteNo}})</b></h5>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="progressVisit.length > 0">
                <app-tables [data]="progressVisit"></app-tables>
            </ng-container>
        </mat-expansion-panel>

        <!-- Complete Visit -->
        <mat-expansion-panel [expanded]="completedVisit.length > 0" id="visit-complete">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h5>COMPLETED VISITS <b>({{completeVisitNo}})</b></h5>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="completedVisit.length > 0">
                <app-tables [data]="completedVisit"></app-tables>
            </ng-container>
        </mat-expansion-panel>

        <!-- Follow up visits-->
        <mat-expansion-panel [expanded]="followUpVisit.length > 0" id="visit-complete">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <h5>FOLLOW UP VISITS <b>({{followUpVisitNo}})</b></h5>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ng-container *ngIf="followUpVisit.length > 0">
                <app-tables [data]="followUpVisit" [isFollowup]="true"></app-tables>
            </ng-container>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<a class="whats-app" href="{{whatsappLink}}" target="_blank">
    <span>
        <img [src]="whatsappIco" />
    </span>
</a>