<mat-spinner *ngIf="setSpiner" [diameter]="70"></mat-spinner>
<div class="container" [ngClass]="setSpiner ? 'spin' : ''">
  <div class="d-flex justify-content-start">
    <span class="text-right badge badge-light">
      <mat-slide-toggle
        (change)="toggleMode($event)"
        [checked]="modes?.camp == currentMode"
        >{{ currentMode }}</mat-slide-toggle
      >
      <ng-container *ngIf="modes?.camp === currentMode">
        <mat-select
          placeholder="States"
          [(ngModel)]="state"
          (selectionChange)="selectChange($event?.value, 'state')"
        >
          <mat-option *ngFor="let state of states" [value]="state?.display">{{
            state?.display
          }}</mat-option>
        </mat-select>
        <mat-select
          placeholder="District"
          [(ngModel)]="district"
          (selectionChange)="selectChange($event?.value, 'district')"
        >
          <mat-option
            *ngFor="let district of districts"
            [value]="district?.display"
            >{{ district?.display }}</mat-option
          >
        </mat-select>
        <mat-select
          placeholder="Village"
          [(ngModel)]="village"
          (selectionChange)="selectChange($event?.value, 'village')"
        >
          <mat-option
            *ngFor="let village of villages"
            [value]="village?.display"
            >{{ village?.display }}</mat-option
          >
        </mat-select>
      </ng-container>
    </span>
  </div>

  <div class="modal-body row">
    <div class="col-sm-3" style="padding: 3px">
      <div class="card text-white" style="background: #dd3c62">
        <div class="card-body">
          <div class="text-left">
            PRIORITY VISITS<span class="text-right badge badge-light">{{
              flagVisit?.length
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3" style="padding: 3px">
      <div class="card text-white" style="background: #f6b825">
        <div class="card-body">
          <div class="text-left">
            AWAITING CONSULT<span class="text-right badge badge-light">{{
              waitingVisit?.length
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3" style="padding: 3px">
      <div class="card text-white" style="background: #17a2b8">
        <div class="card-body">
          <div class="text-left">
            VISITS IN PROGRESS<span class="text-right badge badge-light">{{
              progressVisit?.length
            }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3" style="padding: 3px">
      <div class="card text-white" style="background: #4fca8b">
        <div class="card-body">
          <div class="text-left">
            COMPLETED VISITS<span class="text-right badge badge-light">{{
              completedVisit?.length
            }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- PRIORITY Visit -->
  <mat-accordion class="example-headers-align" [multi]="true">
    <!-- <mat-expansion-panel [expanded]="true" id="flagged-table"> -->
    <mat-expansion-panel [expanded]="flagVisit.length > 0" id="flagged-table">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5>
            PRIORITY VISITS <b>({{ flagVisit?.length }})</b>
          </h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="flagVisit.length > 0">
        <app-tables [data]="flagVisit"></app-tables>
      </ng-container>
    </mat-expansion-panel>

    <!-- Queue Visit table -->
    <!-- <mat-expansion-panel [expanded]="waitingVisit.length > 0" id="queued-table"> -->
    <mat-expansion-panel [expanded]="true" id="queued-table">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5>
            AWAITING CONSULT <b>({{ waitingVisit?.length }})</b>
          </h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="waitingVisit.length > 0">
        <app-tables [data]="waitingVisit"></app-tables>
      </ng-container>
    </mat-expansion-panel>

    <!-- In Progress Visit -->
    <mat-expansion-panel
      [expanded]="progressVisit.length > 0"
      id="visit-in-progress"
    >
      <!-- <mat-expansion-panel [expanded]="true" id="visit-in-progress"> -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5>
            VISITS IN PROGRESS <b>({{ progressVisit?.length }})</b>
          </h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="progressVisit.length > 0">
        <app-tables [data]="progressVisit"></app-tables>
      </ng-container>
    </mat-expansion-panel>

    <!-- Complete Visit -->
    <mat-expansion-panel
      [expanded]="completedVisit.length > 0"
      id="visit-complete"
    >
      <!-- <mat-expansion-panel [expanded]="true" id="visit-complete"> -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h5>
            COMPLETED VISITS <b>({{ completedVisit?.length }})</b>
          </h5>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngIf="completedVisit.length > 0">
        <app-tables
          [dataFor]="'completedVisit'"
          [data]="completedVisit"
        ></app-tables>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
</div>
