.container {
  min-height: 79%;
}

mat-spinner {
  position: absolute;
  z-index: 9999;
  left: 46%;
  top: 42%;
}

.spin {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}


.whats-app {
  position: fixed;
  bottom: 65px;
  right: 30px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.whats-app img{
  width: 50px;
  height: 50px;
}

.my-float {
  margin-top: 16px;
}
