<div class="medication-main box-shadow mt-4">
  <div class="medication-header w-100">
    <div class="medication-header-content w-100">
      <img src="assets/svgs/medication.svg" />
      <div class="medication-img-title">Medication</div>
      <div
        data-toggle="collapse"
        data-target="#medicationCollapse"
        class="click"
      >
        <img class="arrow" src="assets/svgs/minus-icon.svg" />
      </div>
    </div>
    <hr class="hr" />
  </div>

  <div id="medicationCollapse" class="medication-details collapse show w-100">
    <!-- ul caption -->

    <div class="d-flex mb-2">
      <table class="table w-100">
        <thead class="font-sm">
          <th class="border-top" *ngFor="let header of headers">
            {{ header?.name }}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let row of data">
            <td *ngFor="let header of headers">
              <ng-container *ngIf="header?.type === 'remark'; else elseBlock">
                {{ row[header.key] }}
                <span class="btn-height click float-right">
                  <img src="assets/svgs/delete-icon.svg" />
                </span>
              </ng-container>

              <ng-template #elseBlock>
                {{ row[header.key] }}
              </ng-template>
            </td>
          </tr>

          <tr>
            <td>
              <ng-select
                class="select"
                [items]="drugNamelist"
                bindLabel="name"
                [clearable]="false"
                [(ngModel)]="selectedDrugName"
              >
              </ng-select>
            </td>
            <td>
              <ng-select
                class="select"
                [items]="strengthlist"
                bindLabel="name"
                [clearable]="false"
                [(ngModel)]="selectedStrength"
              >
              </ng-select>
            </td>
            <td>
              <ng-select
                class="select"
                [items]="daysList"
                bindLabel="name"
                [clearable]="false"
                [(ngModel)]="selectedDays"
              >
              </ng-select>
            </td>
            <td>
              <ng-select
                class="select"
                [items]="timingList"
                bindLabel="name"
                [clearable]="false"
                [(ngModel)]="selectedTiming"
              >
              </ng-select>
            </td>
            <td>
              <input
                class="form-control remark-input"
                type="text"
                name=""
                placeholder="Half after meal"
                id=""
              />
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-end">
      <button type="button" class="btn cancel-save-btn font-bold">
        cancel
      </button>

      <button type="button" class="btn cancel-save-btn save-btn font-bold ml-3">
        Save
      </button>
    </div>

    <div class="mt-4">
      <label class="text-area-label">Additional instructions</label>

      <textarea class="text-area w-100" name="note" id="" cols="8" rows="4">
        Let the patient know that they cannot travel for atleast 2 weeks
      </textarea>

      <button type="button" class="btn cancel-save-btn font-bold mt-4">
        cancel
      </button>

      <button
        type="button"
        class="btn cancel-save-btn save-btn font-bold mt-4 ml-3"
      >
        Save
      </button>
      
    </div>
  </div>
</div>
