<div class="medication-main mt-4">
  <div class="medication-header w-100">
    <div class="medication-header-content w-100">
      <img [src]="iconImg" />
      <div class="medication-img-title">Medication</div>
      <div
        *ngIf="showToggle"
        data-toggle="collapse"
        data-target="#medication"
        class="click"
        (click)="isCollapsed = !isCollapsed"
      >
        <img
          class="arrow"
          [src]="
            isCollapsed
              ? 'assets/svgs/plus-icon.svg'
              : 'assets/svgs/minus-icon.svg'
          "
        />
      </div>
    </div>
  </div>

  <div id="medication" class="medication-details collapse multi-collapse show w-100">
    <hr class="hr" />

    <div class="d-flex mb-2">
      <table class="table w-100">
        <thead class="font-sm">
          <th
            class="border-top {{ header?.key }} thClass "
            *ngFor="let header of headers"
          >
            {{ header?.name }}
          </th>
        </thead>
        <tbody>
          <tr *ngFor="let row of data, index as i">
            <td *ngFor="let header of headers">
              <ng-container *ngIf="header?.type === 'remark'; else elseBlock">
                {{ row[header.key] }}
                <span (click)="delete(i)" class="btn-height click float-right">
                  <img *ngIf="!readOnly" src="assets/svgs/delete-icon.svg" />
                </span>
              </ng-container>

              <ng-template #elseBlock>
                {{ row[header.key] }}
              </ng-template>
            </td>
          </tr>

          <ng-container *ngIf="!showAddMore">
            <tr *ngIf="!readOnly">
              <td class="pl-0">
                <ng-select
                  class="select"
                  [items]="drugNameList"
                  bindLabel="name"
                  [clearable]="false"
                  [(ngModel)]="selectedDrugName"
                >
                </ng-select>
              </td>
              <td>
                <ng-select
                  class="select"
                  [items]="strengthList"
                  bindLabel="name"
                  [clearable]="false"
                  [(ngModel)]="selectedStrength"
                >
                </ng-select>
              </td>
              <td>
                <ng-select
                  class="select"
                  [items]="daysList"
                  bindLabel="name"
                  [clearable]="false"
                  [(ngModel)]="selectedDays"
                >
                </ng-select>
              </td>
              <td>
                <ng-select
                  class="select"
                  [items]="timingList"
                  bindLabel="name"
                  [clearable]="false"
                  [(ngModel)]="selectedTiming"
                >
                </ng-select>
              </td>
              <td class="pr-0">
                <input
                  class="form-control remark-input"
                  type="text"
                  name=""
                  placeholder="Half after meal"
                  id=""
                  [(ngModel)]="selectedRemark"
                />
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <ng-container *ngIf="!readOnly">
      <div class="d-flex justify-content-end" *ngIf="!showAddMore">
        <button
          type="button"
          class="btn cancel-save-btn font-bold"
          (click)="showAddMore = !showAddMore"
        >
          Cancel
        </button>

        <button
          type="button"
          class="btn cancel-save-btn save-btn font-bold ml-3"
          [disabled]="!selectedDrugName || !selectedStrength || !selectedDays || !selectedTiming || !selectedRemark"
          (click)="save()"
        >
          Save
        </button>
      </div>

      <div *ngIf="showAddMore">
        <img
          class="click"
          src="assets/svgs/add-more-plus-icon.svg"
          (click)="showAddMore = !showAddMore"
        />

        <label class="ml-2 font-size-md"> Add more medicines</label>
      </div>
    </ng-container>

    <div *ngIf="!readOnly" class="mt-4">
      <label class="text-area-label">Additional instructions</label>

      <div *ngIf="instructions.length === 0 && !showAddMoreInstrction">
        <textarea class="text-area w-100" name="note" id="" [(ngModel)]="instruction" cols="8" rows="4">
        </textarea>
  
        <button type="button" class="btn cancel-save-btn font-bold mt-4"
        (click)="showAddMoreInstrction = !showAddMoreInstrction">
          Cancel
        </button>
  
        <button
          type="button"
          class="btn cancel-save-btn save-btn font-bold mt-4 ml-3"
          [disabled]="!instruction"
          (click)="saveInstruction()"
        >
          Save
        </button>
      </div>
      <div *ngIf="instructions.length > 0  && !showAddMoreInstrction">
        <div>
          <ul>
            <li *ngFor="let instruction of instructions, index as i">
              {{ instruction.value }}
              <span (click)="deleteInstruction(i)" class="btn-height click float-right">
                <img *ngIf="!readOnly" src="assets/svgs/delete-icon.svg" />
              </span>
            </li>
          </ul>
        </div>
      </div>
      <div *ngIf="showAddMoreInstrction">
        <img
          class="click"
          src="assets/svgs/add-more-plus-icon.svg"
          (click)="showAddMoreInstrction = !showAddMoreInstrction"
        />

        <label class="ml-2 font-size-md"> Add more instruction</label>
      </div>
    </div>

    <!-- <div *ngIf="readOnly" class="mt-4">
      <div class="text-area-label mb-2">Additional instructions</div>
      <div class="label-text-area">
        Let the patient know that they cannot travel for atleast 2 weeks
      </div>
    </div> -->
  </div>
</div>
