<div>
  <div class="content-container">
    <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
  </div>
  <div [ngClass]="getLang() === 'ar' ? 'classA' : 'classB'">
    <span class="content-spans">{{ data.message | translate }}</span>
  </div>
  <button mat-raised-button color="danger" id="no-button" [mat-dialog-close]="false">{{ "NO" | translate }}</button>
  <button mat-raised-button color="primary" id="yes-button" [mat-dialog-close]="true">{{ "YES" | translate }}</button>
</div>
