<mat-expansion-panel [expanded]="true" #panel2 hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="intel-accordion-title">
        <div class="ayu-icon">
          <img src="assets/svgs/diagnosis.svg" alt="" width="44px" />
        </div>
        <div class="diagnosis-title">
          <h6 class="mb-0 ml-2">Ayu suggested diagnosis</h6>
        </div>
      </div>
    </mat-panel-title>
    <mat-icon>{{ panel2.expanded ? "remove" : "add" }}</mat-icon>
  </mat-expansion-panel-header>

  <div class="table-responsive">
    <table class="table" aria-describedby="">
      <thead>
        <tr>
          <th scope="col">{{'Diagnosis'|translate}}</th>
          <th scope="col">{{'Type'|translate}}</th>
          <th scope="col">{{'Status'|translate}}</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="existingDiagnosis.length">
          <tr *ngFor="let d of existingDiagnosis; let i = index">
            <td>{{ d.diagnosisName }}</td>
            <td>{{ d.diagnosisType }}</td>
            <td>{{ d.diagnosisStatus }}</td>
            <td class="pr-0">
              <button mat-icon-button class="float-right" *ngIf="!isMCCUser && isVisitNoteProvider && !visitEnded"
                (click)="deleteDiagnosis(i, d.uuid)" data-test-id="{{'btnDeleteDiagnosisVisitSummary' + i}}">
                <img src="assets/svgs/delete-icon.svg" alt="" />
              </button>
            </td>
          </tr>
        </ng-container>
        <ng-container *ngIf="!isMCCUser && isVisitNoteProvider && !visitEnded">
          <tr *ngIf="addMoreDiagnosis">
            <td colspan="4" class="px-0">
              <div class="form-group mb-0">
                <button type="button" class="add-more-btn" (click)="toggleDiagnosis()"
                  data-test-id="btnAddMoreDiagnosis">
                  <img src="assets/svgs/plus-circle.svg" alt="" />
                  <span class="ml-2">{{'Add more diagnosis'|translate}}</span>
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <ng-container>
    <form [formGroup]="diagnosisForm" (ngSubmit)="saveDiagnosis()" *ngIf="!addMoreDiagnosis">
      <ul class="items-list">
        <li>
          <div class="row">
            <label for="select-diagnosis" class="col-sm-3 col-form-label">{{'Select diagnosis'|translate}}*</label>
            <div class="col-sm-6 d-grid">
              <ng-select appendTo=".visit-summary-tab-group" class="visit-select custom" formControlName="diagnosisName"
                (search)="onKeyUp($event)" (change)="onDiagnosisChange($event)" [items]="diagnosis$ | async"
                bindLabel="name" bindValue="name" [clearable]="true" [searchable]="true"
                placeholder="{{'Select diagnosis'|translate}}" [addTag]="false" data-test-id="selectDiagnosisName">
              </ng-select>
              <div class="selected-diagnoses mt-1" *ngIf="selectedDiagnoses.length > 0">
                <span *ngFor="let diagnosis of selectedDiagnoses" class="selected-item mr-2"
                  [class.selected-primary]="diagnosis === selectedDiagnoses[0]">
                  {{ diagnosis }}
                  <button class="remove-icon" mat-icon-button (click)="removeDiagnosis(diagnosis)">
                    <mat-icon>close</mat-icon>
                  </button>
                </span>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <label class="col-sm-3 col-form-label">{{'Diagnosis type'|translate}}*</label>
            <div class="col-sm-9 d-flex align-items-center">
              <div class="pretty p-default p-round">
                <input type="radio" [value]="'Primary'" formControlName="diagnosisType"
                  data-test-id="radioDiagnosisTypePrimary" />
                <div class="state p-success">
                  <label>{{'Primary'|translate}}</label>
                </div>
              </div>
              <div class="pretty p-default p-round">
                <input type="radio" [value]="'Secondary'" formControlName="diagnosisType"
                  data-test-id="radioDiagnosisTypeSecondary" />
                <div class="state p-success">
                  <label>{{'Secondary'|translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <label class="col-sm-3 col-form-label">{{'Status'|translate}}*</label>
            <div class="col-sm-9 d-flex align-items-center">
              <div class="pretty p-default p-round">
                <input type="radio" [value]="'Provisional'" formControlName="diagnosisStatus"
                  data-test-id="radioDiagnosisStatusProvisional" />
                <div class="state p-success">
                  <label>{{'Provisional'|translate}}</label>
                </div>
              </div>
              <div class="pretty p-default p-round">
                <input type="radio" [value]="'Confirmed'" formControlName="diagnosisStatus"
                  data-test-id="radioDiagnosisStatusConfirmed" />
                <div class="state p-success">
                  <label>{{'Confirmed'|translate}}</label>
                </div>
              </div>
              <div *ngIf="appConfigService?.patient_visit_summary?.diagnosis_under_evaluation"
                class="pretty p-default p-round">
                <input type="radio" [value]="'Under Evaluation'" formControlName="diagnosisStatus"
                  data-test-id="radioDiagnosisStatusUnderEvaluation" />
                <div class="state p-success">
                  <label>{{'Under Evaluation'|translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="form-group mb-0" *ngIf="!isMCCUser">
        <button type="button" class="white-btn mr-2 mt-3" (click)="toggleDiagnosis()" data-test-id="btnCancelDiagnosis">
          {{'Cancel'|translate}}
        </button>
        <button type="submit" class="gray-btn" [disabled]="diagnosisForm.invalid" data-test-id="btnSubmitDiagnosis">
          {{'Add'|translate}}
        </button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="appConfigService?.patient_visit_summary?.dp_dignosis_secondary">
    <form [formGroup]="diagnosisSecondaryForm">
      <ul class="items-list">
        <li>
          <div class="row">
            <label for="select-diagnosis" class="col-sm-1 col-form-label">{{'Diagnosis'|translate}}*</label>
            <div class="col-sm-11">
              <textarea formControlName="diagnosis" class="form-control" rows="3"
                placeholder="{{'Type here'|translate}}" data-test-id="etAI" (keyup)="autoGrowTextZone($event)"
                [attr.disabled]="(isMCCUser || !isVisitNoteProvider || visitEnded)? 'disabled' : null"></textarea>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <label class="col-sm-1 col-form-label">{{'Type'|translate}}</label>
            <div class="col-sm-11 d-flex align-items-center">
              <div class="pretty p-default p-round">
                <input type="radio" [value]="'Provisional'" formControlName="type"
                  data-test-id="radioDiagnosisStatusProvisional"
                  [attr.disabled]="(isMCCUser || !isVisitNoteProvider || visitEnded)? 'disabled' : null" />
                <div class="state p-success">
                  <label>{{'Provisional'|translate}}</label>
                </div>
              </div>
              <div class="pretty p-default p-round">
                <input type="radio" [value]="'Confirmed'" formControlName="type"
                  data-test-id="radioDiagnosisStatusConfirmed"
                  [attr.disabled]="(isMCCUser || !isVisitNoteProvider || visitEnded)? 'disabled' : null" />
                <div class="state p-success">
                  <label>{{'Confirmed'|translate}}</label>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="row">
            <label class="col-sm-1 col-form-label" for="note">{{'TNM'|translate}}</label>
            <div class="col-sm-5">
              <textarea class="form-control" rows="3" placeholder="{{'Type here'|translate}}" formControlName="tnm"
                (keyup)="autoGrowTextZone($event)"
                [attr.disabled]="(isMCCUser || !isVisitNoteProvider || visitEnded)? 'disabled' : null"></textarea>
            </div>

            <label class="col-sm-1 col-form-label" for="note">{{'Other Staging'|translate}}</label>
            <div class="col-sm-5">
              <textarea class="form-control" rows="3" placeholder="{{'Type here'|translate}}"
                formControlName="otherStaging" (keyup)="autoGrowTextZone($event)"
                [attr.disabled]="(isMCCUser || !isVisitNoteProvider || visitEnded)? 'disabled' : null"></textarea>
            </div>
          </div>
        </li>
      </ul>
    </form>
  </ng-container>

  <ng-container *ngIf="hasAILLMEnabled" class="mt-2">
    <app-aillmddx [patientInfo]="patientInfo" [visit]="visit" (diagnosisSelected)="onAIDiagnosisSelected()"
      [existingDiagnosis]="existingDiagnosis" [notes]="patientInteractionNotesForm.value.value"></app-aillmddx>
  </ng-container>

</mat-expansion-panel>

<mat-expansion-panel [expanded]="true" #panel4 hideToggle class="">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="intel-accordion-title">
        <img src="assets/svgs/medication.svg" alt="" width="44px" />
        <h6 class="mb-0 ml-2">{{'Ayu suggested Medications'|translate}}</h6>
      </div>
    </mat-panel-title>
    <mat-icon>{{ panel4.expanded ? "remove" : "add" }}</mat-icon>
  </mat-expansion-panel-header>

  <form [formGroup]="addMedicineForm" (ngSubmit)="addMedicine()" class="mt-3" *ngIf="!appConfigService?.patient_visit_summary?.dp_medication_secondary">
    <div class="table-responsive medication-con">
      <table class="table" aria-describedby="">
        <thead>
          <tr>
            <th scope="col" width="20%">{{'Drug name'|translate}}</th>
            <th scope="col" width="15%" class="dose-column">{{'Dose'|translate}}</th>
            <th scope="col" width="10%">{{'Frequency'|translate}}</th>
            <th scope="col" width="15%">{{'Duration (number)'|translate}}</th>
            <th scope="col" width="15%">{{'Duration (units)'|translate}}</th>
            <th scope="col" width="25%">{{'Instruction(Remarks)'|translate}}</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="medicines.length else noMedicines">
            <tr *ngFor="let m of medicines; let i = index">
              <td>{{ m.drug }}</td>
              <td class="dose-column">{{ m.dose }}</td>
              <td>{{ m.frequency }}</td>
              <td>{{ m.durationNo }}</td>
              <td>{{ m?.durationUnit }}</td>
              <td>{{ m.instructRemark }}</td>
              <td class="pr-0">
                <button
                  type="button"
                  mat-icon-button
                  class="float-right"
                  *ngIf="!isMCCUser && isVisitNoteProvider && !visitEnded"
                  (click)="deleteMedicine(i, m.uuid)"
                  data-test-id="{{'btnDeleteMedVisitSummary'+i}}"
                >
                  <img src="assets/svgs/delete-icon.svg" alt="" />
                </button>
              </td>
            </tr>
          </ng-container>
          <ng-template #noMedicines>
            <tr *ngIf="isMCCUser">
              <td colspan="6" class="text-center font-weight-bold">
                {{'No medicines added!'|translate}}
              </td>
            </tr>
          </ng-template>
          <ng-container *ngIf="isVisitNoteProvider && !visitEnded">
            <tr *ngIf="addMoreMedicine && !isMCCUser">
              <td colspan="6" class="px-0">
                <div class="form-group mb-0">
                  <button
                    type="button"
                    class="add-more-btn"
                    (click)="toggleMedicine()"
                    data-test-id="btnAddMoreMed"
                  >
                    <img src="assets/svgs/plus-circle.svg" alt="" />
                    <span class="ml-2">{{'Add more medicine'|translate}}</span>
                  </button>
                </div>
              </td>
            </tr>
            <tr *ngIf="!addMoreMedicine && !isMCCUser">
              <td>
                <div class="form-group mb-0">
                  <input
                    formControlName="drug"
                    type="text"
                    class="form-control"
                    placeholder="{{'Enter drug'|translate}}*"
                    [ngbTypeahead]="search2"
                    data-test-id="etDrugName"
                    title="{{addMedicineForm.get('drug')?.value}}"
                  />
                </div>
              </td>
              <td>
                <div class="form-group mb-0">
                  <input
                    formControlName="dose"
                    type="text"
                    class="form-control"
                    placeholder="{{'Enter Dose'|translate}}*"
                    [ngbTypeahead]="search3"
                    data-test-id="etDose"
                  />
                </div>
              </td>
              <td>
                <ng-select
                  appendTo=".visit-summary-tab-group"
                  formControlName="frequency"
                  class="visit-select custom"
                  [items]="frequencyList"
                  [clearable]="false"
                  [searchable]="true"
                  [addTag]="true"
                  placeholder="{{'Select frequency'|translate}}"
                >
                </ng-select>
              </td>
              <td>
                <div class="form-group mb-0">
                  <input
                    formControlName="durationNo"
                    type="text"
                    class="form-control"
                    placeholder="Enter duration"
                    data-test-id="durationNo"
                    (keypress)="onKeyPress($event)"
                  />
                </div>
              </td>
              <td>
                <ng-select
                  appendTo=".visit-summary-tab-group"
                  formControlName="durationUnit"
                  class="visit-select custom"
                  [items]="durationUnitList"
                  bindLabel="name"
                  bindValue="name"
                  [clearable]="false"
                  [searchable]="true"
                  [addTag]="true"
                  placeholder="{{'Select duration unit'|translate}}*"
                  data-test-id="etDurationUnit"
                >
                </ng-select>
              </td>
              <td colspan="2">
                <div class="form-group mb-0">
                  <input
                    formControlName="instructRemark"
                    type="text"
                    class="form-control"
                    placeholder="{{'Enter Instruction(Remarks)'|translate}}"
                    data-test-id="etRemarkMed"
                    [ngbTypeahead]="search6"
                  />
                </div>
              </td>
                          
              
              
              <div class="selected-diagnoses mt-1" *ngIf="medicationSelected.length > 0">
                <span *ngFor="let medicine of medicationSelected" class="selected-item mr-2"
                  [class.selected-primary]="medicine === medicationSelected[0]">
                  {{ medicine.drug }}
                  <button class="remove-icon" mat-icon-button (click)="removeDiagnosis(medicine)">
                    <mat-icon>close</mat-icon>
                  </button>
                </span>
              </div>

            </tr>
            <tr *ngIf="!addMoreMedicine && !isMCCUser">
              <td colspan="6" class="border-top-0">
                <div class="form-group mb-0 float-right">
                  <button
                    type="button"
                    class="white-btn mr-2"
                    (click)="toggleMedicine()"
                    data-test-id="btnCancelMed"
                  >
                    {{'Cancel'|translate}}
                  </button>
                  <button
                    type="submit"
                    class="gray-btn"
                    [disabled]="addMedicineForm.invalid"
                    data-test-id="btnSubmitMed"
                  >
                    {{'Add'|translate}}
                  </button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </form>

  <!-- <ng-container>
    <form
      class="mt-3"
      [formGroup]="additionalInstructionForm"
      (ngSubmit)="saveAdditionalInstruction()"
    >
      <h6 class="list-header mb-2" *ngIf="!appConfigService?.patient_visit_summary?.dp_medication_secondary">{{'Additional instructions'|translate}}</h6>
      <div class="form-group">
        <textarea
          formControlName="value"
          class="form-control"
          rows="3"
          placeholder="{{'Type here'|translate}}"
          data-test-id="etAI"
          (keyup)="autoGrowTextZone($event)"
          [attr.disabled]="(isMCCUser || !isVisitNoteProvider || visitEnded)? 'disabled' : null"
        ></textarea>
      </div>
    </form>
  </ng-container> -->

  <ng-container *ngIf="hasAILLMEnabled" class="mt-2">
    <lib-aillmtx-medication [patientInfo]="patientInfo" [visit]="visit" (medicationSelected)="onAIDiagnosisSelected()"
    [existingMedication]="existingMedication"></lib-aillmtx-medication>
  </ng-container>
</mat-expansion-panel>

<mat-expansion-panel [expanded]="true" #panel5 hideToggle class="overflow-show" *ngIf="isFeatureAvailable('advice')">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="intel-accordion-title">
        <img src="assets/svgs/advice.svg" alt="" width="44px" />
        <h6 class="mb-0 ml-2">{{'Ayu suggested Advice??????'|translate}}</h6>
      </div>
    </mat-panel-title>
    <mat-icon>{{ panel5.expanded ? "remove" : "add" }}</mat-icon>
  </mat-expansion-panel-header>

  <ul class="items-list" *ngIf="advices.length else noAdvices">
    <li *ngFor="let ad of advices; let i = index">
      <div class="d-flex justify-content-between">
        <span>{{ ad.value }}</span>
        <button
          mat-icon-button
          (click)="deleteAdvice(i, ad.uuid)"
          data-test-id="{{'btnDeleteAdviceVisitSummary'+i}}"
          *ngIf="!isMCCUser && isVisitNoteProvider && !visitEnded"
        >
          <img src="assets/svgs/delete-icon.svg" alt="" />
        </button>
      </div>
    </li>
  </ul>
  <ng-template #noAdvices>
    <div class="no-docs text-center font-weight-bold" *ngIf="isMCCUser">
      {{'No advices added!'|translate}}
    </div>
  </ng-template>
  <ng-container *ngIf="!isMCCUser && isVisitNoteProvider && !visitEnded">
    <div class="form-group mt-3" *ngIf="addMoreAdvice">
      <button
        type="button"
        class="add-more-btn"
        (click)="toggleAdvice()"
        data-test-id="btnAddMoreAdvice"
      >
        <img src="assets/svgs/plus-circle.svg" alt="" />
        <span class="ml-2">{{'Add more advice'|translate}}</span>
      </button>
    </div>
    <form
      class="mt-3"
      [formGroup]="addAdviceForm"
      (ngSubmit)="addAdvice()"
      *ngIf="!addMoreAdvice"
    >
      <div class="form-group">
        <label for="note"><b>{{'Advice'|translate}}*</b></label>
        <input
          type="text"
          class="form-control"
          formControlName="advice"
          placeholder="{{'Type here'|translate}}"
          [ngbTypeahead]="search1"
          data-test-id="etAdvice"
        />
      </div>
      <div class="form-group">
        <button
          type="button"
          class="white-btn mr-2"
          (click)="toggleAdvice()"
          data-test-id="btnCancelAdvice"
        >
          {{'Cancel'|translate}}
        </button>
        <button
          type="submit"
          class="gray-btn"
          [disabled]="addAdviceForm.invalid"
          data-test-id="btnSubmitAdvice"
        >
          {{'Add advice'|translate}}
        </button>
      </div>
    </form>
  </ng-container>

  <ng-container *ngIf="hasAILLMEnabled" class="mt-2">
    <div>Vishalalalalalsjkjlsdkjsdfjkdfsadf</div>
    <lib-aillmtx-advice [patientInfo]="patientInfo" [visit]="visit" (adviceSelected)="onAIDiagnosisSelected()"
      [existingAdvice]="existingAdvice"></lib-aillmtx-advice>
  </ng-container>

</mat-expansion-panel>