<div class="otp-container">
  <div class="otp-header">
    <h3 class="login-header">OTP verification</h3>
  </div>
  <div class="otp-para">
    <p class="login-para">
      Please enter the verification code which is sent to your mobile number
      +91-98******2 and email
    </p>
  </div>
  <div class="otp-label">
    <label class="lbl-username">Enter OTP</label>
  </div>
  <div class="otp-textbox">
    <ng-otp-input
      (onInputChange)="onOtpChange($event)"
      [config]="config"
    ></ng-otp-input>
  </div>
  <div class="otp-lblotpnotreceived">
    <p class="login-para">
      Didn’t receive OTP ?<a [routerLink]="[]" (click)="resendOTP()"
        ><u>Resend in 3:00</u></a
      >
    </p>
  </div>
  <div class="otp-btn">
    <button
      type="submit"
      class="btn-darkblue btn-block"
      (click)="handleClick()"
    >
      Verify
    </button>
  </div>
  <div id="sign-in-button"></div>
</div>
