.main-container {
  padding: 30px 0px 30px 30px;
  position: relative;
  min-height: 90vh !important;
}

.chips-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  // gap: 16px;
  width: 100%;
  height: 86px;

  .chip-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 86px;
    width: fit-content;
    margin-right: 20px;
    border-radius: 12px;
    align-items: center;
    padding: 16px;

    :hover {
      cursor: pointer;
    }

    .chip-img {
      width: 44px;
    }

    .chip-info {
      font-family: 'DM Sans';
      font-style: normal;
      color: black;
      padding: 16px;
    }

    .chip-info h6 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0px;
      margin-top: 8px;
    }

    .chip-info span {
      font-size: 16px;
      color: #7F7B92;
    }
  }

  .chip-item.active .chip-info h6, .chip-item.active .chip-info span {
    color: white;
  }

  .chip-item-blue {
    background: #EFE8FF;
  }

  .chip-item-green {
    background: #E6FFF3;
  }

  .chip-item-blue.active {
    background: #2E1E91;
  }

  .chip-item-green.active {
    background: #0FD197;
  }
}

.loader-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
