<div class="fu-container">
  <div class="fu-header">
    <h3 class="forgot-username-header">Forgot Username?</h3>
  </div>
  <div class="fu-para">
    <p class="forgot-username-para">
      No worries, enter your Mobile number or Email ID and we will send you the OTP to retrive your username.
    </p>
  </div>

  <div class="fu-btngrp">
    <div [class]="!showEmail ? 'fu-mobilebtn fu-active' : 'fu-mobilebtn'">
      <input
        class="btn-no-boarder"
        type="button"
        value="Mobile number"
        (click)="setShowEmail(false)"
      />
    </div>
    <div [class]="showEmail ? 'fu-emailbtn fu-active' : 'fu-emailbtn'">
      <input
        type="button"
        class="btn-no-boarder"
        value="Email ID"
        (click)="setShowEmail(true)"
      />
    </div>
  </div>

  <form
    [formGroup]="verificationForm"
    (ngSubmit)="onSubmit()"
    *ngIf="showEmail"
    class="fu-emailform"
  >
    <div class="fu-email-label">
      <label class="lbl-username"> Email ID </label>
    </div>
    <div class="fu-textbox">
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        aria-describedby="email"
        formControlName="email"
      />
    </div>
    <div class="btnnext">
      <button type="submit" class="btn-darkblue btn-block">Next</button>
    </div>
  </form>

  <form
    [formGroup]="verificationForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!showEmail"
    class="fu-mobileform"
  >
    <div class="fu-mobile-label">
      <label class="lbl-username">Mobile number</label>
    </div>
    <div class="fu-dropdown">
      <select
        name="code"
        id="code"
        class="language-dropdown form-control"
        formControlName="code"
      >
        <option *ngFor="let c of countries" [ngValue]="c">{{ c }}</option>
      </select>
    </div>
    <div class="fu-textbox">
      <input
        type="text"
        id="phoneNumber"
        class="form-control"
        name="phoneNumber"
        aria-describedby="email"
        formControlName="phoneNumber"
        max="15"
      />
    </div>
    <div class="btnnext">
      <button type="submit" class="btn-darkblue btn-block">Next</button>
    </div>
    <div id="sign-in-button"></div>
  </form>
</div>
