@import "../../../assets/scss/main";
.fu-container {
  grid-template-areas:
    "header"
    "para"
    "btngrp"
    "form";
}
.fu-header {
  grid-area: header;
  .forgot-username-header {
    @include font(700, 2rem);
    color: var(--color-darkBlue);
  }
}
.fu-para {
  grid-area: para;
  .forgot-username-para {
    @include font(500, 1rem);
    color: var(--color-gray);
  }
}
.fu-btngrp {
  background: #efe8ff;
  border-radius: 8px;
  padding: 7px;
  grid-area: btngrp;
  display: grid;
  grid-template-areas: "mobilebtn emailbtn";
  align-items: center;
}

.fu-mobilebtn {
  text-align: center;
  border-radius: 8px;
  grid-area: mobilebtn;
  grid-row: 1;
  grid-column: 1;
  padding: 11px;
  width: 80%;
}

.fu-emailbtn {
  text-align: center;
  border-radius: 8px;
  grid-area: emailbtn;
  grid-row: 1;
  grid-column: 2;
  padding: 11px;
  width: 99%;
}

.fu-emailform {
  grid-area: form;
  display: grid;
  grid-template-areas:
    "label"
    "textbox"
    "btnnext";
}

.fu-mobile-label {
  grid-area: label;
  margin-top: 2rem;
  text-align: center;
}

.fu-email-label {
  grid-area: label;
  margin-top: 2rem;
}
.fu-textbox {
  grid-area: textbox;
}
.fu-mobileform {
  grid-area: form;
  display: grid;
  grid-template-areas:
    "label ."
    "dropdown textbox"
    "btnnext btnnext";
  grid-template-columns: 1fr 3fr;
}
.btnnext {
  grid-area: btnnext;
}
.fu-dropdown {
  grid-area: dropdown;
  justify-self: center;
}
.fu-active {
  background: var(--color-white);
  box-shadow: 0px 2px 6px rgba(27, 22, 58, 0.08);
  border-radius: 8px;
}

.mt {
  margin-top: 17%;
}
.fu-font {
  font-size: x-large;
}
.fu-font-para {
  font-size: small;
}
.w {
  width: 80%;
}
.mr {
  margin-right: 4px;
}
.parent-mobile {
  position: relative;
  .mobile-img {
    position: absolute;
    right: 3%;
    top: 16%;
  }
}
.parent-email {
  position: relative;
  .email-img {
    position: absolute;
    right: 3%;
    bottom: 16%;
  }
}

.parent-right-arrow {
  position: relative;
  .right-arrow {
    position: absolute;
    right: 3%;
    bottom: 16%;
  }
}
