<div class="fu-container mt">
  <div class="fu-header">
    <div class="forgot-username-header fu-font mb-2">Forgot Username?</div>
  </div>
  <div class="fu-para">
    <p class="forgot-username-para fu-font-para mb-5">
      No worries, enter your Mobile number or Email ID and we will send you the
      OTP to retrive your username.
    </p>
  </div>

  <div class="fu-btngrp">
    <div [class]="!showEmail ? 'fu-mobilebtn fu-active' : 'fu-mobilebtn'">
      <input
        class="btn-no-boarder"
        type="button"
        value="Mobile number"
        (click)="setShowEmail(false)"
      />
    </div>
    <div [class]="showEmail ? 'fu-emailbtn fu-active' : 'fu-emailbtn'">
      <input
        type="button"
        class="btn-no-boarder"
        value="Email ID"
        (click)="setShowEmail(true)"
      />
    </div>
  </div>

  <form
    [formGroup]="verificationForm"
    (ngSubmit)="onSubmit()"
    *ngIf="showEmail"
    class="fu-emailform"
  >
    <div class="fu-email-label">
      <label class="lbl-username fu-font-para"> Email ID </label>
    </div>
    <div class="fu-textbox mb-4 parent-email">
      <input
        type="text"
        class="form-control click"
        id="email"
        name="email"
        aria-describedby="email"
        formControlName="email"
      />
      <img
        title="Email ID"
        class="email-img click"
        height="25px"
        width="25px"
        src="assets/svgs/email.svg"
      />
    </div>
    <div class="btnnext parent-right-arrow">
      <button type="submit" class="btn-darkblue btn-block">Next</button>
      <img
        title="Next"
        class="right-arrow"
        height="24px"
        width="20px"
        src="assets/svgs/right-arrow.svg"
      />
    </div>
  </form>

  <form
    [formGroup]="verificationForm"
    (ngSubmit)="onSubmit()"
    *ngIf="!showEmail"
    class="fu-mobileform"
  >
    <div class="fu-mobile-label">
      <label class="lbl-username fu-font-para">Mobile number</label>
    </div>
    <div class="fu-dropdown w mb-4">
      <ng-select formControlName="selectedCode" [clearable]="false">
        <ng-option
          *ngFor="let code of countryCode"
          [value]="code.dialling_code"
        >
          <img
            title="{{ code.country_name }}"
            class="mb-1 mr click"
            height="16px"
            width="16px"
            [src]="code.img"
          />
          {{ code.dialling_code }}</ng-option
        >
      </ng-select>
    </div>
    <div class="fu-textbox parent-mobile">
      <input
        type="text"
        id="phoneNumber"
        class="form-control click"
        name="phoneNumber"
        aria-describedby="email"
        formControlName="phoneNumber"
        max="15"
      />
      <img
        title="Mobile Number"
        class="mobile-img click"
        height="20px"
        width="20px"
        src="assets/svgs/mobile.svg"
      />
    </div>
    <div class="btnnext parent-right-arrow">
      <button type="submit" class="btn-darkblue btn-block">Next</button>
      <img
        class="right-arrow"
        height="24px"
        width="20px"
        src="assets/svgs/right-arrow.svg"
      />
    </div>
    <div id="sign-in-button"></div>
  </form>
  <app-footer-terms-condition></app-footer-terms-condition>
</div>
