<div class="container-fluid">
    <div class="row">
      <div class="col">
        <ngb-carousel #carousel [interval]="2000" [pauseOnHover]="true">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="../../../assets/images/Forgot-password/Hero1.png"
                width="100%"
                alt="Random first slide"
              />
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="../../../assets/images/Forgot-password/Hero2.png"
                width="100%"
                alt="Random second slide"
              />
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="../../../assets/images/Forgot-password/Hero3.png"
                width="100%"
                alt="Random third slide"
              />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="col" style="background-color: #faf9ff">
        <div class="language-div">
          <select name="language" id="language" class="language-dropdown">
            <option value="" selected="selected">English</option>
            <option value="">Marathi</option>
          </select>
        </div>
        <form class="form">
          <div class="content-container">
            <div class="form-header">
              <h3 class="forgot-username-header">Forgot Username</h3>
              <p class="forgot-username-para">
                No worries, enter your Mobile number or Email ID and we will send you the OTP to retrive your username.
              </p>
            </div>
            <div class="vr-container">
              <div class="vr-btngrp">
                <div [class]="!showEmail ? 'vr-mobilebtn vr-active' : 'vr-mobilebtn'">
                  <input class="btn-no-boarder" type="button" value="Mobile number" (click)="setShowEmail(false)"/>
                </div>
                <div [class]="showEmail ? 'vr-emailbtn vr-active' : 'vr-emailbtn'">
                  <input type="button" class="btn-no-boarder" value="Email ID" (click)="setShowEmail(true)"/>
                </div>
              </div>
              <form [formGroup]="verificationForm" (ngSubmit)="onSubmit()" *ngIf="showEmail" class="vr-emailform">
                <div class="vr-email-label">
                  <label class="lbl-username"> Email ID </label>
                </div>
                <div class="vr-textbox">
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                    name="email"
                    aria-describedby="email"
                    formControlName="email"
                  />
                </div>
                <div class="btnnext">
                  <button type="submit" class="btn-darkblue btn-block">Next</button>
                </div>
              </form>
              <form [formGroup]="verificationForm" (ngSubmit)="onSubmit()" *ngIf="!showEmail" class="vr-mobileform">
                <div class="vr-mobile-label">
                  <label class="lbl-username">Mobile number</label>
                </div>
                <div class="vr-dropdown">
                  <select
                    name="mobilecode"
                    id="mobilecode"
                    class="language-dropdown form-control"
                  >
                    <option value="" selected="selected">+ 91</option>
                    <option value="">+ 61</option>
                  </select>
                </div>
                <div class="vr-textbox">
                  <input
                    type="text"
                    class="form-control"
                    id="mobile"
                    name="mobile"
                    aria-describedby="mobile"
                    formControlName="mobile"
                  />
                </div>
                <div class="btnnext">
                  <button type="submit" class="btn-darkblue btn-block">Next</button>
                </div>
              </form>
            </div>
            
            <div class="help">
              <button type="button" class="btn-help">Help</button>
            </div>
          </div>
      </form>
    </div>
</div>
   
