<h4><i class="fas fa-phone-alt"></i> Patient Interaction</h4>
<hr>
<div>
  Have you spoken with the patient directly?
</div>
<div>
  <span><a class="fab fa-whatsapp" href="{{whatsappLink}}" target="_blank" id="whatsapp-link"></a></span>
  <span><a href="tel:{{phoneNo}}" class="fas fa-phone-volume"></a></span>
</div>
<form [formGroup]='interaction' (ngSubmit)='submit()'>
<div id="patient-interaction">
    <br>
        <mat-radio-group aria-label="Select an option" formControlName="interaction">
            <mat-radio-button value="Yes">Yes </mat-radio-button>
            <mat-radio-button value="No">No</mat-radio-button>
          </mat-radio-group>&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="submit" mat-raised-button color="primary" [disabled]="!interaction.valid" [hidden]="msg.length > 0">Submit</button>
</div>
<div *ngFor="let msg of msg">  
  <div [@moveInLeft] class="alert alert-primary">{{msg}}</div>
</div>
</form>