<div class="pres-content">
  <div  class="header mt-1">
    <div class="print d-flex justify-content-center mt-2">
      <button  id="printPageButton" (click)="print()">
        Print
        <i class="fa fa-print"></i>
      </button>
      <!-- <button class="ml-2" (click)="download()">
        Download
        <i class="fa fa-download"></i>
      </button> -->
      <!-- <mat-chip-list *ngIf="medicineProvided" class="ml-2">
        <mat-chip class="chip">Medicine Given<mat-icon class="ml-2">done_all</mat-icon>
        </mat-chip>
      </mat-chip-list> -->
    </div>
  </div>

  <div id="prescription" class="container bootstrap snippets bootdey">
    <div class="row mt-3">
      <div class="col-md-12">
        <div>
          <div class="prescription-wrapper" >
            <div class="row" *ngFor="let info of patientInfo">
              <div class="col-3">
              </div>
              <div class="col-6">
                <div class="d-flex justify-content-center">
                  <img src="assets/images/vikalp.png" alt="Ibis Vikalp" class="hih-logo" />
                </div>
                <div class="d-flex justify-content-center">
                  <label class="hih-lbl text-center">Vikalp Helpline</label>
                </div>
              </div>
              <div class="col-3">
                <!-- <div class="d-flex justify-content-center">
                  <img src="assets/images/intelehealth-logo-reverse1.png" class="hih-logo ih" />
                </div> -->
              </div>
            </div>

            <div style="border-top: 2px solid #321a94" class="details-info">
              <u *ngIf="language ==='en'"><strong> Survivor Details: </strong></u>
              <u *ngIf="language ==='hi'"><strong> उत्तरजीवी विवरण: </strong></u>

              <div class="row">
                <div class="col-sm-6" *ngFor="let info of patientInfo" >
                  <span class="d-flex">{{ language ==='en' ? 'Survivor Name:' : 'उत्तरजीवी का नाम:' }} &nbsp;&nbsp; <b>{{ info?.display }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Age:' : 'उम्र:'}}&nbsp;&nbsp; <b>{{ info?.age }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Gender:': 'लिंग:'}} &nbsp;&nbsp; <b>{{ gender }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'State:':'राज्य:' }}&nbsp;&nbsp; <b>{{state}}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'District:': 'जिला:'}} &nbsp;&nbsp; <b>{{info?.preferredAddress?.cityVillage}}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Contact Info:':'संपर्क सूचना:' }}&nbsp;&nbsp; <b>{{info?.telephone == "_" ? '-' : info?.telephone }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Caste:': 'जाति:'}}&nbsp;&nbsp; <b>{{ info?.Caste == "_" ? '-' : info?.Caste}}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Occupation:': 'पेशा:' }}&nbsp;&nbsp; <b>{{ info?.occupation == "_" ? '-' : info?.occupation }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Landmark:' : 'सीमाचिह्न:'}}&nbsp;&nbsp; <b>{{ info?.Landmark == "_" ? '-' : info?.Landmark}}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Survivor marriage type:': 'उत्तरजीवी विवाह प्रकार:'}}&nbsp;&nbsp; <b>{{ info?.Survivor_marriage_type == "_" ? '-' :
                    info?.Survivor_marriage_type }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Survivor Maritual Status:': 'उत्तरजीवी वैवाहिक स्थिति:' }}&nbsp;&nbsp; <b>{{ info?.Survivor_maritual_status == "_" ? '-' :
                    info?.Survivor_maritual_status }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Survivor Living With:': 'उत्तरजीवी के साथ रहना:' }}&nbsp;&nbsp; <b>{{ info?.Survivor_living_with == "_" ? '-' :
                    info?.Survivor_living_with }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Marriage age:': 'शादी की उम्र:' }}&nbsp;&nbsp; <b>{{ info?.Marriage_age == "_" ? '-' : info?.Marriage_age }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Maritual Status:': 'वैवाहिक स्थिति:'}}&nbsp;&nbsp; <b>{{ info?.maritualStatus == "_" ? '-' : info?.maritualStatus }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Children Status:': 'बच्चों की स्थिति:' }}&nbsp;&nbsp; <b>{{ info?.Children_Status == "_" ? '-' : info?.Children_Status }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'No. of Children:': 'बच्चों की संख्या:'}}&nbsp;&nbsp; <b>{{ info?.No_of_Childrens == "_" ? '-' : info?.No_of_Childrens }}</b></span>
                </div>
                <div class="col-sm-6 text-right-presc" *ngFor="let info of patientInfo">
                  <span class="d-flex">{{ language ==='en' ? 'OpenMRS ID:': 'OpenMRS ID:'}}&nbsp;&nbsp; <b>{{patientIdentifier == "_" ? '-' : patientIdentifier}}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Education:': 'शिक्षा:'}}&nbsp;&nbsp; <b>{{ info?.Education == "_" ? '-' : info?.Education }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Telephone No for survivor:': 'उत्तरजीवी के लिए टेलीफोन नंबर:'}}&nbsp;&nbsp; <b>{{ info?.Telephone_number_for_survivor == "_" ? '-' :
                    info?.Telephone_number_for_survivor }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Case Reffered By:': 'मामला संदर्भित द्वारा:'}}&nbsp;&nbsp; <b>{{ info?.caseRefferedBy == "_" ? '-' : info?.caseRefferedBy }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Case informed :': 'मले की जानकारी द्वारा :'}}&nbsp;&nbsp; <b>{{ info?.amSpeakingWithSurvivor == "_" ? '-' :
                    info?.amSpeakingWithSurvivor }}</b></span>
                  <!-- <span class="d-flex">Called by: &nbsp;&nbsp; <b>{{ info?.SWD }}</b></span> -->
                  <span class="d-flex">{{ language ==='en' ? 'Contact Type:': 'संपर्क प्रकार:'}}&nbsp;&nbsp; <b>{{ info?.contactType == "_" ? '-' : info?.contactType }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Husband Occupation:': 'पति व्यवसाय:'}}&nbsp;&nbsp; <b>{{ info?.husbandOccupation == "_" ? '-' : info?.husbandOccupation }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Income:': 'आय:'}}&nbsp;&nbsp; <b>{{ info?.income == "_" ? '-' : info?.income }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Husband Income:': 'पति आय:'}}&nbsp;&nbsp; <b>{{ info?.husbandIncome == "_" ? '-' : info?.husbandIncome }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Maternal home address:': 'मायके का घर का पता:' }}&nbsp;&nbsp; <b>{{ info?.Maternal_home_address == "_" ? '-' :
                    info?.Maternal_home_address }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Maternal phone number:': 'मायके का फोन नंबर:'}}&nbsp;&nbsp; <b>{{ info.Maternal_phone_number == "_" ? '-' :
                    info.Maternal_phone_number }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Address of in-laws:': 'ससुराल का पता:'}}&nbsp;&nbsp; <b>{{ info.Address_of_in_laws == "_" ? '-' : info.Address_of_in_laws }}</b></span>
                  <span class="d-flex">{{ language ==='en' ? 'Emergency Phone Number:': 'आपातकालीन फोन नंबर:'}}&nbsp;&nbsp; <b>{{ info.Emergency_Phone_Number == "_" ? '-' :info.Emergency_Phone_Number}}</b></span>
                </div>
              </div>
            </div>

            <div style="border-top: 2px solid #321a94" class="presc-details" *ngFor="let visit of visitData">
              <div class="row">
                <div class="col-sm-12">
                  <u *ngIf="language ==='en'"><strong> Date of Visit:</strong></u>  <u *ngIf="language ==='hi'"><strong> विज़िट की तारीख़:</strong></u> &nbsp;&nbsp;{{visit.visitDate | date: "dd-MMM-yyyy" }}
                  <table class="table table-responsive borderless" *ngFor="let complaint of visit.complaints">
                    <tr>
                      <div [innerHTML]="complaint.value"></div>
                    </tr>
                  </table>
                </div><br><br>

                <div class="col-sm-12">
                  <!-- <u *ngIf="language ==='en'"><strong>  Resolution & Feedback: </strong></u>
                  <u *ngIf="language ==='hi'"><strong>  संकल्प  और  प्रतिक्रिया: </strong></u> -->

                  <table class="table table-responsive borderless" *ngFor="let examination of visit.examinations">
                    <tr>
                      <div [innerHTML]="examination.value"></div>
                    </tr>
                  </table>
                  <!-- <table *ngIf="visit.resolution?.length == 0">
                    No Examination available!
                  </table> -->
                  <br>
                  <!-- <u><strong> On Examination: </strong></u>
                  <table class="table table-responsive borderless" *ngFor="let exam of visit.examination">
                    <tr>
                      <div [innerHTML]="exam.value"></div>
                    </tr>
                  </table> -->
                </div><br><br>

                <div class="col-sm-12">
                  <u *ngIf="language ==='en'"><strong>  Resolution & Feedback: </strong></u>
                  <u *ngIf="language ==='hi'"><strong>  संकल्प  और  प्रतिक्रिया: </strong></u>

                  <table class="table table-responsive borderless" *ngFor="let resolution of visit.resolution">
                    <tr>
                      <div [innerHTML]="resolution.value"></div>
                    </tr>
                  </table>
                  <!-- <table *ngIf="visit.resolution?.length == 0">
                    No Resolution and Feedback available!
                  </table> -->
                  <br>
                  <!-- <u><strong> On Examination: </strong></u>
                  <table class="table table-responsive borderless" *ngFor="let exam of visit.examination">
                    <tr>
                      <div [innerHTML]="exam.value"></div>
                    </tr>
                  </table> -->
                </div><br><br>

          

                <div class="col-sm-12">
                  <u *ngIf="language ==='en'"><strong>  Facility Referred: </strong></u>
                  <u *ngIf="language ==='hi'"><strong>  संदर्भित सुविधा: </strong></u>
                  <table class="table table-responsive borderless" *ngFor="let facility of visit.facilities">
                    <tr>
                      <div [innerHTML]="facility.value"></div>
                    </tr>
                  </table>
                  <table *ngIf="visit.facilities?.length == 0">
                    No Facility Referred available!<br>
                  </table>
                  <!-- <u><strong> On Examination: </strong></u>
                  <table class="table table-responsive borderless" *ngFor="let exam of visit.examination">
                    <tr>
                      <div [innerHTML]="exam.value"></div>
                    </tr>
                  </table> -->
                </div>
              </div>
              <div class="line-items">
                <div class="d-flex flex-row justify-content-end">
                  <div class="p-2">
                    <div>
                      <b class="sign"></b>
                    </div>
                    <div>{{visit.providerName}}</div>
                    <div *ngIf="visit.qual && visit.specialization">
                      {{visit.qual}} | {{visit.specialization}}
                    </div>
                    <!-- <div *ngIf="visit.regNo"> 
                      Reg.No: <b>{{visit.regNo ? visit.regNo : 'NA'}}</b>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

            <div style="border-top: 2px solid #321a94" class="presc-details">

              <u *ngIf="language ==='en'"><strong> Documents: </strong></u>
              <u *ngIf="language ==='hi'"><strong> दस्तावेज़: </strong></u>

              <div class="row">
                <div *ngFor="let image of images" class="col-lg-3 col-md-3 col-sm-3 col-xs-6 imagetiles" style="padding: 0px;">
                  <a href="{{ image.image }}"><img src="{{ image.image }}"
                      [ngClass]="{ image1: images.length > 1, image2: images.length == 1 }" alt="" /></a><br>
                    <span [ngClass]="{ imageName1: images.length > 1, imageName2: images.length == 1 }">{{image.imageName}}</span>
                </div>
                <div *ngIf="!additionalDocumentPresent" class="ml-3">{{language ==='en' ? 'No Documents available!' : 'कोई दस्तावेज उपलब्ध नहीं है!'}}</div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="alert alert-warning m-5" role="alert">
  No prescription found!
</div>
<div class="alert alert-primary m-5" role="alert">
  Loading.....
</div> -->