.pres-content .logo a:hover {
    text-decoration: none;
    color: #7793c4;
  }
  
  .pres-content .prescription-wrapper {
    background: #fff;
    border: 1px solid #cdd3e2;
    box-shadow: 0px 0px 1px #ccc;
    padding: 20px 25px 20px;
    margin-top: 40px;
    border-radius: 4px;
  }
  
  .pres-content .prescription-wrapper .presc-details span {
    color: rgb(0 0 0 / 62%);
    display: block;
  }
  .pres-content .prescription-wrapper .presc-details a {
    display: inline-block;
    margin-top: 5px;
  }
  
  .print button {
    display: inline-block;
    border: 1px solid #9cb5d6;
    padding: 5px;
    border-radius: 5px;
    color: #708dc0;
    font-size: 13px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .print button:hover {
    text-decoration: none;
    border-color: #333;
    color: #333;
  }
  
  .pres-content {
    background: #eceef4;
  }
  
  .pres-content .logo {
    text-align: center;
    margin-top: 50px;
  }
  
  .pres-content .logo a {
    font-family: Myriad Pro, Lato, Helvetica Neue, Arial;
    font-size: 36px;
    letter-spacing: 0.1px;
    color: #555;
    font-weight: 300;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .pres-content .prescription-wrapper .info {
    line-height: 25px;
    color: #444;
  }
  
  .pres-content .prescription-wrapper .details-info {
    padding-top: 5px;
  }
  
  .pres-content .prescription-wrapper .details-info span {
    color: rgb(0 0 0 / 62%);
  }
  
  .pres-content .prescription-wrapper .details-info strong {
    display: block;
    color: #444;
    margin-top: 3px;
  }
  
  .pres-content .prescription-wrapper .presc-details {
    margin-top: 10px;
    padding-top: 10px;
    line-height: 22px;
  }
  
  .pres-content .prescription-wrapper .line-items {
    margin-top: 40px;
  }
  .pres-content .prescription-wrapper .line-items .headers {
    color: rgb(0 0 0 / 62%);
    font-size: 13px;
    letter-spacing: 0.3px;
    border-bottom: 2px solid #321a94;
    padding-bottom: 4px;
  }
  .pres-content .prescription-wrapper .line-items .items {
    margin-top: 8px;
    border-bottom: 2px solid #321a94;
    padding-bottom: 8px;
  }
  .pres-content .prescription-wrapper .line-items .items .item {
    padding: 10px 0;
    color: #696969;
    font-size: 15px;
  }
  
  .pres-content .prescription-wrapper .line-items .items .item .amount {
    letter-spacing: 0.1px;
    color: #84868a;
    font-size: 16px;
  }
  
  .pres-content .prescription-wrapper .line-items .total {
    margin-top: 30px;
  }
  
  .pres-content .prescription-wrapper .line-items .total .extra-notes strong {
    display: block;
    margin-bottom: 5px;
    color: #454545;
  }
  
  @media (min-width: 1200px) {
    .pres-content .container {
      width: 900px;
    }
  .imageName1 {
      margin-left: 51px; 
      margin-top: 10px;
    }
    .imageName2 {
      margin-left: 45px; 
      margin-top: 10px;
    }
  }
  .ih {
    margin-top: 10px;
  }
  .hih-logo {
    max-height: 40px;
  }
  .sign {
    font-size: 40px;
  }
  ul {
    margin-bottom: 5px !important;
  }

  .no-print {
    margin-left: 380px;
}
 .pname {
  margin-left:380px;
 }
  /* ------------- */
  
  @media (max-width: 767px) {
    .pres-content .prescription-wrapper .details-info .text-right {
      text-align: left;
      margin-top: 20px;
    }
    .pres-content .prescription-wrapper .presc-details .text-right {
      text-align: left;
      margin-top: 20px;
    }
    .pres-content .prescription-wrapper .line-items .items .item {
      font-size: 13px;
    }
    .pres-content .prescription-wrapper .line-items .items .item .amount {
      font-size: 13px;
    }
  
    label,
    div {
      font-size: 12px;
    }
    /* img {
      max-height: 40px !important;
    } */
  
    .imageName1 {
      margin-left: 75px; 
      margin-top: 10px;
    }
    .imageName2 {
      margin-left: 45px; 
      margin-top: 10px;
    }
    .pres-content .prescription-wrapper {
      padding: 25px 30px 20px;
    }
/*   
    .ih {
      margin-left: 25px !important;
    } */
    .sign {
      font-size: 35px;
    }
    .no-print {
      margin-left: 130px;
  }
  }
  
  .image1 {
    width: 60%;
  }
  
  .image2 {
    width: 25%;
  }
  /* ------------- */
  
  @media (max-width: 411px) {
    label,
    div {
      font-size: 12px;
    }
    /* img {
      max-height: 33px !important;
    } */
    .imageName1 {
      margin-left: 75px; 
      margin-top: 10px;
    }
    .imageName2 {
      margin-left: 45px; 
      margin-top: 10px;
    }
    .hih-lbl {
      font-size: 9px;
    }
    .gr {
      font-size: 15px;
    }
    .sign {
      font-size: 25px;
    }
  }
  
  .chip {
    background-color: #eceef4;
    color: #321a94;
    border: 1px solid #321a94;
  }
   
  @media print
  {    
      .no-print, .no-print *
      {
        margin-left: 450px !important;
      }
      .imageName1 {
        margin-left: 51px; 
        margin-top: 10px;
      }
      .imageName2 {
        margin-left: 45px; 
        margin-top: 10px;
      }
  }