<div class="pres-content">
  <div  class="header mt-1">
    <div class="print d-flex justify-content-center mt-2">
      <button  id="printPageButton" (click)="print()">
        Print
        <i class="fa fa-print"></i>
      </button>
      <!-- <button class="ml-2" (click)="download()">
        Download
        <i class="fa fa-download"></i>
      </button> -->
      <!-- <mat-chip-list *ngIf="medicineProvided" class="ml-2">
        <mat-chip class="chip">Medicine Given<mat-icon class="ml-2">done_all</mat-icon>
        </mat-chip>
      </mat-chip-list> -->
    </div>
  </div>

  <div id="prescription" class="container bootstrap snippets bootdey">
    <div class="row mt-3">
      <div class="col-md-12">
        <div>
          <div class="prescription-wrapper" >
            <div class="row" *ngFor="let info of patientInfo">
              <div class="col-3">
              </div>
              <div class="col-6">
                <div class="d-flex justify-content-center">
                  <img src="assets/images/vikalp.png" alt="Ibis Vikalp" class="hih-logo" />
                </div>
                <div class="d-flex justify-content-center">
                  <label class="hih-lbl text-center">Vikalp Helpline</label>
                </div>
              </div>
              <div class="col-3">
                <!-- <div class="d-flex justify-content-center">
                  <img src="assets/images/intelehealth-logo-reverse1.png" class="hih-logo ih" />
                </div> -->
              </div>
            </div>

            <div style="border-top: 2px solid #321a94" class="details-info">
              <u><strong> Survivor Details: </strong></u>
              <div class="row">
                <div class="col-sm-6" *ngFor="let info of patientInfo" >
                  <span class="d-flex">Survivor Name: &nbsp;&nbsp; <b>{{ info?.display }}</b></span>
                  <span class="d-flex">Age: &nbsp;&nbsp; <b>{{ info?.age }}</b></span>
                  <span class="d-flex">Gender: &nbsp;&nbsp; <b>{{ info?.gender }}</b></span>
                  <span class="d-flex">State: &nbsp;&nbsp; <b>{{state}}</b></span>
                  <span class="d-flex">District: &nbsp;&nbsp; <b>{{info?.preferredAddress?.cityVillage}}</b></span>
                  <span class="d-flex">Contact Info: &nbsp;&nbsp; <b>{{info?.telephone == "_" ? '-' : info?.telephone }}</b></span>
                  <span class="d-flex">Caste: &nbsp;&nbsp; <b>{{ info?.Caste == "_" ? '-' : info?.Caste}}</b></span>
                  <span class="d-flex">Occupation: &nbsp;&nbsp; <b>{{ info?.occupation == "_" ? '-' : info?.occupation }}</b></span>
                  <span class="d-flex">Landmark: &nbsp;&nbsp; <b>{{ info?.Landmark == "_" ? '-' : info?.Landmark}}</b></span>
                  <span class="d-flex">Survivor marriage type: &nbsp;&nbsp; <b>{{ info?.Survivor_marriage_type == "_" ? '-' :
                    info?.Survivor_marriage_type }}</b></span>
                  <span class="d-flex">Survivor Maritual Status: &nbsp;&nbsp; <b>{{ info?.Survivor_maritual_status == "_" ? '-' :
                    info?.Survivor_maritual_status }}</b></span>
                  <span class="d-flex">Survivor Living With: &nbsp;&nbsp; <b>{{ info?.Survivor_living_with == "_" ? '-' :
                    info?.Survivor_living_with }}</b></span>
                  <span class="d-flex">Marriage age: &nbsp;&nbsp; <b>{{ info?.Marriage_age == "_" ? '-' : info?.Marriage_age }}</b></span>
                  <span class="d-flex">Maritual Status: &nbsp;&nbsp; <b>{{ info?.maritualStatus == "_" ? '-' : info?.maritualStatus }}</b></span>
                  <span class="d-flex">Children Status: &nbsp;&nbsp; <b>{{ info?.Children_Status == "_" ? '-' : info?.Children_Status }}</b></span>
                  <span class="d-flex">No. of Children: &nbsp;&nbsp; <b>{{ info?.No_of_Childrens == "_" ? '-' : info?.No_of_Childrens }}</b></span>
                </div>
                <div class="col-sm-6 text-right-presc" *ngFor="let info of patientInfo">
                  <span class="d-flex">Date/Time: &nbsp;&nbsp;
                    <b>Visit Date</b></span>
                  <span class="d-flex">OpenMRS ID: &nbsp;&nbsp; <b>{{patientIdentifier == "_" ? '-' : patientIdentifier}}</b></span>
                  <span class="d-flex">Education: &nbsp;&nbsp; <b>{{ info?.Education == "_" ? '-' : info?.Education }}</b></span>
                  <span class="d-flex">Telephone No for survivor: &nbsp;&nbsp; <b>{{ info?.Telephone_number_for_survivor == "_" ? '-' :
                    info?.Telephone_number_for_survivor }}</b></span>
                  <span class="d-flex">Case Reffered By: &nbsp;&nbsp; <b>{{ info?.caseRefferedBy == "_" ? '-' : info?.caseRefferedBy }}</b></span>
                  <span class="d-flex">Am Speaking with survivor: &nbsp;&nbsp; <b>{{ info?.amSpeakingWithSurvivor == "_" ? '-' :
                    info?.amSpeakingWithSurvivor }}</b></span>
                  <!-- <span class="d-flex">Called by: &nbsp;&nbsp; <b>{{ info?.SWD }}</b></span> -->
                  <span class="d-flex">Contact Type: &nbsp;&nbsp; <b>{{ info?.contactType == "_" ? '-' : info?.contactType }}</b></span>
                  <span class="d-flex">Husband Occupation: &nbsp;&nbsp; <b>{{ info?.husbandOccupation == "_" ? '-' : info?.husbandOccupation }}</b></span>
                  <span class="d-flex">Income: &nbsp;&nbsp; <b>{{ info?.income == "_" ? '-' : info?.income }}</b></span>
                  <span class="d-flex">Husband Income: &nbsp;&nbsp; <b>{{ info?.husbandIncome == "_" ? '-' : info?.husbandIncome }}</b></span>
                  <span class="d-flex">Maternal home address: &nbsp;&nbsp; <b>{{ info?.Maternal_home_address == "_" ? '-' :
                    info?.Maternal_home_address }}</b></span>
                  <span class="d-flex">Maternal phone number: &nbsp;&nbsp; <b>{{ info.Maternal_phone_number == "_" ? '-' :
                    info.Maternal_phone_number }}</b></span>
                  <span class="d-flex">Address of in-laws: &nbsp;&nbsp; <b>{{ info.Address_of_in_laws == "_" ? '-' : info.Address_of_in_laws }}</b></span>
                  <span class="d-flex">Emergency Phone Number: &nbsp;&nbsp; <b>{{ info.Emergency_Phone_Number == "_" ? '-' :info.Emergency_Phone_Number}}</b></span>
                </div>
              </div>
            </div>

            <div style="border-top: 2px solid #321a94" class="presc-details" *ngFor="let visit of visitData">
              <div class="row">
                <div class="col-sm-12">
                  <u><strong> Date of Visit:</strong></u>  {{visit.visitDate | date: "dd-MMM-yyyy" }}
                  <table class="table table-responsive borderless" *ngFor="let complaint of visit.complaints">
                    <tr>
                      <div [innerHTML]="complaint.value"></div>
                    </tr>
                  </table>
                </div><br><br>

                <div class="col-sm-12">
                  <u><strong>  Resolution & Feedback: </strong></u>
                  <table class="table table-responsive borderless" *ngFor="let resolution of visit.resolution">
                    <tr>
                      <div [innerHTML]="resolution.value"></div>
                    </tr>
                  </table>
                  <table *ngIf="visit.resolution?.length == 0">
                    No Resolution and Feedback available!
                  </table>
                  <!-- <u><strong> On Examination: </strong></u>
                  <table class="table table-responsive borderless" *ngFor="let exam of visit.examination">
                    <tr>
                      <div [innerHTML]="exam.value"></div>
                    </tr>
                  </table> -->
                </div>
              </div>
              <div class="line-items">
                <div class="d-flex flex-row justify-content-end">
                  <div class="p-2">
                    <div>
                      <b class="sign"></b>
                    </div>
                    <div>{{visit.providerName}}</div>
                    <div *ngIf="visit.qual && visit.specialization">
                      {{visit.qual}} | {{visit.specialization}}
                    </div>
                    <!-- <div *ngIf="visit.regNo"> 
                      Reg.No: <b>{{visit.regNo ? visit.regNo : 'NA'}}</b>
                    </div> -->
                  </div>
                </div>
              </div>
            </div>

            <div style="border-top: 2px solid #321a94" class="presc-details">

              <u><strong> Documents: </strong></u>
              <div class="row">
                <div *ngFor="let image of images" class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding: 0px;">
                  <a href="{{ image.image }}"><img src="{{ image.image }}"
                      [ngClass]="{ image1: images.length > 1, image2: images.length == 1 }" alt="" /></a><br>
                    <span  [ngClass]="{ imageName1: images.length > 1, imageName2: images.length == 1 }">{{image.imageName}}</span>
                </div>
                <div *ngIf="!additionalDocumentPresent" class="ml-3">No Documents available!</div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="alert alert-warning m-5" role="alert">
  No prescription found!
</div>
<div class="alert alert-primary m-5" role="alert">
  Loading.....
</div> -->