<div *ngIf="!noPrescription && !loading" class="pres-content">
  <div *ngIf="!exporting" class="header mt-1">
    <div class="print d-flex justify-content-center mt-2">
      <button (click)="print()">
        Print
        <i class="fa fa-print"></i>
      </button>
      <button class="ml-2" (click)="download()">
        Download
        <i class="fa fa-download"></i>
      </button>
      <mat-chip-list *ngIf="medicineProvided" class="ml-2">
        <mat-chip class="chip">Medicine Given<mat-icon class="ml-2">done_all</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>

  <div id="prescription" class="container bootstrap snippets bootdey">
    <div class="row mt-3">
      <div class="col-md-12">
        <div>
          <div class="prescription-wrapper">
            <div class="row">
              <div class="col-3">
                <div class="d-flex justify-content-center">
                  <img src="assets/images/intelehealth-logo-reverse1.png" class="hih-logo ih" />
                </div>
              </div>
              <div class="col-6">
                <div class="d-flex justify-content-center">
                  <label class="gr"></label>
                </div>
              </div>
              <div class="col-3">
                <div class="d-flex justify-content-center">
                  <img src="assets/images/vikalp.png" alt="Ibis Vikalp" class="hih-logo" />
                </div>
                <div class="d-flex justify-content-center">
                  <label class="hih-lbl">Ibis Vikal</label>
                </div>
              </div>
            </div>

            <div style="border-top: 2px solid #321a94" class="details-info">
              <div class="row">
                <div class="col-sm-6">
                  <span class="d-flex">Patient Name: &nbsp;&nbsp; <b>{{ info.display }}</b></span>
                  <span class="d-flex">Age: &nbsp;&nbsp; <b>{{ info.age }}</b></span>
                  <span class="d-flex">Gender: &nbsp;&nbsp; <b>{{ info.gender }}</b></span>
                  <span class="d-flex">State: &nbsp;&nbsp; <b>{{state}}</b></span>
                  <span class="d-flex">District: &nbsp;&nbsp; <b>{{info?.preferredAddress.cityVillage}}</b></span>
                  <span class="d-flex">Contact Info: &nbsp;&nbsp; <b>{{info.telephone}}</b></span>
                  <span class="d-flex">Caste: &nbsp;&nbsp; <b>{{ info.Caste }}</b></span>
                  <span class="d-flex">Occupation: &nbsp;&nbsp; <b>{{ info.occupation }}</b></span>
                  <span class="d-flex">Landmark: &nbsp;&nbsp; <b>{{ info.Landmark }}</b></span>
                  <span class="d-flex">Survivor marriage type: &nbsp;&nbsp; <b>{{ info.Survivor_marriage_type }}</b></span>
                  <span class="d-flex">Survivor Maritual Status: &nbsp;&nbsp; <b>{{ info.Survivor_maritual_status }}</b></span>
                  <span class="d-flex">Survivor Living With: &nbsp;&nbsp; <b>{{ info.Survivor_living_with }}</b></span>
                  <span class="d-flex">Marriage age: &nbsp;&nbsp; <b>{{ info.Marriage_age }}</b></span>
                  <span class="d-flex">Maritual Status: &nbsp;&nbsp; <b>{{ info.maritualStatus }}</b></span>
                  <span class="d-flex">Children Status: &nbsp;&nbsp; <b>{{ info.Children_Status }}</b></span>
                  <span class="d-flex">No. of Children: &nbsp;&nbsp; <b>{{ info.No_of_Childrens }}</b></span>
                </div>
                <div class="col-sm-6 text-right-presc">
                  <span class="d-flex">Date/Time: &nbsp;&nbsp;
                    <b>Visit Date</b></span>
                  <span class="d-flex">OpenMRS ID: &nbsp;&nbsp; <b>{{patientIdentifier}}</b></span>
                  <span class="d-flex">Education: &nbsp;&nbsp; <b>{{ info.Education }}</b></span>
                  <span class="d-flex">Telephone No for survivor: &nbsp;&nbsp; <b>{{ info.Telephone_number_for_survivor }}</b></span>
                  <span class="d-flex">Case Reffered By: &nbsp;&nbsp; <b>{{ info.caseRefferedBy }}</b></span>
                  <span class="d-flex">Am Speaking with survivor: &nbsp;&nbsp; <b>{{ info.amSpeakingWithSurvivor }}</b></span>
                  <span class="d-flex">Called by: &nbsp;&nbsp; <b>{{ info.SWD }}</b></span>
                  <span class="d-flex">Contact Type: &nbsp;&nbsp; <b>{{ info.contactType }}</b></span>
                  <span class="d-flex">Husband Occupation: &nbsp;&nbsp; <b>{{ info.husbandOccupation }}</b></span>
                  <span class="d-flex">Income: &nbsp;&nbsp; <b>{{ info.income }}</b></span>
                  <span class="d-flex">Husband Income: &nbsp;&nbsp; <b>{{ info.husbandIncome }}</b></span>
                  <span class="d-flex">Maternal home address: &nbsp;&nbsp; <b>{{ info.Maternal_home_address }}</b></span>
                  <span class="d-flex">Maternal phone number: &nbsp;&nbsp; <b>{{ info.Maternal_phone_number }}</b></span>
                  <span class="d-flex">Address of in-laws: &nbsp;&nbsp; <b>{{ info.Address_of_in_laws }}</b></span>
                  <span class="d-flex">Emergency Phone Number: &nbsp;&nbsp; <b>{{ info.Emergency_Phone_Number }}</b></span>
                </div>
              </div>
            </div>

            <div style="border-top: 2px solid #321a94" class="presc-details">
              <div class="row">
                <div class="col-sm-12">
                  <strong> वजह / Reason for visit: </strong>
                  <ul></ul>
                </div>
                <div class="col-sm-12">
                  <strong> निदान/ Diagnosis: </strong>
                  <ul>
                    <li>
                      Diagnosis
                    </li>
                  </ul>
                </div>

                <div class="col-sm-12">
                  <strong> दवाएं / Medication(s): </strong>
                  <ul>
                    <li>
                      Med
                    </li>
                  </ul>
                </div>

                <div class="col-sm-12">
                  <strong>
                    जांच की सिफारिश / Recommended Investigation(s):
                  </strong>
                  <ul>
                    <li *ngFor="let adv of testsAdvised">
                      Advise
                    </li>
                  </ul>
                </div>
                <div class="col-sm-12">
                  <strong> सामान्य सलाह / General Advice: </strong>
                  <ul>
                    <li>
                      Advice
                    </li>
                  </ul>
                </div>
                <div class="col-sm-12">
                  <strong> फिर से संपर्क कि तारीख / Follow Up Date: </strong>
                  <ul>
                    <li *ngFor="let flwUp of followupNeeded">
                      Follow Up
                    </li>
                  </ul>
                </div>
                <div class="col-sm-12">
                  <strong> टिप्पणियाँ / Notes: </strong>
                  <ul>
                    <li *ngFor="let note of notes">
                      {{ note }}
                    </li>
                  </ul>
                </div>
                <!-- <div class="col-sm-12">
                  <strong>Additional Documents: </strong>
                  <ul>
                    <li *ngFor="let image of images" class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                      <span style="margin-left: 70px;">{{image.imageName}}</span><br>
                      <a href="{{ image.image }}"><img src="{{ image.image }}"
                          [ngClass]="{ image1: images.length > 1, image2: images.length == 1 }" alt="" /></a>
                    </li>
                  </ul>
                </div> -->
              </div>
            </div>

            <div *ngIf="additionalDocumentPresent">
              <strong> Additional Documents: </strong>
              <div class="row">
                <div *ngFor="let image of images" class="col-md-4 px-0" style="padding: 0px;">
                  <span style="margin-left: 70px;">{{image.imageName}}</span><br>
                  <a href="{{ image.image }}"
                    ><img
                      src="{{ image.image }}"
                      [ngClass]="{ image1: images.length > 1, image2: images.length == 1 }"
                      alt=""
                  /></a>
                </div>
              </div>
            </div>

            <div class="line-items">
              <div class="d-flex flex-row justify-content-end">
                <div class="p-2">
                  <div>
                    <b class="sign"></b>
                  </div>
                  <div>Doctor Name</div>
                  <div>
                    Qualification | Specialization

                  </div>
                  <div>Email: Email Id</div>
                  <div>
                    Reg.No: <b>Reg No</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="alert alert-warning m-5" role="alert">
  No prescription found!
</div>
<div class="alert alert-primary m-5" role="alert">
  Loading.....
</div> -->