<div class="main ml-3">
  <div class="d-flex">
    <img [src]="table?.lableIconPath" />
    <div class="appointment-label">
      {{ table?.label }} ({{ table?.dataCount }})
      <div data-toggle="modal" data-target="#exampleModalLong">
        <img src="assets/svgs/info.svg" />
      </div>
    </div>

    <!-- <button class="btn btn-light btn-filter mt-2">
      <img src="assets/svgs/filter.svg" /> Filter
    </button> -->
    <div
      data-toggle="collapse"
      [attr.data-target]="'#' + table.id"
      class="arrow"
    >
      <img class="" src="assets/svgs/filter-table-up-arrow.svg" />
    </div>
  </div>

  <div [id]="table.id" class="table">
    <table class="table table-borderless w-100">
      <tr class="table-color-th">
        <th [class]="header?.headerClass" *ngFor="let header of table?.headers">
          {{ header?.name }}
        </th>
      </tr>
      <tr
        *ngFor="let data of pagedItems"
        [ngClass]="{ actives: data?.isActive }"
        class="table-height"
        [routerLink]="['/dashboard/visit-summary', data?.patientId, data?.visitId]" 
      >
        <td
          *ngFor="let header of table?.headers"
          class="vr {{ header?.headerClass }}"
        >
          <ng-container [ngSwitch]="true">
            <div *ngSwitchCase="header?.type === 'stringwithimage'">
              <img class="mr-1" [src]="data[header?.imageKey]" />
              {{ data.name }}
            </div>

            <div *ngSwitchCase="header?.type === 'pill'">
              <div
                *ngFor="let btn of header?.buttons"
                class="{{ btn?.btnClass }}"
              >
                <img class="mr-1" [src]="data[header?.imageKey]" />
                {{ data?.visitCreated }}
              </div>
            </div>

            <div *ngSwitchCase="header?.type === 'multibutton'">
              <button
                *ngFor="let btn of header?.buttons"
                class="btn btn-light {{ btn?.btnClass }}"
                (click)="btn?.onClick()"
              >
                {{ btn?.label }}
              </button>
            </div>
            
            <div *ngSwitchCase="header?.type === 'array'">
              <div *ngFor="let i of data?.complaints">
                {{ i }}
              </div>
            </div>
            
            <div *ngSwitchCase="header?.type === 'number'">
                {{ data.age }}{{"y"}}
            </div>

            <div *ngSwitchDefault>{{ data[header?.key] }}</div>
          </ng-container>
        </td>
      </tr>
    </table>

    <!-- pager -->
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li>{{1}} of {{allItems.length}} Patient</li>
      <li [ngClass]="{disabled:pager.currentPage === 1}" >
          <a (click)="setPage(pager.currentPage - 1)">
            <img src="assets/svgs/Vector_left.svg" style="cursor: pointer;">
          </a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" style="cursor: pointer;">
          <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="setPage(pager.currentPage + 1)">
            <img src="assets/svgs/Vector_right.svg" style="cursor: pointer;">
          </a>
      </li>
    </ul>
  </div>

  <!-- modal -->
  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
