<div class="main ml-3">
  <div class="header d-flex">
    <img [src]="table?.lableIconPath" />
    <div class="appointment-label">
      {{ table?.label }} ({{ visitCounts }})
      <img src="assets/svgs/info.svg" />
    </div>

    <button class="btn btn-light btn-filter mt-2">
      <img src="assets/svgs/filter.svg" /> Filter
    </button>
    <div
      data-toggle="collapse"
      [attr.data-target]="'#' + table.id"
      class="arrow click"
    >
      <img class="" src="assets/svgs/filter-table-up-arrow.svg" />
    </div>
  </div>

  <div [id]="table.id" class="table" *ngIf="table.id !== 'appointmentTable'">
    <table class="table table-borderless w-100">
      <tr class="table-color-th">
        <th [class]="header?.headerClass" *ngFor="let header of table?.headers">
          {{ header?.name }}
        </th>
      </tr>
      <tr class="table-height" *ngFor="let value of data">
        <td class="vr">
          <img class="mr-1" src="" />
          <div>{{ value.name }}</div>
        </td>
        <td class="vr">
          <div>{{ value.age }}{{"y"}}</div>
        </td>
        <td class="vr">
          <div>{{ value.location }}</div>
        </td>
        <td class="vr">
          <div>{{ value.complaints[0] }}</div>
        </td>
        <td class="vr vr-position">
          <div class="summay-btn pill-btn">
            <img class="mr-1" src="assets/svgs/summary-list.svg" />
            {{ value.visitCreated }}
          </div>
        </td>
      </tr>
    </table>
  </div>

  <div [id]="table.id" class="table" *ngIf="table.id === 'appointmentTable'">
    <table class="table table-borderless w-100">
      <tr class="table-color-th">
        <th [class]="header?.headerClass" *ngFor="let header of table?.headers">
          {{ header?.name }}
        </th>
      </tr>
      <tr class="table-height" *ngFor="let value of drSlots">
        <td class="vr">
          <img class="mr-1" src="" />
          <div>{{ value.patientName }}</div>
        </td>
        <td class="vr">
          <div>{{ value.age }}{{"y"}}</div>
        </td>
        <td class="vr">
          <div>{{ "" }}</div>
        </td>
        <td class="vr">
          <div>{{ value.location }}</div>
        </td>
        <td class="vr">
          <div>{{ "" }}</div>
        </td>
        <td class="vr vr-position">
          <div class="pill-btn">
            <button class="mr-3 btn re-btn" (click)="rescheduleClick(e1)">
              {{ " Reschedule " }}
            </button>
            <button class="btn ce-btn" (click)="cancelAppointment(e1)">
              {{ " Cancel " }}
            </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
