.calendar-tab ::ng-deep {
  .mat-ink-bar {
    margin-left: 20px;
    width: 115px !important;
    background-color: #EA315B !important;
  }

  .mat-tab-labels {
    margin-top: 10px;

    .mat-tab-label-content {
      font-family: 'DM Sans' !important;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: #1B163A;
    }
  }

  .mat-tab-header {
    height: 64px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    background: #FFF;
  }
}

.view-calendar-main {

  margin-top: 24px;

  .ml-16 {
    margin-left: 16px;
  }

  .mr-20 {
    margin-right: 20px;
  }

  .btn-logo-container {

    .label {
      margin-left: 0;
      padding-top: 15px;
      padding-left: 15px;
      color: #1B163A;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 150%;
    }

    .manage-calendar-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 4px;
      padding: 14px 20px;
      background: #EFE8FF;
      border-radius: 8px;
    }
  }

  .calendar-tab {
    margin-top: 34px;
    background: #FAF9FF;
    box-shadow: 0px 4px 24px rgba(31, 28, 58, 0.08);
    border-radius: 12px;
  }

  .right-container {
    right: 10px;
    top: 20px;
    z-index: 10;

    .calendar-icon {
      margin-right: 4px;
    }

    .today-date {
      padding-top: 2px;
      font-family: 'DM Sans';
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      color: #1B163A;
    }

    .arrow-icons {
      margin-left: 16px;

      .right {
        margin-left: 5px;
      }
    }
  }
}
