.example-full-width {
  width: 30%;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.dropdown-item {
  white-space: pre-wrap;
}

@media only screen and (max-width: 768px) {
  .example-full-width {
    width: 60%;
  }
}

.doctor-value .strike  {
  text-decoration: line-through;
}

.comment  {
  font-size: 10px;
  color: red;
  font-weight: bold;
  white-space: nowrap;
}

.comment-blue  {
  font-size: 10px;
  color: darkblue;
  font-weight: bold;
  white-space: nowrap;
}

