<div [ngClass]="getLang() === 'ar' ? 'class1' : 'class2'">
  <h4><i class="fas fa-diagnoses"></i> {{ 'Diagnosis' | translate }}</h4>
  <hr>
  <div>
    <form [formGroup]='diagnosisForm'>
      <mat-form-field class="example-full-width" id="dropdown-diagnosis">
        <input matInput placeholder="{{ 'Diagnosis' | translate}}" aria-label="State" [matAutocomplete]="auto"
          (keydown)="search($event)" formControlName="text">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let state of diagnosisList" [value]="(state.name) | translate">
            <span>{{state.code}} </span>
            <span> <b>{{(state.name) | translate}}</b></span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div id="primary-confirm">
        <section>
          <mat-radio-group aria-label="Select an option" formControlName="type">
            <mat-radio-button value="{{'Primary' | translate}}">{{ 'Primary'| translate}} </mat-radio-button>
            <mat-radio-button value="{{'Secondary' | translate}}">{{ 'Secondary' | translate }}</mat-radio-button>
          </mat-radio-group>
        </section>
        <section>
          <mat-radio-group aria-label="Select an option" formControlName="confirm">
            <mat-radio-button value="{{'Provisional'| translate}}">{{'Provisional'|translate}} </mat-radio-button>
            <mat-radio-button value="{{'Confirmed' | translate}}">{{'Confirmed'|translate}}</mat-radio-button>
          </mat-radio-group>
        </section>
      </div>
      <br>
      <button type="reset" (click)="onSubmit()" mat-raised-button color="primary" id="diagnosis-submit"
        [disabled]='!diagnosisForm.valid || isManagerRole' *ngIf="!visitCompleted">{{'Add Diagnosis'|translate}}</button>
    </form>
  </div>
  <ng-container *ngIf="diagnosis.length > 0">
    <br>
    <div *ngFor='let diagnosis of diagnosis, index as i'>
      <div [@moveInLeft] class="alert" [ngClass]="{ 'alert-primary': !diagnosis.comment, 'alert-danger': diagnosis.comment }">
        <div class="doctor-value d-flex flex-column">
          <span [class.strike]="diagnosis.comment">{{diagnosis.value}}</span>
          <div class="mt-2 d-flex flex-column border-top border-primary pt-2">
            <span class="comment-blue">{{diagnosis|comment:'addedBy-creator'}}{{diagnosis.creator.regNo}} | {{diagnosis.obsDatetime|date:'dd-MM-y hh:mm a'}}</span>
            <span *ngIf="diagnosis.comment" class="comment">{{diagnosis.comment|comment}}</span>
          </div>
        </div>
        <i (click)="delete(i)" class="material-icons float-right" [class.disabled]="isManagerRole" *ngIf="!diagnosis.comment && !visitCompleted"
            style="color:rgb(235, 30, 30);cursor: pointer;">delete</i>
      </div>
    </div>
  </ng-container>
</div>
