<div class="note-main">
  <div class="note-header w-100">
    <div class="note-header-content w-100">
      <img [src]="iconImg" />
      <div class="note-img-title">Note</div>
      <div
        *ngIf="showToggle"
        data-toggle="collapse"
        data-target="#note"
        class="click"
        (click)="isCollapsed = !isCollapsed"
      >
        <img
          class="arrow"
          [src]="
            isCollapsed
              ? 'assets/svgs/plus-icon.svg'
              : 'assets/svgs/minus-icon.svg'
          "
        />
      </div>
    </div>
  </div>

  <div id="note" class="note-details collapse show w-100">
    <hr class="hr" />

    <div class="d-flex justify-content-center mb-2 w-100">
      <ul class="first-list p-0 m-0">
        <li *ngFor="let note of noteData, index as i" class="mb-2">
          {{ note.value }}
          <span (click)="delete(i)" class="btn-height click float-right">
            <img *ngIf="!readOnly" src="assets/svgs/delete-icon.svg" />
          </span>
        </li>
      </ul>
    </div>
    <ng-container *ngIf="noteData.length < 3">
      <span class="text-area-label font-bold">Note</span>
      <span class="text-area-label no-info-color"
        > (Not shared with patient)</span
      >

      <textarea
        *ngIf="!readOnly"
        class="text-area mt-2 w-100"
        name="note"
        cols="8"
        rows="4"
        [(ngModel)]="noteValue"
      >
  </textarea
      >
      {{error}}
      <div class="ml-label" *ngIf="readOnly">
        Let the patient know that they cannot travel for atleast 2 weeks
      </div>

      <button
        *ngIf="!readOnly"
        type="button"
        (click)="noteValue = ''"
        class="btn cancel-add-note-btn font-bold mt-4"
      >
        Cancel
      </button>

      <button
        *ngIf="!readOnly"
        type="button"
        (click)="submit()"
        class="btn cancel-add-note-btn add-note-btn font-bold mt-4 ml-3"
      >
        Add note
      </button>
    </ng-container>
  </div>
</div>
