<div class="note-main box-shadow mt-4">
  <div class="note-header w-100">
    <div class="note-header-content w-100">
      <img [src]="note?.image" />
      <div class="note-img-title">
        {{ note?.mainlable }}
      </div>
      <div
        data-toggle="collapse"
        [attr.data-target]="'#' + note?.id"
        class="click"
      >
        <img class="arrow" src="assets/svgs/minus-icon.svg" />
      </div>
    </div>
    <hr class="hr" />
  </div>

  <div [id]="note?.id" class="note-details collapse show w-100">
    <!-- ul caption -->

    <div class="d-flex justify-content-center mb-2 w-100">
      <ul class="first-list p-0 m-0">
        <li *ngFor="let items of note?.data" class="mb-2">
          {{ items?.label }}
          <span class="btn-height click float-right">
            <img src="assets/svgs/delete-icon.svg" />
          </span>
        </li>
      </ul>
    </div>

    <span class="text-area-label font-bold">Note</span>
    <span class="text-area-label no-info-color">(Not shared with patient)</span>

    <textarea class="text-area mt-2 w-100" name="note" id="" cols="8" rows="4">
      Let the patient know that they cannot travel for atleast 2 weeks
    </textarea>

    <button type="button" class="btn cancel-add-note-btn font-bold mt-4">
      Cancel
    </button>

    <button
      type="button"
      class="btn cancel-add-note-btn add-note-btn font-bold mt-4 ml-3"
    >
      Add note
    </button>
  </div>
</div>
