.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    overflow: hidden;
    background: #e9ecef;
}


.bg-plum-plate {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
}


.modal-dialog {
    box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3), 0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
    border-radius: 0.25rem;
}

.app-login-box .app-logo {
    margin-bottom: 3rem;
  }

.app-login-box h4 {
    margin-bottom: 1.5rem;
    font-weight: normal;
  }

.app-login-box  div {
      opacity: .6rem;
    }

.app-login-box span {
      font-size: 1.1rem;
    }
  

 @media only screen and (max-width: 700px) {
  .afi-logo{
    width: 120px;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px) and (min-height: 667px) {
  .afi-logo{
    width: 120px;
} 
} /* Your Styles... */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .afi-logo{
    width: 120px;
} 
  }
  
  /* Smartphones (landscape) ----------- */
  @media only screen and (min-width : 321px) {
    .afi-logo{
    width: 120px;
} 
  }
  
  /* Smartphones (portrait) ----------- */
  @media only screen and (max-width : 320px) {
    .afi-logo{
    width: 120px;
} 
  }
  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .afi-logo{
    width: 120px;
} 
  }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .afi-logo{
    width: 120px;
} 
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .afi-logo{
    width: 120px;
} 
  }
  /**********
  iPad 3
  **********/
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .afi-logo{
    width: 120px;
} 
  }
  
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .afi-logo{
    width: 120px;
} 
  }
  /* Desktops and laptops ----------- */
  @media only screen  and (min-width : 1224px) {
    .afi-logo{
    width: 120px;
} 
  }
  
  /* Large screens ----------- */
  @media only screen  and (min-width : 1824px) {
    .afi-logo{
    width: 120px;
} 
  }
  
  /* iPhone 4 ----------- */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
    .afi-logo{
    width: 120px;
} 
  }
  
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
    .afi-logo{
    width: 120px;
} 
  }
  
  /* iPhone 5 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .afi-logo{
    width: 120px;
} 
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .afi-logo{
    width: 120px;
} 
  }
  
  /* iPhone 6, 7, 8 ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .afi-logo{
    width: 120px;
} 
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .afi-logo{
    width: 120px;
} 
  }
  
  /* iPhone 6+, 7+, 8+ ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .afi-logo{
    width: 120px;
} 
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .afi-logo{
    width: 120px;
} 
  }
  
  /* iPhone X ----------- */
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .afi-logo{
    width: 120px;
} 
  }
  
  @media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .afi-logo{
    width: 120px;
} 
  }
  
  /* iPhone XS Max, XR ----------- */
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .afi-logo{
    width: 120px;
} 
  }
  
  @media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .afi-logo{
    width: 120px;
} 
  }
  
  /* Samsung Galaxy S3 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
    .afi-logo{
    width: 120px;
} 
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
    .afi-logo{
    width: 120px;
} 
  }
  
  /* Samsung Galaxy S4 ----------- */
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .afi-logo{
    width: 120px;
} 
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .afi-logo{
    width: 120px;
} 
  }
  
  /* Samsung Galaxy S5 ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
    .afi-logo{
    width: 120px;
} 
  }
  
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .afi-logo{
    width: 120px;
} 
  }
  