.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 1px;
    overflow: hidden;
    background: #e9ecef;
}


.bg-plum-plate {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
}


.modal-dialog {
    box-shadow: 0 0.76875rem 2.4875rem rgba(52, 58, 64, 0.3), 0 1.3375rem 1.70625rem rgba(52, 58, 64, 0.3), 0 0.55rem 0.53125rem rgba(0, 0, 0, 0.05), 0 0.225rem 0.4375rem rgba(52, 58, 64, 0.3);
    border-radius: 0.25rem;
}

.app-login-box .app-logo {
    margin-bottom: 3rem;
  }

.app-login-box h4 {
    margin-bottom: 1.5rem;
    font-weight: normal;
  }

.app-login-box  div {
      opacity: .6rem;
    }

.app-login-box span {
      font-size: 1.1rem;
    }
  
.hih-logo{
  max-height: 70px;
}

@media screen and (device-aspect-ratio: 40/71) {
  .hih-logo{
    max-height: 50px;
  }
  .ih-logo1{
    margin-top: 5px;
    margin-bottom: 0px !important;
  }
  .in-logo{
    max-height: 75px;
  }
}