<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-form-title" style="background-image: url(../../assets/logo.jpeg);">
                <!-- <span class="login100-form-title-1">
                    Sign In
                </span> -->
            </div>

            <form class="login100-form validate-form" [formGroup]='loginForm' (submit)="onSubmit()">
                <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input100">Username</span>
                    <input class="input100" type="text" name="username" placeholder="Enter username" formControlName='username'>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
                    <span class="label-input100">Password</span>
                    <input class="input100" type="password" name="pass" placeholder="Enter password" formControlName='password'>
                    <span class="focus-input100"></span>
                </div>
                <br>


                <div class="container-login100-form-btn">
                    <button type="submit" [disabled]='!loginForm.valid' class="login100-form-btn">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
