<div class="h-100 bg-plum-plate bg-animation">
  <div class="d-flex h-100 justify-content-center align-items-center">
    <div class="mx-auto app-login-box col-md-8">
      <div class="ih-logo1 mx-auto mb-3" style="text-align: center">
        <div class="mx-auto" style="text-align: center;">
          <img class="in-logo" src="assets/images/scd_logo.png" alt="" width="130px" height="130px"/>
        </div>
      </div>
      <div class="modal-dialog w-100 mx-auto">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="modal-content">
          <div class="modal-body">
            <div class="h5 modal-title text-center">
              <h4 class="mt-2">
                <div>{{'Welcome back,'| translate }}</div>
                <span>{{'Please sign in to your account below.'| translate}}</span></h4>
            </div>
            
            <div role="group" class="form-group">
              <div>
                  <label for="examplePassword">{{'Username'|translate}} :</label>
                <input type="email" placeholder="{{ 'Enter Username...'| translate}}" class="form-control" formControlName="username">
              </div>
            </div>
            <div role="group" class="form-group">
              <div>
                  <label for="examplePassword">{{'Password'|translate}} :</label>
                  <div style="display: flex;">
                <input  [type]="fieldTextType ? 'text' : 'password'" placeholder="{{'Enter password...'| translate}}" class="form-control" formControlName="password">
                <!-- <div class="input-group-append"> -->
                  <span class="input-group-text" >
                    <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !fieldTextType,
                      'fa-eye': fieldTextType
                    }"
                    (click)="toggleFieldTextType()"
                    style="width: 25px;"
                  ></i>
                  </span>
                </div>
               <!-- </div> -->
              </div>
            </div>
           
          
            </div>
          <div class="modal-footer clearfix">
            <div class="float-right">
              <button type="submit" class="btn btn-primary" [disabled]='!loginForm.valid'>{{'Login to Dashboard'| translate}}</button>
            </div>
          </div>
        </div>
      </form>
      </div>
    </div>
    <div class="version">{{version}}</div>
  </div>
</div>
