<div class="appointment-detail-modal" data-test-id="appointmentDetailModal">
  <div class="modal-title" data-test-id="modalHeader">
    <h6 class="mb-0" data-test-id="appointmentDate">
      {{ data?.date | date: 'dd MMM, yyyy' }}
    </h6>
    <button class="modal-close-btn" (click)="close(false)" data-test-id="btnCloseAppDetailMonth">
      <img src="assets/svgs/Close.svg" alt="close" />
    </button>
  </div>

  <div class="modal-body" data-test-id="modalBody">
    <form [formGroup]="dayOffForm" (ngSubmit)="markDayOff()" data-test-id="dayOffForm">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12 p-0">
            <div class="appointment-info-con" data-test-id="appointmentInfo">
              <ul>
                <li data-test-id="appointmentsSection">
                  <div class="info-row">
                    <div class="info-label" data-test-id="appointmentsLabel">
                      {{ 'Appointments' | translate }} ({{ appointmentCount }})
                    </div>
                    <div class="info-con" data-test-id="appointmentsList">
                      <ng-container *ngFor="let e of data?.events; let i = index">
                        <div *ngIf="e.title == 'Appointment'" data-test-id="appointmentItem-{{i}}">
                          {{ e.start | date: 'h:mm' }}
                          {{ e.start | date: 'a' | lowercase | translate }} -
                          {{ e.end | date: 'h:mm' }}
                          {{ e.end | date: 'a' | lowercase | translate }}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </li>

                <li data-test-id="followupsSection">
                  <div class="info-row">
                    <div class="info-label" data-test-id="followupsLabel">
                      {{ 'Follow-ups' | translate }} ({{ followupCount }})
                    </div>
                    <div class="info-con" data-test-id="followupsList">
                      <ng-container *ngFor="let e of data?.events; let i = index">
                        <div *ngIf="e.title == 'Follow-up visit'" data-test-id="followupItem-{{i}}">
                          {{ e.start | date: 'h:mm' | lowercase }}
                          {{ e.start | date: 'a' | lowercase | translate }} -
                          {{ e.end | date: 'h:mm' | lowercase }}
                          {{ e.end | date: 'a' | lowercase | translate }}
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="col-md-12 p-0 mt-3" *ngIf="isFutureDate" data-test-id="dayOffSection">
            <div class="day-off-form-con">
              <div class="form-group row">
                <label for="markAS" class="col-4 col-form-label" data-test-id="labelMarkAs">
                  {{ 'Mark as' | translate }}
                </label>
                <div class="col-8 py-2">
                  <div class="pretty p-default p-round">
                    <input type="radio" value="dayOff" formControlName="markAs" data-test-id="radioDayOffAppDetailMonth">
                    <div class="state p-success">
                      <label>{{ 'Day off' | translate }}</label>
                    </div>
                  </div>
                  <div class="pretty p-default p-round">
                    <input type="radio" value="hoursOff" formControlName="markAs" data-test-id="radioHourOffAppDetailMonth">
                    <div class="state p-success">
                      <label>{{ 'Hours off' | translate }}</label>
                    </div>
                  </div>
                </div>
              </div>

              <ng-container *ngIf="dayOffForm.value.markAs == 'hoursOff'">
                <div class="form-group row">
                  <label for="markAS" class="col-4 col-form-label" data-test-id="labelFrom">
                    {{ 'From' | translate }}
                  </label>
                  <div class="col-8">
                    <ng-select class="appointment-select"
                               formControlName="from"
                               [items]="timeList"
                               bindLabel="name"
                               bindValue="name"
                               [clearable]="false"
                               [searchable]="false"
                               placeholder="{{ 'Select' | translate }}"
                               data-test-id="selectHourOffFromAppDetailMonth">
                    </ng-select>
                  </div>
                </div>

                <div class="form-group row">
                  <label for="markAS" class="col-4 col-form-label" data-test-id="labelTo">
                    {{ 'To' | translate }}
                  </label>
                  <div class="col-8">
                    <ng-select class="appointment-select"
                               formControlName="to"
                               [items]="timeList"
                               bindLabel="name"
                               bindValue="name"
                               [clearable]="false"
                               [searchable]="false"
                               placeholder="{{ 'Select' | translate }}"
                               data-test-id="selectHourOffToAppDetailMonth">
                    </ng-select>
                  </div>
                </div>
              </ng-container>
            </div>
          </div>

          <div class="col-md-12 p-0 mt-3" data-test-id="actionButtons">
            <div class="d-flex align-items-center justify-content-center flex-wrap">
              <button class="blue-btn" type="button" (click)="close(false)" data-test-id="btnCancelAppDetailMonth">
                {{ 'Cancel' | translate }}
              </button>
              <button class="confirm-btn" *ngIf="isFutureDate" type="submit" data-test-id="btnSubmitAppDetailMonth">
                {{ 'Continue' | translate }}
              </button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
