.appointment-detail-modal {
  font-family: DM Sans;

  .modal-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    width: 100%;
    height: 70px;
    background: var(--color-lightGray);
    border-radius: 12px 12px 0px 0px;

    h6 {
      font-weight: bold;
      font-size: 20px;
      color: var(--color-darkestBlue);
    }

    .modal-close-btn {
      border: none;
      background: transparent;
    }
  }

  .modal-body {
    padding: 24px;
  }
}

.appointment-info-con {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(178, 175, 190, 0.2);

  ul {
    padding-left: 24px;

    li {
      padding: 10px 0px;
    }
  }

  .info-row {
    display: flex;
    .info-label {
      width: 40%;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--color-darkestBlue);
    }
    .info-con {
      width: 60%;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: var(--color-darkestBlue);
    }
  }
}

.cancel-btn {
  padding: 8px 24px;
  min-width: 119px;
  height: 48px;
  background: var(--color-white);
  border: 1px solid var(--color-lightGray);
  border-radius: 8px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-darkBlue);
  font-weight: bold;
  margin: 5px;
}

.red-btn {
  padding: 8px 24px;
  min-width: 139px;
  height: 48px;
  background: var(--color-lightPink);
  border: 1px solid var(--color-lightPink);
  border-radius: 8px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-red);
  font-weight: bold;
  margin: 5px;
}

.blue-btn {
  padding: 8px 24px;
  min-width: 139px;
  height: 48px;
  background: var(--color-lightGray);
  border: 1px solid var(--color-lightGray);
  border-radius: 8px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-darkBlue);
  font-weight: bold;
  margin: 5px;
}

.confirm-btn {
  padding: 8px 24px;
  min-width: 119px;
  height: 48px;
  background: var(--color-darkBlue);
  border: 1px solid var(--color-darkBlue);
  border-radius: 8px;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);
  font-weight: bold;
  margin: 5px;
}

@media (max-width: 768px) {
  .appointment-detail-modal {

    .modal-title {
      padding: 24px 16px;
    }

    .modal-body {
      padding: 16px;
    }
  }
}

::ng-deep .ng-select.appointment-select.ng-select-single .ng-select-container, ::ng-deep .ng-select.appointment-select.ng-select-multiple .ng-select-container {
  height: 48px;
  width: 100%;
  background: var(--color-offWhite);
  border: 1px solid rgba(178, 175, 190, 0.2);
  border-radius: 8px;
  box-shadow: none;

  .ng-value-container {
    position: relative;
  }

  .ng-value-container .ng-input {
    top: 50%;
    transform: translateY(-50%);
  }

  .ng-arrow-wrapper .ng-arrow {
    border: none;
  }

  .ng-arrow-wrapper .ng-arrow::after {
    content: url('../../../assets/svgs/chevron-down-input.svg');
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

::ng-deep .ng-select.appointment-select.ng-select-multiple .ng-select-container {
  .ng-value-container {
    .ng-value {
      background: none;
      font-size: 16px;
    }
  }
}

::ng-deep .ng-select.appointment-select.ng-select-single.ng-select-container:hover, ::ng-deep .ng-select.appointment-select.ng-select-single.ng-select-container:focus {
  box-shadow: none;
  outline: none;
}

.form-group {
  font-size: 16px;
  color: var(--color-darkestBlue);

  .col-form-label {
    font-weight: bold;
  }

  .error-msg {
    color: var(----color-red);
  }
}
