<mat-expansion-panel [expanded]="true" #panel3 hideToggle data-test-id="panelVisitNotes">
  <mat-expansion-panel-header data-test-id="panelHeaderVisitNotes">
    <mat-panel-title data-test-id="panelTitleVisitNotes">
      <div class="intel-accordion-title" data-test-id="accordionTitleVisitNotes">
        <img src="assets/svgs/note.svg" alt="" width="44px" data-test-id="imgNoteIcon" />
        <h6 class="mb-0 ml-2" data-test-id="txtNoteTitle">{{ title |translate}}</h6>
      </div>
    </mat-panel-title>
    <mat-icon data-test-id="iconExpandCollapse">{{ panel3.expanded ? "remove" : "add" }}</mat-icon>
  </mat-expansion-panel-header>

  <!-- Notes list -->
  <ul class="items-list" *ngIf="notes.length else noNotes" data-test-id="listNotes">
    <li *ngFor="let n of notes; let i = index" data-test-id="{{'noteItem'+i}}">
      <div class="d-flex justify-content-between align-items-center">
        <span [attr.data-test-id]="'txtNoteValue-'+i">{{ n.value }}</span>
        <button
          mat-icon-button
          (click)="deleteNote(i, n.uuid)"
          *ngIf="isVisitNoteProvider && !visitEnded"
          data-test-id="{{'btnDeleteNoteVisitSummary'+i}}"
        >
          <img src="assets/svgs/delete-icon.svg" alt="" [attr.data-test-id]="'imgDeleteIcon'+i"/>
        </button>
      </div>
    </li>
  </ul>

  <!-- Empty notes message -->
  <ng-template #noNotes>
    <div class="no-docs text-center font-weight-bold" *ngIf="isMCCUser" data-test-id="txtNoNotes">
      {{'No notes added!'|translate}}
    </div>
  </ng-template>

  <!-- Add Note form -->
  <form *ngIf="!isMCCUser"
        class="mt-3"
        [formGroup]="addNoteForm"
        (ngSubmit)="addNote()"
        data-test-id="formAddNote">
    
    <!-- Add More Note button -->
    <div class="form-group" *ngIf="addMoreNote" data-test-id="conAddMoreNote">
      <button
        type="button"
        class="add-more-btn"
        (click)="toggleNote()"
        data-test-id="btnAddMoreNote"
      >
        <img src="assets/svgs/plus-circle.svg" alt="" data-test-id="imgAddMoreNote"/>
        <span class="ml-2" data-test-id="txtAddMoreNote">{{'Add more notes'|translate}}</span>
      </button>
    </div>

    <!-- Note input -->
    <ng-container *ngIf="!addMoreNote">
      <div class="form-group" data-test-id="conNoteInput">
        <label for="note" data-test-id="lblNote">
          <b>{{title|translate}}*&nbsp;</b>
          <span class="text-muted" data-test-id="txtNoteHint">
            ({{'Not shared with patient'|translate}})
          </span>
        </label>
        <textarea
          class="form-control"
          rows="3"
          placeholder="{{'Type here'|translate}}"
          formControlName="note"
          data-test-id="etNote"
        ></textarea>
      </div>

      <!-- Buttons -->
      <div class="form-group" data-test-id="conNoteActions">
        <button
          type="button"
          class="white-btn mr-2"
          (click)="toggleNote()"
          data-test-id="btnCancelNote"
        >
          {{'Cancel'|translate}}
        </button>
        <button
          type="submit"
          class="gray-btn"
          [disabled]="addNoteForm.invalid"
          data-test-id="btnSubmitNote"
        >
          {{'Add note'|translate}}
        </button>
      </div>
    </ng-container>
  </form>
</mat-expansion-panel>
