.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.fab {
  font-size: 30px;
  padding: 10px;
  color: green;
  cursor: pointer;
  text-decoration: none;
}

.fab:hover {
  font-size: 35px;
  padding: 10px;
  color: green;
  cursor: pointer;
  text-decoration: none;
}

.fas {
  font-size: 30px;
  padding: 10px;
  color: #0080ff;
  cursor: pointer;
  text-decoration: none;
}

.fas:hover {
  font-size: 35px;
  padding: 10px;
  color: #0080FF;
  cursor: pointer;
  text-decoration: none;
}

.material-icons{
  vertical-align: text-bottom;
}

.vc-button {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background-color: rgb(40 167 69);
  box-shadow: 3px 3px 3px rgb(218 215 215 / 93%);
  padding: 0px 0px 0px 7px;
  cursor: pointer;
  margin-left: 10px;
}

.vc-button:hover {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: rgb(40 167 69);
  box-shadow: 3px 3px 3px rgb(218 215 215 / 93%);
  padding: 0px 0px 0px 7px;
  cursor: pointer;
  margin-left: 10px;
}


.vc-button img {
  color: white;
  height: 18px;
  width: 18px;
  margin-bottom: 5px;
}

.vc-button img:hover {
  color: white;
  height:18px;
  width: 18px;
  position: inherit;
  margin-bottom: 3px;
}

.center {
  text-align: center;
}
