<h4><i class="material-icons">contact_phone</i> Case Interaction</h4>
<hr>
<div>
  Have you spoken with the case directly?
</div>
<form [formGroup]='interaction' (ngSubmit)='submit()'>
  <div id="patient-interaction">
    <br>
    <mat-radio-group aria-label="Select an option" formControlName="interaction">
      <mat-radio-button value="Yes">Yes </mat-radio-button>
      <mat-radio-button value="No">No</mat-radio-button>
    </mat-radio-group>&nbsp;&nbsp;&nbsp;&nbsp;
    <!-- <div *ngIf="msg.value == 'Yes' || msg.value == 'No'"> -->
    <button type="submit" mat-raised-button color="primary" [disabled]="!interaction.valid"
      [hidden]="msg.length > 0">Submit</button>
    <!-- </div> -->
  </div>
  <div id="call-link" *ngIf="whatsappLink || phoneNo"> Start a call:
    <span *ngIf="whatsappLink"><a class="fab fa-whatsapp" href="{{whatsappLink}}" target="_blank"></a></span>
    <span *ngIf="phoneNo"><p class="fas fa-phone-volume" (click)="startCall(phoneNo)"></p></span>
  </div>
  <div id="call-link" *ngIf="!whatsappLink && !phoneNo">
    Please provide health worker's contact number at <a
      href="mailto:support@intelehealth.io">support@intelehealth.io</a> to proceed with the call or message
    <br />
  </div>

  <!-- <div *ngIf="showMsg == 1"> -->
  <div *ngFor="let msg of msg">
    <div [@moveInLeft] class="alert alert-primary">
      <div class="doctor-value">{{msg.value}}</div>
      <i (click)="delete(msg.uuid)" class="material-icons float-right"
        style="color:rgb(235, 30, 30);cursor: pointer;">delete</i>
    </div>
  </div>
  <!-- </div> -->
</form>