<div class="reschedule-modal" data-test-id="rescheduleModal">
  <div class="modal-title">
    <h6 class="mb-0">{{ 'Reschedule appointment' | translate }}</h6>
    <button
      class="modal-close-btn"
      (click)="close(false)"
      data-test-id="btnCloseReschedule"
    >
      <img src="assets/svgs/Close.svg" alt="close" />
    </button>
  </div>

  <div class="modal-body" data-test-id="rescheduleModalBody">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 p-0">
          <!-- Date Picker -->
          <div class="select-date-con" data-test-id="sectionDate">
            <div class="form-group row">
              <label for="expiryDate" class="col-sm-3 col-form-label">Select Date</label>
              <div class="col-sm-6">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    [(ngModel)]="selectedDate"
                    (dateChange)="dateChanged($event)"
                    [min]="minDate"
                    [matDatepicker]="dp1"
                    placeholder="{{ 'Select date' | translate }}"
                    aria-label="Date"
                    aria-describedby="basic-addon1"
                    readonly
                    data-test-id="etRescheduleDate"
                  />
                  <mat-datepicker #dp1></mat-datepicker>
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1">
                      <mat-datepicker-toggle
                        matSuffix
                        [for]="dp1"
                        data-test-id="dpRescheduleDate"
                      >
                        <img matDatepickerToggleIcon src="assets/svgs/calendar-date.svg" alt="calendar" />
                      </mat-datepicker-toggle>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Time Slots -->
          <div class="slots-con" data-test-id="sectionSlots">
            <h6>{{ 'Select a timeslot' | translate }}</h6>

            <!-- Morning -->
            <div class="slot-section" *ngIf="scheduleData.morning.length;" data-test-id="slotSectionMorning">
              <h6>
                <img src="assets/svgs/sunrise.svg" alt="" class="mr-2" />
                {{ 'Morning' | translate }}
              </h6>
              <div class="slot-chips">
                <div
                  class="slot-chip-item"
                  [class.selected]="selectedSlot == s"
                  *ngFor="let s of scheduleData.morning; let i = index"
                  (click)="selectedSlot = s"
                  data-test-id="slotMorning-{{i}}"
                >
                  {{ s }}
                </div>
              </div>
            </div>

            <!-- Afternoon -->
            <div class="slot-section" *ngIf="scheduleData.afternoon.length;" data-test-id="slotSectionAfternoon">
              <h6>
                <img src="assets/svgs/sun.svg" alt="" class="mr-2" />
                {{ 'Afternoon' | translate }}
              </h6>
              <div class="slot-chips">
                <div
                  class="slot-chip-item"
                  [class.selected]="selectedSlot == s"
                  *ngFor="let s of scheduleData.afternoon; let i = index"
                  (click)="selectedSlot = s"
                  data-test-id="slotAfternoon-{{i}}"
                >
                  {{ s }}
                </div>
              </div>
            </div>

            <!-- Evening -->
            <div class="slot-section" *ngIf="scheduleData.evening.length;" data-test-id="slotSectionEvening">
              <h6>
                <img src="assets/svgs/sunset.svg" alt="" class="mr-2" />
                {{ 'Evening' | translate }}
              </h6>
              <div class="slot-chips">
                <div
                  class="slot-chip-item"
                  [class.selected]="selectedSlot == s"
                  *ngFor="let s of scheduleData.evening; let i = index"
                  (click)="selectedSlot = s"
                  data-test-id="slotEvening-{{i}}"
                >
                  {{ s }}
                </div>
              </div>
            </div>
          </div>

          <!-- Submit -->
          <div class="d-flex justify-content-center py-2">
            <button
              class="confirm-btn"
              type="button"
              (click)="reschedule()"
              data-test-id="btnSubmitReschedule"
            >
              {{ 'Reschedule' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
