.help-menu-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

.help-menu-container .help-btn {
  width: 87px;
  height: 56px;
  top: 804px;
  background: #0FD197;
  box-shadow: 0px 4px 16px rgba(15, 209, 151, 0.32);
  border-radius: 80px;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}
