<div class="visit-readonly-main">
  <!-- header profile -->
  <div class="visit-header">
    <img src="assets/svgs/prescription-modal.svg" class="w-100" />
  </div>

  <!-- patient-detail -->
  <div class="visit-patient-detail w-100 mt-2">
    <div class="person-header-container">
      <div class="person-content w-100" *ngFor="let info of patientInfo">
        <div class="person-content-item">
          <div class="person-title">
            <div class="">
              <img src="assets/svgs/v-profile.svg" />
            </div>

            <div class="person-name-details">
              <div class="person-name">{{info.display}}</div>
              <div class="person-INT">{{patientIdentifier}}</div>
            </div>
          </div>

          <div class="person-age-details">
            <div class="person-age-font person-label-color">Age</div>
            <div class="person-age-font person-age-color">{{info.age}}{{'Years'}}</div>
          </div>
        </div>

        <div class="occupation">
          <div class="occupation-label person-label-color">Occupation</div>
          <div class="occupation-label person-age-color"*ngIf="info.occupation">{{info.occupation}}</div>
          <div class="occupation-label person-age-color" *ngIf="!info.occupation">{{"Not Available"}}</div>
          <div class="mt-4">
            <div class="occupation-label person-label-color">Address</div>
            <div class="occupation-label person-age-color">
              {{info.preferredAddress.cityVillage}}
            </div>
          </div>
        </div>

        <div class="contact">
          <div class="occupation-label person-label-color">Contact No:</div>
          <div class="">
            <img src="assets/svgs/modal-phone-icon.svg" />
            {{info.telephone}}
          </div>

          <div class="mt-2">
            <img src="assets/svgs/whatsapp-modal-icon.svg" />
            {{info.telephone}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- prescription -->
  <div class="visits-readonly ml-3 mt-2">

    <!-- selectors -->

    <app-consultation-details-v4
      [showToggle]="false"
      [readOnly]="true"
    ></app-consultation-details-v4>

    <app-patient-interaction-v4
      [readOnly]="true"
      [showToggle]="false"
      [iconImg]="'assets/svgs/patient-interaction-green.svg'"
    ></app-patient-interaction-v4>

    <app-diagnosis-v4
      [readOnly]="true"
      [showToggle]="false"
      [iconImg]="'assets/svgs/diagnosis-green.svg'"
    ></app-diagnosis-v4>

    <app-notes-v4
      [readOnly]="true"
      [showToggle]="false"
      [iconImg]="'assets/svgs/note-icon-green.svg'"
    ></app-notes-v4>

    <app-medication-v4
      [readOnly]="true"
      [showToggle]="false"
      [iconImg]="'assets/svgs/medication-green.svg'"
    ></app-medication-v4>

    <app-advice-v4
      [readOnly]="true"
      [showToggle]="false"
      [iconImg]="'assets/svgs/advice-green.svg'"
    ></app-advice-v4>

    <app-test
      [readOnly]="true"
      [showToggle]="false"
      [iconImg]="'assets/svgs/test-green.svg'"
    ></app-test>

    <app-referal-v4
      [readOnly]="true"
      [showToggle]="false"
      [iconImg]="'assets/svgs/referal-green.svg'"
    ></app-referal-v4>

    <app-follow-up-v4
      [readOnly]="true"
      [showToggle]="false"
      [iconImg]="'assets/svgs/follow-up-green.svg'"
    ></app-follow-up-v4>
  </div>
</div>
