.patient-identifier {
  display: inline-block;
}

.identifier-type {
  display: block;
  font-size: 0.6em;
  text-decoration: underline;
}

.identifier {
  display: block;
}

.preferred-name {
  display: inline-block;
  font-size: 1.5em;
  padding: 5px;
  width: 50%;
}

.age,
.gender {
  font-size: 1.2em;
}

@media screen and (max-width: 615px) {
  .list-group-item {
    padding: 5px;
  }

  .list-group-item .identifier {
    font-size: 12px;
  }

  .list-group-item .preferred-name {
    font-size: 15px;
  }

  .list-group-item .gender,
  .age {
    font-size: 12px;
  }

  .list-group-item .btn.btn-primary {
    font-size: 10px;
    margin-top: 5px;
  }
}