.modal-title {
  padding: 24px;
  background: var(--color-lightGray);

  h6 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-darkestBlue);
  }
}

.table th, .table td {
  vertical-align: middle;
  white-space: nowrap;
  font-size: 16px;
  color: var(--color-darkestBlue);
}

.identifier {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;

  span {
    font-size: 12px;
    font-style: normal;
  }
}

.blue-btn {
  height: 48px;
  background: var(--color-darkBlue);
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  margin-left: auto;
}
