<div mat-dialog-title class="modal-title" data-test-id="searchedPatientsModalTitle">
  <h6 class="mb-0">{{ 'Patients' | translate }}</h6>
</div>

<mat-dialog-content data-test-id="searchedPatientsModalBody">
  <div class="table-responsive">
    <ng-container *ngIf="data && data?.length; else noPatientsFound;">
      <div
        class="row m-0 pt-2 pb-2 flex-nowrap align-items-center"
        *ngFor="let value of data; let i = index;"
        [attr.data-test-id]="'searchedPatientRow' + i"
      >
        <!-- Patient Identifier -->
        <div class="col-3 identifier" data-test-id="patientIdentifier">
          <span data-test-id="patientIdentifierType">
            {{ value.identifiers[0].identifierType.name | translate }}
          </span>
          <span data-test-id="patientIdentifierValue">
            {{ value.identifiers[0].identifier }}
          </span>
        </div>

        <!-- Patient Name, Gender, Age -->
        <div class="col-6" data-test-id="patientDetails">
          <span data-test-id="patientName">{{ value.person.display }}</span>
          <span class="gender" data-test-id="patientGenderAge">
            ({{ value.person.gender | translate }}, {{ value.person.age }})
          </span>
        </div>

        <!-- Action -->
        <div class="col-3">
          <button
            mat-button
            type="button"
            class="blue-btn float-right"
            (click)="view(value.uuid)"
            [attr.data-test-id]="'btnViewSearchedPatient' + i"
          >
            {{ 'View' | translate }}
          </button>
        </div>
      </div>
    </ng-container>

    <!-- Empty State -->
    <ng-template #noPatientsFound>
      <div class="row m-0">
        <div class="col-12 text-center p-3" data-test-id="noPatientsFound">
          {{ 'No patients found!' | translate }}
        </div>
      </div>
    </ng-template>
  </div>
</mat-dialog-content>

<mat-dialog-actions data-test-id="searchedPatientsModalActions">
  <button
    mat-button
    mat-dialog-close="false"
    class="blue-btn mr-2"
    data-test-id="btnCloseSearchedPatients"
  >
    {{ 'Close' | translate }}
  </button>
</mat-dialog-actions>
