.modal-title {
  padding: 24px;
  background: var(--color-lightGray);

  h6 {
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-darkestBlue);
  }
}

.identifier {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  span {
    font-size: 12px;
    font-style: normal;
  }
}

.blue-btn {
  height: 48px;
  background: var(--color-darkBlue);
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-white);
  margin-left: auto;
}

.table-responsive{
  font-size: 16px;
  .row{
    border-top: 1px solid rgba(178,175,190,.2);
  }
}

.gender::before{
  content: " ";
}

@media (max-width: 768px) {
  .identifier {
    span {
      display: none;
    }
  }
  .gender::before{
    content: "\A";
    white-space: pre;
  }
  .col-3 , .col-6{
    padding-left: 7px;
    padding-right: 7px;
  }
  .blue-btn {
    min-width: unset;
  }
}
