.refer-to-specailist-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  position: relative;

  padding: 32px 24px;

  border-radius: 12px;
}
.refer-to-specailist-header {
  height: 64px;
}

.refer-to-specailist-header-content {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 256px;
  height: 48px;
}

.refer-to-specailist-img-title {
  display: flex;
  align-items: center;

  width: 196px;
  height: 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 150%;

  color: #1b163a;
}

.arrow {
  position: absolute;
  top: 45px;
  right: 45px;

  padding: 8px;
}

.no-info-color {
  color: #7f7b92;
}

.refer-to-specailist-details {
  width: 990px;
}

.radio-box {
  width: 22px;
  height: 22px;

  background-color: #0fd197;

  border: 2px solid #0fd197;
  border-radius: 80px;

  &:after {
    display: inline-block;
    visibility: visible;

    position: relative;
    top: 1px;
    left: 4px;

    width: 14px;
    height: 14px;

    background-color: #ffffff;

    border-radius: 15px;
    content: "";
  }

  &:checked:after {
    display: inline-block;
    visibility: visible;

    position: relative;
    top: 1px;
    left: 4px;

    width: 14px;
    height: 14px;

    background-color: #0fd197;

    border-radius: 15px;

    content: "";
  }
}

.radio-label {
  width: 32px;
  height: 30px;

  vertical-align: middle;

  color: #1b163a;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.first-list {
  width: 240px;
}

.select {
  margin-top: 10px;

  width: 193px;

  background: #faf9ff;

  border: 0.770833px solid rgba(178, 175, 190, 0.2);
  border-radius: 8px;
}

.margin {
  margin-bottom: 1rem;
}

.btn {
  padding: 14px 24px;
  gap: 4px;

  width: 132px;
  height: 55px;

  color: #ffffff;

  background: #2e1e91;

  border-radius: 8px;
}
