<div class="refer-to-specailist-main box-shadow mt-4">
  <div class="refer-to-specailist-header w-100">
    <div class="refer-to-specailist-header-content w-100">
      <img src="assets/svgs/refer-to-specialist.svg" />
      <div class="refer-to-specailist-img-title">Refer-to-specialist</div>
      <div
        data-toggle="collapse"
        data-target="#refer-to-specailist"
        class="click"
        (click)="toggleCollapse()"
      >
        <img class="arrow" [src]="toggleImage"/>
      </div>
    </div>
    <hr class="hr" />
  </div>
  <div
    id="refer-to-specailist"
    aria-expanded="true"
    aria-controls="collapse"
    class="refer-to-specailist-details collapse show"
  >
    <div class="d-flex ml-4">
      <div class="ml-4">
        <ul class="d-grid p-0">
          <li class="d-flex mb-3">
            <div class="first-list-label mb-3">{{ referToSpecailist?.data[0] }}</div>
          </li>
          <li class="d-flex mb-3" *ngIf="type == 'Y'">
            <div class="first-list-label mb-3">{{ referToSpecailist?.data[1] }}</div>
          </li>
        </ul>
      </div>

      <div>
        <input class="radio-box mr-1 mt-1" type="radio" (change)="type = 'Y'" name="radio" id="" />
        <label class="mr-3 radio-label">Yes</label>

        <input class="radio-box mr-1 mt-1" type="radio" (change)="type = 'N'" name="radio" id="" />
        <label class="radio-label">No</label>

        <div class="select" *ngIf="type == 'Y'">
          <ng-select
            [items]="specaiList"
            bindLabel="name"
            [clearable]="false"
            [(ngModel)]="selected"
          >
          </ng-select>
        </div>
      </div>
    </div>
    <button *ngIf="type == 'Y'" type="button"(click)="Submit()"  class="btn ml-4 mt-1 font-bold">Re-assign</button>
  </div>
</div>
