<div class="container">
  <div style="margin-top: 1.5rem;">
    <span 
      routerLink="/dashboard"
      routerLinkActive="font"
      [routerLinkActiveOptions]="{ exact: true }"
      class="mr-2 font-size-md grey-color"
      >Dashboard
    </span>
    <img
      class="mr-2"
      src="assets/svgs/bread-crumb.svg"
    />
    <span 
      routerLink="/dashboard/profile"
      routerLinkActive="font"
      [routerLinkActiveOptions]="{ exact: true }"
      class="mr-2 font-size-md grey-color"
      >Profile
    </span>
  </div>
  <div class="profile-container">
    <img class="pulse pulse-body" src="assets/images/profile/Group 2608886.png" />
    <img class="pulse" src="assets/images/profile/Group 2608887.png" />
    <button class="menuBtn" [matMenuTriggerFor]="menu" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>Change password</span>
      </button>
      <button mat-menu-item>
        <span>Change language</span>
      </button>
      <button mat-menu-item>
        <span>Settings</span>
      </button>
    </mat-menu>
    <div class="profileImg">
      <img
        class="profilePic"
        src="assets/images/profile/Frame 2609036.png"
      />
      <button class="camera" (click)="inputField.click()">
        <img src="../../../assets/svgs/camera.svg" alt="">
      </button>
      <span class="txt">Dr. Sakshi Prabhat</span>
    </div>
    <input #inputField hidden type="file" />
  </div>

  <div class="setview">
    <app-personal-information></app-personal-information>
  </div>
</div>
