<div class="calendar-container">
  <div class="activePage">
    <a class="black-color" routerLink="/dashboard">Dashboard</a>
    <img class="text" src="assets/icons/dashboard-icons/Vector3.png" />
    <span class="text">Profile</span>
  </div>

  <div class="profile-container">
    <img class="pulse body" src="assets/images/profile/Group 2608886.png" />
    <img class="pulse" src="assets/images/profile/Group 2608887.png" />
    <div class="profileImg">
      <img
        class="profilePic"
        [src]="personImageURL"
      />
      <button class="camera" (click)="inputField.click()">
        <i class="fas fa-camera"></i>
      </button>
      <span class="txt">{{userName}}</span>
    </div>
    <input #inputField hidden type="file" (change)="onSelectFile($event)"/>
  </div>

  <div class="setview">
    <app-personal-information></app-personal-information>
  </div>
</div>
