.activePage{
    color: #7F7B92;
    margin-top: 2rem;
    .text{
        color: black;
        margin-left:10px;
    }
}
.profile-container{
    width: 274px;
    height: 192px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(31, 28, 58, 0.08);
    border-radius: 12px;
    margin-top: 1rem;
}
.pulse{
    background: #EFE8FF;
    width: 274px;
    height: 50px;
    box-shadow: rgba(31, 28, 58, 0.08);
}
.pulse-body{
    border-radius: 12px 12px 0 0;
}
.menuBtn{
    position: relative;
    bottom: 6rem;
    left: 14rem;
}
.profilePic{
    position: relative;
    width: 70px;
    height: 70px;
    bottom: 5rem;
    left: 1rem;
}
.txt{
    position: relative;
    right: 80px;
    bottom: 10px;
}
.camera{
    position: relative;
    bottom: 54px;
    border-radius: 50px;
    border: none;
    right: 6px;
    background: #EFE8FF;
    width: 24px;
    height: 24px;
    img{
        margin-bottom: 5px;
    }
}
.setview{
    position: absolute;
    left: 19rem;
    top: 8rem;
}

.font {
    color: #1b163a;
}
