<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 p-0 section-title">
      <h6>Change password</h6>
      <p>
        Your new password must be different to the previously used passwords.
      </p>
    </div>
    <div class="col-md-12 px-0 py-4">
      <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label for="old-password">
            Old password
          </label>
          <div class="password-field">
            <input [attr.type]="visible1 ? 'text' : 'password'" class="form-control" formControlName="oldPassword" placeholder="Enter old password">
            <button class="btn toggle-password-btn" type="button" (click)="visible1 = !visible1">
              <img src="assets/svgs/icon-eye.svg" alt="">
            </button>
          </div>
          <div *ngIf="submitted && f.oldPassword.errors">
            <small *ngIf="f.oldPassword.errors.required" class="error-msg">Please enter old password</small>
          </div>
        </div>
        <div class="form-group">
          <label for="password">
            New password
            <span class="link"><a href="javascript:void(0)" (click)="generatePassword()">Generate password</a></span>
          </label>
          <div class="password-field">
            <input [attr.type]="visible1 ? 'text' : 'password'" class="form-control" formControlName="password" placeholder="Enter or generate new password">
            <button class="btn toggle-password-btn" type="button" (click)="visible1 = !visible1">
              <img src="assets/svgs/icon-eye.svg" alt="">
            </button>
          </div>
          <div *ngIf="submitted && f.password.errors">
            <small *ngIf="f.password.errors.required" class="error-msg">Please enter password</small>
            <small *ngIf="f.password.errors.minlength" class="error-msg">Please enter atleast 8 characters</small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12 px-0 password-strength-wrapper">
            <p>Password strength: <span>{{ (level == 4 ) ? 'Excellent' : (level == 3) ? 'Good' : (level == 2) ? 'Fair' : 'Low' }}</span></p>
            <div class="d-flex password-strength-con">
              <div class="flex-fill strength-item" [class.filled]="level >= 1"></div>
              <div class="flex-fill strength-item" [class.filled]="level >= 2"></div>
              <div class="flex-fill strength-item" [class.filled]="level >= 3"></div>
              <div class="flex-fill strength-item" [class.filled]="level == 4"></div>
            </div>
            <p>Password must be of atleast <b>8 characters</b> & a mix of <b>upper & lower case letters, numbers & symbols.</b></p>
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">
            Confirm new password
          </label>
          <div class="password-field">
            <input [attr.type]="visible3 ? 'text' : 'password'" class="form-control" formControlName="confirmPassword" placeholder="Re-enter new password">
            <button class="btn toggle-password-btn" type="button" (click)="visible3 = !visible3">
              <img src="assets/svgs/icon-eye.svg" alt="">
            </button>
          </div>
          <div *ngIf="submitted && f.confirmPassword.errors">
            <small *ngIf="f.confirmPassword.errors.required" class="error-msg">Please enter password</small>
            <small *ngIf="f.confirmPassword.errors.minlength" class="error-msg">Please enter atleast 8 characters</small>
          </div>
        </div>
        <div class="form-group mt-5">
          <button type="submit" class="btn btn-block next-btn">
            Change Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
