.intel-card {
  overflow: hidden;
  height: 70vh;
}

.chat-sidebar-wrapper {
  display: flex;
  flex-direction: column;
  height: 70vh;

  .chat-sidebar-title {
    background: var(--color-lightGray);
    padding: 16px 20px;
    height: 86px;

    h6 {
      font-size: 18px;
      line-height: 150%;
      color: var(--color-darkestBlue);
      font-weight: bold;
    }

    span {
      font-size: 14px;
      line-height: 163%;
      color: var(--color-gray);
    }
  }

  .chat-sidebar-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .chat-items-search {
      padding: 20px 20px 8px;
      height: 80px;

      .input-group {
        background: var(--color-offWhite);
        border: 2px solid rgba(178, 175, 190, 0.2);
        border-radius: 8px;
        height: 52px;
        align-items: center;

        .input-group-text {
          background: none;
          border: none;
        }

        .form-control {
          border: none;
          outline: none;
          background: transparent;
          font-size: 16px;
          line-height: 150%;
          padding-left: 0px;
        }

        .form-control:focus {
          box-shadow: none;
        }
      }
    }
  }

  ul.chat-items-list {
    flex-grow: 1;
    list-style-type: none;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    margin-bottom: 0px;
    height: calc(70vh - 176px);

    li {
      padding: 0px 20px;
      cursor: pointer;

      .chat-item-con {
        display: flex;
        align-items: center;
        padding: 15px 0px;
        border-bottom: 1px solid rgba(178, 175, 190, 0.2);

        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          margin-right: 10px;
        }

        h6 {
          margin-bottom: 0px;
          font-size: 16px;
          line-height: 150%;
          color: var(--color-darkestBlue);
          font-weight: bold;
        }

        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          width: 100px;
          margin-bottom: 0px;
          font-size: 14px;
          line-height: 150%;
          color: var(--color-gray);
        }
      }
    }

    li.selected {
      background: var(--color-offWhite);
      border: 1px solid rgba(178, 175, 190, 0.2);

      .chat-item-con {
        border-bottom: none;
      }

    }
  }
}

.no-conversation-selected {
  height: 70vh;
  background: var(--color-offWhite);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  img {
    width: 50%;
  }

  h6 {
    font-size: 18px;
    line-height: 150%;
    color: var(--color-darkestBlue);
    font-weight: bold;
  }

  p {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--color-gray);
  }
}

.chat-main-con {
  display: flex;
  flex-direction: column;
  height: 70vh;

  .chat-con-title {
    padding: 16px 20px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .chat-item-info {
      display: flex;
      align-items: center;

      title {
        flex-shrink: 0;
      }

      img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-right: 10px;
      }

      h6 {
        font-size: 18px;
        line-height: 150%;
        color: var(--color-darkestBlue);
        font-weight: bold;
      }

      span {
        font-size: 14px;
        line-height: 163%;
        color: var(--color-gray);
      }
    }

    .ng-select.custom {
      width: fit-content;
      height: 48px;
      background: var(--color-offWhite);
      border: 0.770833px solid rgba(178, 175, 190, 0.2);
      border-radius: 8px;
      outline: none;
      font-size: 16px;
      padding: 0px;
      font-family: DM Sans;
    }

    .ng-select.custom:focus {
      box-shadow: none;
    }

    ::ng-deep .ng-select.custom .ng-select-container {
      border: none;
      background: transparent;
      border-radius: 8px;
      min-height: 48px !important;
      box-shadow: none;
    }

    ::ng-deep .ng-select.custom .ng-select-container:hover {
      box-shadow: none;
    }

    ::ng-deep .ng-select.custom .ng-select-container .ng-value-container .ng-input {
      top: 50%;
      transform: translateY(-50%);
    }

  }

  .chat-con-body {
    margin: 0px 5px 10px;
    background: var(--color-offWhite);
    padding: 10px;
    height: calc(70vh - 86px);
    border-radius: 0px 0px 10px 0px;

    .chat-messages-list::-webkit-scrollbar {
      display: none;
    }

    .chat-messages-list {
      margin-bottom: 0px;
      list-style-type: none;
      padding: 0px 10px;
      display: flex;
      flex-direction: column-reverse;
      min-height: calc(70vh - 160px);
      max-height: calc(70vh - 160px);
      overflow: auto;
      -ms-overflow-style: none;
      /* for Internet Explorer, Edge */
      scrollbar-width: none;

      .chat-message {
        border: 1px solid rgba(178, 175, 190, 0.2);
        border-radius: 1px 8px 8px 8px;
        padding: 8px 12px;
        max-width: 80%;
        width: fit-content;
        background: var(--color-white);
        font-size: 16px;
        line-height: 150%;
        color: var(--color-darkestBlue);
        margin: 4px 0px;
        overflow: auto;
        flex-shrink: 0;
      }

      .chat-message.right {
        border: none;
        background: var(--color-lightGray);
        border-radius: 8px 8px 0px 8px;
        margin-left: auto;
      }

      .chat-status {
        font-size: 12px;
        line-height: 18px;
        color: var(--color-gray);
        display: flex;
        align-items: center;
        margin: 4px 0px;
      }

      .chat-status.right {
        margin-left: auto;
      }
    }

    .chat-input-con {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 64px;
      padding: 10px 0px;

      .input-group {
        background: var(--color-lightGray);
        border: 1px solid rgba(178, 175, 190, 0.2);
        border-radius: 8px;
        height: 44px;
        align-items: center;

        .input-group-append button {
          border: none;
          outline: none;
          background: none;
          padding: 0px 15px;
        }

        .form-control {
          border: none;
          outline: none;
          background: transparent;
          font-size: 16px;
          line-height: 150%;
        }

        .form-control:focus {
          box-shadow: none;
        }
      }

      .send-btn {
        border: none;
        outline: none;
        width: 44px;
        height: 44px;
        background: var(--color-darkBlue);
        border-radius: 8px;
      }
    }
  }
}


@media (max-width: 768px) {
  .intel-card {
    height: fit-content;
  }

  .chat-main-con {
    .chat-con-title {
      border-top: 1px solid var(--color-gray);

      .chat-item-info {
        .title {
          flex-shrink: 0;
        }
      }
    }

    .chat-con-body {
      border-radius: 0px 0px 10px 10px;
    }
  }
}

.attachment {
  height: 60px;
  width: 60px;

  object-fit: contain;
  background-color: var(--color-white);
  cursor: pointer;
}
