<div class="vital-main">
  <div class="vital-header w-100">
    <div class="vital-header-content w-100">
      <img
        [src]="
          pastVisit ? 'assets/svgs/vital-blue.svg' : 'assets/svgs/vital.svg'
        "
      />
      <div class="vital-img-title">Vitals</div>

      <div
        *ngIf="!pastVisit"
        data-toggle="collapse"
        data-target="#vital"
        class="click"
      >
        <img class="arrow" src="assets/svgs/filter-table-up-arrow.svg" />
      </div>
    </div>
    <hr *ngIf="!pastVisit" class="hr" />
  </div>

  <div id="vital" class="vital-details collapse show">
    <div class="ml-4" *ngFor='let item of vitalsData'>
      <ul class="d-grid p-0" >
        <li class="d-flex mb-3">
          <div class="first-list-label">{{"Height(cm)" }}</div>
          <div class="second-list-label" *ngIf="item.height">{{ item.height }}</div>
          <div class="second-list-label no-info-color" *ngIf="!item.height">No information</div>
        </li>
        <li class="d-flex mb-3">
          <div class="first-list-label">{{ "Weigth(kg)" }}</div>
          <div class="second-list-label" *ngIf="item.weight">{{ item.weight }}</div>
          <div class="second-list-label no-info-color" *ngIf="!item.weight">No information</div>
          
        </li>
        <li class="d-flex mb-3">
          <div class="first-list-label">{{ "BMI" }}</div>
          <div class="second-list-label" *ngIf="item.height && item.weight">{{ item.weight/((item.height/100)*(item.height/100))| number : '1.2-2' }}</div>
          <div class="second-list-label no-info-color" *ngIf="!item.height && !item.weight">No information</div>

        </li>
        <li class="d-flex mb-3">
          <div class="first-list-label">{{ "BP" }}</div>
          <div class="second-list-label" *ngIf="item.sbp && item.dbp">{{item.sbp}}/{{item.dbp}}</div>
          <div class="second-list-label no-info-color" *ngIf="!item.sbp && !item.dbp">No information</div>

        </li>
        <li class="d-flex mb-3">
          <div class="first-list-label">{{ "Pulse" }}</div>
          <div class="second-list-label" *ngIf="item.pulse">{{ item.pulse }}</div>
          <div class="second-list-label no-info-color" *ngIf="!item.pulse">No information</div>

        </li>
        <li class="d-flex mb-3">
          <div class="first-list-label">{{ "Temperature(F)" }}</div>
          <div class="second-list-label" *ngIf="item.temp">{{ (item.temp * 9/5) + 32 | number : '1.2-2' }}</div>
          <div class="second-list-label no-info-color" *ngIf="!item.temp">No information</div>

        </li>
        <li class="d-flex mb-3">
          <div class="first-list-label">{{ "SpO2(%)" }}</div>
          <div class="second-list-label" *ngIf="item.sp02">{{ item.sp02 }}</div>
          <div class="second-list-label no-info-color" *ngIf="!item.sp02">No information</div>

        </li>
        <li class="d-flex mb-3">
          <div class="first-list-label">{{ "Respiratory rate" }}</div>
          <div class="second-list-label" *ngIf="item.respiratoryRate">{{ item.respiratoryRate }}</div>
          <div class="second-list-label no-info-color" *ngIf="!item.respiratoryRate">No information</div>
        </li>
      </ul>
    </div>
  </div>
</div>
