<div class="vital-main box-shadow mt-4">
  <div class="vital-header w-100">
    <div class="vital-header-content w-100">
      <img
        [src]="
          pastVisit ? 'assets/svgs/vital-blue.svg' : 'assets/svgs/vital.svg'
        "
      />
      <div class="vital-img-title">{{ vital?.mainlable }}</div>
      <div
        *ngIf="!pastVisit"
        data-toggle="collapse"
        [attr.data-target]="'#' + vital?.id"
        class="click"
      >
        <img class="arrow" src="assets/svgs/filter-table-up-arrow.svg" />
      </div>
    </div>
    <hr *ngIf="!pastVisit" class="hr" />
  </div>
  <div [id]="vital?.id" class="vital-details collapse show">
    <div class="d-flex ml-4">
      <div class="p-0">
        <ul *ngFor="let items of vital?.data" class="first-list p-0">
          <li>{{ items?.label }}</li>
        </ul>
      </div>
      <div class="second-list">
        <div *ngFor="let item of vital?.data" class="">
          <label class="margin {{ item?.noInfoClass }}" for="">
            {{ item?.value }}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
