<h4>Recent Vitals</h4>
<div *ngFor='let item of v'>
  <h4>Last Vitals: {{item.date}}</h4>
<div>Temp: 
    <span *ngIf="item.temp"> {{(item.temp * 9/5) + 32 | number : '1.2-2'}} F
    </span>
</div>
    <div>
        Height: {{item.height}} cm
        <br>
    </div>
    <div>
        Weight: {{item.weight}} kg
        <br>
    </div>
    <div >
        BMI: {{item.weight/((item.height/100)*(item.height/100))| number : '1.2-2'}}
        <br>
    </div>
    <div>
        SP02: {{item.sp02}} %
        <br>
    </div>
    <div>
        BP: {{item.sbp}}/{{item.dbp}}
        <br>
    </div>
    <div>
        HR: {{item.pulse}}
        <br>
    </div>
</div>
