.remoteVideo {
    width: 78vw;
    height: 79vh;
  }
  
  .localVideo {
    height: 180px;
  }
  
  .main {
    position: relative;
    background-color: #343a40!important;
  }
  .local-container {
    position: absolute;
    bottom: 15%;
    right: 3%;
  }
  
  i.fa {
    font-size: 25px;
    padding: 10px;
  }
  .mute i {
    padding-left: 14px;
  }
  .fa-microphone-slash {
    padding-left: 7px !important;
  }
  .icon img {
    height: 25px;
    width: 50px;
    margin-top: 8px;
  }
  
  .localVideo {
    height: 180px;
  }
  
  .local-container {
    position: absolute;
    bottom: 15%;
    right: 3%;
  }
  
  i.fa {
    font-size: 25px;
    padding: 10px;
  }
  
  .icon {
    cursor: pointer;
    background-color: #fff;
    height: 45px;
    width: 45px;
  }
  .fa-microphone-slash {
    padding-left: 7px !important;
  }
  
  .button-tab {
    bottom: 5%;
  }
  .container {
    margin: 0 auto;
    /* width: 25%; */
  }
  
  .room_id {
    display: flex;
    justify-content: center;
  }
  
  @media only screen and (max-width: 768px) {
    .main {
      background-color: #fff !important;
    }
    .cdk-overlay-pane {
      max-width: 97vw;
    }
    .localVideo {
      width: 68vw;
      height: 39vh;
      margin-left: 9px;
    }
    .remoteVideo {
      width: 68vw;
      height: 255px;
    }
    .local-container {
      position: relative;
      bottom: -8%;
    }
  }
  
  .loader {
    position: absolute;
    top: 40%;
    left: 45%;
  }
  .loader label {
    color: lightgray;
  }