<div #mainContainer class="main bg-dark">
  <video #remoteVideo class="remoteVideo" autoplay></video>
  <div
    #localContainer
    draggable="true"
    (dragover)="dragVideo($event)"
    (dragend)="dragVideoLeave($event)"
    class="local-container col-xs-6"
  >
    <video #localVideo autoplay class="localVideo"></video>
  </div>
  <div class="button-tab p-3 w-100 position-absolute">
    <div class="container d-flex">
      <div
        [class.bg-primary]="isMute"
        hover-class="bg-info"
        class="icon rounded-circle mx-3 mute"
        (click)="mute()"
      >
        <i *ngIf="!isMute" class="fa fa-microphone text-secondary"></i>
        <i *ngIf="isMute" class="fa fa-microphone-slash text-secondary"></i>
      </div>
      <div hover-class="bg-info" class="icon rounded-circle mx-3 end-call">
        <i class="fa fa-phone text-danger"></i>
      </div>
      <div
        [class.bg-primary]="isFullscreen"
        hover-class="bg-info"
        (click)="fullscreen()"
        class="icon rounded-circle mx-3 full-screen"
      >
        <i class="fa fa-arrows-alt text-secondary"></i>
      </div>
    </div>
  </div>
</div>
