<ng-template #modalContent let-close="close" data-target="static">
  <div>
    <div class="visit" *ngIf="isShowVisitSummary">
      <!-- visit summary component -->
      <img class="colse-btn" (click)="colseVisitSummaryModal()" src="assets/svgs/Close.svg" alt=""/>
      <app-visit-summary-readonly></app-visit-summary-readonly>
    </div>

    <!-- prescription component -->
    <div class="prescription" *ngIf="!isShowVisitSummary">
      <img class="colse-btn" (click)="colseVisitSummaryModal()" src="assets/svgs/Close.svg" alt=""/>
      <app-prescription-readonly></app-prescription-readonly>
    </div>
  </div>
</ng-template>
