.additional-documents-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  position: relative;

  padding: 32px 24px;

  border-radius: 12px;
}

.additional-documents-header {
  height: 64px;
}

.additional-documents-header-content {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 256px;
  height: 48px;
}

.additional-documents-img-title {
  display: flex;
  align-items: center;

  width: 196px;
  height: 30px;

  color: #1b163a;

  font-weight: 700;
  font-size: 19px;
  line-height: 150%;
}

.arrow {
  position: absolute;
  top: 45px;
  right: 45px;

  padding: 8px;
}

.additional-documents-details {
  width: 990px;
}
