.additional-documents-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  position: relative;

  padding: 32px 24px;

  border-radius: 12px;
}

.additional-documents-header {
  height: 64px;
}

.additional-documents-header-content {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 256px;
  height: 48px;
}

.additional-documents-img-title {
  display: flex;
  align-items: center;

  width: 196px;
  height: 30px;

  color: #1b163a;

  font-weight: 700;
  font-size: 19px;
  line-height: 150%;
}

.arrow {
  position: absolute;
  top: 45px;
  right: 45px;

  padding: 8px;
}

.additional-documents-details {
  width: 990px;
}

.docImg {
  height:120px;
  width:120px;
  border-radius: 8px;
}

  .modalStyle {
    position:fixed;
    background:linear-gradient(45deg, #7F7B92, transparent); 
  }

.img-size{
    height: 558px;
    width: 558px;
    border-radius: 12px;
  }
  .modal-content {
    background: transparent;
    border: none;
  }
  .modal-body {
     padding: 0;
     margin-top: 90px;
  }
  
  .carousel-control-prev-icon {
    left: 50px;
  }
  .carousel-control-next-icon {
    right: 50px;
  }

  .icon1 {
    position: absolute;
    box-sizing: border-box;

    top: 50%;
    height: 33px;
    width: 33px;

    background: #ffffff;
    box-shadow: 0px 0px 16px rgba(46, 30, 145, 0.32);
    border-radius: 50%;
    border: none;
  }
  .imgSize {
    height: 558px;
    box-shadow: transparent;
    text-align: center;
  }
  .header{
    background: #1B163A;
    opacity: 0.64;
    height: 50px;
}
.attach {
    float: right;
    margin-right: 30px;
    background: #FFFFFF;
    margin-top: 15px;
}

.back {
    margin-left: 30px;
    color: #FFFFFF;
    margin-top: 15px;
}

.imageName {
  margin: 160px;
  color: #FFFFFF;
}

.container1 {
  position: relative;
  margin-left: 18px;
  width: 120px;
  height: 120px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height:120px;
  width:120px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.container1:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, .3);
}

.button {
  position: absolute;
  top: 50px;
  margin-left: 50px;
  text-align: center;
  opacity: 0;
  transition: opacity .35s ease;
}

.button a {
  width: 200px;
  text-align: center;
  z-index: 1;
}

.container1:hover .button {
  opacity: 1;
}
