<div class="Additional-documents-main box-shadow mt-4">
  <div class="Additional-documents-header w-100">
    <div class="Additional-documents-header-content w-100">
      <img
        [src]="
          pastVisit
            ? 'assets/svgs/additional-document-blue.svg'
            : 'assets/svgs/additional-document.svg'
        "
      />
      <div class="Additional-documents-img-title">Additional documents</div>
      <div
        *ngIf="!pastVisit"
        data-toggle="collapse"
        data-target="#AdditionalDocuments"
        class="click"
      >
        <img class="arrow" src="assets/svgs/filter-table-up-arrow.svg" />
      </div>
    </div>
    <hr *ngIf="!pastVisit" class="hr" />
  </div>

  <div
    id="AdditionalDocuments"
    class="Additional-documents-details collapse show"
  >
    <div class="d-flex ml-4">
      <div *ngFor="let image of additionalDocuments?.data">
        <img
          *ngIf="image.includes('.pdf'); else elseBlock"
          height="120px"
          width="120px"
          class="mr-3"
          src="assets/svgs/blood-pdf.svg"
        />
        <ng-template #elseBlock>
          <img height="120px" width="120px" class="mr-3" [src]="image" />
        </ng-template>
      </div>
    </div>
  </div>
</div>
