<div [ngClass]="getLang() === 'ar' ? 'class1' : 'class2'">
  <h4><i class="fas fa-book"></i> {{'Follow Up'| translate }}</h4>
  <hr>
  <div>
    <form [formGroup]="followForm">
      <div id="followup-button">
        <p>
          <mat-form-field>
            <input matInput readonly [matDatepicker]="dp3" [min]="minDate" placeholder="{{'Choose a date'|translate}}"
              formControlName='date'>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
          </mat-form-field>
        </p>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="{{'Follow up remark'|translate}}" formControlName='advice'></textarea>
        </mat-form-field>
        <button type="reset" (click)="Submit()" mat-raised-button color="primary" [disabled]="!followForm.valid || isManagerRole"
          [hidden]='allowFollowUp > 0' *ngIf="!visitCompleted">{{'Schedule a follow up'|translate}}</button>
      </div>
      {{errorText}}
    </form>
    <br>
    <ng-container *ngIf="followUp.length > 0">
      <div *ngFor='let followUp of followUp, index as i'>
        <div [@moveInLeft]  class="alert" [ngClass]="{ 'alert-primary': !followUp.comment, 'alert-danger': followUp.comment }">
          <div class="doctor-value d-flex flex-column">
            <span [class.strike]="followUp.comment">{{followUp.value}}</span>
            <div class="mt-2 d-flex flex-column border-top border-primary pt-2">
              <span class="comment-blue">{{followUp.creator.person.display|comment}} | {{followUp.dateCreated|date:'dd-MM-y hh:mm a'}}</span>
              <span *ngIf="followUp.comment" class="comment">{{followUp.comment|comment}}</span>
            </div>
          </div>
          <i (click)="delete(i)" class="material-icons float-right" [class.disabled]="isManagerRole" *ngIf="!followUp.comment && !visitCompleted"
            style="color:rgb(235, 30, 30);cursor: pointer;">delete</i>
        </div>
      </div>
      <p>*{{'please delete current schedule to schedule a new follow up.'| translate}}</p>
    </ng-container>
  </div>
</div>
