.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

 ::ng-deep .mat-datepicker-content .mat-calendar{
    width: unset !important;
    height: unset !important;
}