<!-- Main container -->

<div class="d-flex btn-logo-container">
  <img src="assets/svgs/calender-dilog.svg" />
  <div class="label1">Setup your calendar<br>
    <span class="text">Please set up your scedule for the month according to your availability</span>
  </div>
  <button type="button" class="btn manage-calendar-btn ml-auto" routerLink="/dashboard/view-calendar">
    View calendar
  </button>
</div>
<div class="d-flex w-100 mt-24">
  <!-- Left side container -->
  <div class="left-side-container">
    <!-- Header -->
    <div class="left-header">
      <label class="month-header">Month</label>
    </div>
    <!-- Month wise -->
    <div>
      <div *ngFor="let month of months, index as i" class="month-wise">
        <!-- Month -->
        <div class="month">
          <!-- Details -->
          <div class="details click" (click)="getMonthDetails(month)"> 
            <div  class="left-line" [ngClass]="{'red-line': selectedMonth?.name === month?.name}"></div>
            <span class="name">{{month.name}} </span>
          </div>
          <!-- Chevron -->
          <div>
            <img src="assets/svgs/Vector_right.svg" />
          </div>
        </div>
        <div class="divider"></div>
      </div>

    </div>
    <!-- For Add More -->
    <div  [ngClass]="this.months.length === 12 ? 'unclick' : 'click'" class="add-more-container" (click)="addMonth()">
      <!-- Plus Icon -->
      <div class="plus-icon">
        <img src="assets/svgs/plus.svg" />
      </div>
      <div class="add-more-label">Add more months</div>
    </div>
  </div>

  <!-- Right side container -->
  <div class="right-side-container">
    <!-- Right side content -->
    <div class="right-main-content">
      <!-- For right side header -->
      <div class="working-days">
        <span class="working-days-label">Working Days</span>
      </div>
      <!-- Line divider for right side -->
      <div class="line-divider-right"></div>

      <!-- For start date and end date -->
      <div class="start-end-container d-flex">
        <div class="date">
          <div class="date-text">Start date</div>
          <div class="date-content">
            <input class="input1" matInput readonly [matDatepicker]="dp1" [min]="minDate" [(ngModel)]="startDate">
            <mat-datepicker-toggle matSuffix [for]="dp1">
              <mat-icon matDatepickerToggleIcon><img src="assets/svgs/calendar-date.svg" /></mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dp1 disabled="false">
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Okay</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </div>
        </div>

        <div class="date">
          <div class="date-text">End date</div>
          <div class="date-content">
            <input class="input1" matInput readonly [matDatepicker]="dp2" [min]="minDate" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="dp2">
              <mat-icon matDatepickerToggleIcon><img src="assets/svgs/calendar-date.svg" /></mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dp2 disabled="false">
              <mat-datepicker-actions>
                <button mat-button matDatepickerCancel>Cancel</button>
                <button mat-raised-button color="primary" matDatepickerApply>Okay</button>
              </mat-datepicker-actions>
            </mat-datepicker>
          </div>
        </div>
      </div>

      <!-- For start end days -->
      <div class="d-flex mt-5 mb-2">
        <table class="table w-100">
          <thead class="">
            <th class="border-custom {{ header?.key }} thClass" *ngFor="let header of headers">
              {{ header?.name }}
            </th>
          </thead>
          <tbody>
            <ng-container *ngIf="data.length > 0">
              <tr class="schedule" *ngFor="let row of data">
                <td class="pl-0 mt-4" *ngFor="let header of headers">
                  <ng-container *ngIf="header?.type === 'remark'; else elseBlock">
                    <div class="position-relative">
                      <input type="text" readonly class="days-dropdown" [(ngModel)]="row[header.key1]" />
                      <div class="position-absolute input-img">
                        <img src="assets/svgs/chevron-down-input.svg" />
                      </div>
                    </div>

                  </ng-container>

                  <ng-template #elseBlock>
                    <div class="d-flex td-start-time">
                      <ng-select class="select time-width" [items]="startTimeList" bindLabel="name" [clearable]="false"
                        [(ngModel)]="row[header.key1]" [disabled]="true">
                      </ng-select>

                      <ng-select class="select duration-width" [items]="clockTimeAmPM" bindLabel="name"
                        [clearable]="false" [(ngModel)]="row[header.key2]" [disabled]="true">
                      </ng-select>
                    </div>
                  </ng-template>
                </td>
                <td>
                  <div class="delete-btn position-relative click" (click)="deleteSlots(row.ids)">
                    <span class="delete-btn-label position-absolute">Delete</span>
                    <img class="delete-icon" src="assets/svgs/delete-icon.svg" />
                  </div>
                </td>
              </tr>
            </ng-container>
            <ng-container *ngIf="showAddMore">
              <tr class="schedule">
                <td class="pl-0 mt-4">
                  <div class="d-flex td-start-time">
                    <ng-select class="select time-width" [items]="timeList" bindLabel="name" [clearable]="false"
                      [(ngModel)]="selectedStartTime">
                    </ng-select>

                    <ng-select class="select duration-width" [items]="clockTimeAmPM" bindLabel="name"
                      [clearable]="false" [(ngModel)]="selectedStartAmPm">
                    </ng-select>
                  </div>
                </td>

                <td class="mt-4">
                  <div class="d-flex td-start-time">
                    <ng-select class="select start-end-width" [items]="timeList" bindLabel="name" [clearable]="false"
                      [(ngModel)]="selectedEndTime">
                    </ng-select>

                    <ng-select class="select duration-width" [items]="clockTimeAmPM" bindLabel="name"
                      [clearable]="false" [(ngModel)]="selectedEndAmPm">
                    </ng-select>
                  </div>
                </td>
                <td>
                  <div class="position-relative">
                    <input type="text" readonly class="days-dropdown" [(ngModel)]="weekDays"
                      (click)="showDays = !showDays" />
                    <div class="position-absolute input-img">
                      <img src="assets/svgs/chevron-down-input.svg" />
                    </div>
                    <ng-container *ngIf="showDays">
                      <div class="days-container position-absolute">
                        <div class="days-content" *ngFor="let days of daysList">
                          <input type="checkbox" [checked]="days.checked" class="checkbox click"
                            (change)="onCheckboxChange($event, days)" id="weekdays" name="weekdays" />
                          <span class="day-name">{{ days.name }}</span>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </td>
                <td class="pr-0 d-flex save-cancel-td">
                  <div class="save-btn position-relative " [ngClass]="startDate && endDate &&  weekDaysList.length > 0 ? 'save-btn-bg click' : 'isDisabled'"  (click)="save()">
                    <span class="save-btn-label position-absolute">Save</span>
                  </div>

                  <div class="cancel-btn position-relative click" (click)="removeTiming()">
                    <span class="cancel-btn-label position-absolute">Cancel</span>
                  </div>
                </td>
              </tr>
            </ng-container>
            <p class="msg" *ngIf="errorMsg!== null">{{errorMsg}}</p>
          </tbody>
          <div class="add-more-timing" *ngIf="data.length >= 1" (click)="addTiming()">
            <!-- Plus Icon -->
            <div class="timing-plus-icon">
              <img src="assets/svgs/plus.svg" />
            </div>
            <div class="timing-label">Add more timings</div>
          </div>
        </table>
      </div>

      <!-- For days off -->
      <div class="days-off">
        <span class="days-off-label">Days off</span>
      </div>
      <div class="d-flex">
        <table class="table w-100">
          <tr class="schedule">
            <td class="pl-0 mt-4">
                    <mat-form-field class="example-full-width" appearance="fill">
                      <mat-label>Select dates</mat-label>
                        <input [value]="resetModel" matInput [matDatepicker]="picker" [min]="minDate"
                          (dateChange)="dateChanged($event)" hidden />
                        <mat-chip *ngFor="let value of model" [selectable]="false" [removable]="true" (removed)="remove(value)">
                          {{ value |   date: 'dd MMM,' }}
                        </mat-chip>
                      <mat-datepicker-toggle matSuffix [for]="picker">
                        <mat-icon matDatepickerToggleIcon><img src="assets/svgs/calendar-date.svg" /></mat-icon>
                      </mat-datepicker-toggle>
                      <mat-datepicker #picker [startAt]="init" [dateClass]="dateClass">
                        <mat-datepicker-actions>
                          <button mat-button matDatepickerCancel>Cancel</button>
                          <button mat-raised-button color="primary" matDatepickerApply>Okay</button>
                        </mat-datepicker-actions>
                      </mat-datepicker>
                    </mat-form-field>
                 </td>
                 <td *ngIf="showSaveButton" class="d-flex save-cancel-td">
                  <div class="save-btn position-relative click" (click)="saveDaysOff()">
                    <span class="save-btn-label position-absolute">Save</span>
                  </div>

                  <div class="cancel-btn position-relative click" (click)="model = [];showSaveButton=false">
                    <span class="cancel-btn-label position-absolute">Cancel</span>
                  </div>
                </td>
          </table>
      </div>
      <div *ngIf="daysOff.length > 0" class="daysoff">
            <div class="daysOff-label">Your days off</div>
            <mat-chip-list>
              <mat-chip
                *ngFor="let value of daysOff, index as i"
                [selectable]="false"
                [removable]="true"
                (removed)="remove(i)"
              >
                {{ value |  date: 'dd MMM, yyyy' }}
                <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
          </div>
    </div>
  </div>
</div>
