.modal-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-darkestBlue)86;
  padding: 10px;
}

.modal-nav-btn{
  background-color: rgb(0,0,0,0.4);
}

.preview-con {
  .nav-icon {
    a {
      text-decoration: none;
    }
  }
  .img-con {
    height: 65vmin;
  }

  .pdf-con{
    height: 65vmin;
    width: 100%;
  }

}
