<div class="person-header-container card-shadow">
  <div class="person-content" *ngFor="let info of patientInfo">
    <div class="person-content-item">
      <div class="person-title">
        <div class="" *ngIf="!profileImagePresent">
          <img src="assets/svgs/v-profile.svg" alt="" />
        </div>
        <div class="" *ngIf="profileImagePresent">
          <img src="" alt="">
        </div>
        <div class="person-name-details">
          <div class="person-name">{{info.display}}</div>
          <div class="person-INT">{{patientIdentifier}}</div>
        </div>
      </div>
      <div class="person-age-details">
        <div class="person-age-font person-label-color">Age</div>
        <div class="person-age-font person-age-color">{{info.age}} {{'Years'}}</div>
      </div>
    </div>

    <div class="occupation">
      <div class="occupation-label person-label-color">Occupation</div>
      <div class="occupation-label person-age-color" *ngIf="info.occupation">{{info.occupation}}</div>
      <div class="occupation-label person-age-color" *ngIf="!info.occupation">{{"Not Available"}}</div>
      <div class="mt-4">
        <div class="occupation-label person-label-color">Address</div>
        <div class="occupation-label person-age-color">{{info.preferredAddress.cityVillage}}</div>
      </div>
    </div>

    <div class="contact">
      <div class="occupation-label person-label-color">Contact No:</div>
      <div class="">
        {{info.telephone}}
        <img src="assets/svgs/whatsapp-icon.svg" alt="" />
      </div>

      <div class="mt-2">
        {{info.telephone}}
        <img src="assets/svgs/num.svg" alt="" />
      </div>
    </div>
  </div>
</div>
