<div class="person-header-container">
  <div class="person-content">
    <div class="person-content-item">
      <div class="person-title">
        <div class="">
          <img src="assets/svgs/v-profile.svg" alt="" />
        </div>
        <div class="person-name-details">
          <div class="person-name">Muskan Kala (F)</div>
          <div class="person-INT">INT-1234</div>
        </div>
      </div>
      <div class="person-age-details">
        <div class="person-age-font person-label-color">Age</div>
        <div class="person-age-font person-age-color">32 Years</div>
      </div>
    </div>

    <div class="occupation">
      <div class="occupation-label person-label-color">Occupation</div>
      <div class="occupation-label person-age-color">Farmer</div>
      <div class="mt-4">
        <div class="occupation-label person-label-color">Address</div>
        <div class="occupation-label person-age-color">
          444, kathe lane ,Dwarka ,Nasik
        </div>
      </div>
    </div>

    <div class="contact">
      <div class="occupation-label person-label-color">Contact No:</div>
      <div class="">
        9993024800

        <img src="assets/svgs/whatsapp-icon.svg" alt="" />
      </div>

      <div class="mt-2">
        9993024800

        <img src="assets/svgs/num.svg" alt="" />
      </div>
    </div>
  </div>
</div>
