<div class="person-header-container card-shadow">
  <div class="person-content" *ngFor="let info of patientInfo">
    <div class="person-content-item">
      <div class="person-title">
        <div>
          <img
          class="profilePic"
          [src]="personImageURL"
        />
        </div>
        <div class="person-name-details">
          <div class="person-name">{{info.display}}({{info.gender}})</div>
          <div class="person-INT">{{patientIdentifier}}</div>
        </div>
      </div>
      <div class="person-age-details">
        <div class="person-age-font person-label-color">Age</div>
        <div class="person-age-font person-age-color">{{info.age}} {{'Years'}}</div>
      </div>
    </div>

    <div class="occupation">
      <div class="occupation-label person-label-color">Occupation</div>
      <div class="occupation-label person-age-color" *ngIf="info.occupation">{{info.occupation}}</div>
      <div class="occupation-label person-age-color" *ngIf="!info.occupation">{{"Not Available"}}</div>
      <div class="mt-4">
        <div class="occupation-label person-label-color">Address</div>
        <div class="occupation-label person-age-color">{{info.preferredAddress.cityVillage}}</div>
      </div>
    </div>

    <div class="contact">
      <div class="occupation-label person-label-color">Contact No:</div>
      <div *ngIf="info.telephone;else notAvailable">
        <div class="">
          {{info.telephone}}
          <a href="{{ whatsappLink }}" target="_blank"><img src="assets/svgs/whatsapp-icon.svg" alt="" /></a>
        </div>
  
        <div class="mt-2">
          {{info.telephone}}
          <a href="tel:{{ info.telephone }}"><img src="assets/svgs/num.svg" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #notAvailable>
  Not Available
</ng-template>
