.error-msg {
    color: var(--color-red);
}

.password-strength-con {
    padding: 7px 0px;
    .strength-item {
      height: 4px;
      background: #B0ADBE;
      border-radius: 10px;
      margin: 0px 5px;
      opacity: 0.7;
    }
    .strength-item.filled {
      background: var(--color-darkBlue);
      opacity: 1;
    }
  }