.patient-interaction-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  position: relative;

  padding: 32px 24px;

  border-radius: 12px;
}

.patient-interaction-header-content {
  display: flex;
  align-items: center;
  gap: 12px;

  height: 48px;
  width: 256px;
}

.patient-interaction-img-title {
  display: flex;
  align-items: center;

  height: 30px;
  width: 196px;

  color: #1b163a;

  font-weight: 700;
  font-size: 19px;
  line-height: 150%;
}

.arrow {
  position: absolute;
  top: 45px;
  right: 45px;

  padding: 8px;
}

.first-list {
  width: 240px;
}

.second-list {
  width: 742px;
}

.chw-color {
  color: #7f7b92;
}

.margin {
  margin-bottom: 1rem;
}

.radio-box {
  width: 22px;
  height: 22px;

  background-color: #0fd197;

  border: 2px solid #0fd197;
  border-radius: 80px;

  &:after {
    display: inline-block;
    visibility: visible;

    position: relative;
    top: 1px;
    left: 4px;

    width: 14px;
    height: 14px;

    border-radius: 15px;
    background-color: #fff;

    content: "";
  }

  &:checked:after {
    display: inline-block;
    visibility: visible;

    position: relative;
    top: 1px;
    left: 4px;

    width: 14px;
    height: 14px;

    border-radius: 15px;
    background-color: #0fd197;

    content: "";
  }
}

.radio-label {
  vertical-align: middle;

  width: 32px;
  height: 30px;

  color: #1b163a;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
