<div class="patient-interaction-main">
  <div class="patient-interaction-header w-100">
    <div class="patient-interaction-header-content w-100">
      <img [src]="iconImg" />
      <div class="patient-interaction-img-title">Patient interaction</div>
      <div *ngIf="showToggle" data-toggle="collapse" data-target="#patient-interaction" class="click"
        (click)="isCollapsed = !isCollapsed">
        <img class="arrow" [src]="
            isCollapsed
              ? 'assets/svgs/plus-icon.svg'
              : 'assets/svgs/minus-icon.svg'
          " />
      </div>
    </div>

    <div id="patient-interaction" class="consult-details collapse multi-collapse show">
      <hr class="hr" />

      <div class="d-flex ml-4">
        <div class="p-0">
          <ul class="first-list p-0">
            <li *ngIf="!readOnly" class="mb-4">Connect with patient</li>
            <li *ngIf="phoneNo"class="mb-4">Have you spoken with the patient directly?</li>
          </ul>
        </div>
        <div *ngIf="phoneNo;else notAvailable" class="second-list">
          <div >
            <a href="tel:{{ phoneNo }}"> <img *ngIf="!readOnly"
                src="assets/svgs/interaction-phone.svg" /></a>
            <a href="{{ whatsappLink }}" target="_blank"><img  class="ml-2" *ngIf="!readOnly"
                src="assets/svgs/interaction-whatapp.svg" /></a>
            <span *ngIf="!readOnly" class="ml-2 chw-color">Click here to connent with patient</span>
          </div>

          <div class="mt-3">
            <input class="radio-box mr-1 mt-1" type="radio" value="Yes" [(ngModel)]="selectedValue" name="radio" />
            <label class="mr-3 radio-label">Yes</label>

            <input class="radio-box mr-1 mt-1" type="radio" value="No" [(ngModel)]="selectedValue" name="radio" />
            <label class="radio-label">No</label>
          </div>

          <!-- <div *ngIf="readOnly" class="mt-1">
            <label class="mr-3 radio-label">Yes</label>
          </div> -->
        </div>
      </div>
      <button
      *ngIf="!readOnly && phoneNo"
      [hidden]="isDataPresent"
      type="button"
      (click)="save()"
      class="btn cancel-add-note-btn add-note-btn font-bold mt-2 ml-3"
    >
     Submit
    </button>
    </div>
  </div>
  <ng-template #notAvailable>
    Patient Mobile number is not available
  </ng-template>
</div>