.Online {
  background: #E5FFF3 !important;
  color: #0FD197 !important;
}
.Offline {
  background: #FFE8E8 !important;
  color: #EA315B !important;
}
.mat-standard-chip {
  border-radius: 5px;
}
.no-data {
  background: white;
}
.export {
  height: 20px;
  width: 20px;
}
table,
th,
td {
  text-align: center;
  padding-right: 0px;
  border: 1px solid #E6E0F1
}
td.mat-cell {
  width: 15%;
}
.mat-header-cell {
  color: #7F7B92;
  font-size: 12px;
  font-weight: 400;
}
th.mat-column-doctorName,
th.mat-column-sevikaName,
th.mat-column-start_time,
th.mat-column-end_time,
th.mat-column-state,
th.mat-column-district,
th.mat-column-reason {
  padding-left: 35px !important;
}
th.mat-column-call_duration,
th.mat-column-call_status {
  padding-left: 20px !important;
}
th.mat-column-patientId,
th.mat-column-patientName,
th.mat-column-location {
  padding-left: 45px !important;
}
.action-btn {
  height: 48px;
  background: var(--color-white);
  border: 0.77px solid var(--color-lightGray);
  border-radius: 8px;
  color: var(--color-darkBlue);
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  width: fit-content;
}
.action-btn.bg-blue {
  background: white !important;
  cursor: pointer;
}