<div class="appointment-detail-modal">
  <div class="modal-title">
    <h6 class="mb-0">{{data?.title|translate}} {{'details'|translate}}</h6>
    <button class="modal-close-btn" (click)="close(false)"><img src="assets/svgs/Close.svg" alt=""></button>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 p-0">
          <div class="patient-info-con">
            <div class="patient-con">
              <img class="mr-2" [src]="baseUrl + '/personimage/' + data?.meta.patientId" alt="" (error)="onImgError($event)">
              <div class="d-flex flex-column">
                <h6 class="mb-0">{{ data?.meta.patientName|noValue:('NA'|translate) }} ({{data?.meta.patientGender|translate|noValue:('NA'|translate)}}, {{data?.meta.patientAge|noValue:'0'}})</h6>
                <p class="mb-0">{{'PID'|translate}} : {{data?.meta.openMrsId}}</p>
                <div class="anchor-con d-flex align-items-center">
                  <a class="mr-2" href="javascript:void(0)" (click)="close('view')">{{'View details'|translate}}</a>
                  <img src="assets/svgs/right-arrow-blue.svg" alt="">
                </div>
              </div>
            </div>
            <div>
              <div class="priority-tag">
                {{data?.meta.visit_status|translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 p-0 mt-3">
          <div class="appointment-info-con">
            <div class="info-row">
              <div class="info-label">{{'Booked on'|translate}}</div>
              <div class="info-con">{{data?.meta.createdAt|date:'dd MMM, yyyy':'':locale}}</div>
            </div>
            <div class="info-row">
              <div class="info-label">{{'Appointment on'|translate}}</div>
              <div class="info-con">
                <div>
                  {{data?.start|date:'dd MMM, yyyy':'':locale}}, {{data?.start|date:'h:mm a'|lowercase}} - {{data?.end|date:'h:mm a'|lowercase}}
                </div>
                <div class="text-important">
                  <ng-container *ngIf="data?.meta.visit_status != 'Completed' && data?.meta.visit_status != 'Ended'">
                    {{(startsIn[0] + " " + startsIn[1]|translate)}} {{startsIn[2]}} {{(startsIn[3]|translate)}}
                  </ng-container>
                  <ng-container *ngIf="data?.meta.visit_status == 'Completed' || data?.meta.visit_status == 'Ended'">
                    {{data?.meta.prescriptionCreatedAt}}
                  </ng-container>
                </div>
              </div>
            </div>
            <div class="info-row">
              <div class="info-label">{{'Cheif Complaint'|translate}}</div>
              <div class="info-con">{{data?.meta.cheif_complaint}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-12 p-0 mt-3">
          <div class="appointment-info-con">
            <div class="info-row">
              <div class="info-label">{{'Booked by'|translate}}</div>
              <div class="info-con" *ngIf="data?.meta.hwName">{{data?.meta.hwName}} <a href="tel:{{data?.meta.hwPhoneNo }}"><img class="ml-2" src="assets/svgs/num.svg"/></a></div>
            </div>
          </div>
        </div>
        <div class="col-md-12 p-0 mt-3">
          <div class="d-flex align-items-center justify-content-center flex-wrap">
            <ng-container *ngIf="data?.title == 'Appointment' && data?.meta.starts_in?.includes('Starts in') && (data?.meta.visit_status == 'Awaiting'||data?.meta.visit_status == 'Priority')">
              <button class="red-btn" type="button" (click)="close('cancel')">{{'Cancel'|translate}}</button>
              <button class="blue-btn" type="button" (click)="close('reschedule')">{{'Reschedule'|translate}}</button>
            </ng-container>
            <ng-container *ngIf="data?.title == 'Appointment' && data?.meta.visit_status == 'Completed'">
              <button class="confirm-btn" type="button" (click)="close('view')">{{'View Prescription'|translate}}</button>
            </ng-container>
            <ng-container *ngIf="data?.title == 'Appointment' && data?.meta.visit_status == 'Ended'">
              <button class="confirm-btn" type="button" (click)="close('view')">{{'Edit Prescription'|translate}}</button>
            </ng-container>
            <ng-container *ngIf="data?.title == 'Follow-up visit' && (data?.meta.visit_status == 'Awaiting'||data?.meta.visit_status == 'Priority'||data?.meta.visit_status == 'In-progress')">
              <button class="confirm-btn" type="button" (click)="close('view')">{{'Provide Prescription'|translate}}</button>
            </ng-container>
            <ng-container *ngIf="data?.title == 'Appointment' && data?.meta.starts_in?.includes('Awaiting') && (data?.meta.visit_status == 'Awaiting'||data?.meta.visit_status == 'Priority')">
              <button class="confirm-btn" type="button" (click)="close('view')">{{'Provide Prescription'|translate}}</button>
            </ng-container>
            <ng-container *ngIf="data?.title == 'Appointment' && data?.meta.starts_in?.includes('Starts in') && data?.meta.visit_status == 'In-progress'">
              <button class="confirm-btn" type="button" (click)="close('view')">{{'Provide Prescription'|translate}}</button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
