<div class="referal-main">
  <div class="referal-header w-100">
    <div class="referal-header-content w-100">
      <img [src]="iconImg" />
      <div class="referal-img-title">Referral</div>
      <div
        *ngIf="showToggle"
        data-toggle="collapse"
        data-target="#referal"
        class="click"
        (click)="isCollapsed = !isCollapsed"
      >
        <img
          class="arrow"
          [src]="
            isCollapsed
              ? 'assets/svgs/plus-icon.svg'
              : 'assets/svgs/minus-icon.svg'
          "
        />
      </div>
    </div>
  </div>

  <div id="referal" class="referal-details collapse show w-100">
    <hr class="hr" />

    <div class="d-flex mb-2 table-responsive">
      <table class="table w-100">
        <thead class="font-sm">
          <th
            class="border-top {{ header?.key }} {{ header?.thClass }}"
            *ngFor="let header of headers"
          >
            {{ header?.name }}
          </th>
        </thead>

        <tbody>
          <tr *ngFor="let row of referralData, index as i">
            <td *ngFor="let header of headers">
              <ng-container *ngIf="header?.type === 'remark'; else elseBlock">
                {{ row[header.key] }}
                <span (click)="delete(i)" class="btn-height click float-right">
                  <img *ngIf="!readOnly" src="assets/svgs/delete-icon.svg" />
                </span>
              </ng-container>

              <ng-template #elseBlock>
               {{i+1}}. {{ row[header.key] }}
              </ng-template>
            </td>
          </tr>

          <ng-container *ngIf="!showAddMore">
            <tr *ngIf="!readOnly">
              <td>
                <div class="select">
                  <ng-select
                    [items]="referalList"
                    bindLabel="name"
                    [clearable]="false"
                    [(ngModel)]="referal"
                  >
                  </ng-select>
                </div>
              </td>

              <td>
                <div class="remark-input">
                  <input
                    class="form-control"
                    type="text"
                    name=""
                    placeholder="Type here"
                    [(ngModel)]="remark"
                    id=""
                  />
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>

    <ng-container *ngIf="!readOnly">
      <div *ngIf="showAddMore">
        <img
          class="click"
          src="assets/svgs/add-more-plus-icon.svg"
          (click)="showAddMore = !showAddMore"
        />

        <label class="ml-2 font-size-md"> Add more referral</label>
      </div>
    </ng-container>

    <ng-container *ngIf="!readOnly">
      <div class="d-flex" *ngIf="!showAddMore">
        <button
          type="button"
          class="btn cancel-save-btn font-bold"
          (click)="showAddMore = !showAddMore"
        >
          cancel
        </button>

        <button
          type="button"
          (click)="submit()"
          class="btn cancel-save-btn save-btn font-bold ml-3"
        >
          Save
        </button>
      </div>
    </ng-container>
  </div>
</div>
