::ng-deep .mat-tab-group {
  font-family: DM Sans;

  .mat-tab-body-wrapper {
    .mat-tab-body {
      .mat-tab-body-content {
        padding: 24px 0px;
      }
    }
  }

  .mat-tab-header {

    .mat-tab-label-container {

      .mat-ink-bar {
        background: #EA315B;
        border-radius: 1px;
      }

      .mat-tab-label {
        min-width: fit-content;
        opacity: 1;

        .mat-tab-label-content {
          font-weight: 700;
          font-size: 16px;
          line-height: 150%;
          color: #1B163A;
        }
      }
    }
  }
}

.faq-intro-wrap {
  display: flex;
  flex-direction: column;

  .faq-intro-title {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 150%;
    font-weight: bold;
    color: #1B163A;
    margin-bottom: 10px;

    img {
      height: 48px;
      width: 48px;
    }
  }

  p {
    font-size: 14px;
    line-height: 150%;
    color: #7F7B92;
  }
}

.faq-s ::ng-deep .mat-accordion {
  .mat-expansion-panel {
    box-shadow: none;
    border-radius: 0px;

    .mat-expansion-panel-header {
      border-bottom: 1px solid rgba(178, 175, 190, 0.2);
      padding: 0px 24px 0px 0px;
    }

    .mat-expansion-panel-header.mat-expanded {
      border-bottom: none;
    }

    .mat-expansion-panel-header:hover {
      background: none !important;
    }

    .mat-expansion-panel-body {
      padding: 16px 0px;
    }
  }
}

.learn-more-wrap {
  .learn-item {
    img, iframe {
      border: none;
      width: 100%;
      height: 180px;
      border-radius: 8px;
    }

    .learn-item-caption {
      font-weight: 500;
      font-size: 16px;
      line-height: 150%;
      color: #1B163A;
      font-weight: bold;
    }
  }
}
