<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 p-0">
      <mat-tab-group mat-align-tabs="start" [disableRipple]="true" class="help-tab-group">
        <mat-tab label="{{'Health'|translate}}">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12 py-3">
                <div class="card intel-card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-3 faq-intro-wrap">
                        <div class="faq-intro-title">
                          <img class="mr-2" src="assets/svgs/faq-icon.svg" alt="">
                          {{'FAQs'|translate}}
                        </div>
                        <p>
                          {{'Frequently asked questions about everything you need to know regading the website.'|translate}}
                        </p>
                      </div>
                      <div class="col-md-9 faq-s">
                        <mat-accordion>
                          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" data-test-id="matExpPanelHelpQ1">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                {{'How Namma Aarogya Kendra ?'|translate}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>
                              {{'Intelehealth has developed a comprehensive technology platform that Governments,'|translate }}
                              {{'NGO and Hospitals can use to deliver telemedicine-based care to their beneficiaries. Built with powerful features'|translate }}
                              {{'like a digital assistant with 80+ care protocols makes it easy for any organization to use and adapt it to meet their needs!'|translate }}
                            </p>
                          </mat-expansion-panel>
                          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false" data-test-id="matExpPanelHelpQ2">
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                {{'How Namma Aarogya Kendrahelp patients?'| translate}}
                              </mat-panel-title>
                            </mat-expansion-panel-header>
                            <p>{{'Our Telemedicine app makes specialits doctor consultations available to the rural populations' |translate}}
                              {{'coming to primary healthcare. Using app, the HW are able to capture details of patients' |translate}}
                              {{'medication history, diagnostics, prescriptions and treatment. All these details are then shared'|translate}}
                              {{'with the remote doctors to provide consultation. It helps in saving patients from travelling miles for healthcare.'| translate}}
                            </p>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="col-md-12 py-3">
                <div class="card intel-card">
                  <div class="card-header">
                    <img class="mr-2" src="assets/svgs/learn-more-btn.svg" alt="">
                    <h6 class="mb-0">{{'Learn more'|translate}}</h6>
                  </div>
                  <div class="card-body">
                    <div class="row learn-more-wrap">
                      <div class="col-md-4 py-2">
                        <div class="learn-item">
                          <iframe width="100%" src="https://www.youtube.com/embed/TqNiRWOBNTs" data-test-id="iframeVideo1"></iframe>
                          <span class="learn-item-caption">{{'Treat mild fever at home'|translate}}</span>
                        </div>
                      </div>
                      <div class="col-md-4 py-2">
                        <div class="learn-item">
                          <iframe width="100%" src="https://www.youtube.com/embed/qbDHSwMOYg4" data-test-id="iframeVideo2"></iframe>
                          <span class="learn-item-caption">{{'What is Anemia?'|translate}}</span>
                        </div>
                      </div>
                      <div class="col-md-4 py-2">
                        <div class="learn-item">
                          <iframe width="100%" src="https://www.youtube.com/embed/LCG6eJ0j-Cg" data-test-id="iframeVideo3"></iframe>
                          <span class="learn-item-caption">{{'Treat cough at home'| translate}}</span>
                        </div>
                      </div>
                      <div class="col-md-4 py-2">
                        <div class="learn-item">
                          <iframe width="100%" src="https://www.youtube.com/embed/E0UAHVoqcm0" data-test-id="iframeVideo4"></iframe>
                          <span class="learn-item-caption">{{'Benefits of walking'|translate}}</span>
                        </div>
                      </div>
                      <div class="col-md-4 py-2">
                        <div class="learn-item">
                          <iframe width="100%" src="https://www.youtube.com/embed/ZU4sSOmf8To" data-test-id="iframeVideo5"></iframe>
                          <span class="learn-item-caption">{{'Benefits of walking'|translate}}</span>
                        </div>
                      </div>
                      <div class="col-md-4 py-2">
                        <div class="learn-item">
                          <iframe width="100%" src="https://www.youtube.com/embed/MwDpD7LIfcg" data-test-id="iframeVideo6"></iframe>
                          <span class="learn-item-caption">{{'Benefits of walking'|translate}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>

        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
