.appointment-detail-modal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 0px 0px 32px;

  width: 615px !important;

  background: #ffffff;
  border-radius: 5px;

  .appointment-detail-modal-header {
    height: 70px;
    width: 615px;

    background: #efe8ff;

    border-radius: 5px;

    .cross {
      right: 15px;
      top: 26px;
    }

    .appointment-detail-title {
      height: 30px;
      width: 200px;

      font-weight: 700;
      font-size: 20px;
    }
  }

  .personal-person-detail-modal {
    gap: 10px;

    height: 70px;
    width: 567px;

    .view-detail-font {
      font-size: 14px;
      text-decoration-line: underline;
    }
    .blue-color {
      color: #2e1e91;
    }

    .priority-pill {
      width: 90px;
      height: 34px;

      background: #ffe8e8;
      border-radius: 4px;

      .priority-pill-font {
        text-align: center;
      }
    }
  }

  .booked-on {
    width: 200px;
    height: 24px;
  }

  .btns {
    margin-top: 10px;

    padding: 10px 14px 0px 14px;

    height: 48px;

    border: 0.770833px solid #efe8ff;
    border-radius: 8px;

    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;

    &.left-btn {
      margin-right: 25px;

      background: #ffe8e8;

      color: #ff475d;
    }

    &.right-btn {
      background: #2e1e91;

      color: #faf9ff;
    }
  }
}
