.appointment-detail-modal-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  position: absolute;

  padding: 0px 0px 32px;

  width: 615px !important;

  background: #ffffff;
  border-radius: 5px;

  .appointment-detail-modal-header {
    height: 70px;
    width: 615px;

    background: #efe8ff;

    border-radius: 5px;

    .cross {
      right: 15px;
      top: 26px;
    }

    .appointment-detail-title {
      height: 30px;
      width: 200px;

      font-weight: 700;
      font-size: 20px;
    }
  }

  .personal-person-detail-modal {
    gap: 10px;

    height: 70px;
    width: 567px;

    .view-detail-font {
      font-size: 14px;
      text-decoration-line: underline;
    }
    .blue-color {
      color: #2e1e91;
    }

    .priority-pill {
      width: 70px;
      height: 34px;

      background: #ffe8e8;
      border-radius: 4px;

      .priority-pill-font {
        text-align: center;
      }
    }
  }

  .booked-on {
    width: 200px;
    height: 24px;
  }

  .btn-cancel {
    background: #ffe8e8;
    border-radius: 8px;
  }
}
