.consultation-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  
  position: relative;
  
  padding: 32px 24px;

  border-radius: 12px;
}

.consult-header {
  height: 64px;
}

.consult-header-content {
  display: flex;
  align-items: center;
  gap: 12px;

  width: 256px;
  height: 48px;
}

.consult-img-title {
  display: flex;
  align-items: center;

  width: 196px;
  height: 30px;

  font-weight: 700;
  font-size: 19px;
  line-height: 150%;

  color: #1b163a;
}

.arrow {
  position: absolute;
  top: 45px;
  right: 45px;

  padding: 8px;
}

.consult-details {
  width: 990px;
  height: 200px;
}

.first-list {
  width: 240px;
  height: 24px;
}

.second-list {
  width: 742px;
  height: 24px;
}

.chw-color {
  color: #7f7b92;
}

.margin {
  margin-bottom: 1rem;
}

.pirorityRed {
  color: #ff475d;
}


