<div class="consultation-main">
  <div class="consult-header w-100">
    <div class="consult-header-content w-100">
      <img [src]="iconImg" />
      <div class="consult-img-title">Consultation Details</div>
      <div
        *ngIf="showToggle"
        data-toggle="collapse"
        data-target="#consultation"
        class="click"
      >
        <img class="arrow" src="assets/svgs/filter-table-up-arrow.svg" />
      </div>
    </div>
    <hr *ngIf="showToggle" class="hr" />
  </div>

  <div id="consultation" class="consult-details collapse show">
    <div class="d-flex ml-4">
      <div class="p-0">
        <ul class="p-1">
          <li class="first-list mb-3">Visit ID</li>

          <li class="first-list mb-3">Visit created</li>

          <!-- <li class="first-list mb-3">Appointment on</li> -->

          <li class="first-list mb-3">Status</li>

          <li class="first-list mb-3">Provided by</li>
        </ul>
      </div>
      <div class="second-list">
        <div>
          <div>
            <label class="margin">{{ visitID }}</label>
          </div>
          <div>
            <label class="margin mt-1">{{ visitCreated | date: 'dd MMM yyyy' }} </label>
          </div>
          <div>
            <!-- <label class="margin mt-1">{{ visitCreated | date: 'dd MMM yyyy' }}</label> -->
          </div>
          <div>
            <label class="margin  mt-1" [ngClass]="{
              'pirorityRed': visitStatus === 'Priority visit',
              'light-green':
              visitStatus === 'Awaiting visit' || visitStatus === 'In-progress visit' || visitStatus === 'Completed visit'
            }"> {{visitStatus}} </label>
          </div>

          <div>
            <label class="mt-1">{{ providerName }}</label>

            <img *ngIf="!readOnly" class="ml-3" src="assets/svgs/dot.svg" />
            <a *ngIf="!readOnly" class="ml-2" href="tel:{{ hwPhoneNo }}"><img src="assets/svgs/num.svg" alt="" /></a>
            <a (click)="getChat()"><img *ngIf="!readOnly" class="ml-2 click" src="assets/svgs/msg.svg" /></a>

            <span *ngIf="!readOnly" class="ml-2 chw-color"
              >Click here to connent with CHW {{isOpenChat}}</span
            >
          </div>
          <app-chat></app-chat>
        </div>
      </div>
    </div>
  </div>
</div>
