.view {
    background-color: white;
    border: 2px solid gray;
}

.lineh {
    line-height: 20px;
}

.lineh1 {
    line-height: 14px;
}

#ellipse {
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    width: 300px;
}

.container2 {
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    margin-right: 23px;
}

.container1 {
    width: 17%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-divider {
    border-top-color: black;
    border-top-width: 3px;
}

.line {
    flex: 1;
}

.text {
    font-size: 10px;
    font-weight: bolder;
    padding-left: 5px;
    padding-right: 5px;
}

#tb4 {
    height: 85px;
}

#tb6 {
    height: 170px;
}

#tb7 {
    height: 124px;
}

#tb8 {
    height: 60px;
}

#tb10,
#tb20 {
    height: 18px;
}

#tb14 {
    height: 64px;
}

#tb12 {
    height: 100px;
}

.row {
    margin-left: 5px;
    width: 100%;
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 33.33%;
    /* padding: 10px; */
}

.column1 {
    float: left;
    width: 50%;
    /* padding: 10px; */
}

.column3 {
    float: right;
    width: 33.33%;
}

table,
th,
td {
    width: 100%;
    font-size: 9px;
    text-align: center;
    table-layout: fixed;
    border: 1px solid black;
    border-bottom: 0px rgb(240, 236, 236);
}

.emptytable {
    margin-left: 122px;
    font-size: 10px;
}

td {
    width: 5%;
}

.table3 td,
.table5 td,
.table7 td,
.table11 td,
.table13 td,
.table15 td,
.table17 td,
.table19 td,
.table21 td {
    border-bottom: 1px solid black;
    border-left-color: #fff;
}

.table4 td,
.table6 td,
.table8 td,
.table9 td,
.table10 td,
.table11 td,
.table12 td,
.table14 td,
.table16 td,
.table18 td,
.table20 td {
    border-bottom: 1px solid black;
}

.table1 {
    width: 66%;
    margin-right: 20px;
    float: left;
}

.table2,
.table4,
.table6,
.table8,
.table10,
.table12,
.table14,
.table16,
.table18,
.table20 {
    width: 15%;
    float: left;
}

.table3,
.table5,
.table7,
.table9,
.table11,
.table13,
.table15,
.table17,
.table19,
.table21 {
    width: 75%;
    margin-left: 20px;
    margin-right: 20px;
    float: left;
}

.table1 td:nth-child(1) {
    border-bottom: 1px solid black;
}

.table7>tr:nth-child(1)>td:nth-child(1),
.table9>tr:nth-child(1)>td:nth-child(1),
.table15>tr:nth-child(1)>td:nth-child(1) {
    border-bottom: 0px;
}

.table11>tr:nth-child(1)>td:nth-child(1),
.table9>tr:nth-child(1)>td:nth-child(1),
.table17>tr:nth-child(1)>td:nth-child(1) {
    border-top-color: #fff;
    border-left-color: #fff;
}

.table19>tr:nth-child(1)>td:nth-child(1) {
    border-top-color: #fff;
    border-bottom: 0px;
}

.alignment {
    text-align: right;
}

.align {
    background-color: white;
    float: left;
    color: black;
    border: 1px solid black;
    width: 5%;
    text-align: center;
    font-weight: bold;
    margin-right: 10px;
}

.arrow {
    margin-left: 5px;
    width: 1200px;
    content: "";
    clear: both;
}

.fixBottom {
    margin-bottom: 8px;
}

.alignTitle {
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    overflow-wrap: break-word;
}

.noteSize {
    inline-size: 120px;
}

.filled {
    background-color: lightsteelblue;
}

.align-text {
    font-size: 9px;
    margin-left: 65px;
    margin-right: 20px;
}

.dotted {
    border: 0.5px dotted gray;
}

.breakWord {
    max-width: 5%;
    word-wrap: break-word;
}

.note {
    font-size: 9px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}

.sharedTitle {
    font-size: 9px;
    margin-left: 40px;
    margin-top: -46px;
}

.red {
    background-color: #fff;
    padding: 3px;
    border: 1px solid red;
    border-radius: 50%;
}

.yellow {
    background-color: #fff;
    padding: 3px;
    border: 1px solid yellow;
    border-radius: 50%;
}

.red1 {
    color: red;    
}

.yellow1 {
    color: yellow;
}

.text-color {
    color: #007bff;
}

.fab {
    font-size: 30px;
    padding: 10px;
    color: green;
    cursor: pointer;
    text-decoration: none;
}

.btnsize {
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .tab-res {
        font-size: 10px;
    }

    .emptytable {
        margin-left: 85px;
    }

    table,
    th,
    td {
        word-wrap: break-word;
    }

    .note {
        font-size: 7px;
        margin-top: 15px;
    }

    .sharedTitle {
        margin-left: 30px;
    }

    .align-text {
        font-size: 7px;
        margin-left: 50px
    }

    .align {
        font-size: 7px;
    }

    .btnsize {
        font-size: 20px;
    }

    .text {
        font-size: 7px;
    }

    .container {
        margin-right: 23px;
    }
}

@media print {
    .emptytable {
        margin-left: 110px;
    }

    #tb7 {
        height: 140px;
    }
}