<div class="view tab-res">
    <h4 style="text-align: center;"> WHO LABOUR CARE GUIDE </h4>
    <div class="row fixBottom">
        <div class="column">
            <b>Name: </b> Mary Jane Williams
        </div>
        <div class="column">
            <b>Parity:</b> 2 &nbsp; &nbsp; <b>Labour onset: </b>spontaneous
        </div>
        <div class="column3">
            <b>Active labour diagnosis:</b>[Date 06/07/20]
        </div>
    </div>
    <div class="row fixBottom">
        <div class="column1">
            <b>Ruptured membranes:</b> [Date 06/07/20 Time 4:00 ]
        </div>
        <div class="column2">
            <b>Risk factors:</b>History of stillbirth; anaemia
        </div>
    </div>
    <div class="row emptytable fixBottom">
        <table class="table1">
            <tr>
                <td>Time</td>
                <td *ngFor="let t of timeSlots">
                    <span *ngIf="t.value !== null ;else no_value">{{t.value }}</span>
                </td>
            </tr>
            <tr>
                <td>Hours </td>
                <td class="alignment" *ngFor="let row of timeSlots">
                    {{ row. id }}
                </td>
            </tr>
        </table>
        <table class="table2">
            <tr>
                <td *ngFor="let t of stag2TimeSlots">
                    <span *ngIf="t.value !== null ;else no_value">{{t.value }}</span>
                </td>
            </tr>
            <tr>
                <td class="alignment" *ngFor="let row of stag2TimeSlots">
                    {{ row. id }}
                </td>
            </tr>
        </table>
    </div>
    <div class="row emptytable fixBottom">
        <input  class="align" type="text" value="ALEART" disabled>
        <!-- <button class="align"><b></b></button> -->
        <div style="width: 100%;">
            <div style="width: 66%;">
                <div class="leftline"></div>
                <b style="margin-left: 10px;  margin-top: 5px;"> ACTIVE FIRST STAGE</b>
                <div class="rightline"></div>
            </div>
            <div class="second-arrow">
                <div class="leftline1"></div>
                <b style="margin-left: 6px;"> SECOND STAGE</b>
                <div class="rightline2"></div>
            </div>
        </div>
    </div>
    <div class="row fixBottom">
        <table class="table3">
            <tr>
                <td rowspan="5">
                    <b class="alignTitle"> SUPPORTIVE CARE </b>
                </td>
            </tr>
            <tr *ngFor="let row of titleRows">
                <td> {{row.name}} </td>
                <td>{{row.value }}</td>
                <td *ngFor="let t of supportiveCare">
                    <span *ngIf="t.value !== null"></span>
                </td>
            </tr>
        </table>
        <table id="tb4" class="table4">
            <tr *ngFor="let row of titleRows">
                <td *ngFor="let t of stag2TimeSlots">
                    <span *ngIf="t.value !== null"> </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="row fixBottom">
        <table class="table5">
            <tr>
                <td rowspan="7">
                    <b class="alignTitle"> BABY </b>
                </td>
            </tr>
            <tr>
                <td colspan="2"> Baseline FHR </td>
                <td colspan="2"> ≤110, ≥160 </td>
                <td *ngFor="let t of this.doubleColStage1">
                    <span *ngIf="t.value !== null"></span>
                </td>
            </tr>
            <tr>
                <td colspan="2">FHR deceleration</td>
                <td colspan="2">L</td>
                <td *ngFor="let t of this.doubleColStage1">
                    <span *ngIf="t.value !== null"></span>
                </td>
            </tr>
            <tr *ngFor="let row of babyTitleRows">
                <td colspan="2">{{row.name}} </td>
                <td colspan="2">{{row.value}}</td>
                <td colspan="2" *ngFor="let t of this.supportiveCare" >
                    <span *ngIf="t.value !== null"></span>
                </td>
            </tr>
        </table>
        <table id="tb6"  class="table6">
            <tr>
                <td *ngFor="let t of doubleColStage2">
                    <span></span>
                </td>
            </tr>
            <tr>
                <td *ngFor="let t of doubleColStage2">
                    <span></span>
                </td>
            </tr>
            <tr *ngFor="let row of babyTitleRows">
                <td colspan="2" *ngFor="let t of babyStag2TimeSlots">
                    <span></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="row fixBottom">
        <table class="table5">
            <tr>
                <td rowspan="7">
                    <b class="alignTitle"> WOMAN </b>
                </td>
            </tr>
            <tr *ngFor="let row of womanTitleRows">
                <td> {{row.name}} </td>
                <td>{{row.value }}</td>
                <td *ngFor="let t of supportiveCare">
                    <span *ngIf="t.value !== null"></span>
                </td>
            </tr>
        </table>
        <table  id="tb7"  class="table6">
            <tr *ngFor="let row of womanTitleRows">
                <td *ngFor="let t of babyStag2TimeSlots">
                    <span></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="row fixBottom">
        <table class="table7">
            <tr>
                <td rowspan="3">
                </td>
            </tr>
            <tr *ngFor="let row of labourFirstRows">
                <td colspan="2">{{row.name}} </td>
                <td colspan="2">{{row.value }}</td>
                <td *ngFor="let t of this.doubleColStage1">
                    <div *ngIf="t.value !== null"></div>
                </td>
            </tr>
        </table>
        <table  id="tb8" class="table8">
            <tr *ngFor="let row of labourFirstRows">
                <td *ngFor="let t of doubleColStage2">
                    <span></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="row fixBottom">
        <table class="table9">
            <tr>
                <td rowspan="8">
                    <b class="alignTitle"> LABOUR PROGRESS </b>
                </td>
                <td rowspan="7">Cervix <br>[Plot X]</td>
                <td style="width: 16px;"></td>
            </tr>
            <tr *ngFor="let row of labourSecondRows">
                <td>{{row.name}} </td>
                <td [class.filled]="row.value  === null">{{row.value }}</td>
                <td *ngFor="let t of supportiveCare">
                    <span *ngIf="t.value !== null"></span>
                </td>
            </tr>
        </table>
        <table id="tb10" class="table10">
            <tr>
                <td *ngFor="let t of doubleColStage2">
                    <span></span>
                </td>
            </tr>
        </table> <br>
        <div style="max-width: 95%;">
            <h5 class="note">
                In active first stage, plot ‘X’ to <br>record cervical dilatation. Alert<br>triggered when lag time
                for<br>
                current cervical dilatation is<br>exceeded with no progress. In<br>second stage, insert ‘P’ to
                indicate<br>
                when pushing begins.
            </h5>
        </div>
    </div>
    <div class="row fixBottom">
        <table class="table11">
            <tr>
                <td rowspan="8">
                </td>
                <td rowspan="7">
                    Descent <br> [Plot X]
                </td>
                <td style="width: 16px;"></td>
            </tr>
            <tr *ngFor="let row of labourThirdRows">
                <td>{{row.name}} </td>
                <td [class.filled]="row.value  === null">{{row.value }}</td>
                <td *ngFor="let t of supportiveCare">
                    <span *ngIf="t.value !== null"></span>
                </td>
            </tr>
        </table>
        <table  id="tb12" class="table12">
            <tr *ngFor="let row of labourThirdRows">
                <td *ngFor="let t of babyStag2TimeSlots">
                    <span></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="row fixBottom">
        <table class="table13">
            <tr>
                <td rowspan="4">
                    <b class="alignTitle"> MEDICATION </b>
                </td>
            </tr>
            <tr *ngFor="let row of medicationRows">
                <td colspan="2">{{row.name}} </td>
                <td *ngFor="let t of supportiveCare">
                    <span *ngIf="t.value !== null"></span>
                </td>
            </tr>
        </table>
        <table id="tb14" class="table14">
            <tr *ngFor="let row of medicationRows">
                <td *ngFor="let t of babyStag2TimeSlots">
                    <span></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="row">
        <table class="table15">
            <tr>
                <td rowspan="8">
                    <b class="alignTitle" style="color: transparent" > SHARED DECISION-MAKING</b>
                </td>
            </tr>
            <tr>
                <td colspan="2">ASSESSMENT</td>
                <td *ngFor="let t of supportiveCare">
                    <div class="alignTitle noteSize">
                        >hhhhhhhhhhhhh jjjjjjj hhhh jikkhhh hjjhjh nbnnv cfdfd hhhh</div>
                </td>
            </tr>
        </table>
        <table class="table16">
            <tr>
                <td rowspan="3" *ngFor="let t of stag2TimeSlots">
                    <span class="alignTitle noteSize">Normal Progress</span>
                </td>
            </tr>
        </table>
    </div>
    <b class="alignTitle sharedTitle"> SHARED DECISION-MAKING</b>
    <div style="margin-top: -70px;" class="row fixBottom">
        <table class="table17">
            <tr>
                <td rowspan="3">
                    <b style="color: transparent" class="alignTitle"> SHARED DECISION-MAKING</b>
                </td>
            </tr>
            <tr>
                <td colspan="2" rowspan="2">PLAN</td>
                <td *ngFor="let t of supportiveCare">
                    <span class="alignTitle breakWord"></span>
                </td>
            </tr>
            <tr>
                <td *ngFor="let t of supportiveCare">
                    <button (click)="submit()" class="btn-primary shadow-none"><i class="fa fa-plus"></i>
                    </button>
                </td>
            </tr>
        </table>
        <table class="table18">
            <tr>
                <td rowspan="3" *ngFor="let t of stag2TimeSlots">
                    <span class="alignTitle noteSize"> Continue Monitoring nbnbn hgfhgf ghjghjg khkjhjkhj jhj</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="row fixBottom">
        <table class="table19">
            <tr>
                <td rowspan="2">
                </td>
            </tr>
            <tr>
                <td colspan="2">INITIALS</td>
                <td *ngFor="let t of supportiveCare">
                    <span> GP</span>
                </td>
            </tr>
        </table>
        <table class="table20">
            <tr>
                <td *ngFor="let t of stag2TimeSlots">
                    <span> CL</span>
                </td>
            </tr>
        </table>
    </div>
    <div class="align-text">
        <b>INSTRUCTIONS: CIRCLE ANY OBSERVATION MEETING THE CRITERIA IN THE ‘ALERT’ COLUMN, ALERT THE SENIOR MIDWIFE OR
            DOCTOR AND RECORD THE
            ASSESSMENT AND ACTION TAKEN.IF LABOUR EXTENDS BEYOND 12H,<br> PLEASE CONTINUE ON A NEW LABOUR CARE
            GUIDE.</b> <br>
        Abbreviations: <b>Y</b> – Yes, <b>N</b> – No, <b>D</b> – Declined, <b>U</b> – Unknown, <b>SP</b> – Supine,<b> MO</b> – Mobile,
         <b>E</b> – Early,<b>L</b> – Late, <b>V</b> –Variable, <b>I</b> – Intact,<b>C</b> – Clear, <b>M</b> – Meconium, <b>B</b> – Blood,
        <b>A</b> – Anterior, <b>P</b> – Posterior, <b>T</b> – Transverse, <b>P+ </b>– Protein, <b>A+</b> – Acetone
    </div> <br>
</div>

<ng-template #no_value>
    <i style="color: gray;" class='fas fa-ellipsis-v'> </i>
</ng-template>