<div class="intel-con-modal">
  <div class="close-btn-con">
    <button class="modal-close-btn" (click)="close(false)"><img src="assets/svgs/CloseX.svg" alt="" data-test-id="btnCloseNoInternet"></button>
  </div>
  <div class="modal-con mt-4">
    <img src="assets/svgs/warning-circle.svg" alt="" width="80px" height="80px">
    <h6 class="mt-3">{{'No internet connection'| translate}}</h6>
    <p class="mt-2 text-center">{{'Please make sure you have good internet connection and try again'|translate}}</p>
  </div>
  <div class="modal-action-btn-con">
    <button class="modal-btn blue-btn" type="button" (click)="close(true)" data-test-id="btnSubmitNoInternet">{{'Try again'|translate}}</button>
  </div>
</div>
