<div class="check-up-reason-main">
  <div class="check-up-reason-header w-100">
    <div class="check-up-reason-header-content w-100">
      <img
        [src]="
          pastVisit
            ? 'assets/svgs/check-up-reason-blue.svg'
            : 'assets/svgs/check-up-reason.svg'
        "
      />
      <div class="check-up-reason-img-title">Check-up reason</div>
      <div
        *ngIf="!pastVisit"
        data-toggle="collapse"
        data-target="#check-up-reason"
        class="click"
      >
        <img class="arrow" src="assets/svgs/filter-table-up-arrow.svg" />
      </div>
    </div>
    <hr *ngIf="!pastVisit" class="hr" />
  </div>

  <div id="check-up-reason" class="check-up-reason-details collapse show">
    <div class="chief-content">
      <div class="chief-complaint-title">Chief complaint</div>
      <div class="pill-item mt-1">
        <span class="abdominal-pill">Abdominal pain</span>
        <span class="abdominal-pill ml-2">Back pain</span>
      </div>
    </div>

    <div class="abdomin-captoin mt-3 mb-3">
      <div class="abdomin-captoin-font">Abdominal pain</div>
    </div>

    <div class="ml-4">
      <ul class="d-grid p-0">
        <li class="d-flex mb-3" *ngFor="let item of checkUpReason?.data">
          <div class="first-list-label">{{ item?.label }}</div>
          <div class="second-list-label">
            {{ item?.value }}
          </div>
        </li>
      </ul>
    </div>

    <div class="patient-reports">
      <div class="associated-font mb-3">Associated symptoms</div>
      <div class="ml-5">
        <ul class="d-grid p-0">
          <li class="mb-3" *ngFor="let item of checkUpReason?.associatedData">
            <div class="first-list-label mb-2 font-bold">{{ item?.label }}</div>
            <p class="font-size-md">
              {{ item?.value }}
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
