.check-up-reason-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  position: relative;

  padding: 32px 24px;

  border-radius: 12px;
}

.check-up-reason-header {
  height: 64px;
}

.check-up-reason-header-content {
  display: flex;
  align-items: center;
  gap: 12px;

  height: 48px;
  width: 256px;
}

.check-up-reason-img-title {
  display: flex;
  align-items: center;

  height: 30px;
  width: 196px;

  color: #1b163a;

  font-weight: 700;
  font-size: 19px;
  line-height: 150%;
}

.arrow {
  position: absolute;
  top: 45px;
  right: 45px;

  padding: 8px;
}

.no-info-color {
  color: #7f7b92;
}

.check-up-reason-details {
  width: 990px;
}

.first-list {
  width: 240px;
  height: auto;
}

.second-list {
  width: 742px;
}

.margin {
  margin-bottom: 1rem;
}

.chief-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  padding: 0px;

  height: 71px;
  width: 990px;

  .chief-complaint-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
  }

  .pill-item {
    height: 32px;
  }
  .abdominal-pill {
    padding: 4px 8px;
    gap: 4px;

    height: 32px;

    color: #ffffff;

    mix-blend-mode: normal;

    background: #ea315b;
    border-radius: 4px;
  }
}

.abdomin-captoin {
  height: 27px;
  width: 990px;

  .abdomin-captoin-font {
    height: 27px;
    // width: 134px;

    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
  }
}

.associated-font {
  font-weight: 600;
  font-size: 18px;
}
