<div class="check-up-reason-main">
  <div class="check-up-reason-header w-100">
    <div class="check-up-reason-header-content w-100">
      <img
        [src]="
          pastVisit
            ? 'assets/svgs/check-up-reason-blue.svg'
            : 'assets/svgs/check-up-reason.svg'
        "
      />
      <div class="check-up-reason-img-title">Check-up reason</div>
      <div
        *ngIf="!pastVisit"
        data-toggle="collapse"
        data-target="#check-up-reason"
        class="click"
      >
        <img class="arrow" src="assets/svgs/filter-table-up-arrow.svg" />
      </div>
    </div>
    <hr *ngIf="!pastVisit" class="hr" />
  </div>

  <div id="check-up-reason" class="check-up-reason-details collapse show">
    <div class="chief-content">
      <div class="chief-complaint-title">Chief complaint</div>
      <div class="pill-item mt-1">
       <span *ngFor="let header of headers; index as i">
        <span class="abdominal-pill ml-{{i+1}}">{{header}}</span>
       </span>
      </div>
    </div>
    <br>
    <div class="ml-4">
      <ul class="d-grid p-0">
        <li class="d-flex mb-3" *ngFor="let item of complaintsData">
          <div class="first-list-label" [innerHTML]='item?.label'></div>
          <div class="second-list-label">
            {{ item?.value }}
          </div>
        </li>
      </ul>
    </div>

    <div class="patient-reports">
      <div class="associated-font mb-3">{{symptoms}}</div>
      <div class="ml-5">
        <ul class="d-grid p-0" *ngFor="let item of symptomsData">
            <div class="first-list-label mb-2 font-bold" *ngIf="item.label">{{ item.label }}</div>
            <p class="font-size-md">
              {{ item.value }}
            </p>
        </ul>
      </div>
    </div>
  </div>
</div>
