@import 'src/app/dashboard/common-table.scss';

::ng-deep .custom-menu {
  background: var(--color-white);
  border-radius: 8px !important;
  padding: 16px;
  width: 352px;
  box-shadow: 0px 4px 8px 0px rgba(127, 123, 146, 0.16);
}

.mat-expansion-panel.mat-expanded .mat-expansion-panel-header .filter-btn {
  display: flex !important;
}

.filter-btn {
  align-items: center;
  border: 1px solid rgba(127, 123, 146, 0.5);
  border-radius: 6px;
  color: #2E1E91;
  font-weight: 500;
  padding: 4px 12px;
  white-space: nowrap;
  height: 46px;
  display: none;
}

.toggle-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  gap: 16px;
}

button.mat-button {
  flex: 1;
  color: #2E1E91;
  background: white;
  border-radius: 8px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  border: 1.33px solid #EFE8FF
}
.action-buttons button.mat-button {
  flex: 1;
  color: #2E1E91;
  background: white;
  border-radius: 8px;
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 500;
  border: 1.33px solid #EFE8FF;
}
.action-buttons button.mat-button.reset-btn {
  font-size: 12px;
  font-weight: 700;
  margin: 0 0 0 20px;
  width: 96px;
}

.action-buttons button.mat-button.apply-btn {
  color: white;
  background: var(--color-darkBlue);
  font-size: 12px;
  font-weight: 700;
  width: 96px;
}

button.mat-button.active {
  background: #EFE8FF;
  color: #2E1E91;
}

button.mat-button .reset-btn {
  color: var(--color-darkBlue);
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.reset-btn {
  color: var(--color-darkBlue);
  background: #f5f5f5;
  border-radius: 8px;
}

.filter-search-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-date {
  margin-bottom: 16px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-wrapper .form-control {
  width: 100%;
  padding-right: 40px;
  border: 1px solid rgba(178, 175, 190, 0.2);
  background: transparent;
  border-radius: 8px;
  height: 48px;
  font-size: 16px;
  color: var(--color-darkestBlue);
}

.datepicker-icon {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: transparent;
  border: none;
}

.form-control:focus {
  box-shadow: none;
}

.label-text {
  font-size: 14px;
  margin-bottom: 8px;
  color: #7F7B92;
}