<div *ngIf="!filePath" class="pre-upload-image" data-test-id="preUploadContainer">
  <button 
    type="button" 
    class="btn btn-upload-image" 
    (click)="fileUpload.click()" 
    data-test-id="btnUploadImage">
    +
  </button>
  <input 
    type="file" 
    class="file-upload" 
    (change)="onFileSelected($event)" 
    #fileUpload 
    data-test-id="inputFileUpload">
  <span class="upload-msg" data-test-id="msgUpload">{{options.uploadMsg | translate}}</span>
</div>

<div *ngIf="filePath" class="post-upload-image" data-test-id="postUploadContainer">
  <div class="uploaded-image">
    <div class="image-details">
      <img 
        class="image-preview" 
        src="{{fileURL}}" 
        onerror="this.src='assets/images/no-image.jpg';"
        data-test-id="imgPreview"/>
      <div class="upload-msg">
        <span class="file-name" data-test-id="fileName">{{fileName}}</span>
        <span 
          class="text-danger upload-status" 
          *ngIf="isUploadFailed" 
          data-test-id="statusUploadFailed">
          {{'Failed' | translate}}
        </span>
      </div>
    </div>
    <div class="image-action-item">
      <button 
        type="button" 
        class="btn btn-action-item" 
        (click)="refreshUpload()" 
        *ngIf="isUploadFailed && options.operations.indexOf('refresh') !== -1"
        data-test-id="btnRefreshUpload">
        <img src="assets/svgs/refresh-red.svg"/>
      </button>
      <button 
        type="button" 
        class="btn btn-action-item" 
        (click)="downloadFile()" 
        *ngIf="options.operations.indexOf('download') !== -1"
        data-test-id="btnDownloadFile">
        <img src="assets/svgs/download.svg" />
      </button>
      <button 
        type="button" 
        class="btn btn-action-item" 
        (click)="removeFile()" 
        *ngIf="!isUploadFailed && options.operations.indexOf('remove') !== -1"
        data-test-id="btnRemoveFile">
        <img src="assets/svgs/close-gray.svg" />
      </button>
    </div>
  </div>
  <mat-progress-bar 
    *ngIf="(uploadProgress>0 && uploadProgress<100)" 
    mode="determinate" 
    value="{{uploadProgress}}"
    data-test-id="progressBarUpload">
  </mat-progress-bar>
</div>
