<div class="container">
  <div class="wrap-login100 bg-white rounded pb-5">
    <mat-panel-title>
      <h5 class="pt-3 pl-3">
        <b>{{ "Appointment Schedule" | translate }}:</b>
      </h5>
    </mat-panel-title>
    <div class="container" [formGroup]="scheduleForm">
      <mat-form-field class="mt-2 w-100" appearance="fill">
        <mat-label>
          <h5>{{ "Select Days" | translate }}</h5>
        </mat-label>
        <mat-select
          (openedChange)="daysChange()"
          formControlName="selectedDays"
          multiple
        >
          <mat-option *ngFor="let day of days" [value]="day">
            {{ day }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="container">
      <ul>
        <li *ngFor="let day of slotTimes" class="d-flex">
          <label class="col-2 p-4">{{ day.day | translate }}</label>
          <div class="col-10">
            <div class="row">
              <div class="col-6">
                <mat-form-field class="mt-2 w-100" appearance="fill">
                  <mat-label>
                    <h5>{{ "Start Time" | translate }}</h5>
                  </mat-label>
                  <mat-select [(ngModel)]="day.startTime">
                    <mat-option *ngFor="let hour of slotHours" [value]="hour">
                      {{ hour }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-6">
                <mat-form-field class="mt-2 w-100" appearance="fill">
                  <mat-label>
                    <h5>{{ "End Time" | translate }}</h5>
                  </mat-label>
                  <mat-select [(ngModel)]="day.endTime">
                    <mat-option *ngFor="let hour of slotHours" [value]="hour">
                      {{ hour }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div style="float: right">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="saveSchedule()"
        >
          {{ "Save" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
