.android-prompt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.install-bg {
  background-color: #d1484c;
}

.ios-prompt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
