.android-prompt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ios-prompt {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue-btn{
  background: var(--color-lightBlue);
  color: var(--color-white);
}