<div *ngIf="data?.mobileType === 'android'" color="primary" class="android-prompt">
  <span>Add to Home Screen</span>
  <div>
    <button mat-flat-button class="btn" (click)="installPwa()" data-test-id="btnInstall">
      Install
    </button>
    <button mat-icon-button (click)="close(false)" data-test-id="btnClose">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="data?.mobileType === 'ios'" class="ios-prompt">
  <div>To install this web app on your device tap the Menu button and then 'Add to Home screen' button</div>
  <button class="close-ios-inv" mat-button (click)="close(false)" data-test-id="btnClose"><mat-icon>close</mat-icon></button>
</div>
