.mat-elevation-z8 {
    box-shadow: none;
    width: 100%;
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    font-family: DM Sans;
  }
  
  th.mat-header-cell {
    border: none;
    font-size: 14px !important;
    font-weight: 700;
    color: var(--color-gray);
    height: 21px;
  }
  
  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border: none;
    min-width: 60px;
    padding-right: 24px;
    white-space: nowrap;
  }
  
  td.mat-cell {
    font-size: 16px;
  }
  
  tr.mat-row, tr.mat-footer-row {
    height: 75px;
    border-radius: 8px;
  }
  
  tr.mat-row:nth-child(odd){
    background: var(--color-grayShade);
  }
  
  tr.mat-row.selected {
    background: var(--color-lightGreenShade);
  }
  
  td:first-child,
  th:first-child {
    border-radius: 8px 0 0 8px;
  }
  
  // Set border-radius on the top-right and bottom-right of the last table data on the table row
  td:last-child,
  th:last-child {
    border-radius: 0 8px 8px 0;
  }
  
  .intelehealth-card {
    background: var(--color-white);
    box-shadow: 0px 4px 24px rgba(31, 28, 58, 0.08);
    border-radius: 20px;
    font-family: DM Sans;
  
    .mat-card-title {
      padding-bottom: 16px;
      border-bottom: 1px solid var(--color-lightGray);
    }
  
    .intelehealth-card-title {
      display: flex;
      flex-direction: row;
      align-items: center;
  
      h6 {
        font-size: 18px;
        font-weight: bold;
        color: var(--color-black);
      }
    }
  }

  .card-header-actions{
    .btn{
      height: 50px;
      background: var(--color-darkBlue);
      border-radius: 8px;
      font-size: 18px;
      color: var(--color-white);
      position: relative;
      min-width: 100px;
      font-weight: bold;
    }
  }

  .btn-block {
    display: none;
    height: 50px;
    background: var(--color-darkBlue);
    border-radius: 8px;
    font-size: 18px;
    color: var(--color-white);
    position: relative;
    width: 100%;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .card-header-actions {
      .btn {
        display: none;
      }
    }

    .btn-block {
      display: block;
    }

    ::ng-deep{
        .sort-btn{
            display: unset !important;
            border: 2px solid var(--color-lightGray);
            border-radius: 8px;
            padding: 0 10px;
            margin: 10px 0px;
            font-size: 16px;
            font-weight: bold;
        }

        .sort-option{
            font-family: inherit;
            min-width: 200px;
        }

        .sort-icon{
            font-size: 20px;
            font-weight: bold;
            margin: 0 !important;
            color: var(--color-darkBlue) !important;
        }
        .mat-tab-labels{
            justify-content: space-around;
        }
    }
  }

::ng-deep .patient-reg-tab-group.mat-tab-group {
    font-family: DM Sans;

    .mat-tab-header {
        border-bottom: 2px solid rgba(178, 175, 190, 0.2);
        box-shadow: 0px 4px 16px rgba(31, 28, 58, 0.04);
    }

    .mat-tab-body-wrapper {
    .mat-tab-body {
        .mat-tab-body-content {
        padding: 24px;
        }
    }
    }

    .mat-tab-header {

    .mat-tab-label-container {

        .mat-ink-bar {
        background: var(--color-lightRed);
        border-radius: 1px;
        }

        .mat-tab-label {
        min-width: fit-content;
        opacity: 1;

        .mat-tab-label-content {
            font-weight: 700;
            font-size: 16px;
            line-height: 150%;
            color: var(--color-darkestBlue);
        }
        }
    }
    }
}

::ng-deep {
    .mat-checkbox{
        label{
            margin: 0;
            .mat-checkbox-inner-container{
                height: 20px;
                width: 20px;
            }
        }
    }

    .mat-tab-body-content{
        display: none;
    }

    .sort-btn{
        display: none;
    }
} 
  