@media only screen and (max-width: 768px) {
  .form-row {
    display: block;
  }
}

.add {
  font-size: 32px;
  top: 10px;
  cursor: pointer;
  color: #3f51b5;
}

.disabled {
  color: lightgray;
  cursor: not-allowed;
}