<h4>
  <i class="fas fa-pills"></i> Nutritionist Prescription<span class="red-star"
    >*</span
  >
</h4>
<hr />
<div>
  <div *ngFor="let eMorning of earlyMorning; index as i">
    <mat-form-field class="w-100 col-7" id="medication-form">
      <input
        matInput
        placeholder="Early Morning"
        [(ngModel)]="eMorning.value"
        [ngbTypeahead]="searchEarlyMorning"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input
        matInput
        type="number"
        min="1"
        oninput="this.value = Math.abs(this.value)"
        placeholder="Quantity"
        [(ngModel)]="eMorning.qty"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input matInput placeholder="Unit" [(ngModel)]="eMorning.unit" />
    </mat-form-field>
    <mat-icon
      *ngIf="i === 0"
      (click)="add(earlyMorning, 'Early Morning')"
      [class.disabled]="invalid(eMorning)"
      class="col-1 add"
      >add_circle</mat-icon
    >
  </div>

  <div *ngFor="let bfast of breakfast; index as i">
    <mat-form-field class="w-100 col-7" id="medication-form">
      <input
        matInput
        placeholder="Breakfast"
        [(ngModel)]="bfast.value"
        [ngbTypeahead]="searchBreakfast"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input
        matInput
        type="number"
        min="1"
        oninput="this.value = Math.abs(this.value)"
        placeholder="Quantity"
        [(ngModel)]="bfast.qty"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input matInput placeholder="Unit" [(ngModel)]="bfast.unit" />
    </mat-form-field>
    <mat-icon
      *ngIf="i === 0"
      (click)="add(breakfast, 'Breakfast')"
      [class.disabled]="invalid(bfast)"
      class="col-1 add"
      >add_circle</mat-icon
    >
  </div>

  <div *ngFor="let mMorning of midMorning; index as i">
    <mat-form-field class="w-100 col-7" id="medication-form">
      <input
        matInput
        placeholder="Mid Morning"
        [(ngModel)]="mMorning.value"
        [ngbTypeahead]="searchMidMorning"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input
        matInput
        type="number"
        min="1"
        oninput="this.value = Math.abs(this.value)"
        placeholder="Quantity"
        [(ngModel)]="mMorning.qty"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input matInput placeholder="Unit" [(ngModel)]="mMorning.unit" />
    </mat-form-field>
    <mat-icon
      *ngIf="i === 0"
      (click)="add(midMorning, 'Mid Morning')"
      [class.disabled]="invalid(mMorning)"
      class="col-1 add"
      >add_circle</mat-icon
    >
  </div>

  <div *ngFor="let lnch of lunch; index as i">
    <mat-form-field class="w-100 col-7" id="medication-form">
      <input
        matInput
        placeholder="Lunch"
        [(ngModel)]="lnch.value"
        [ngbTypeahead]="searchLunch"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input
        matInput
        type="number"
        min="1"
        oninput="this.value = Math.abs(this.value)"
        placeholder="Quantity"
        [(ngModel)]="lnch.qty"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input matInput placeholder="Unit" [(ngModel)]="lnch.unit" />
    </mat-form-field>
    <mat-icon
      *ngIf="i === 0"
      (click)="add(lunch, 'Lunch')"
      [class.disabled]="invalid(lnch)"
      class="col-1 add"
      >add_circle</mat-icon
    >
  </div>

  <div *ngFor="let eSnack of eveningSnack; index as i">
    <mat-form-field class="w-100 col-7" id="medication-form">
      <input
        matInput
        placeholder="Evening Snack"
        [(ngModel)]="eSnack.value"
        [ngbTypeahead]="searchEveningSnack"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input
        matInput
        type="number"
        min="1"
        oninput="this.value = Math.abs(this.value)"
        placeholder="Quantity"
        [(ngModel)]="eSnack.qty"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input matInput placeholder="Unit" [(ngModel)]="eSnack.unit" />
    </mat-form-field>
    <mat-icon
      *ngIf="i === 0"
      (click)="add(eveningSnack, 'Evening Snack')"
      [class.disabled]="invalid(eSnack)"
      class="col-1 add"
      >add_circle</mat-icon
    >
  </div>

  <div *ngFor="let dinr of dinner; index as i">
    <mat-form-field class="w-100 col-7" id="medication-form">
      <input
        matInput
        placeholder="Dinner"
        [(ngModel)]="dinr.value"
        [ngbTypeahead]="searchDinner"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input
        matInput
        type="number"
        min="1"
        oninput="this.value = Math.abs(this.value)"
        placeholder="Quantity"
        [(ngModel)]="dinr.qty"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input matInput placeholder="Unit" [(ngModel)]="dinr.unit" />
    </mat-form-field>
    <mat-icon
      *ngIf="i === 0"
      (click)="add(dinner, 'Dinner')"
      class="col-1 add"
      [class.disabled]="invalid(dinr)"
      >add_circle</mat-icon
    >
  </div>

  <div *ngFor="let bdTime of bedTime; index as i">
    <mat-form-field class="w-100 col-7" id="medication-form">
      <input
        matInput
        placeholder="Bed Time"
        [(ngModel)]="bdTime.value"
        [ngbTypeahead]="searchBedTime"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input
        matInput
        type="number"
        min="1"
        oninput="this.value = Math.abs(this.value)"
        placeholder="Quantity"
        [(ngModel)]="bdTime.qty"
      />
    </mat-form-field>
    <mat-form-field class="w-100 col-2" id="medication-form">
      <input matInput placeholder="Unit" [(ngModel)]="bdTime.unit" />
    </mat-form-field>
    <mat-icon
      *ngIf="i === 0"
      (click)="add(bedTime, 'Bed Time')"
      [class.disabled]="invalid(bdTime)"
      class="col-1 add"
      >add_circle</mat-icon
    >
  </div>

  <button
    [disabled]="!isInvalid"
    type="reset"
    (click)="submit()"
    mat-raised-button
    color="primary"
  >
    Add Prescription
  </button>
</div>

<!-- <div>
  <form [formGroup]="medForm">
    <mat-form-field class="w-100" id="medication-form">
      <input matInput placeholder="Medication" (keydown)="add = true" [ngbTypeahead]="searchPrescription"
        formControlName="med">
    </mat-form-field>
    <div *ngIf="add">
      <div class="form-row">
        <div class="col">
          <input type="number"
          min="1"
          oninput="this.value = Math.abs(this.value)" min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$" class="form-control"
            placeholder="Strength" formControlName="dose">
        </div>
        <div class="col">
          <input type="text" class="form-control" [ngbTypeahead]="searchDose" placeholder="Units (eg: mg)"
            formControlName="unit">
        </div>
        <div class="col">
          <input type="number"
          min="1"
          oninput="this.value = Math.abs(this.value)" min="1" class="form-control" placeholder="Amount" formControlName="amount">
        </div>
        <div class="col">
          <input type="text" class="form-control" [ngbTypeahead]="searchDose" placeholder="Units (eg: Tab/Syrup/etc.)"
            formControlName="unitType">
        </div>
        <div class="col">
          <input type="text" class="form-control" [ngbTypeahead]="searchFrequency" placeholder="Frequency"
            formControlName="frequency">
        </div>
        <div class="col">
          <input type="text" class="form-control" [ngbTypeahead]="searchAdministration" placeholder="Route(optional)"
            formControlName="route">
        </div>
      </div>
      <br>
      <div>As needed</div>
      <div class="form-row">
        <div class="col">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">For</span>
            <input type="number"
            min="1"
            oninput="this.value = Math.abs(this.value)" min="1" class="form-control" placeholder="Duration" formControlName="duration">
          </div>
        </div>
        <div class="col">
          <div class="input-group-prepend">
            <input type="text" class="form-control" [ngbTypeahead]="durationUnit"
              placeholder="Units(eg: Days/Weeks/etc.)" formControlName="durationUnit">
            <span class="input-group-text" id="basic-addon1">total</span>
          </div>
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="reason(optional)" formControlName="reason">
        </div>
      </div>
      <br>
      <textarea class="form-control" placeholder="Additional instruction not covered above"
        formControlName="additional"></textarea>
      <br>
      <button type="reset" (click)="onSubmit()" mat-raised-button color="primary" [disabled]='!medForm.valid'>Add
        Meds</button>
    </div>
  </form>
</div> -->

<ng-container *ngIf="meds.length > 0">
  <br />
  <ul class="list-unstyled">
    <mat-list
      [@moveInLeft]
      *ngFor="let meds of meds; index as i"
      class="alert alert-primary"
    >
      <div class="doctor-value" style="white-space: pre-line">
        {{ meds.value }}
      </div>
      <i
        (click)="delete(i)"
        class="material-icons float-right"
        style="color: rgb(235, 30, 30); cursor: pointer"
        >delete</i
      >
    </mat-list>
  </ul>
</ng-container>
