@media only screen and (max-width: 768px) {
  .form-row {
    display: block;
  }
}

.dropdown-item {
  white-space: pre-wrap;
}

.comment  {
  font-size: 10px;
  color: red;
  font-weight: bold;
  white-space: nowrap;
}

.comment-blue  {
  font-size: 10px;
  color: darkblue;
  font-weight: bold;
  white-space: nowrap;
}

.isShow {
  width: 70px;
  font-size: 12px;
  color: rgb(0 192 255);
  text-decoration: underline;
  cursor: pointer;
}

.form-controls {
  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #2E1E91;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.tr-label {
  width: 200px;
  color: #2E1E91;
}

.in-put{
  margin-top: 8px;
}

.input-group-prepend {
  margin-top: 14px;
}