<h4>Documents  <button *ngIf="images.length > 0" class="float-right" mat-raised-button color="primary" (click)="download()"><i class="fa fa-download" aria-hidden="true"></i></button></h4>
<hr />
<div *ngIf="additionalDocumentPresent">
  <div class="row imagetiles">
    <div *ngFor="let image of images" class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding: 0px;">
      <span style="margin-left: 70px;">{{image.imageName}}</span><br>
      <a href="{{ image.image }}"
        ><img
          src="{{ image.image }}"
          [ngClass]="{ image1: images.length > 1, image2: images.length == 1 }"
          alt=""
      /></a>
    </div>
  </div>
</div>
<div *ngIf="!additionalDocumentPresent">No Documents available!</div>
