<div class="advice-main">
  <div class="advice-header w-100">
    <div class="advice-header-content w-100">
      <img [src]="iconImg" />
      <div class="advice-img-title">Advice</div>
      <div
        *ngIf="showToggle"
        data-toggle="collapse"
        data-target="#advice"
        class="click"
        (click)="isCollapsed = !isCollapsed"
      >
        <img
          class="arrow"
          [src]="
            isCollapsed
              ? 'assets/svgs/plus-icon.svg'
              : 'assets/svgs/minus-icon.svg'
          "
        />
      </div>
    </div>
  </div>

  <div id="advice" class="advice-details collapse show w-100">
    <hr class="hr" />

    <!-- ul caption -->

    <div class="d-flex justify-content-center mb-2 w-100">
      <ul class="first-list p-0 m-0">
        <li *ngFor="let advice of adviceData, index as i" class="mb-2">
          {{ advice.value}}
          <span (click)="delete(i)" class="btn-height click float-right">
            <img *ngIf="!readOnly" src="assets/svgs/delete-icon.svg" />
          </span>
        </li>
      </ul>
    </div>
    <ng-container *ngIf="!readOnly">
      <div *ngIf="showAddMore">
        <img
          class="click"
          src="assets/svgs/add-more-plus-icon.svg"
          (click)="showAddMore = !showAddMore"
        />

        <label class="ml-2 font-size-md"> Add more Advice</label>
      </div>
    </ng-container>

    <ng-container *ngIf="!showAddMore">
      <span class="text-area-label font-bold">Advice </span>
        <input *ngIf="!readOnly" class="text-area mt-2 w-100" matInput [ngbTypeahead]="search" [(ngModel)]="newAdvice">
      <!-- <textarea
        *ngIf="!readOnly"
        matInput
        class="text-area mt-2 w-100"
        name="advice"
        id=""
        [ngbTypeahead]="search" 
        [(ngModel)]="newAdvice"
        cols="8"
        rows="4"
      ></textarea> -->

      <button
        *ngIf="!readOnly"
        type="button"
        class="btn cancel-add-advice-btn font-bold mt-4"
        (click)="showAddMore = !showAddMore; newAdvice=''"
      >
        Cancel
      </button>

      <button
        *ngIf="!readOnly"
        type="button"
        (click)="submit()" 
        class="btn cancel-add-advice-btn add-advice-btn font-bold mt-4 ml-3"
      >
        Add advice
      </button>

      <div *ngIf="readOnly; &quot;ml-label&quot;">
        Let the patient know that they cannot travel for atleast 2 weeks
      </div>
    </ng-container>
  </div>
</div>
