<div class="advice-main box-shadow">
  <div class="advice-header w-100">
    <div class="advice-header-content w-100">
      <img src="assets/svgs/advice.svg" />
      <div class="advice-img-title">Advice</div>
      <div
        data-toggle="collapse"
        data-target="#advice"
        class="click"
        (click)="isCollapsed = !isCollapsed"
      >
        <img
          class="arrow"
          [src]="
            isCollapsed
              ? 'assets/svgs/plus-icon.svg'
              : 'assets/svgs/minus-icon.svg'
          "
        />
      </div>
    </div>
  </div>

  <div id="advice" class="advice-details collapse show w-100">
    <hr class="hr" />

    <!-- ul caption -->

    <div class="d-flex justify-content-center mb-2 w-100">
      <ul class="first-list p-0 m-0">
        <li *ngFor="let advice of adviceData" class="mb-2">
          {{ advice?.label }}
          <span class="btn-height click float-right">
            <img src="assets/svgs/delete-icon.svg" />
          </span>
        </li>
      </ul>
    </div>

    <div class="" *ngIf="showAddMore">
      <img
        src="assets/svgs/add-more-plus-icon.svg"
        (click)="showAddMore = !showAddMore"
      />

      <label class="ml-2 font-size-md"> Add more medicines</label>
    </div>

    <ng-container *ngIf="!showAddMore">
      <span class="text-area-label font-bold">Advice </span>

      <textarea
        class="text-area mt-2 w-100"
        name="advice"
        id=""
        cols="8"
        rows="4"
      >
        Let the patient know that they cannot travel for atleast 2 weeks
      </textarea>

      <button
        type="button"
        class="btn cancel-add-advice-btn font-bold mt-4"
        (click)="showAddMore = !showAddMore"
      >
        Cancel
      </button>

      <button
        type="button"
        class="btn cancel-add-advice-btn add-advice-btn font-bold mt-4 ml-3"
      >
        Add advice
      </button>
    </ng-container>
  </div>
</div>
