<div class="intel-con-modal">
  <div class="close-btn-con">
    <button class="modal-close-btn" (click)="close(false)">{{'Close'|translate}}<img src="assets/svgs/xx.svg" alt="" style="margin-bottom: 2px;"></button>
  </div>
  <div class="modal-con mt-4">
    <img src="assets/svgs/success-circle.svg" alt="" width="80px" height="80px">
    <h6 class="mt-3">{{'Shared prescription successfully'|translate}}</h6>
    <p class="mt-2 text-center">{{'The prescription has been succsessfully sent. View prescription or go to dashboard'|translate}}</p>
  </div>
  <div class="modal-action-btn-con">
    <button class="modal-btn white-btn mr-3" type="button" (click)="close('view')">{{'View prescription'|translate}}</button>
    <button class="modal-btn blue-btn" type="button" (click)="close('dashboard')">{{'Go to dashboard'|translate}}</button>
  </div>
</div>
