<h4>
  Update Details
  <a id="clear" style="float: right; cursor: pointer" (click)="onClose()" class="material-icons">clear</a>
</h4>
<form [formGroup]="editForm">
  <mat-form-field class="example-full-width">
    <mat-select id="gender-selecter" placeholder="Gender" formControlName="gender">
      <mat-option id="male" value="Male">Male</mat-option>
      <mat-option id="female" value="Female">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput id="phone-number" placeholder="Phone No" type="number" formControlName="phoneNumber" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput id="whatsapp-number" placeholder="WhatsApp No" formControlName="whatsapp" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput id="email-id" placeholder="Email Id" type="email" formControlName="emailId" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput id="qualification" placeholder="Qualification" formControlName="qualification" />
  </mat-form-field>
  <mat-form-field class="example-full-width" *ngIf='userDetails.roles[0].display != "Organizational: Nurse"'>
    <mat-select id="specialization" placeholder="Specialization" formControlName="specialization">
      <mat-option *ngFor="let specialization of specializations" [value]="specialization">{{ specialization }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput id="registration-number" placeholder="Registration No" formControlName="registrationNumber" />
  </mat-form-field>

  <div style="float: left" *ngIf='userDetails.roles[0].display != "Organizational: Nurse"'>
    <button id="edit-signature" *ngIf="attributes.length != '0' && data?.textOfSign?.uuid" mat-raised-button color="primary"
      (click)="editSignature()">
      Edit Signature
    </button>
  </div>

  <div style="float: right">
    <button mat-raised-button id="update-details" color="primary" type="submit" (click)="updateDetails()">
      Save
    </button>
  </div>
</form>