<h4>
  Update Details
  <a
    style="float: right; cursor: pointer"
    (click)="onClose()"
    class="material-icons"
    >clear</a
  >
</h4>
<form [formGroup]="editForm">
  <mat-form-field class="example-full-width">
    <mat-select placeholder="Gender" formControlName="gender">
      <mat-option value="Male">Male</mat-option>
      <mat-option value="Female">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Phone No"
      type="number"
      formControlName="phoneNumber"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="WhatsApp No" formControlName="whatsapp" />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Email Id"
      type="email"
      formControlName="emailId"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Qualification"
      formControlName="qualification"
    />
  </mat-form-field>
  <mat-form-field
    class="example-full-width"
    *ngIf="userDetails.roles[0].name != 'Organizational: Nurse'"
  >
    <mat-select placeholder="Specialization" formControlName="specialization">
      <mat-option
        *ngFor="let specialization of specializations"
        [value]="specialization"
        >{{ specialization }}</mat-option
      >
    </mat-select>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Registration No"
      formControlName="registrationNumber"
    />
  </mat-form-field>
  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <input
          matInput
          [ngxTimepicker]="picker1"
          placeholder="Start Time"
          [format]="12"
          formControlName="startTime"
        />
        <ngx-material-timepicker #picker1></ngx-material-timepicker>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <input
          matInput
          [ngxTimepicker]="picker2"
          placeholder="End Time"
          [format]="12"
          formControlName="endTime"
        />
        <ngx-material-timepicker #picker2></ngx-material-timepicker>
      </mat-form-field>
    </div>
  </div>
  <div
    style="float: left"
    *ngIf="userDetails.roles[0].name != 'Organizational: Nurse'"
  >
    <button
      *ngIf="attributes.length != '0' && data?.textOfSign?.uuid"
      mat-raised-button
      color="primary"
      (click)="editSignature()"
    >
      Edit Signature
    </button>
  </div>

  <div style="float: right">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="updateDetails()"
    >
      Save
    </button>
  </div>
</form>
