<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 p-1">
      <div class="chip-item chip-item-blue">
        <img class="chip-img" src="assets/svgs/video-frame.svg" alt="" />
        <div class="chip-info">
          <h6>{{appointments.length ? appointments.length : 0}}</h6>
          <span>Appointments</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-1">
      <div class="chip-item chip-item-red">
        <img class="chip-img" src="assets/svgs/red-profile.svg" alt="" />
        <div class="chip-info">
          <h6>{{priorityVisits.length ? priorityVisits.length : 0}}</h6>
          <span>Priority visits</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-1">
      <div class="chip-item chip-item-green">
        <img class="chip-img" src="assets/svgs/green-profile.svg" alt="" />
        <div class="chip-info">
          <h6>{{awaitingVisits.length ? awaitingVisits.length : 0}}</h6>
          <span>Awaiting visits</span>
        </div>
      </div>
    </div>
    <div class="col-md-3 p-1">
      <div class="chip-item chip-item-green">
        <img class="chip-img" src="assets/svgs/pen-board.svg" alt="" />
        <div class="chip-info">
          <h6>{{inProgressVisits.length ? inProgressVisits.length : 0}}</h6>
          <span>In-progress visits</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 p-0">
      <div class="text-right my-2">
        <button *ngIf="!showAll" mat-button (click)="accordion.openAll(); showAll=!showAll"><span class="text-muted">Show all</span> <mat-icon>expand_more</mat-icon> </button>
        <button *ngIf="showAll" mat-button (click)="accordion.closeAll(); showAll=!showAll"><span class="text-muted">Hide all</span> <mat-icon>expand_less</mat-icon></button>
      </div>
      <mat-accordion class="intel-accordion-con" multi>
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="intel-accordion-title">
                <img src="assets/svgs/cam-icon.svg" alt="" width="44px">
                <h6 class="mb-0 ml-2">Appointments ({{appointments.length ? appointments.length : 0}})</h6>
                <mat-icon aria-hidden="false" aria-label="help icon" matTooltip="Scheduled appointments" matTooltipPosition="right">help_outline</mat-icon>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource1">

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Patient </th>
                <td mat-cell *matCellDef="let element" [routerLink]="['/dashboard/visit-summary', element?.visitUuid]">

                  <div class="d-flex align-items-center">
                    <img src="{{ baseUrl + '/personimage/' + element.patientId }}" (error) ="onImgError($event)" alt="" width="32px" height="32px" style="border-radius: 50%;">
                    <span class="font-bold ml-2">{{element.patientName}} ({{element.patientGender}})</span>
                  </div>
                </td>
              </ng-container>

              <!-- Age Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let element" [routerLink]="['/dashboard/visit-summary', element?.visitUuid]"> {{element.patientAge}}y </td>
              </ng-container>

              <!-- Starts In Column -->
              <ng-container matColumnDef="starts_in">
                <th mat-header-cell *matHeaderCellDef> Starts in </th>
                <td mat-cell *matCellDef="let element" [routerLink]="['/dashboard/visit-summary', element?.visitUuid]"> <span [ngClass]="{ 'alert-danger': element.starts_in.includes('Due'), 'alert-success': element.starts_in.includes('hours')||element.starts_in.includes('minutes') }">{{element.starts_in}}</span></td>
              </ng-container>

              <!-- Location Column -->
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> Location </th>
                <td mat-cell *matCellDef="let element" [routerLink]="['/dashboard/visit-summary', element?.visitUuid]"> {{element?.visit_info?.location.display}} </td>
              </ng-container>

              <!-- Cheif Complaint Column -->
              <ng-container matColumnDef="cheif_complaint">
                <th mat-header-cell *matHeaderCellDef> Cheif Complaint </th>
                <td mat-cell *matCellDef="let element" [routerLink]="['/dashboard/visit-summary', element?.visitUuid]"> {{element?.visit_info?.cheif_complaint}} </td>
              </ng-container>

              <!-- Prescription Sent Column -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef="let element">
                  <div class="actions-btn-wrap d-flex align-items-center">
                    <button class="action-btn blue-btn mr-2" type="button" (click)="reschedule()">Reschedule</button>
                    <button class="action-btn pink-btn " type="button" (click)="cancel(element)">Cancel</button>
                  </div>
                </td>
              </ng-container>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" [attr.colspan]="displayedColumns1.length">
                  No any appointments scheduled.
                </td>
              </tr>

              <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1;" [class.upcoming]="row.starts_in.includes('hours')||row.starts_in.includes('minutes')"></tr>
            </table>

            <mat-paginator #appointmentPaginator hidePageSize [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="intel-accordion-title">
                <img src="assets/svgs/red-profile.svg" alt="" width="44px">
                <h6 class="mb-0 ml-2">Priority Visits ({{priorityVisits.length ? priorityVisits.length : 0}})</h6>
                <mat-icon aria-hidden="false" aria-label="help icon" matTooltip="High priority visit" matTooltipPosition="right">help_outline</mat-icon>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource2">

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Patient </th>
                <td mat-cell *matCellDef="let element">

                  <div class="d-flex align-items-center">
                    <img src="{{ baseUrl + '/personimage/' + element.patient.uuid }}" (error) ="onImgError($event)" alt="" width="32px" height="32px" style="border-radius: 50%;">
                    <span class="font-bold ml-2">{{element.patient.person.display}} ({{element.patient.person.gender}})</span>
                  </div>
                </td>
              </ng-container>

              <!-- Age Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.patient.person.age}}y </td>
              </ng-container>

              <!-- Location Column -->
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> Location </th>
                <td mat-cell *matCellDef="let element"> {{element.location.display}} </td>
              </ng-container>

              <!-- Cheif Complaint Column -->
              <ng-container matColumnDef="cheif_complaint">
                <th mat-header-cell *matHeaderCellDef> Cheif Complaint </th>
                <td mat-cell *matCellDef="let element"> {{element.cheif_complaint}} </td>
              </ng-container>

              <!-- Visit Created Column -->
              <ng-container matColumnDef="visit_created">
                <th mat-header-cell *matHeaderCellDef> Visit Created </th>
                <td mat-cell *matCellDef="let element">
                  <div class="red-pill">
                    <img src="assets/svgs/red-pad.svg" alt="">
                    <span class="ml-2">{{element.visit_created}}</span>
                  </div>
                </td>
              </ng-container>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" [attr.colspan]="displayedColumns2.length">
                  No any priority visits.
                </td>
              </tr>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns2;" [routerLink]="['/dashboard/visit-summary', row.uuid]"></tr>
            </table>

            <mat-paginator #priorityPaginator hidePageSize [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="intel-accordion-title">
                <img src="assets/svgs/green-profile.svg" alt="" width="44px">
                <h6 class="mb-0 ml-2">Awaiting Visits ({{awaitingVisits.length ? awaitingVisits.length : 0}})</h6>
                <mat-icon aria-hidden="false" aria-label="help icon" matTooltip="General Uploaded Visits" matTooltipPosition="right">help_outline</mat-icon>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource3">

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Patient </th>
                <td mat-cell *matCellDef="let element">

                  <div class="d-flex align-items-center">
                    <img src="{{ baseUrl + '/personimage/' + element.patient.uuid }}" (error) ="onImgError($event)" alt="" width="32px" height="32px" style="border-radius: 50%;">
                    <span class="font-bold ml-2">{{element.patient.person.display}} ({{element.patient.person.gender}})</span>
                  </div>
                </td>
              </ng-container>

              <!-- Age Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.patient.person.age}}y </td>
              </ng-container>

              <!-- Location Column -->
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> Location </th>
                <td mat-cell *matCellDef="let element"> {{element.location.display}} </td>
              </ng-container>

              <!-- Cheif Complaint Column -->
              <ng-container matColumnDef="cheif_complaint">
                <th mat-header-cell *matHeaderCellDef> Cheif Complaint </th>
                <td mat-cell *matCellDef="let element"> {{element.cheif_complaint}} </td>
              </ng-container>

              <!-- Visit Created Column -->
              <ng-container matColumnDef="visit_created">
                <th mat-header-cell *matHeaderCellDef> Visit Created </th>
                <td mat-cell *matCellDef="let element">
                  <div class="red-pill">
                    <img src="assets/svgs/red-pad.svg" alt="">
                    <span class="ml-2">{{element.visit_created}}</span>
                  </div>
                </td>
              </ng-container>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" [attr.colspan]="displayedColumns3.length">
                  No any awaiting visits.
                </td>
              </tr>

              <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3;"  [routerLink]="['/dashboard/visit-summary', row.uuid]"></tr>
            </table>

            <mat-paginator #awaitingPaginator hidePageSize [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="intel-accordion-title">
                <img src="assets/svgs/pen-board.svg" alt="" width="44px">
                <h6 class="mb-0 ml-2">In-progress Visits ({{inProgressVisits.length ? inProgressVisits.length : 0}})</h6>
                <mat-icon aria-hidden="false" aria-label="help icon" matTooltip="Visits going through the consultation" matTooltipPosition="right">help_outline</mat-icon>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource4">

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Patient </th>
                <td mat-cell *matCellDef="let element">

                  <div class="d-flex align-items-center">
                    <img src="{{ baseUrl + '/personimage/' + element.patient.uuid }}" (error) ="onImgError($event)" alt="" width="32px" height="32px" style="border-radius: 50%;">
                    <span class="font-bold ml-2">{{element.patient.person.display}} ({{element.patient.person.gender}})</span>
                  </div>
                </td>
              </ng-container>

              <!-- Age Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.patient.person.age}}y </td>
              </ng-container>

              <!-- Location Column -->
              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> Location </th>
                <td mat-cell *matCellDef="let element"> {{element.location.display}} </td>
              </ng-container>

              <!-- Cheif Complaint Column -->
              <ng-container matColumnDef="cheif_complaint">
                <th mat-header-cell *matHeaderCellDef> Cheif Complaint </th>
                <td mat-cell *matCellDef="let element"> {{element.cheif_complaint}} </td>
              </ng-container>

              <!-- Prescription Started Column -->
              <ng-container matColumnDef="prescription_started">
                <th mat-header-cell *matHeaderCellDef> Prescription Started </th>
                <td mat-cell *matCellDef="let element">
                  <div class="red-pill">
                    <img src="assets/svgs/red-pad.svg" alt="">
                    <span class="ml-2">{{element.prescription_started}}</span>
                  </div>
                </td>
              </ng-container>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" [attr.colspan]="displayedColumns4.length">
                  No any in-progress visits.
                </td>
              </tr>

              <tr mat-header-row *matHeaderRowDef="displayedColumns4"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns4;"  [routerLink]="['/dashboard/visit-summary', row.uuid]"></tr>
            </table>

            <mat-paginator #inprogressPaginator hidePageSize [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>

        </mat-expansion-panel>


      </mat-accordion>
    </div>
  </div>
</div>
