.chip-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 86px;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  padding: 16px;
  background: red;

  .chip-img {
    width: 44px;
  }

  .chip-info {
    font-family: 'DM Sans';
    font-style: normal;
    color: black;
    padding: 16px;
  }

  .chip-info h6 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .chip-info span {
    font-size: 16px;
    color: #2E1E91;
    font-weight: bold;
  }
}

.chip-item-blue {
  background: #EFE8FF;
}

.chip-item-green {
  background: #E6FFF3;
}

.chip-item-red {
  background: #FFE8E8;

  .chip-info span {
    color: #ED1A56;
  }
}

.chip-item-outline {
  background: #c9beff;
  // border: 3px solid #2E1E91;
}

.mat-elevation-z8 {
  box-shadow: none;
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  font-family: DM Sans;
}

// tr.mat-header-row {
//   height: 21px;
// }

th.mat-header-cell {
  border: none;
  font-size: 14px !important;
  font-weight: 700;
  color: #7F7B92;
  height: 21px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border: none;
  min-width: 60px;
  white-space: nowrap;
  padding-right: 24px;

  span.alert-danger {
    color: #FF475D;
    font-weight: bold;
    background: transparent;
    border: none;
  }

  span.alert-success {
    color: #0FD197;;
    font-weight: bold;
    background: transparent;
    border: none;
  }
}

td.mat-cell {
  font-size: 14px;
}

tr.mat-row, tr.mat-footer-row {
  height: 88px;
  border-radius: 8px;
  cursor: pointer;
}

tr.mat-row.upcoming {
  background: #E6FFF3 !important;
}

tr.mat-row:nth-child(odd){
  background: #F7F7FA;
}

td:first-child,
th:first-child {
  border-radius: 8px 0 0 8px;
}

// Set border-radius on the top-right and bottom-right of the last table data on the table row
td:last-child,
th:last-child {
  border-radius: 0 8px 8px 0;
}

.red-pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFE8E8;
  border-radius: 4px;
  height: 32px;
  color: #EA315B;
  padding: 4px 6px;
  width: fit-content;
}

.actions-btn-wrap {
  .action-btn {
    outline: none;
    border: none;
    height: 36px;
    min-width: 102px;
    padding: 6px 8px;
    background: white;
    border-radius: 4px;
    color: black;
    font-family: DM Sans;
    font-size: 16px;
  }

  .blue-btn {
    background: #EFE8FF;
    color: #2E1E91;
  }

  .pink-btn {
    background: #FFE8E8;
    color: #FF475D;
  }
}

.notes-list {
  list-style-type: none;
  margin: 0px;
  padding: 10px 0px;

  li {

  }
}

.alert-count {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.alert-count.red {
  background-image: url('../../assets/svgs/red-triangle.svg');
  background-size: 100% 100%;
  color: #FD1053;
  align-items: end;
  padding-bottom: 2px;
}

.alert-count.yellow {
  background-image: url('../../assets/svgs/yellow-circle.svg');
  background-size: 100% 100%;
  color: #FD8C3E;
}

.alert-count.green {
  background-image: url('../../assets/svgs/green-circle.svg');
  background-size: 100% 100%;
  color: #019283;
}

.intel-accordion-con .mat-expansion-panel .mat-expansion-panel-header.mat-expanded {
  .input-group {
    display: flex;
  }
}

.input-group {
  background: #FFFFFF;
  border: 1px solid rgba(127, 123, 146, 0.5);
  border-radius: 6px;
  height: 46px;
  align-items: center;
  max-width: 60vw;
  width: 300px;
  display: none;

  .input-group-text {
    background: none;
    border: none;
  }

  .form-control {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    line-height: 150%;
    padding-left: 16px;
  }

  .form-control:focus {
    box-shadow: none;
  }
}



@media (max-width: 768px) {
  .input-group {
    width: 100%;
    max-width: 100%;
    margin: 10px 0px;
  }

  .intel-accordion-con .mat-expansion-panel .mat-expansion-panel-header {
    height: fit-content;
  }

  .intel-accordion-con .mat-expansion-panel .mat-expansion-panel-header.mat-expanded {
    height: fit-content;
  }
}
