.chip-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 86px;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  padding: 16px;
  background: red;

  .chip-img {
    width: 44px;
  }

  .chip-info {
    font-family: 'DM Sans';
    font-style: normal;
    color: black;
    padding: 16px;
  }

  .chip-info h6 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 8px;
  }

  .chip-info span {
    font-size: 16px;
    color: #7F7B92;
  }
}

.chip-item-blue {
  background: #EFE8FF;
}

.chip-item-green {
  background: #E6FFF3;
}

.chip-item-red {
  background: #FFE8E8;
}

.mat-elevation-z8 {
  box-shadow: none;
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  font-family: DM Sans;
}

// tr.mat-header-row {
//   height: 21px;
// }

th.mat-header-cell {
  border: none;
  font-size: 14px !important;
  font-weight: 700;
  color: #7F7B92;
  height: 21px;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
  border: none;
  min-width: 60px;
  white-space: nowrap;
  padding-right: 24px;

  span.alert-danger {
    color: #FF475D;
    font-weight: bold;
    background: transparent;
    border: none;
  }

  span.alert-success {
    color: #0FD197;;
    font-weight: bold;
    background: transparent;
    border: none;
  }
}

td.mat-cell {
  font-size: 16px;
}

tr.mat-row, tr.mat-footer-row {
  height: 88px;
  border-radius: 8px;
  cursor: pointer;
}

tr.mat-row.upcoming {
  background: #E6FFF3 !important;
}

tr.mat-row:nth-child(odd){
  background: #F7F7FA;
}

td:first-child,
th:first-child {
  border-radius: 8px 0 0 8px;
}

// Set border-radius on the top-right and bottom-right of the last table data on the table row
td:last-child,
th:last-child {
  border-radius: 0 8px 8px 0;
}

.red-pill {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFE8E8;
  border-radius: 4px;
  height: 32px;
  color: #EA315B;
  padding: 4px 6px;
  width: fit-content;
}

.actions-btn-wrap {
  .action-btn {
    outline: none;
    border: none;
    height: 36px;
    min-width: 102px;
    padding: 6px 8px;
    background: white;
    border-radius: 4px;
    color: black;
    font-family: DM Sans;
    font-size: 16px;
  }

  .blue-btn {
    background: #EFE8FF;
    color: #2E1E91;
  }

  .pink-btn {
    background: #FFE8E8;
    color: #FF475D;
  }
}

