<div class="container-fluid" data-test-id="container-fluid">
  <div id="count-cards" class="row" data-test-id="count-cards-row">
    <div id="appointment" class="col p-1" *ngIf="pvs.appointment_button && brandName !== 'KCDO'" 
         (click)="scrollToPanel('anchor-appointment')" data-test-id="appointment-card">
      <div class="chip-item chip-item-blue" title="{{'Appointments' | translate}}" data-test-id="chip-appointments">
        <img class="chip-img" src="assets/svgs/cam-icon.svg" alt="" />
        <div class="chip-info">
          <h6 data-test-id="appointment-count">{{appointmentVisitsCount}}</h6>
          <span>{{'Appointments' | translate}}</span>
        </div>
      </div>
    </div>
    <div id="priority" class="col p-1" *ngIf="pvs.priority_visit_section" (click)="scrollToPanel('anchor-priority')" data-test-id="priority-card">
      <div class="chip-item chip-item-red" title="{{'Priority visits' | translate}}" data-test-id="chip-priority">
        <img class="chip-img" src="assets/svgs/red-profile.svg" alt="" />
        <div class="chip-info">
          <h6 data-test-id="priority-count">{{priorityVisitsCount}}</h6>
          <span>{{'Priority visits' | translate}}</span>
        </div>
      </div>
    </div>
    <div id="awaiting" class="col p-1" (click)="scrollToPanel('anchor-awaiting')" *ngIf="pvs.awaiting_visit_section" data-test-id="awaiting-card">
      <div class="chip-item chip-item-green" title="{{'Awaiting visits' | translate}}" data-test-id="chip-awaiting">
        <img class="chip-img" src="assets/svgs/green-profile.svg" alt="" />
        <div class="chip-info">
          <h6 data-test-id="awaiting-count">{{awaitingVisitsCount}}</h6>
          <span>{{'Awaiting visits' | translate}}</span>
        </div>
      </div>
    </div>
    <div id="in-progress" class="col p-1" (click)="scrollToPanel('anchor-inprogress')" *ngIf="pvs.inprogress_visit_section" data-test-id="inprogress-card">
      <div class="chip-item chip-item-green" title="{{'In-progress visits' | translate}}" data-test-id="chip-inprogress">
        <img class="chip-img" src="assets/svgs/pen-board.svg" alt="" />
        <div class="chip-info">
          <h6 data-test-id="inprogress-count">{{inprogressVisitsCount}}</h6>
          <span>{{'In-progress visits' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="col p-1" *ngIf="pvs.completed_visit_section" (click)="scrollToPanel('anchor-completed')" data-test-id="completed-card">
      <div class="chip-item chip-item-green" title="{{'Completed Visits' | translate}}" data-test-id="chip-completed">
        <img class="chip-img" src="assets/svgs/completed.svg" alt="" />
        <div class="chip-info">
          <h6 data-test-id="completed-count">{{completedVisitsCount}}</h6>
          <span>{{'Completed Visits' | translate}}</span>
        </div>
      </div>
    </div>
    <div class="col p-1" *ngIf="pvs.follow_up_visit_section" (click)="scrollToPanel('anchor-follow up')" data-test-id="followup-card">
      <div class="chip-item chip-item-blue" title="{{'Follow Up Visits' | translate}}" data-test-id="chip-followup">
        <img class="chip-img" src="assets/svgs/diagnosis.svg" alt="" />
        <div class="chip-info">
          <h6 data-test-id="followup-count">{{followUpVisitsCount}}</h6>
          <span>{{'Follow Up Visits' | translate}}</span>
        </div>
      </div>
    </div>
    <div id="todaysAppointment" class="col p-1" (click)="scrollToPanel('anchor-appointment');changeAppointmentFilter('today')" *ngIf="brandName === 'KCDO'" data-test-id="todays-appointment-card">
      <div class="chip-item chip-today-apt chip-item-blue" 
           [ngClass]="{'active-card' : currentAppointmentFilter == 'today'}" 
           title="{{'Today\'s Appointments' | translate}}" data-test-id="chip-todays-appointments">
        <div class="chip-info">
          <h6 data-test-id="todays-appointment-count">{{todayAppointmentFilterCount}}</h6>
          <span class="chip-info-apt">{{'Today\'s Appointments' | translate}}</span><br/><br/>
        </div>
      </div>
    </div>
    <div id="upcomingAppointment" class="col p-1" (click)="scrollToPanel('anchor-appointment');changeAppointmentFilter('upcoming')" *ngIf="brandName === 'KCDO'" data-test-id="upcoming-appointment-card">
      <div class="chip-item chip-upcoming-apt" 
           [ngClass]="{'active-card' : currentAppointmentFilter == 'upcoming'}" 
           title="{{'Upcoming Appointments' | translate}}" data-test-id="chip-upcoming-appointments">
        <div class="chip-info">
          <h6 data-test-id="upcoming-appointment-count">{{upcomingAppointmentVisitsCount}}</h6>
          <span class="chip-info-apt">{{'Upcoming Appointments' | translate}}</span><br/>
          <small>(Case Summary Completed)</small>
        </div>
      </div>
    </div>
    <div id="pendingVisits" class="col p-1" (click)="scrollToPanel('anchor-appointment');changeAppointmentFilter('pending')" *ngIf="brandName === 'KCDO'" data-test-id="pending-visits-card">
      <div class="chip-item chip-pending-apt" 
           [ngClass]="{'active-card' : currentAppointmentFilter == 'pending'}" 
           title="{{'Pending Visits' | translate}}" data-test-id="chip-pending-visits">
        <div class="chip-info">
          <h6 data-test-id="pending-appointment-count">{{pendingAppointmentVisitsCount}}</h6>
          <span class="chip-info-apt">{{'Pending Visits' | translate}}</span><br/><br/>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-3" data-test-id="bottom-row">
    <div class="col-md-12 p-0">
      <div class="text-right my-2" data-test-id="show-hide-buttons">
        <button *ngIf="!showAll" mat-button (click)="accordion.openAll(); showAll=!showAll" data-test-id="btnShowAllDashboard">
          <span class="text-muted">{{'Show all' | translate}}</span> <mat-icon>expand_more</mat-icon> 
        </button>
        <button *ngIf="showAll" mat-button (click)="accordion.closeAll(); showAll=!showAll" data-test-id="btnHideAllDashboard">
          <span class="text-muted">{{'Hide all' | translate}}</span> <mat-icon>expand_less</mat-icon>
        </button>
      </div>
      <mat-accordion class="intel-accordion-con" multi data-test-id="matAccDashboard">

        <lib-table-grid [pluginConfigObs]="pluginConfigObsAppointment" (visitsCountDate)="onVisitsCountDate($event)" *ngIf="pvs.appointment_button" data-test-id="matExpAppointment"></lib-table-grid>
        <lib-table-grid id="matExpPriority" [pluginConfigObs]="pluginConfigObsPriority" (visitsCountDate)="onVisitsCountDate($event)" *ngIf="pvs.priority_visit_section" data-test-id="matExpPriority"></lib-table-grid>
        <lib-table-grid id="matExpAwaiting" [pluginConfigObs]="pluginConfigObsAwaiting" (visitsCountDate)="onVisitsCountDate($event)" *ngIf="pvs.awaiting_visit_section" data-test-id="matExpAwaiting"></lib-table-grid>
        <lib-table-grid id="matExpInprogress" [pluginConfigObs]="pluginConfigObsInProgress" (visitsCountDate)="onVisitsCountDate($event)" *ngIf="pvs.inprogress_visit_section" data-test-id="matExpInprogress"></lib-table-grid>
        <lib-table-grid id="matExpCompleted" [pluginConfigObs]="pluginConfigObsCompleted" (visitsCountDate)="onVisitsCountDate($event)" *ngIf="pvs.completed_visit_section" data-test-id="matExpCompleted"></lib-table-grid>
        <lib-table-grid id="matExpfollowUp" [pluginConfigObs]="pluginConfigObsFollowUp" (visitsCountDate)="onVisitsCountDate($event)" *ngIf="pvs.follow_up_visit_section" data-test-id="matExpfollowUp"></lib-table-grid>

      </mat-accordion>
    </div>
  </div>
</div>
