<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 p-1">
      <div class="chip-item chip-item-red">
        <img class="chip-img" src="assets/svgs/priority-square.svg" alt="" />
        <div class="chip-info">
          <h6>{{priorityVisitsCount}}</h6>
          <span>Priority cases</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-1">
      <div class="chip-item chip-item-blue">
        <img class="chip-img" src="assets/svgs/prescription-square.svg" alt="" />
        <div class="chip-info">
          <h6>{{inprogressVisitsCount}}</h6>
          <span>In-progress cases</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-1">
      <div class="chip-item chip-item-outline">
        <img class="chip-img" src="assets/svgs/prescription-completed-square.svg" alt="" />
        <div class="chip-info">
          <h6>{{completedVisitsCount}}</h6>
          <span>Completed cases</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12 p-0">
      <div class="text-right my-2">
        <button *ngIf="!showAll" mat-button (click)="accordion.openAll(); showAll=!showAll"><span class="text-muted">Show all</span> <mat-icon>expand_more</mat-icon> </button>
        <button *ngIf="showAll" mat-button (click)="accordion.closeAll(); showAll=!showAll"><span class="text-muted">Hide all</span> <mat-icon>expand_less</mat-icon></button>
      </div>
      <mat-accordion class="intel-accordion-con" multi>
        <mat-expansion-panel [expanded]="true" id="priority-cases">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="intel-accordion-title">
                <img src="assets/svgs/priority-square.svg" alt="" width="44px">
                <h6 class="mb-0 ml-2">Priority cases ({{priorityVisitsCount ? priorityVisitsCount : 0}})</h6>
                <mat-icon aria-hidden="false" aria-label="help icon" matTooltip="In-progress high priority cases" matTooltipPosition="right">help_outline</mat-icon>
                <div class="input-group search-bar ml-auto" (click)="$event.stopPropagation();">
                  <input type="text" #prSearchInput class="form-control" placeholder="Search priority cases" aria-label="search1" aria-describedby="basic-addon1" (keyup)="applyFilter1($event)" (keydown.Space)="$event.stopPropagation()" (keydown.Enter)="$event.stopPropagation()">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1" *ngIf="!dataSource2.filter">
                      <img src="assets/svgs/search-icon.svg" alt="" width="20px" height="20px">
                    </span>
                    <button data-test-id="btnResetPrSerach" mat-icon-button aria-label="Reset priority search" *ngIf="dataSource2.filter" (click)="clearFilter('Priority')">
                      <mat-icon class="ml-0" style="line-height: normal;">close</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource2">

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Patient Name & ID </th>
                <td mat-cell *matCellDef="let element">

                  <div class="d-flex align-items-center">
                    <img src="{{ baseUrl + '/personimage/' + element.person.uuid }}" (error) ="onImgError($event)" alt="" width="32px" height="32px" style="border-radius: 50%;">
                    <div class="d-flex flex-column ml-2">
                      <span class="font-bold">{{element.patient_name.given_name}} {{element.patient_name.family_name}} ({{element.person.gender}})</span>
                      <span>{{element.patient.identifier}}</span>
                    </div>
                  </div>
                </td>
              </ng-container>

              <!-- Age Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.person.age}}y </td>
              </ng-container>

              <!-- Starts In Column -->
              <ng-container matColumnDef="in_labor_duration">
                <th mat-header-cell *matHeaderCellDef> In-labour duration </th>
                <td mat-cell *matCellDef="let element"> {{element.in_labour_duration}} </td>
              </ng-container>

              <ng-container matColumnDef="stage">
                <th mat-header-cell *matHeaderCellDef> Stage </th>
                <td mat-cell *matCellDef="let element"> Stage {{element.stage}} </td>
              </ng-container>

              <ng-container matColumnDef="no_of_alerts">
                <th mat-header-cell *matHeaderCellDef> No. of Alerts </th>
                <td mat-cell *matCellDef="let element">
                  <div class="alert-count" [ngClass]="{ 'red': element.score > 22, 'yellow': element.score >= 15 && element.score <= 22, 'green': element.score < 15 }">
                    {{ element.score }}
                  </div>
                </td>
              </ng-container>

              <!-- Cervix Plot Column -->
              <ng-container matColumnDef="cervix_plot">
                <th mat-header-cell *matHeaderCellDef> Cervix [Plot X] </th>
                <td mat-cell *matCellDef="let element"> {{element?.cervixPlotX ? element?.cervixPlotX : '-'}} </td>
              </ng-container>

              <!-- Descent Plot Column -->
              <ng-container matColumnDef="descent_plot">
                <th mat-header-cell *matHeaderCellDef> Descent [Plot O] </th>
                <td mat-cell *matCellDef="let element"> {{element?.descentPlotO ? element?.descentPlotO : '-'}} </td>
              </ng-container>

              <ng-container matColumnDef="alarming_readings">
                <th mat-header-cell *matHeaderCellDef> Alarming readings </th>
                <td mat-cell *matCellDef="let element">
                  <ul class="notes-list">
                    <li *ngFor="let n of element?.notes;">{{n.key}} ({{n.value}})</li>
                  </ul>
                </td>
              </ng-container>

              <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef> Provider </th>
                <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
              </ng-container>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" [attr.colspan]="displayedColumns2.length">
                  No any priority cases.
                </td>
              </tr>

              <tr mat-header-row *matHeaderRowDef="displayedColumns2" class="header-row"></tr>
              <tr mat-row *matRowDef="let row; let i=index; columns: displayedColumns2;" [routerLink]="['/dashboard/elcg', row.uuid]" [class.table-record]="i==0" [class.unseen]="!row.seen"></tr>
            </table>

            <mat-paginator #tempPaginator1 hidePageSize [pageSizeOptions]="[5, 10, 20]" hidden aria-label="Select page of periodic elements"></mat-paginator>
            <mat-paginator #priorityPaginator hidePageSize [pageSizeOptions]="[5, 10, 20]"
            [length]="priorityVisitsCount" [pageIndex]="pageIndex1" [pageSize]="pageSize1" (page)="pageEvent1 = getPriorityData($event)"
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="true" id="normal-cases">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="intel-accordion-title">
                <img src="assets/svgs/prescription-square.svg" alt="" width="44px">
                <h6 class="mb-0 ml-2">In-progress cases ({{inprogressVisitsCount ? inprogressVisitsCount : 0}})</h6>
                <mat-icon aria-hidden="false" aria-label="help icon" matTooltip="In-progress normal cases" matTooltipPosition="right">help_outline</mat-icon>
                <div class="input-group search-bar ml-auto" (click)="$event.stopPropagation();">
                  <input type="text" #ipSearchInput class="form-control" placeholder="Search in-progress cases" aria-label="Username" aria-describedby="basic-addon1" (keyup)="applyFilter2($event)" (keydown.Space)="$event.stopPropagation()" (keydown.Enter)="$event.stopPropagation()">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1" *ngIf="!dataSource1.filter">
                      <img src="assets/svgs/search-icon.svg" alt="" width="20px" height="20px">
                    </span>
                    <button data-test-id="btnResetIpSerach" mat-icon-button aria-label="Reset awaiting search" *ngIf="dataSource1.filter" (click)="clearFilter('In-progress')">
                      <mat-icon class="ml-0" style="line-height: normal;">close</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource1">

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Patient Name & ID </th>
                <td mat-cell *matCellDef="let element">

                  <div class="d-flex align-items-center">
                    <img src="{{ baseUrl + '/personimage/' + element.person.uuid }}" (error) ="onImgError($event)" alt="" width="32px" height="32px" style="border-radius: 50%;">
                    <div class="d-flex flex-column ml-2">
                      <span class="font-bold">{{element.patient_name.given_name}} {{element.patient_name.family_name}} ({{element.person.gender}})</span>
                      <span>{{element.patient.identifier}}</span>
                    </div>
                  </div>
                </td>
              </ng-container>

              <!-- Age Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.person.age}}y </td>
              </ng-container>

              <!-- Starts In Column -->
              <ng-container matColumnDef="in_labor_duration">
                <th mat-header-cell *matHeaderCellDef> In-labour duration </th>
                <td mat-cell *matCellDef="let element"> {{element.in_labour_duration}} </td>
              </ng-container>

              <ng-container matColumnDef="stage">
                <th mat-header-cell *matHeaderCellDef> Stage </th>
                <td mat-cell *matCellDef="let element"> Stage {{element.stage}} </td>
              </ng-container>

              <ng-container matColumnDef="no_of_alerts">
                <th mat-header-cell *matHeaderCellDef> No. of Alerts </th>
                <td mat-cell *matCellDef="let element">
                  <div class="alert-count" [ngClass]="{ 'red': element.score > 22, 'yellow': element.score >= 15 && element.score <= 22, 'green': element.score < 15 }">
                    {{ element.score }}
                  </div>
                </td>
              </ng-container>

              <!-- Cervix Plot Column -->
              <ng-container matColumnDef="cervix_plot">
                <th mat-header-cell *matHeaderCellDef> Cervix [Plot X] </th>
                <td mat-cell *matCellDef="let element"> {{element?.cervixPlotX ? element?.cervixPlotX : '-'}} </td>
              </ng-container>

              <!-- Descent Plot Column -->
              <ng-container matColumnDef="descent_plot">
                <th mat-header-cell *matHeaderCellDef> Descent [Plot O] </th>
                <td mat-cell *matCellDef="let element"> {{element?.descentPlotO ? element?.descentPlotO : '-'}} </td>
              </ng-container>

              <ng-container matColumnDef="alarming_readings">
                <th mat-header-cell *matHeaderCellDef> Alarming readings </th>
                <td mat-cell *matCellDef="let element">
                  <ul class="notes-list">
                    <li *ngFor="let n of element?.notes;">{{n.key}} ({{n.value}})</li>
                  </ul>
                </td>
              </ng-container>

              <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef> Provider </th>
                <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
              </ng-container>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" [attr.colspan]="displayedColumns1.length">
                  No any normal cases.
                </td>
              </tr>

              <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
              <tr mat-row *matRowDef="let row; let i=index; columns: displayedColumns1;" [routerLink]="['/dashboard/elcg', row.uuid]" [class.table-row]="i==0" [class.unseen]="!row.seen"></tr>
            </table>

            <mat-paginator #tempPaginator2 hidePageSize [pageSizeOptions]="[5, 10, 20]" hidden aria-label="Select page of periodic elements"></mat-paginator>
            <mat-paginator #normalPaginator hidePageSize [pageSizeOptions]="[5, 10, 20]"
            [length]="inprogressVisitsCount" [pageIndex]="pageIndex2" [pageSize]="pageSize2" (page)="pageEvent2 = getInprogressData($event)"
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="false" id="completed-cases">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <div class="intel-accordion-title">
                <img src="assets/svgs/prescription-completed-square.svg" alt="" width="44px">
                <h6 class="mb-0 ml-2">Completed cases ({{completedVisitsCount ? completedVisitsCount : 0}})</h6>
                <mat-icon aria-hidden="false" aria-label="help icon" matTooltip="Completed cases" matTooltipPosition="right">help_outline</mat-icon>
                <div class="input-group search-bar ml-auto" (click)="$event.stopPropagation();">
                  <input type="text" #coSearchInput class="form-control" placeholder="Search completed cases" aria-label="Username" aria-describedby="basic-addon1" (keyup)="applyFilter3($event)" (keydown.Space)="$event.stopPropagation()" (keydown.Enter)="$event.stopPropagation()">
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1" *ngIf="!dataSource3.filter">
                      <img src="assets/svgs/search-icon.svg" alt="" width="20px" height="20px">
                    </span>
                    <button data-test-id="btnResetAwSerach" mat-icon-button aria-label="Reset awaiting search" *ngIf="dataSource3.filter" (click)="clearFilter('Completed')">
                      <mat-icon class="ml-0" style="line-height: normal;">close</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource3">

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Patient Name & ID </th>
                <td mat-cell *matCellDef="let element">

                  <div class="d-flex align-items-center">
                    <img src="{{ baseUrl + '/personimage/' + element.person.uuid }}" (error) ="onImgError($event)" alt="" width="32px" height="32px" style="border-radius: 50%;">
                    <div class="d-flex flex-column ml-2">
                      <span class="font-bold">{{element.patient_name.given_name}} {{element.patient_name.family_name}} ({{element.person.gender}})</span>
                      <span>{{element.patient.identifier}}</span>
                    </div>
                  </div>
                </td>
              </ng-container>

              <!-- Age Column -->
              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.person.age}}y </td>
              </ng-container>

              <ng-container matColumnDef="date_of_birth">
                <th mat-header-cell *matHeaderCellDef> Date & Time of Birth </th>
                <td mat-cell *matCellDef="let element"> {{element.dateTimeOfBirth ? (element.dateTimeOfBirth|date:'dd MMM, YYYY hh:mm a'): '-'}} </td>
              </ng-container>

              <ng-container matColumnDef="stage">
                <th mat-header-cell *matHeaderCellDef> Stage </th>
                <td mat-cell *matCellDef="let element"> Stage {{element.stage}} </td>
              </ng-container>

              <ng-container matColumnDef="no_of_alerts">
                <th mat-header-cell *matHeaderCellDef> No. of Alerts </th>
                <td mat-cell *matCellDef="let element">
                  <div class="alert-count" [ngClass]="{ 'red': element.score > 22, 'yellow': element.score >= 15 && element.score <= 22, 'green': element.score < 15 }">
                    {{ element.score }}
                  </div>
                </td>
              </ng-container>

              <!-- Cervix Plot Column -->
              <ng-container matColumnDef="cervix_plot">
                <th mat-header-cell *matHeaderCellDef> Cervix [Plot X] </th>
                <td mat-cell *matCellDef="let element"> {{element?.cervixPlotX ? element?.cervixPlotX : '-'}} </td>
              </ng-container>

              <!-- Descent Plot Column -->
              <ng-container matColumnDef="descent_plot">
                <th mat-header-cell *matHeaderCellDef> Descent [Plot O] </th>
                <td mat-cell *matCellDef="let element"> {{element?.descentPlotO ? element?.descentPlotO : '-'}} </td>
              </ng-container>

              <ng-container matColumnDef="alarming_readings">
                <th mat-header-cell *matHeaderCellDef> Alarming readings </th>
                <td mat-cell *matCellDef="let element">
                  <ul class="notes-list">
                    <li *ngFor="let n of element?.notes;">{{n.key}} ({{n.value}})</li>
                  </ul>
                </td>
              </ng-container>

              <ng-container matColumnDef="birth_outcome">
                <th mat-header-cell *matHeaderCellDef> Birth Outcome </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex align-items-center">
                    {{element.birthOutcome ? element.birthOutcome : '-'}}
                    <ng-container *ngIf="element.birthOutcome == 'Other'||element.birthOutcome == 'OTHER'">
                      <mat-icon class="ml-1" aria-hidden="false" aria-label="help icon" [matTooltip]="element.birthOutcomeOther" matTooltipPosition="right">info_outline</mat-icon>
                    </ng-container>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef> Reason </th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex align-items-center">
                    {{element.completeReason}}
                    <ng-container *ngIf="element.completeReason == 'Out Of Time'">
                      <mat-icon class="ml-1" aria-hidden="false" aria-label="help icon" [matTooltip]="element.outOfTimeReason" matTooltipPosition="right">info_outline</mat-icon>
                    </ng-container>
                    <ng-container *ngIf="element.completeReason == 'Other'">
                      <mat-icon class="ml-1" aria-hidden="false" aria-label="help icon" [matTooltip]="element.referTypeOtherReason" matTooltipPosition="right">info_outline</mat-icon>
                    </ng-container>
                  </div>
                </td>
              </ng-container>

              <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef> Provider </th>
                <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
              </ng-container>

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell text-center" [attr.colspan]="displayedColumns3.length">
                  No any completed cases.
                </td>
              </tr>

              <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns3;"  [routerLink]="['/dashboard/elcg', row.uuid]" [class.unseen]="!row.seen"></tr>
            </table>

            <mat-paginator #tempPaginator3 hidePageSize [pageSizeOptions]="[5, 10, 20]" hidden aria-label="Select page of periodic elements"></mat-paginator>
            <mat-paginator #completedPaginator hidePageSize [pageSizeOptions]="[5, 10, 20]"
            [length]="completedVisitsCount" [pageIndex]="pageIndex3" [pageSize]="pageSize3" (page)="pageEvent3 = getCompletedVisitsData($event)"
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
