<table id="example" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
        <th>Index</th>
        <th>Patient ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Location</th>
        <th>Last Seen</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let data of dataSource | paginate: { itemsPerPage: 5, currentPage: q, id: 'q'}; index as i">
        <td>{{((p - 1)*5) + (i + 1)}}</td>
        <td>{{data.patient.identifiers[0].identifier}}</td>
        <td><a [routerLink]="['/patientDashboard', data.patient.uuid]">{{data.patient.person.display}}</a></td>
        <td>{{data.patient.person.gender}}</td>
        <td>{{data.patient.person.age}}</td>
        <td>{{data.location.display}}</td>
        <td *ngIf="data.encounters.length > 0">{{data.encounters[0].display}}</td>
    </tr>
</tbody>
</table>
<div style="text-align:center;">
<pagination-controls (pageChange)="q = $event" id = "q"></pagination-controls>
</div>