
.header { grid-area: header; 
text-align: right;
align-self: end;
}
.loginform{
  grid-area: loginform;
  margin-bottom: 2rem;
}

.formcontainer { grid-area: formcontainer; 
  grid-template-areas:
  '. header'
  'loginform loginform'
  'footer footer' 
  ;

gap: 1.2rem;
padding: 1rem;
}
.footer { grid-area: footer; 
  display: grid;
  grid-template-areas: 
    '. terms help';
}
.terms{
    grid-area: terms;
    text-align: center;
}
.help{
    grid-area: help;
    text-align: right;
}
.imagerotate {
  grid-area: imagerotate; 

}
.grid-container {
  display: grid;
  //grid-template-columns: repeat(2, 1fr);
  grid-template-rows:1fr;
  grid-template-areas:
    'imagerotate formcontainer';
 gap: 1.2rem;
 padding: 1rem;
 width: 100vw;
 height: 100vh;
}

@media  screen and (max-width: 1024px) {
  .grid-container {
    display: grid;
   // grid-template-columns: repeat(2, 1fr);
    grid-template-rows:1fr;
    grid-template-areas:
      'imagerotate formcontainer';
   gap: 1.2rem;
   padding: 1rem;
   width: 100vw;
   height: 100vh;
  }
}












