<div class="row p-0 m-0 h-100">
  <div class="imagerotate col-6 p-0">
    <app-login-image-container></app-login-image-container>
  </div>
  <div class="formcontainer col-6 p-0">
    <div class="select">
      <ng-select
        class=""
        [items]="languageList"
        bindLabel="name"
        [clearable]="false"
        [(ngModel)]="selectedLanguage"
        [disabled]="true"
      >
      </ng-select>
    </div>
    <div class="loginform">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
