<div id="past-visits">
  <h4><i class="fas fa-clinic-medical"></i> {{ 'Current Visit'|translate}}</h4>
<hr>
<div *ngIf="visitDetail">
  <div><b>{{ 'Current Visit' |translate}} : </b>{{visitDetail.startDatetime | date: 'dd-MMM-yyyy' }} <span *ngIf="visitDetail.stopDatetime == null" class="badge badge-pill badge-success" style="vertical-align: text-bottom;">Active</span></div>
  <div><b>{{ 'CHW Name' | translate }}:</b>{{providerName}}</div>
  <div><b>{{'Clinic'| translate}}: </b>{{clinicName}}</div>
</div>
</div>