.set-calendar-container {
    display: grid;
    grid-template-areas:
      'mmdropdown work'
      ;
  }
  .mmdropdown{
    grid-area:mmdropdown;
  }
  .work{
    grid-area:work;
    background-color: var(--color-white);
    box-shadow: 0px 4px 24px rgba(31, 28, 58, 0.08);
    border-radius: 20px;
    width:52.5rem;
    height:38rem;
    display: grid;
    grid-template-areas:
    'lblsd lbled';
  }
  .lblsd{
    grid-area: lblsd;
  }
  .lbled{
    grid-area: lbled;
  }