<div class="container-fluid">
    <div class="row">
      <div class="col">
        <ngb-carousel #carousel [interval]="2000" [pauseOnHover]="true" [pauseOnFocus]="true">
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="../../../assets/images/Forgot-password/Hero1.png"
                width="100%"
                alt="Random first slide"
              />
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="../../../assets/images/Forgot-password/Hero2.png"
                width="100%"
                alt="Random second slide"
              />
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img
                src="../../../assets/images/Forgot-password/Hero3.png"
                width="100%"
                alt="Random third slide"
              />
            </div>
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="col" style="background-color: #faf9ff">
        <div class="language-div">
          <select name="language" id="language" class="language-dropdown">
            <option value="" selected="selected">English</option>
            <option value="">Marathi</option>
          </select>
        </div>
        <div>
          <form [formGroup]="ForgotPasswordForm" (ngSubmit)="onSubmit()" class="form">
            <div>
              <h3 class="forgot-password-header">Forgot Password</h3>
              <p class="forgot-password-para">
                No worries, enter your username and we will send you the OTP to reset your password.
              </p>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <label for="username" class="lbl-username">Username</label>
                </div>
                <div class="col text-right">
                  <a [routerLink]="['/forgot', 'password']" class="link-forgot-username">
                    <u>Forgot password ?</u>
                  </a>
                </div>
              </div>
              <div class="input-group">
                <input
                  type="username"
                  class="form-control"
                  id="username"
                  name="username"
                  aria-describedby="usernameHelp"
                  formControlName="username"
                />
              </div>
            </div>
            <div>
              <button
                type="submit"
                class="btn-darkblue btn-block"
                [disabled]="!ForgotPasswordForm.valid"
              >
                Next
              </button>
            </div>
          </form>
        </div>
        <div class="fixed-bottom position-absolute text-right">
          <button type="button" class="btn btn-info">Help</button>
        </div>
      </div>
    </div>
  </div>
   