@mixin font($weight,$size) {
  font-family: 'DM Sans';
  font-style: normal; 
  font-weight:$weight;
  font-size:$size;
}

@mixin color($color) {
  color:$color;
}

@mixin background($background) {
  background:$background;
}
@mixin margintop($margintop) {
  margin-top:$margintop;
}
@mixin marginleft($marginleft) {
  margin-left:$marginleft;
}
@mixin marginright($marginright) {
  margin-right:$marginright;
}

.forgot-password-header{
  @include font(700,32px);
  margin-top: 150px;
  @include color(#2E1E91);
}

.forgot-password-para{
  @include font(500,16px);
  @include color(#7F7B92);
}

.language-div{
  box-sizing: border-box;

  /* Auto layout */
  @include margintop(30px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 10px;
  gap: 4px;

  position: absolute;
  left: calc(45% - 108px/2 + 212px);

  @include background(#FAF9FF);
  
  /* Divider */
  border: 0.770833px solid rgba(178, 175, 190, 0.2);
  border-radius: 8px;
}

.div{
  @include background(#ffffff);
}

.language-dropdown{
  @include font(400,16px);
  @include color(#1B163A);
  @include background(#FAF9FF);
}

.btn-darkblue{ 
  @include margintop(30px);
  @include background(#2E1E91);
  border-radius: 12px;
  @include font(700,18px);
  @include color(#FFFFFF);
}

.link-forgot-username{
  @include font(400,14px);
  text-decoration-line: underline;
  @include color(#7F7B92);
}

.lbl-username{ 
  @include font(500,14px); 
  line-height: 150%;
  @include color(#1B163A);
}

.form{
  @include marginleft(70px);
  @include marginright(70px);
}