<div>
  <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()" class="grid-container">
    <div class="header"><h3 class="forgot-password-header">Forgot Password?</h3></div>
    <div class="para">
      <p class="forgot-password-para">
        No worries, enter your username and we will send you the OTP to reset your password.
      </p>
    </div>
    <div class="username">
      <label for="username" class="lbl lbl-username">Username</label>
      <a href="#" class="link link-forgot-username"> Forgot username ? </a>
      <input
        type="email"
        class="txt form-control"
        id="username"
        name="username"
        aria-describedby="emailHelp"
        formControlName="username"
      />
    </div>
    <div class="btnnext">
      <button
        type="submit"
        class="btn-darkblue btn-block"
        [disabled]="!forgotpasswordForm.valid"
      >
        Next
      </button>
    </div>
  </form>
</div>
