<div>
  <form
    [formGroup]="forgotpasswordForm"
    (ngSubmit)="onSubmit()"
    class="grid-container mt-4"
  >
    <div class="header">
      <div class="forgot-password-header forgot-pass-font">
        Forgot Password?
      </div>
    </div>
    <div class="para">
      <p class="forgot-password-para font-para mt-2">
        No worries, enter your username and we will send you the OTP to reset
        your password.
      </p>
    </div>
    <div class="username mt-4">
      <label for="username" class="lbl lbl-username font-para">Username</label>
      <a
        [routerLink]="['/login', 'forget-username']"
        class="link link-forgot-username font-para"
      >
        Forgot username ?
      </a>
      <input
        type="email"
        class="txt form-control"
        id="username"
        name="username"
        aria-describedby="emailHelp"
        formControlName="username"
      />
    </div>
    <div class="btnnext mt parent-right-arrow">
      <button
        type="submit"
        class="btn-darkblue btn-block"
        [disabled]="!forgotpasswordForm.valid"
      >
        Next
      </button>
      <img
        class="right-arrow"
        height="24px"
        width="20px"
        src="assets/svgs/right-arrow.svg"
      />
    </div>
    <div id="sign-in-button"></div>
  </form>
  <app-footer-terms-condition></app-footer-terms-condition>
</div>
