@import "../../../assets/scss/main";

.header { 
  grid-area: header;
  .forgot-password-header{
    @include font(700,2rem);
    margin-top: 80px;
    color: var(--color-darkBlue);
  }
}
.para { 
  grid-area: para; 
  .forgot-password-para{
    @include font(500,1rem);
    color: var(--color-gray);
}
}
.username { grid-area: username; 
   display: grid;
   grid-template-areas:
   'lbl link'
   'txt txt'
}
.btnnext { grid-area: btnnext; }

.lbl{
    grid-area: lbl;
}
.link{
    grid-area: link;
    text-align: right;
}
.txt{
    grid-area: txt;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'para para'
    'username username'
    'btnnext btnnext';
  gap: 1.2rem;
  padding: 10px;
}
