<div class="sidebar-container">
  <div class="sidebar-header">
    <span>Patients</span>
    <div class="message">(Via Comunity health workers)</div>
  </div>
  <div class="search-box">
    <!-- <form (submit)="search()"> -->
      <div class="search">
        <i class="fa fa-search" aria-hidden="true"></i>
        <input
          type="text"
          [(ngModel)]="searchValue"
          class="txt"
          [ngModelOptions]="{ standalone: true }"
          placeholder="Search or start the new chat"
        />
      </div>
    <!-- </form> -->
  </div>

  <div class="sidebar">
    <div
      class="conversation"
      *ngFor="
        let conversation of !searchValue ? conversations : filteredConversations
      "
      (click)="conversationClicked.emit(conversation)"
    >
      <div class="picture">
        <img [src]="patientPic" />
      </div>
      <div class="content">
        <div class="conversationHeader">
          <div class="name">{{ conversation.patientName }}</div>
        </div>
        <div class="message">
          {{ conversation.message }}
        </div>
      </div>
    </div>

  </div>
</div>
