<div class="license-container" *ngIf="onShowHideLicense">
  <div class="header">
      <span class="text">
        Add license key
          <img 
            mat-button mat-dialog-close 
            src="/assets/svgs/Close.svg"
            style="margin-left: 17.5rem;"
            >
      </span>
  </div>
  <div class="body">
    <div class="license-key-name">
      <label
        class="lbl lbl-username mt-4 mb-0 font-username font-weight-bold"
        >License key name</label
      >
      <input
        type="text"
        class="txt add-key"
        placeholder="Intelehealth_test2023"
      />
    </div>
    <div class="Expiry-date">
      <label
        class="lbl lbl-username mt-4 mb-0 font-username font-weight-bold"
        >Expiry date</label
      >
      <input
        type="date"
        class="txt add-key"
      />
    </div>
  </div>
  <div class="footer">
    <button mat-button mat-dialog-close class="btn cancel-btn">Cancel</button>
    <button class="btn addKey-btn" (click)="onToggle()">Add key</button>
  </div>
</div>




<div class="file-container" *ngIf="onShowHideFile">
  <img mat-button mat-dialog-close src="../../../assets/svgs/CloseX.svg">

  <div class="add-file">
    <img
        class="attach click"
        src="assets/svgs/plus.svg"
        (click)="inputField.click()"
      />
      <input #inputField hidden type="file" />
  </div>

  <div class="file-body">
    <span class="text">Upload json file</span>
    <p>
      Select a json file to upload or drag and drop the json file here    </p>
  </div>
  <div class="footer">
    <button mat-button mat-dialog-close class="btn cancel-btn">Cancel</button>
    <button class="btn addKey-btn" (click)="onToggleNext()">Select</button>
  </div>
</div>



<div class="upload-container" *ngIf="onShowHideUpload">
  <div class="header">
    <span class="text">
      Add license key
        <img 
          mat-button mat-dialog-close 
          src="/assets/svgs/Close.svg"
          style="margin-left: 17.5rem;"
          >
    </span>
  </div>
  <div class="upload-body">
    <div class="attach-file">
      <button class="attch-btn">
        <img src="../../../assets/svgs/White_plus.svg" alt="">
      </button>
      <p>Headache.json</p>
      <img src="../../../assets/svgs/x.svg" alt="">
    </div>
  </div>
  <div class="upload-footer">
    <button mat-button mat-dialog-close class="btn cancel-btn">Cancel</button>
    <button class="btn addKey-btn" >Upload</button>
  </div>
</div>
