<div>
  <h2 style="text-align:center;">Case Summary</h2>
</div>
<br>
<div class="container">
  <mat-card>
    <app-patientinfo></app-patientinfo>
  </mat-card>
  <mat-accordion class="example-headers-align" [multi]="true">
    <mat-expansion-panel [expanded]="data.visitStatus=='Active' || visits.length <= 1"
      *ngFor="let data of recent" id="flagged-table" class="mt-2">
      <mat-expansion-panel-header>
        <mat-panel-title style="margin-left: 18px;">
          <!-- <a
        [routerLink]="[
          '/visitSummary',
          data.details.patient.uuid,
          data.details.uuid
        ]"
        >{{ data.details.startDatetime | date: "dd-MMM-yyyy" }}</a
      > -->
          {{ data.details.startDatetime | date: "dd-MMM-yyyy" }}
          <span> {{ data.observation }} </span>
          <span class="badge badge-pill badge-success float-right ml-auto">{{
            data.visitStatus
            }}</span>
          <!-- <h5>ALL CASES <b>({{allVisitData.length }})</b> </h5> -->
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container>
        <app-visit-summary [visitUUID]="data.details.uuid" [visitDate]="data.details.startDatetime"></app-visit-summary>
      </ng-container>
    </mat-expansion-panel>
  </mat-accordion>
  <br>
  <mat-card>
    <app-additional-documents></app-additional-documents>
  </mat-card>
  <br>
  <div class="text-center mt-2">
    <button class="mr-1" id="sign-button" mat-raised-button color="primary" (click)=open(content,false)>PRINT &nbsp;&nbsp;<i class="fa fa-print" aria-hidden="true"></i></button> &nbsp;&nbsp; 
    <button id="download-button" mat-raised-button color="primary" (click)=open(content,true)>SHARE &nbsp;&nbsp;<i class="fa fa-share-alt" aria-hidden="true"></i>
    </button>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
      <h4 class="modal-title" 
          id="modal-basic-title">
          Select Language
      </h4>
  </div>
  <div class="modal-body">
        <mat-dialog-content [formGroup]="form">
          <mat-radio-group formControlName="status">
              <mat-radio-button value="en">English</mat-radio-button><br>
              <mat-radio-button value="hi">Hindi</mat-radio-button>
            </mat-radio-group>
      </mat-dialog-content>
  </div>
  <div class="modal-footer">
    <button  *ngIf="!isShareOption" mat-raised-button color="primary"  [disabled]="!form.valid" (click)="checkLang(patientUuid)">
      Ok
  </button>
  <div *ngIf="isShareOption">
    <a class="fab fa-whatsapp" href="{{getLink(patientUuid,'whatsapp')}}" (click)="modal.close()" target="_blank"></a>
    <a href="mailto:?subject=Vikalp Helpline - Case Detaills&body={{getLink(patientUuid,'mail')}}" (click)="modal.close()"><i class="fa1 fa fa-envelope" aria-hidden="true"></i></a>
  </div>
  <button  mat-raised-button color="primary"
      (click)="close()">
      Cancel
  </button>
  </div>
</ng-template>

