<div class="container-fluid">
  <div class="row setup-title-con">
    <div class="col-md-8 p-0 pb-2">
      <div class="title-con d-flex align-items-center">
        <img class="mr-2" src="assets/svgs/menu-calendar-circle.svg" alt="">
        <div class="d-flex flex-column">
          <h6 class="mb-0" data-test-id="labelSetupCaledar">{{'Setup your calendar'|translate}}</h6>
          <p class="mb-0">{{'Please set up your scedule for the month according to your availability'|translate}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-0 pb-2">
      <button mat-button class="view-btn" routerLink="/calendar/view-calendar" data-test-id="btnViewCal">{{'View calendar'|translate}}</button>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-3 p-1">
      <div class="month-con">
        <div class="month-title">
          <h6 class="mb-0">{{'Month'|translate}}</h6>
        </div>
        <ul class="month-list">
          <ng-container *ngFor="let m of scheduledMonths; let i=index;">
            <li class="list-item" [attr.data-test-id]="'month'+ i" [class.selected]="selectedMonth && selectedMonth.name == m.name" (click)="selectMonth(m.name, m.year)">
              <span [attr.data-test-id]="'labelMonth'+i">{{(m.name)| translate}}</span>
              <mat-icon>keyboard_arrow_right</mat-icon>
            </li>
          </ng-container>
          <li class="add-more-list-item">
            <a href="javascript:void(0)" (click)="addMonth()" data-test-id="linkAddMonths">
              <img class="mr-2" src="assets/svgs/add-more-plus-icon-green.svg" alt="">
              {{'Add more months'|translate}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-9 p-1">
      <form [formGroup]="addSlotsForm">
        <div class="card intel-card">
          <div class="month-title2">
            <h6 class="mb-0" data-test-id="labelSelectedMonth">{{(selectedMonth?.name) |translate}} {{selectedMonth?.year}}</h6>
          </div>
          <div class="card-header">
            <h6 class="mb-0 color-blue">{{'Working days'|translate}}</h6>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label data-test-id="startDate">{{'Start date'|translate}}</label>
                <div class="input-group" [class.invalid-input]="submitted && f.startDate.errors">
                  <input type="text" class="form-control" formControlName="startDate" [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" placeholder="{{'Select start date'|translate}}" aria-label="Start date"
                    aria-describedby="basic-addon1" readonly data-test-id="etSelStartDate">
                  <mat-datepicker #picker1></mat-datepicker>
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon1" data-test-id="dpicSelStartDate">
                      <mat-datepicker-toggle matSuffix [for]="picker1">
                        <img matDatepickerToggleIcon src="assets/svgs/calendar-date.svg" alt="">
                      </mat-datepicker-toggle>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label data-test-id="endDate">{{'End date'|translate}}</label>
                <div class="input-group" [class.invalid-input]="submitted && f.endDate.errors">
                  <input type="text" class="form-control" formControlName="endDate" [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" placeholder="{{'Select end date'|translate}}" aria-label="End date"
                    aria-describedby="basic-addon2" readonly data-test-id="etSelEndDate">
                  <mat-datepicker #picker2></mat-datepicker>
                  <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2" data-test-id="dpicSelEndDate">
                      <mat-datepicker-toggle matSuffix [for]="picker2">
                        <img matDatepickerToggleIcon src="assets/svgs/calendar-date.svg" alt="">
                      </mat-datepicker-toggle>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table" formArrayName="timings">
                <thead>
                  <tr>
                    <th scope="col" data-test-id="colStartTime">{{'Start time'|translate}}</th>
                    <th scope="col" data-test-id="colEndTime">{{'End time'|translate}}</th>
                    <th scope="col" data-test-id="colDays">{{'Days'|translate}}</th>
                    <th scope="col" data-test-id="colAction"></th>
                  </tr>
                </thead>
                <tbody>
                  <ng-container *ngFor="let t of ft.controls; let i=index; let last=last;">
                    <ng-container [formGroupName]="i">
                      <!-- <tr *ngIf="!last">
                        <td>
                          {{t.value.startTime}} {{t.value.startMeridiem}}
                        </td>
                        <td>
                          {{t.value.endTime}} {{t.value.endMeridiem}}
                        </td>
                        <td>
                          {{t.value.days}}
                        </td>
                        <td>
                          <button mat-button type="button" class="delete-btn float-right" (click)="deleteSlot(i)">
                            <img src="assets/svgs/delete-icon.svg" alt="">
                            Delete
                          </button>
                        </td>
                      </tr> -->
                      <tr *ngIf="!last">
                        <td>
                          <div class="d-flex">
                            <ng-select formControlName="startTime" class="customSelect2 mr-2" [items]="timeList"
                              appendTo=".intel-card"
                              bindLabel="name"
                              bindValue="name"
                              [placeholder]="timeList[0].name"
                              [clearable]="false"
                              [searchable]="false">
                            </ng-select>
                            <ng-select formControlName="startMeridiem" class="customSelect2" [items]="clockTimeAmPM"
                              appendTo=".intel-card"
                              bindLabel="name"
                              bindValue="name"
                              [placeholder]="(clockTimeAmPM[0].name)|translate"
                              [clearable]="false"
                              [searchable]="false">
                            </ng-select>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex">
                            <ng-select formControlName="endTime" class="customSelect2 mr-2" [items]="timeList"
                              appendTo=".intel-card"
                              bindLabel="name"
                              bindValue="name"
                              [placeholder]="timeList[0].name"
                              [clearable]="false"
                              [searchable]="false">
                            </ng-select>
                            <ng-select formControlName="endMeridiem" class="customSelect2" [items]="clockTimeAmPM"
                              appendTo=".intel-card"
                              bindLabel="name"
                              bindValue="name"
                              [placeholder]="(clockTimeAmPM[0].name)|translate"
                              [clearable]="false"
                              [searchable]="false">
                            </ng-select>
                          </div>
                        </td>
                        <td>
                          <ng-select class="customSelect1" [items]="filteredDays"
                            formControlName="days"
                            appendTo=".intel-card"
                            bindLabel="shortName"
                            bindValue="shortName"
                            [placeholder]="(filteredDays[0]?.shortName)|translate"
                            multiple="true"
                            [closeOnSelect]="false"
                            [clearable]="false"
                            [searchable]="false">
                            <ng-template ng-label-tmp let-item="item">
                              {{(item.shortName)|translate}},
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                              <div class="pretty p-image p-plain">
                                <input type="checkbox" [checked]="item$.selected"/>
                                <div class="state">
                                    <img class="image" src="assets/svgs/checkbox-tick.png">
                                    <label>{{(item.name) | translate}}</label>
                                </div>
                              </div>
                            </ng-template>
                          </ng-select>
                        </td>
                        <td>
                          <button mat-button type="button" class="delete-btn" (click)="deleteSlot(i)" [attr.data-test-id]="'btnDeleteSlot'+i">
                            <img src="assets/svgs/delete-icon.svg" alt="">
                            {{'Delete'|translate}}
                          </button>
                        </td>
                      </tr>

                      <tr *ngIf="!_addMoreTiming && last">
                        <td colspan="4">
                          <a href="javascript:void(0)" class="add-more-btn" [class.disbled]="filteredDays.length == 0" (click)="toggleAddMoreTiming()" data-test-id="linkAddMoreTiming">
                            <img class="mr-2" src="assets/svgs/add-more-plus-icon-green.svg" alt="">
                           {{'Add more timings'|translate}}
                          </a>
                        </td>
                      </tr>
                      <tr *ngIf="_addMoreTiming && last">
                        <td>
                          <div class="d-flex">
                            <ng-select [class.invalid-input]="submitted && t.controls.startTime.errors" formControlName="startTime" class="customSelect2 mr-2" [items]="timeList"
                              appendTo=".intel-card"
                              bindLabel="name"
                              bindValue="name"
                              [placeholder]="timeList[0].name"
                              [clearable]="false"
                              [searchable]="false"
                              data-test-id="selStartTime">
                              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <span [attr.data-test-id]="'startTimeOption'+index">
                                  {{item.name}}
                                </span>
                              </ng-template>
                            </ng-select>
                            <ng-select [class.invalid-input]="submitted && t.controls.startMeridiem.errors" formControlName="startMeridiem" class="customSelect2" [items]="clockTimeAmPM"
                              appendTo=".intel-card"
                              bindLabel="name"
                              bindValue="name"
                              [placeholder]="(clockTimeAmPM[0].name)|translate"
                              [clearable]="false"
                              [searchable]="false"
                              data-test-id="selStartAm&Pm">
                              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <span [attr.data-test-id]="'startAmPm'+index">
                                  {{item.name}}
                                </span>
                              </ng-template>
                            </ng-select>
                          </div>
                        </td>
                        <td>
                          <div class="d-flex">
                            <ng-select [class.invalid-input]="submitted && t.controls.endTime.errors" formControlName="endTime" class="customSelect2 mr-2" [items]="timeList"
                              appendTo=".intel-card"
                              bindLabel="name"
                              bindValue="name"
                              [placeholder]="timeList[0].name"
                              [clearable]="false"
                              [searchable]="false"
                              data-test-id="selEndTime">
                              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <span [attr.data-test-id]="'endTimeOption'+index">
                                  {{item.name}}
                                </span>
                              </ng-template>
                            </ng-select>
                            <ng-select [class.invalid-input]="submitted && t.controls.endMeridiem.errors" formControlName="endMeridiem" class="customSelect2" [items]="clockTimeAmPM"
                              appendTo=".intel-card"
                              bindLabel="name"
                              bindValue="name"
                              [placeholder]="(clockTimeAmPM[0].name)|translate"
                              [clearable]="false"
                              [searchable]="false"
                              data-test-id="selEndAm&Pm">
                              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                                <span [attr.data-test-id]="'endAmPm'+index">
                                  {{item.name}}
                                </span>
                              </ng-template>
                            </ng-select>
                          </div>
                        </td>
                        <td>
                          <ng-select [class.invalid-input]="submitted && t.controls.days.errors" class="customSelect1" [items]="filteredDays"
                            formControlName="days"
                            appendTo=".intel-card"
                            bindLabel="shortName"
                            bindValue="shortName"
                            [placeholder]="(filteredDays[0]?.shortName)|translate"
                            multiple="true"
                            [closeOnSelect]="false"
                            [clearable]="false"
                            [searchable]="false"
                            data-test-id="selDays">
                            <ng-template ng-label-tmp let-item="item">
                              {{(item.shortName) | translate}},
                            </ng-template>
                            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                              <div class="pretty p-image p-plain" [attr.data-test-id]="'dayOption'+index">
                                <input type="checkbox" [checked]="item$.selected" [attr.data-test-id]="'dayOptionIp'+index"/>
                                <div class="state">
                                    <img class="image" src="assets/svgs/checkbox-tick.png">
                                    <label>{{(item.name)|translate}}</label>
                                </div>
                              </div>
                            </ng-template>
                          </ng-select>
                        </td>
                        <td>
                          <button mat-button type="button" class="save-btn mr-2" (click)="save()" data-test-id="btnSaveSlot">
                            {{'Save'|translate}}
                          </button>
                          <button mat-button type="button" class="cancel-btn" (click)="toggleAddMoreTiming()" data-test-id="btnCanelSlot">
                            {{'Cancel'|translate}}
                          </button>
                        </td>
                      </tr>
                    </ng-container>
                  </ng-container>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-header">
            <h6 class="mb-0 color-blue">{{'Days off'|translate}}</h6>
          </div>
          <div class="card-body">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label data-test-id="dayOffDates">{{'Dates'|translate}}</label>
                <div class="input-group">
                  <input type="text" [value]="daysOffDates" class="form-control" placeholder="{{'Select dates'|translate}}" aria-label="Start date"
                    aria-describedby="basic-addon3" readonly data-test-id="etDayOff">
                  <input type="text" class="form-control hidden-input" [min]="minDate" [max]="maxDate" (dateChange)="dayOffSelected($event)" [matDatepicker]="picker3" placeholder="{{'Select dates'|translate}}" aria-label="Start date"
                    aria-describedby="basic-addon3" readonly data-test-id="etDayOffSelect">
                  <mat-datepicker #picker3 [panelClass]="'daysOffCalendar'" [dateClass]="isDayOff"></mat-datepicker>
                  <div class="input-group-append" data-test-id="dpicSelDayOff">
                    <span class="input-group-text" id="basic-addon3">
                      <mat-datepicker-toggle matSuffix [for]="picker3">
                        <img matDatepickerToggleIcon src="assets/svgs/calendar-date.svg" alt="">
                      </mat-datepicker-toggle>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6 pb-3">
                <div class="h-100 d-flex align-items-end">
                  <button mat-button type="button" class="save-btn mr-2" (click)="saveDaysOff()" data-test-id="btnSaveDayOff">
                    {{'Save'|translate}}
                  </button>
                  <button mat-button type="button" class="cancel-btn" (click)="resetSelectedDaysOff()" data-test-id="btnCanelDayOff">
                    {{'Cancel'|translate}}
                  </button>
                </div>
              </div>
            </div>
            <div class="days-off-chips-con">
              <h6 class="mb-0" data-test-id="labelYourDaysOff">{{'Your days off'|translate}}</h6>
              <div class="days-off-chips" formArrayName="daysOff">
                <ng-container *ngFor="let doff of fd.controls; let j=index;">
                  <div class="chip-item">
                    <span [attr.data-test-id]="'dayOff'+j">{{doff.value|date:'dd MMM YYYY'}}</span>
                    <button mat-icon-button type="button" (click)="removeDaysOff(j)" data-test-id="{{'btnRemoveDaysOff' + j}}">
                      <mat-icon>close</mat-icon>
                    </button>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
