<div class="container-fluid">
  <div class="row setup-title-con">
    <div class="col-md-8 p-0 pb-2">
      <div class="title-con d-flex align-items-center">
        <img class="mr-2" src="assets/svgs/menu-calendar-circle.svg" alt="">
        <div class="d-flex flex-column">
          <h6 class="mb-0">Your calendar</h6>
        </div>
      </div>
    </div>
    <div class="col-md-4 p-0 pb-2">
      <button mat-button class="view-btn" routerLink="/calendar/setup-calendar">Manage calendar</button>
    </div>
  </div>
</div>
