.setup-title-con {
  .title-con {
    img {
      width: 44px;
    }

    h6 {
      font-weight: bold;
      font-size: 18px;
      color: #1B163A;
    }

    p {
      font-size: 14px;
      color: #7F7B92;
    }
  }

  .view-btn {
    text-decoration: none;
    background: #EFE8FF;
    border-radius: 8px;
    height: 44px;
    color: #2E1E91;
    font-weight: bold;
    font-size: 18px;
    float: right;
  }
}

.cal-current-time-marker {
  height: 3px;
  background: #0FD197;
  position: relative;

  .round {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #0FD197;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 50%;
  }
}
