.setup-title-con {
  .title-con {
    img {
      width: 44px;
    }

    h6 {
      font-weight: bold;
      font-size: 18px;
      color: #1B163A;
    }

    p {
      font-size: 14px;
      color: #7F7B92;
    }
  }

  .view-btn {
    text-decoration: none;
    background: #EFE8FF;
    border-radius: 8px;
    height: 44px;
    color: #2E1E91;
    font-weight: bold;
    font-size: 18px;
    float: right;
  }
}
