<div class="intel-con-modal">
  <div class="close-btn-con">
    <button class="modal-close-btn" (click)="close(false)"><img src="assets/svgs/CloseX.svg" alt=""></button>
  </div>
  <div class="modal-con mt-4">
    <img src="assets/svgs/success-circle.svg" alt="" width="80px" height="80px">
    <h6 class="mt-3">Password Reset Successful</h6>
    <p class="mt-2 text-center">Your  password has been successfully reset. Click below to login.</p>
  </div>
  <div class="modal-action-btn-con">
    <button class="modal-btn blue-btn" type="button" (click)="close(true)">Login</button>
  </div>
</div>
