.footer {
  grid-area: footer;
  display: grid;
  grid-template-areas: ". terms help";
  position: relative;
}
.dark-blue-text {
  color: #2e1e91;
}

.terms {
  grid-area: terms;
}
.help {
  grid-area: help;
}
.position {
  position: fixed;
  bottom: 3%;
  width: 5%;
  right: 4%;
}
.mt {
  margin-top: 9%;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "imagerotate formcontainer";
}
