<div class="footer mt">
  <div class="terms" *ngIf="showTermsAndCondition">
    <p class="login-para text-center">
      Intelehealth
      <a class="dark-blue-text font-weight-bold" target=”_blank” href="https://intelehealth.org/terms-of-use"
        ><u>Terms & Conditions</u></a
      >
      and
      <a class="dark-blue-text font-weight-bold" target=”_blank” href="https://intelehealth.org/privacy-policy"
        ><u>privacy policy</u></a
      >
    </p>
  </div>
  <div class="help">
    <button type="button" class="btn btn-help font-weight-bold position">
      Help
    </button>
  </div>
</div>
