<div class="pass">
  <form [formGroup]="setNewPasswordForm" class="grid-container">
    <div class="header"><h3 class="login-header">Set new password</h3></div>
  <div class="para">
    <p class="login-para">
      Your new password must be different to the previously used passwords.
    </p>
  </div>
  <div class="profile-pic">
    <img src="assets/images/login/Frame 2609002.png">
    <div class="text">
      <p class="txt-U">Username</p>
      <p class="txt-N">{{userName}}</p>
    </div>
  </div>
    <div class="new-password">
      <label for="username" class="lbl lbl-username">New password</label>
      <p class="link link-forgot-username">Generate password</p>
      <div class="txt">
        <div class="password-container">
          <input 
            [type]="showPassword ? 'text' : 'password'"
            type="password" 
            class="password-text form-control" 
            formControlName="password" 
            autocomplete="off" 
            placeholder="Enter or generate new password"
          >
          <div class="eye-icon" (click)="showHidePassword()">
            <span>
              <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </span>
          </div>
          <app-password-strength
          [passwordToCheck]="setNewPasswordForm.value.password"
          (passwordStrength)="passwordValid($event)"
          ></app-password-strength>
        </div>
      </div> 
    </div>
    <div class="para-p">
      <p class="login-para">
        Password must be of atleast <b>8 characters</b> & a mix of <b>upper & lower case letters</b>, <b>numbers & symbols</b>.
      </p>
    </div>
    <div class="Confirm-password">
      <label for="examplePassword" class="lbl lbl-username">Confirm new password</label>
      <p class="link link-forgot-username">Generate password</p>
      <div class="txt">
        <div class="password-container">
          <input 
            [type]="showPassword ? 'text' : 'password'"
            type="password" 
            class="password-text form-control" 
            formControlName="confirmPassword" 
            autocomplete="off" 
            placeholder="Re-enter new password"
          >
          <div class="eye-icon" (click)="showHidePassword()">
            <span>
              <i [class]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="btnnext">
      <button
        type="submit"
        class="btn-darkblue btn-block"
        [disabled]="!setNewPasswordForm.valid"
        (click)="onSubmit()"
      >
      Reset password
      </button>
    </div>
  </form>
</div>