@import "../../../assets/scss/main";

.header { 
  grid-area: header;
}
.para { grid-area: para; }
.new-password { 
  grid-area: new-password; 
  display: grid;
  grid-template-areas:
  'lbl link'
   'txt txt'
}
.Confirm-password { 
  grid-area: Confirm-password; 
  display: grid;
  grid-template-areas:
    'lbl link'
    'txt txt'; 
}
.btnnext { grid-area: btnnext; }

.lbl{
    grid-area: lbl;
}
.link{
    grid-area: link;
    text-align: right;
}
.txt{
    grid-area: txt;
}

.password-container {
  display: grid;
  grid-template-areas: "col1 col2 col3";
}
.password-text{
  grid-row: 1;
  grid-column: span 3 /-1;
}
.eye-icon{
  text-align: right;
  margin-right: 1rem;
  margin-top: 0.5rem;
  grid-area: col3;
  z-index: 2;
}

.profile-pic{
  grid-area: profile-pic;
  display: flex;
  img{
    width: 48px;
    height: 48px;
  }
  .text{ 
    position: relative;
    top: 10px;
    left: 10px;
  }
  .txt-U{
    @include font(500,14px);
    color:#7F7B92;
  }
  .txt-N{
    @include font(500,16px);
    margin-top:-1rem;
  }

}
.para-p{
  grid-area: para-p;
  margin-top: -1.5rem;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'header header'
    'para para'
    'profile-pic profile-pic'
    'new-password new-password'
    'para-p para-p'
    'Confirm-password Confirm-password'
    'btnnext btnnext';
  gap: 1.2rem;
  padding: 10px;
}