<div class="container-fluid">
    <div class="row mt-3">
      <div class="col-md-12 p-0">
        <div class="card intel-card">
          <div class="card-header">
            <img class="mr-2" src="assets/svgs/user-creation.svg" alt="" height="44px">
            <h6 class="mb-0">{{'User Creation' | translate}}</h6>
            <div class="card-header-actions">
              <button type="button" class="btn mr-2 bulk-action-btn">{{'Bulk User Upload' | translate}}</button><button type="button" class="btn" (click)="addUser()">{{'Add User' | translate}}</button>
            </div>
          </div>
          <div class="card-body">
            <div class="d-flex align-items-center mb-3">
              <h6 class="mb-0 grid-title">{{'List of Users' | translate}}</h6>
              <div class="input-group search-bar ml-auto" (click)="$event.stopPropagation();">
                <input type="text" #searchInput class="form-control" placeholder="Search for users" aria-label="search1" aria-describedby="basic-addon1" (keyup)="applyFilter($event)" (keydown.Space)="$event.stopPropagation()" (keydown.Enter)="$event.stopPropagation()" data-test-id="etSearchPriorityDashboard">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon1" *ngIf="!dataSource.filter">
                    <img src="assets/svgs/search-icon.svg" alt="" width="20px" height="20px">
                  </span>
                  <button data-test-id="btnResetPrSerach" mat-icon-button aria-label="Reset users search" *ngIf="dataSource.filter" (click)="clearFilter()">
                    <mat-icon class="ml-0" style="line-height: normal;">close</mat-icon>
                  </button>
                </div>
              </div>
            </div>
            <div class="mat-elevation-z8">
              <table mat-table [dataSource]="dataSource" matTableResponsive matSort>

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> {{'Sr. No.' | translate}} </th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    {{this.paginator?.pageIndex == 0 ? i + 1 : 1 + i + this.paginator?.pageIndex * this.paginator?.pageSize}}
                  </td>
                </ng-container>
  
                <ng-container matColumnDef="person_name">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'User Name' | translate}} </th>
                  <td mat-cell *matCellDef="let element"><div class="d-flex flex-column">{{element.person_name}}</div></td>
                </ng-container>

                <ng-container matColumnDef="dateCreated">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Creation Date' | translate}} </th>
                  <td mat-cell *matCellDef="let element"> {{element.dateCreated | date:'dd MMM, yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Role' | translate}} </th>
                  <td mat-cell *matCellDef="let element">{{element.role}}</td>
                </ng-container>

                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef> {{'Username' | translate}} </th>
                  <td mat-cell *matCellDef="let element">{{element.username}}</td>
                </ng-container>

                <ng-container matColumnDef="edit">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Edit' | translate}} </th>
                  <td mat-cell *matCellDef="let element" class="text-center"><div [routerLink]="['./edit', element.uuid]"><img class="h-75" src="assets/svgs/edit.svg"></div></td>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <th mat-header-cell *matHeaderCellDef class="text-center"> {{'Delete' | translate}} </th>
                  <td mat-cell *matCellDef="let element" class="text-center"><div><img class="h-75" src="assets/svgs/delete-icon.svg"></div></td>
                </ng-container>
  
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell text-center" [attr.colspan]="displayedColumns.length">
                    {{'No data to display.' | translate}}
                  </td>
                </tr>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
            <mat-paginator hidePageSize [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  