<mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="Search"
  />
</mat-form-field>

<div class="mat-elevation-z8">
  <table
    class="table-responsive"
    mat-table
    [dataSource]="dataSource"
    #sortCol4="matSort"
    matSort
  >
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th id="patientID" mat-header-cell *matHeaderCellDef mat-sort-header>Patient ID</th>
      <td
        id="patientIdBtn"
        mat-cell
        *matCellDef="let row"
        [routerLink]="['/visitSummary', row?.patientId, row?.visitId]"
      >
        <a>
          {{ row?.id }}
        </a>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th id="Name" mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td
        id="patientName"
        mat-cell
        *matCellDef="let row"
        [routerLink]="['/visitSummary', row?.patientId, row?.visitId]"
      >
        {{ row?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <th id="phoneNumber" mat-header-cell *matHeaderCellDef mat-sort-header>Phone No</th>
      <td
        id="patientPhoneNumber"
        mat-cell
        *matCellDef="let row"
        [routerLink]="['/visitSummary', row?.patientId, row?.visitId]"
      >
        {{ row?.telephone }}
      </td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th id="gender" mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
      <td
        id="patientGender" 
        mat-cell
        *matCellDef="let row"
        [routerLink]="['/visitSummary', row?.patientId, row?.visitId]"
      >
        {{ row?.gender }}
      </td>
    </ng-container>

    <!-- Date OF Birth Column -->
    <ng-container matColumnDef="age">
      <th id="age" mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
      <td
        id="patientAge"
        mat-cell
        *matCellDef="let row"
        [routerLink]="['/visitSummary', row?.patientId, row?.visitId]"
      >
        {{ getAge(row.age) }}
      </td>
    </ng-container>

    <!-- Location column -->
    <ng-container matColumnDef="location">
      <th id="location" mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td
        id="patientLocation"
        mat-cell
        *matCellDef="let row"
        [routerLink]="['/visitSummary', row?.patientId, row?.visitId]"
      >
        {{ row?.location }}
      </td>
    </ng-container>

    <!-- Status column -->
    <ng-container matColumnDef="status">
      <th id="status" mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td
        id="patientStatus"
        mat-cell
        *matCellDef="let row"
        [routerLink]="['/visitSummary', row?.patientId, row?.visitId]"
      >
        <div
          class="badge badge-pill"
          [ngClass]="{
            'badge-danger': row?.status > 22,
            'badge-warning': row?.status < 22 && row?.status >= 15,
            'badge-success': row?.status < 15
          }"
        >
          {{ row?.status === "Flagged" ? "Priority" : row?.status }}
        </div>
      </td>
    </ng-container>

    <!-- Stage column -->
    <ng-container matColumnDef="stage">
      <th id="stage" mat-header-cell *matHeaderCellDef mat-sort-header>Stage</th>
      <td
        id="patientStatus"
        mat-cell
        *matCellDef="let row"
        [routerLink]="['/visitSummary', row?.patientId, row?.visitId]"
      >
        {{ row?.stage }}
      </td>
    </ng-container>

    <!-- Notes column -->
    <ng-container matColumnDef="notes">
      <th id="stickyNotes" mat-header-cell *matHeaderCellDef mat-sort-header>Sticky Notes</th>
      <td
        id="patientStickyNotes"
        class="d-grid"
        mat-cell
        *matCellDef="let row"
        [routerLink]="['/visitSummary', row?.patientId, row?.visitId]"
      >
        <div *ngFor="let note of row.notes" [title]="note.value">
          {{ note?.key }}
          <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
        <br />
      </td>
    </ng-container>

    <!-- Overdue column -->
    <ng-container matColumnDef="overdue">
      <th id="overdue" mat-header-cell *matHeaderCellDef mat-sort-header>Overdue</th>
      <td
        id="patientOverdue"
        mat-cell
        *matCellDef="let row"
        [routerLink]="['/visitSummary', row?.patientId, row?.visitId]"
      >
        {{ row?.overdue }}
      </td>
    </ng-container>

    <!-- Provider column -->
    <ng-container matColumnDef="provider">
      <th id="provider" mat-header-cell *matHeaderCellDef mat-sort-header>Provider</th>
      <td
        id="patientProvider"
        mat-cell
        *matCellDef="let row"
        [routerLink]="['/visitSummary', row?.patientId, row?.visitId]"
      >
        {{ row?.provider }}
      </td>
    </ng-container>

    <!-- lastSeen column -->
    <ng-container matColumnDef="lastSeen">
      <th id="lastSeen" mat-header-cell *matHeaderCellDef mat-sort-header>Last Seen</th>
      <td
        id="patientLastSeen"
        mat-cell
        *matCellDef="let row"
        [routerLink]="['/visitSummary', row?.patientId, row?.visitId]"
      >
        {{ row?.lastSeen | date: "dd-MMM-yyyy, h:mm a" }}
      </td>
    </ng-container>

     <!-- Birth Outcome column -->
    <ng-container matColumnDef="birthOutcome">
      <th id="birthOutcome" mat-header-cell *matHeaderCellDef mat-sort-header>Birth Outcome</th>
      <td id="patientBirthOutcome" mat-cell *matCellDef="let row">
       {{ row?.birthOutcome }}
      </td>
    </ng-container>

     <!-- DateTime Of Birth column -->
     <ng-container matColumnDef="dateTimeOfBirth">
      <th id="dateAndTimeOfBirth" mat-header-cell *matHeaderCellDef mat-sort-header>Date and time of Birth</th>
      <td id="patientdateAndTimeOfBirth" mat-cell *matCellDef="let row">
        {{ row?.dateTimeOfBirth | date: "dd-MMM-yyyy, H:mm" }}
      </td>
    </ng-container>
    <tr
      mat-header-row
      *matHeaderRowDef="displayColumns"
      id="columns-sorting"
    ></tr>
    <tr id="patient-id" mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>

  <mat-paginator 
    id="displayData"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>
