table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}


.mat-column-id {
    width: 10%
}

.mat-column-name {
    width: 14%
}

td {
    cursor: pointer;
    font-size: medium;
}

.mat-row:hover {
    background-color: #ed1a564f;
    background-image: linear-gradient(to top right, #ed1a564f, #e6e6e6);
    /* background-color: #3E2E8B; */
}

.mat-column-dob {
    width: 10%
}

.mat-column-gender {
    width: 10%
}

.mat-column-location {
    width: 14%
}

.mat-column-status {
    width: 10%
}

.mat-column-provider {
    width: 10%
}

.mat-column-lastSeen {
    width: 14%
}

.mat-cell,
.mat-header-cell {
    white-space: nowrap;
}

mat-cell,
.mat-cell {
    min-height: auto;
    padding: 5px 10px 0px 0;
}

.badge {
    height: 30px;
    width: 30px;
    font-size: 15px;
    padding: 0;
    padding-top: 7px;
}