<mat-form-field>
  <input
    matInput
    (keyup)="applyFilter($event.target.value)"
    placeholder="{{'Search'| translate}}"
  />
</mat-form-field>

<div class="mat-elevation-z8">
  <table
    class="table-responsive"
    mat-table
    [dataSource]="dataSource"
    #sortCol4="matSort"
    matSort
  >
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'Patient ID'| translate}}</th>
      <td mat-cell *matCellDef="let row">
        <a
          id="patient-id"
          [routerLink]="['/visitSummary', row?.patientId, row?.visitId]"
        >
          {{ row?.id }}
        </a>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name'| translate}}</th>
      <td mat-cell *matCellDef="let row">{{ row?.name }}</td>
    </ng-container>

    <ng-container matColumnDef="telephone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Phone No'| translate}}</th>
      <td mat-cell *matCellDef="let row">{{ row?.telephone === 'NA' ? ('NA' | translate) : row?.telephone }}</td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Gender'| translate}}</th>
      <td mat-cell *matCellDef="let row">{{ row.gender === 'M' ? ('Male'| translate ): ('Female'| translate) }}</td>
    </ng-container>

    <!-- Date OF Birth Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'Age'| translate}}</th>
      <td mat-cell *matCellDef="let row">
        <ng-container *ngIf="row; else elseConditon">
          {{ row?.age }}  {{'Years'| translate}}
        </ng-container>
        <ng-template #elseConditon>
          {{ hasEmptyRow() }}
          <mat-spinner [diameter]="20"></mat-spinner>
        </ng-template>
      </td>
    </ng-container>

    <!-- Location column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Location'| translate}}</th>
      <td mat-cell *matCellDef="let row">{{ row?.location }}</td>
    </ng-container>

    <!-- Status column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Status'|translate}}</th>
      <td mat-cell *matCellDef="let row">
        <div
          class="badge badge-pill"
          [ngClass]="{
            'badge-danger': row?.status == 'Flagged',
            'badge-warning':
              row?.status == 'ADULTINITIAL' || row?.status == 'Vitals',
            'badge-success': row?.status === 'Visit Complete',
            'badge-info': row?.status === 'Visit Note'
          }"
        >
          {{ row?.status === "Flagged" ? ('Priority'| translate) : (row.status) | translate }}
        </div>
      </td>
    </ng-container>

    <!-- Provider column -->
    <ng-container matColumnDef="provider">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Provider'| translate}}</th>
      <td mat-cell *matCellDef="let row">{{ row?.provider }}</td>
    </ng-container>

    <!-- lastSeen column -->
    <ng-container matColumnDef="lastSeen">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'Last Seen'| translate}}</th>
      <td mat-cell *matCellDef="let row">
        {{ row?.lastSeen | date: "dd-MMM-yyyy, h:mm a" }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayColumns"
      id="columns-sorting"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
  </table>

  <mat-paginator
    [length]="visitCounts"
    (page)="changePage($event)"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>


