table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}


.mat-column-id {
    width: 10%
}

.mat-column-name {
    width: 14%
}

.mat-column-dob {
    width: 10%
}

.mat-column-gender {
    width: 10%
}

.mat-column-location {
    width: 14%
}

.mat-column-status {
    width: 10%
}

.mat-column-provider {
    width: 10%
}

.mat-column-lastSeen {
    width: 14%
}
  
.mat-cell,
.mat-header-cell {
    white-space: nowrap;
}

mat-cell, .mat-cell {
    min-height:auto; 
    padding: 12px 16px 12px 0;
}

.mat-form-field1 {
    width: 100%;
    margin-right: 15px;
}

form {
    padding-bottom: 25px;
}

.date-block {
    display: flex;
}

.date-block-list {
    flex-basis: 150px;
    margin-right: 15px;
}

button:focus {
    outline:none;
}