table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}


.mat-column-id {
    width: 10%
}

.mat-column-name {
    width: 14%
}

.mat-column-dob {
    width: 10%
}

.mat-column-gender {
    width: 10%
}

.mat-column-location {
    width: 14%
}

.mat-column-status {
    width: 10%
}

.mat-column-provider {
    width: 10%
}

.mat-column-lastSeen {
    width: 14%
}
  
.mat-cell,
.mat-header-cell {
    white-space: nowrap;
}

mat-cell, .mat-cell {
    min-height:auto; 
}