<div class="card container col-md-6 d-block">
  {{ data | json }}
  <div class="input-group input-group-sm mb-3 mt-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Patient Id</span>
    </div>
    <input id="form-control-patientId" [(ngModel)]="data.patientId" type="text" class="form-control" />
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm"
        >From User Id</span
      >
    </div>
    <input id="form-control-patientId" [(ngModel)]="data.from" type="text" class="form-control" />
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">To User Id</span>
    </div>
    <input id="form-control-patientId" [(ngModel)]="data.to" type="text" class="form-control" />
  </div>
  <div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">Connect to Dr id</span>
    </div>
    <input id="form-control-patientId" [(ngModel)]="data.connectToDrId" type="text" class="form-control" />
  </div>
  <button
    id="update-messages"
    class="btn btn-primary m-2"
    (click)="updateMessages(); reInitSocket()"
  >
    Get Messages
  </button>

  <button id="call-doctor" class="btn btn-primary m-2" (click)="callDoctor()">
    Call Doctor for patientId
  </button>
</div>

<!-- <ul class="card mt-5">
  <li
    class="mt-2"
    [class.green]="user == socket?.socket?.id"
    *ngFor="let user of activeUsers"
  >
    {{ user }}&nbsp;&nbsp;&nbsp;
    <span>({{ socket.activeUsers[user]?.uuid }})</span>
    <span>-({{ socket.activeUsers[user]?.name }})</span>
    <span *ngIf="user == socket?.socket?.id">(me)</span>
    <span *ngIf="socket.activeUsers[user]?.callStatus"
      >-({{ socket.activeUsers[user]?.callStatus }})</span
    >
    <span *ngIf="socket.activeUsers[user]?.room"
      >-({{ socket.activeUsers[user]?.room }})</span
    >
  </li>
</ul> -->
<div class="table-responsive card mt-5">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>UUID</th>
        <th>Socket ID</th>
        <th>Name</th>
        <th>Call Status</th>
        <th>Room ID</th>
      </tr>
    </thead>
    <tbody>
      <tr
        [class.green]="user == socket?.socket?.id"
        *ngFor="let user of activeUsers; index as i"
      >
        <th scope="row">{{ i }}</th>
        <td>{{ socket.activeUsers[user]?.uuid }}</td>
        <td>{{user}}</td>
        <td>
          {{ socket.activeUsers[user]?.name }}
          <span *ngIf="user == socket?.socket?.id">(me)</span>
        </td>
        <td>{{ socket.activeUsers[user]?.callStatus || "-" }}</td>
        <td>{{ socket.activeUsers[user]?.room || "-" }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="chat-button" id="chat-button" (click)="chatLaunch()">
  <span><i class="fa fa-comment" aria-hidden="true"></i> </span>
</div>
<div [class.active]="classFlag" class="card container col-md-6">
  <div id="chat-close-patientId" class="card-header" (click)="chatClose()">
    <h6>Chat</h6>
    <i id="chat-close-patientId" class="fa fa-times" aria-hidden="true" (click)="chatClose()"></i>
  </div>
  <div #chatBox class="chat-box card-body">
    <div
      class="user-message-container"
      [class.user]="chat.fromUser == data.from"
      *ngFor="let chat of chats"
    >
      <div
        class="user-message"
        [class.incoming-message]="chat.fromUser != data.from"
      >
        <p>{{ chat?.message }}</p>
        <div
          class="message-header-container"
          [class.user-message-time]="chat.isUser"
        >
          <span class="user-name"></span>
          <span class="user-time">{{
            chat?.createdAt | date: "dd-MM-yy, h:mm a"
          }}</span>
        </div>
      </div>
    </div>
    <div class="no-history" *ngIf="!chats?.length">No chat history found.</div>
  </div>
  <div class="message-form card-footer">
    <div class="input-group mb-3">
      <input
        id="message"
        #chatInput
        type="text"
        class="form-control"
        placeholder="message"
        name="message"
        aria-label="Recipient's username"
        [(ngModel)]="message"
        (keydown)="onPressEnter($event)"
      />
      <div class="input-group-append">
        <button
          id="send-message"
          class="btn btn-primary btn-pill"
          type="submit"
          (click)="sendMessage($event)"
        >
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
