.call-state{
    width: 99%;
    height: 768px;
    margin-left: 1rem;
    margin-top: 1rem;
    background: #EFE8FF;
    border: 8px solid #FFFFFF;
    box-shadow: 0px 4px 24px rgba(31, 28, 58, 0.08);
    border-radius: 12px;
}