.external-prescription-col page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.external-prescription-col page[size="A4"] {
    width: 21cm;
    min-height: 29.7cm;
}

@media print {

    body,
    page {
        margin: 0;
        box-shadow: 0;
    }
}

.external-prescription-col .blue-btn {
    background: var(--color-darkBlue);
    border: 1px solid var(--color-darkBlue);
    color: var(--color-white);

    padding: 8px 24px;
    min-width: 119px;
    min-height: 48px;
    border: 1px solid var(--color-lightGray);
    border-radius: 8px;
    font-size: 18px;
    line-height: 150%;
    font-weight: bold;
}

.external-prescription .title-con {
    padding: 15px 10px 10px 10px !important;
}

.external-prescription .main-content {
    padding-top: 10px !important;

    .data-section-title {
        img {
            width: 25px !important;
            height: 25px !important;
        }

        h6 {
            font-size: 15px !important;
        }
    }
}

.external-prescription .logo {
    right: 30px;
    background: var(--color-darkBlue);
    width: 60px !important;
}

// .help-menu-container {
//     display: none !important;
// }


.external-prescription .title-con {
    h6 {
        font-size: 18px !important;
    }
}

.external-prescription .patient-img-item {
    h6 {
        font-size: 15px !important;
    }
}

.external-prescription .mat-dialog-content {
  max-height: fit-content !important;
}
