<div class="add-licnese-key-modal" data-test-id="licenseKeyModal">
  <div class="modal-title" data-test-id="modalTitleContainer">
    <h6 class="mb-0">
      {{ data ? ('Edit' | translate) : ('Add' | translate) }} {{ 'License Key' | translate }}
    </h6>
    <button class="modal-close-btn" (click)="close()" data-test-id="btnCloseAddLicense">
      <img src="assets/svgs/Close.svg" alt="">
    </button>
  </div>
  <div class="modal-body" data-test-id="modalBodyContainer">
    <form class="license-form" [formGroup]="licenseForm" (ngSubmit)="addLicenseKey()" data-test-id="licenseForm">
      <div class="input-field-group" data-test-id="groupKeyName">
        <label data-test-id="labelKeyName">{{ 'License Key Name' | translate }}</label>
        <input
          type="text"
          formControlName="key"
          [readOnly]="data"
          data-test-id="etKeyNameAddLicense"
        >
        <small class="text-danger" *ngIf="submitted && f.key.errors" data-test-id="errorKeyRequired">
          *{{ 'Required' | translate }}
        </small>
      </div>
      <div class="input-field-group" data-test-id="groupExpiryDate">
        <label data-test-id="labelExpiryDate">{{ 'Expiry Date' | translate }}</label>
        <input
          type="date"
          [min]="today"
          formControlName="expiryDate"
          data-test-id="etExpiryDateAddLicense"
        >
        <small class="text-danger" *ngIf="submitted && f.expiryDate.errors" data-test-id="errorExpiryDateRequired">
          *{{ 'Required' | translate }}
        </small>
      </div>
      <div class="d-flex justify-content-center" data-test-id="actionButtonsContainer">
        <button class="cancel-btn mr-3" type="button" (click)="close()" data-test-id="btnCancelAddLicense">
          {{ 'Cancel' | translate }}
        </button>
        <button class="confirm-btn" type="submit" data-test-id="btnSubmitAddLicense">
          {{ data ? ('Update' | translate) : ('Add Key' | translate) }}
        </button>
      </div>
    </form>
  </div>
</div>

