<div class="add-licnese-key-modal">
  <div class="modal-title">
    <h6 class="mb-0">{{ data ? ('Edit'|translate) : ('Add'|translate) }} {{'License Key'|translate}}</h6>
    <button class="modal-close-btn" (click)="close()"><img src="assets/svgs/Close.svg" alt=""></button>
  </div>
  <div class="modal-body">
    <form class="license-form" [formGroup]="licenseForm" (ngSubmit)="addLicenseKey()">
      <div class="input-field-group">
        <label>{{'License Key Name'|translate}}</label>
        <input type="text" formControlName="key" [readOnly]="data">
        <small class="text-danger" *ngIf="submitted && f.key.errors">{{'*Required'|translate}}</small>
      </div>
      <div class="input-field-group">
        <label>{{'Expiry Date'|translate}}</label>
        <input type="date" [min]="today" formControlName="expiryDate">
        <small class="text-danger" *ngIf="submitted && f.expiryDate.errors">{{'*Required'|translate}}</small>
      </div>
      <div class="d-flex justify-content-center">
        <button class="cancel-btn mr-3" type="button" (click)="close()">{{'Cancel'|translate}}</button>
        <button class="confirm-btn" type="submit">{{ (data ? 'Update' : 'Add Key')|translate}}</button>
      </div>
    </form>
  </div>
</div>
