<div class="container">
  <div class="logo">
    <img src="../../../assets/images/login/Vector.png" />
  </div>
  <div class="logo">
    <img src="../../../assets/images/login/Intelehealth-logo-white 1.png" />
  </div>
  <div class="image">
    <ngb-carousel
      #carousel
      [interval]="2000"
      [pauseOnHover]="true"
      [pauseOnFocus]="true"
    >
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <app-login-first-image
            heartbeat1="../../../assets/images/login/right_green_heartbeat.png"
            heartbeat2="../../../assets/images/login/left_red_heartbeat.png"
            image="../../../assets/images/login/Group 2608884.png"
            footer="Deliver quality health care where there is no doctor"
          ></app-login-first-image>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <app-login-first-image
            heartbeat1="../../../assets/images/login/right_red_heartbeat.png"
            heartbeat2="../../../assets/images/login/left_green_heartbeat.png"
            image="../../../assets/images/login/sevika.png"
            footer="2,75,000 population covered from 215 villages in 2 countries"
          ></app-login-first-image>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <app-login-first-image
            heartbeat1="../../../assets/images/login/right_green_heartbeat.png"
            heartbeat2="../../../assets/images/login/left_red_heartbeat.png"
            image="../../../assets/images/login/image3.png"
            footer="Take online consultations and send prescriptions to the patients virtually"
          ></app-login-first-image>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="copyright">
    <label class="copy-right-text">
      Copyright ©2022 Intelehealth, a 501 (c)(3) & Section 8 non-profit
      organisation
    </label>
  </div>
</div>
