.main-container{
    background-color: var(--color-darkBlue);
    display: grid;
  grid-template-columns: repeat(2,1fr);
grid-template-areas:
  'logo logo'
  'image image'
  'copyright copyright';
  width: 98vh;
  height: 98vh;
}
.logo { grid-area: logo;
    align-self: center;
    margin-left: 1.5rem;
 }
 .copyright{
    grid-area: copyright;
    text-align: center;
     align-self: end;
     
 }
 .image{
  grid-area: image;
  
 }
 .imagecontainer{
  grid-area: image;
 }

 

