.upload {
    display: inline;
}

button:focus {
    outline: none;;
}

.search-text {
    width: 100%;
}

.image-card {
    text-align: center;
}

.list_items { 
    height: 250px;
    width: 200px;
    overflow: scroll;
    overflow-wrap: break-word;
}

table {
    width: 100%;
}

.mat-column-id {
    width:10%
}

.mat-column-name {
    width:63%
}

.mat-column-lastUpdate {
    width:20%
}

.mat-column-action {
    width:30%
}

.error {
    color: red; 
    text-align: center;
     margin-top: 10px;
}

.table-responsive {
    display: inline-table;
}