.mat-column-video {
  padding-left: 26px !important;
  width: 2%;
}
.mat-column-VideoId {
  width: 4%;
  padding: 20px;
}

.mat-column-Title {
  width: 6%;
  padding: 20px;
}
.mat-column-CreatedBy {
  width: 10%;
  padding: 20px;
}
.mat-column-lastUpdate {
  width: 10%;
  padding: 20px;
}

.mat-column-action {
  padding-right: 0px !important ;
  width: 2%;
}
