<!-- <h4><i class="fa fa-sync-alt"></i> Refer to Specialist</h4>
<hr> -->
<div>
    Do you want to assign this visit to another specialty?
</div>
<div>
    <div id="patient-interaction">
        <br>
        <mat-radio-group name="type" aria-label="Select an option" [(ngModel)]="type">
            <mat-radio-button name="type"  (change)="type = 'N'"  [value]="'Y'">Yes </mat-radio-button>
            <mat-radio-button name="type"  (change)="type = 'Y'" [value]="'N'">No</mat-radio-button>
        </mat-radio-group>&nbsp;&nbsp;&nbsp;&nbsp; 
    </div>
<form [formGroup]='updateSpeciality'>
<div id="followup-button" *ngIf="type == 'Y'">
    <mat-form-field class="example-full-width"  >
        <mat-select placeholder="Specialization" formControlName="specialization">
            <mat-option *ngFor="let specialization of specializations" [value]="specialization">{{specialization}}</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
<button type="reset" [disabled]="isManagerRole" (click)="Submit()" mat-raised-button color="primary">Re-Assign</button>
</div>
{{errorText}}
</form>
</div>