<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 p-1">
      <div class="user-profile-con" data-test-id="profileSection">
        <div class="profile-pic-con">
          <div class="profile-pic">
            <img [src]="profilePicUrl" alt="" width="80px" height="80px" data-test-id="imgProfilePic">
            <div class="file-input-con">
              <label for="profile-pic" data-test-id="lblProfilePicUpload">
                <img src="assets/svgs/camera.svg" alt="">
              </label>
              <input id="profile-pic" type="file" accept="image/jpg" (change)="preview($event)" data-test-id="fileInput">
            </div>
          </div>
        </div>
        <div class="profile-content">
          <h6 data-test-id="txtHWName">{{hwName|titlecase}}</h6>
          <p data-test-id="txtUserName">{{'Username' | translate }}: {{user?.display}}</p>
        </div>
      </div>
    </div>

    <div class="col-md-9 p-1">
      <div class="intel-card" data-test-id="profileFormCard">
        <mat-stepper linear #stepper [disableRipple]="true" (selectionChange)="stepChanged($event)" data-test-id="stepperProfile">
          <mat-step data-test-id="stepPersonalInfo">
            <ng-template matStepLabel>
              <div class="custom-step-label" data-test-id="lblStepPersonalInfo">
                <span class="label-index">1</span>
                {{'Personal Information' | translate}}
              </div>
            </ng-template>

            <form [formGroup]="personalInfoForm" (ngSubmit)="updateProfile()" data-test-id="formPersonalInfo">
              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="givenName" data-test-id="lblGivenName">{{'First name' | translate}} *</label>
                  <input type="text" class="form-control" formControlName="givenName"
                         placeholder="{{'Enter first name' | translate}}" data-test-id="etGivenName">
                </div>
                <div class="form-group col-md-4">
                  <label for="middleName" data-test-id="lblMiddleName">{{'Middle name' | translate}}</label>
                  <input type="text" class="form-control" formControlName="middleName"
                         placeholder="{{'Enter middle name'| translate}}" data-test-id="etMiddleName">
                </div>
                <div class="form-group col-md-4">
                  <label for="familyName" data-test-id="lblFamilyName">{{'Last name' | translate}} *</label>
                  <input type="text" class="form-control" formControlName="familyName"
                         placeholder="{{'Enter last name' | translate}}" data-test-id="etFamilyName">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="gender" data-test-id="lblGender">{{'Gender'|translate}} *</label>
                  <div class="py-2" data-test-id="genderOptions">
                    <div class="pretty p-default p-round">
                      <input type="radio" value="M" formControlName="gender" data-test-id="radioGenderMale">
                      <div class="state p-success"><label>{{'Male' | translate}}</label></div>
                    </div>
                    <div class="pretty p-default p-round">
                      <input type="radio" value="F" formControlName="gender" data-test-id="radioGenderFemale">
                      <div class="state p-success"><label>{{'Female'| translate}}</label></div>
                    </div>
                    <div class="pretty p-default p-round">
                      <input type="radio" value="U" formControlName="gender" data-test-id="radioGenderOther">
                      <div class="state p-success"><label>{{'Other' | translate}}</label></div>
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-4">
                  <label for="birthdate" data-test-id="lblBirthdate">{{'Date of birth' | translate}} *</label>
                  <div class="input-group" data-test-id="dobPicker">
                    <input type="text" class="form-control" formControlName="birthdate" [max]="today"
                           [matDatepicker]="dobdp" placeholder="{{'Enter DOB' | translate}}"
                           aria-label="Birthdate" readonly data-test-id="etBirthdate">
                    <mat-datepicker #dobdp></mat-datepicker>
                    <div class="input-group-append">
                      <span class="input-group-text" id="basic-addon1">
                        <mat-datepicker-toggle matSuffix [for]="dobdp" data-test-id="dpBirthdate">
                          <img matDatepickerToggleIcon src="assets/svgs/calendar-date.svg" alt="">
                        </mat-datepicker-toggle>
                      </span>
                    </div>
                  </div>
                </div>

                <div class="form-group col-md-2">
                  <label for="age" data-test-id="lblAge">{{'Age'| translate}} *</label>
                  <input type="number" class="form-control" formControlName="age"
                         placeholder="{{'Enter age'|translate}}" readonly data-test-id="etAge">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6 email-field">
                  <label for="phoneNumber" data-test-id="lblPhoneNumber">{{'Phone Number' | translate}} *</label>
                  <input type="text" ng2TelInput
                         [ng2TelInputOptions]="{initialCountry: 'in', separateDialCode: true, autoHideDialCode: false}"
                         (hasError)="hasError($event, 'phoneNumber')"
                         (ng2TelOutput)="getNumber($event, 'phoneNumber')"
                         (intlTelInputObject)="telInputObject($event, 'phoneNumber')"
                         (countryChange)="onCountryChange($event, 'phoneNumber')"
                         placeholder="Enter Mobile Number"
                         class="form-control"
                         formControlName="phoneNumber"
                         data-test-id="etPhoneNumber">
                </div>

                <div class="form-group col-md-6">
                  <label for="whatsapp" data-test-id="lblWhatsAppNumber">{{'WhatsApp Number' | translate}} *</label>
                  <input type="text" ng2TelInput
                         [ng2TelInputOptions]="{initialCountry: 'in', separateDialCode: true, autoHideDialCode: false}"
                         (hasError)="hasError($event, 'whatsAppNumber')"
                         (ng2TelOutput)="getNumber($event, 'whatsAppNumber')"
                         (intlTelInputObject)="telInputObject($event, 'whatsAppNumber')"
                         (countryChange)="onCountryChange($event, 'whatsAppNumber')"
                         placeholder="Enter Mobile Number"
                         class="form-control"
                         formControlName="whatsapp"
                         data-test-id="etWhatsAppNumber">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6 email-field">
                  <label for="emailId" data-test-id="lblEmail">{{'Email ID' | translate}} *</label>
                  <input type="email" class="form-control" formControlName="emailId"
                         placeholder="{{'Enter email'|translate}}" data-test-id="etEmail">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-12 text-right">
                  <button type="submit" class="btn next-btn" data-test-id="btnSaveProfile">
                    {{'Save' | translate}}
                  </button>
                </div>
              </div>
            </form>
          </mat-step>
        </mat-stepper>
      </div>
    </div>
  </div>
</div>
