<h4>Follow Up</h4>
<div>
<form [formGroup]="followForm" (ngSubmit)='Submit()'>
<div>
<input type="date" formControlName='date'>
<input type="text" formControlName='advice'>
<button type="submit" [hidden]='followUp.length > 0'>Schedule a Follow UP</button>
</div>
{{errorText}}
</form>
<div *ngFor='let followUp of followUp, index as i '>
  <div class="alert alert-primary" style="margin: 10px 7px;" >{{followUp.msg}} <a (click)="delete(i)"class="material-icons">delete</a></div>
</div>
</div>
<p>*please delete current schedule to schedule a new follow up.</p>